﻿/* Booking Control */

.calendar .title, .calendar .nav,.calendar .button,.calendar thead .name,.calendar thead .hilite,.calendar tbody .rowhilite td{
	color:#003333 !important;
}

.calendar .combo .label{
    background-color : #CCF0F8 !important;
}


.calendar .combo .hilite{
    background-color : #7a8f00 !important;
	color:#FFFFFF;
}

#bookingControl {
    margin-left:30px;
	background-color:#ccf0f8; 
	border:1px solid #00b6de;
	height:116px !important;
	margin-top:10px;
}

#HorizontalControlContainer .spinner {
	float: right;
	margin-right: 5px;
}

#bookingControl #rightCol #bottomRight a {
    display : block;
    background : transparent url(../../images/p/btn/horizontal_submit.png) no-repeat 0;
    text-indent : -100px;
    overflow : hidden;
    width: 92px;
    height : 20px;
    margin-top:40px;      
}

#ctrlValidationMsg {
    display:block;    
    font-size:9px;
    overflow:hidden;
    visibility:hidden;
    background:  transparent url(../../images/p/icons/yellowBlock.gif) no-repeat 4px 0px;
    padding-left: 18px;    
    float : left; 
     height : 30px;
    width: 70px;
    line-height : 12px;
}

#bookingControl .TimeSpan input.required {
   background-color : #feff90;
}

#bookingControl select.required {
   background-color : #feff90;
} 

#bookingControl span.Company {
    display: none;
}

#ctrlValidationMsg.required {
    visibility : visible;
    color: #000;
}

#bookingControl #ctrlSearchBox_dropPickUpTime, #bookingControl #ctrlSearchBox_dropDropOffTime {
    width:88px;
    float : right;
}

#bookingControl #ctrlSearchBox_calPickUp_DateText, #bookingControl #ctrlSearchBox_calDropOff_DateText {
    width:82px;
    float:left;
}

* html #centreCol {
    overflow :hidden;
    height : 83px;
}

#bookingControl span {
    color : #000;
}

#bookingControl #leftCol span.Radios {
    visibility: hidden;
}

#bookingControl span.required {
   /*background:  transparent url(../../images/b/icons/britz_control_arrow.gif) no-repeat 159px 0;*/   
}

#bookingControl #rightCol #bottomRight a {
    background:  transparent url(../../images/z/btn/search.gif) no-repeat 0 0;
    display:block;
    float:right;    
}

#vehicleConfigureContainer #bookingControl #rightCol {
	width: 130px !important;
}

#vehicleConfigureContainer #bookingControl .botCol {
	width: 100px;
	clear: none;
    margin-top: 0;	
}

#bookingControl .botCol .crossSell {
	display :none;
}

