﻿html {
	min-width:800px;
}

body {
	background:#e8e6e7 url(../../images/z/tiles/body_bg.gif) repeat-x scroll left top;
	min-width:800px;
}

#vehicleSelectionContainer, #vehicleConfigureContainer, #paymentContainer {
    margin-left:auto;
    margin-right:auto;
    text-align:left;
    width: 800px;    
    border: solid 0px #fff;
}

/* Header */
#catalogHeader {
    float : left;
    width: 778px;
    height:96px;
	margin-left:12px;
	background: transparent url(../../images/z/tiles/header.jpg) no-repeat right center;
}

#catalogHeader span.Image {
    display: none;
}

#catalogHeader span.ContactInfo {
    display: none;      
}

#catalogHeader span.ContactInfo a {
    display: none;
}

#catalogHeader span a {
    color:#017688;
}

/* Booking Control */
#bookingControlContainer {
	background-color:#fff;
    float: left;
    width: 778px;
	margin-left:12px;
    height : 150px;    
}

#bookingControl.Aggregator .botCol  .crossSell {
    display:none !important;
}

#bookingControl.Aggregator .botCol {
	margin-top: 0 !important;
}


#bookingControl #leftCol span {
	text-align:right;
	margin-right:6px;
	
}

#bookingControl #leftCol span.required {
	font-weight:bold;
}


#bookingControl span.Model {
    display: none;    
}

 #vehicleSelectionContainer span.Company {
    display: block !important;
}

#vehicleConfigureContainer span.Company {
    display: none !important;
}

#bookingControl span.Company #ctrlSearchBox_dropVendor {
    width: 180px;
}

/* crumbs panel */
#breadCrumbs {    
	background-color:#fff;
    float : left;
    width: 771px;
	padding-left:7px;
    height : 45px;
	margin-left:12px;
	margin-bottom:6px;
}

#breadCrumbs span.Crumbs {
    float : left;
    font-size : 11px;
    margin: 14px 0 0 20px;
}
#breadCrumbs span.Crumbs a {
    color: #007587;
    text-decoration: none; 
}

#breadCrumbs span.Crumbs a:hover {
    color: #EF9503;
    text-decoration: underline; 
}

#breadCrumbs ul {
    float : right;
    display : block;
    margin : 14px 20px 0 0;
    width: 380px;
    height: 45px;
    font-size:9px;
} 

#stepsDisplayer li {
    padding :0;
    margin : 0;
    float : right; 
    height : 32px;
    width : 63px;  
	font-weight:bold;   
	color:#00b5d6;  
}

#stepsDisplayer span {
    display: block;
    float : right;
    height : 31px;
    width : 67px;
    background:transparent url(../../images/z/icons/wizard_stages.gif) no-repeat  0 0;
    padding-top: 16px;   
	text-align:center;  
}

#stepsDisplayer #PaymentStep {
    background-position : -268px 0;    
}

#stepsDisplayer #ConfigureStep {
    background-position : -134px 0;    
}

#stepsDisplayer #SelectStep {
    background-position :0 0;  
	color:#006b77;  
}

/* Catalog container */
#vehicleCatalogContainer {
	background:#ccf0f8;
	border-left:2px solid #ccf0f8;
	border-right:2px solid #ccf0f8;
    float : left;
    width: 767px;
    margin-left: 12px;   
    padding-left:7px;
    padding-bottom: 6px;
}

* html #vehicleCatalogContainer {
    margin-left: 6px;
}

#vehicleCatalogContainer h2 {
	font-family:Helvetica, Arial, sans-serif;
    color:#003333;
    font-size:28px;
    font-weight:normal;
    margin:14px 0 15px 5px;
}

#vehicleCatalogContainer .VehicleItem div.Limited .Top a {
	color:#017688 !important; /* REMOVE FROM BASE.CSS */
}

#vehicleCatalogContainer .VehicleItem div.Limited .Top a:hover {
	color:#EF9503 !important; 
	text-decoration:underline;
}

#vehicleCatalogContainer .VehicleItem div.Limited .EmailLink a {
	color:#017688;
}

#vehicleCatalogContainer .VehicleItem div.Limited .EmailLink a:hover {
	color:#EF9503 !important; /* REMOVE FROM BASE.CSS */
	text-decoration:underline;
}

#vehicleCatalogContainer .VehicleItem div.Limited .Top span {
    width: 215px;
}

#vehicleCatalogContainer .VehicleItem div.Err {
    width: 356px;
}

#vehicleCatalogContainer .VehicleItem div.Limited .Top a.Quest { /* REMOVE FROM BASE.CSS */
	-moz-background-clip:border;
	-moz-background-inline-policy:continuous;
	-moz-background-origin:padding;
	background : #fff url(../../images/z/icons/questMark.gif) no-repeat  0 0 !important;
	height:15px;
	margin-left:2px;
	overflow:hidden;
	text-indent:-1000px;
	width:15px;
}

#resultsHeader {
    background-color: #fff;
    width: 760px;
    height:30px;
    font-size : 12px;
    color : #000;
}

#resultsHeader h3 {
    font-size : 11px;
    color : #000;
    font-weight : normal;
    float : left;
    width : 380px;
    margin : 8px;
}

#resultsHeader span {
    float : right;
    background-color: #fff;
    display : block;
    text-align: right; 
    margin:4px;   
}

#vehicleCatalog {
    display : block;
    width : 760px;
}

/* Vehicle Row */
#vehicleCatalog .VehicleItem {
    width : 760px;    
    float : left;
    border-top: solid 1px #81daed;  
}

#vehicleCatalog div.VehicleItem {
    float : left;  
    width : 754px;
    background-color: #fff;      
}

#vehicleCatalog .VehicleItem a.VehicleThumb {
    display : block;
    float : left;
    text-decoration : none;
    margin-left: 3px;
	margin-right: 6px;
    border: 0;   
	width: 75px;                 
}

#vehicleCatalog .VehicleItem a.VehicleThumb img {
    border : 0;    
}

#vehicleCatalog .VehicleItem div {
    float : left;
    text-decoration: none;
}

#vehicleCatalog .VehicleItem div.VehicleFeatures {
    width: 210px;
    margin-left:3px;    
}

#vehicleCatalog .VehicleItem div.VehicleFeatures a {
    color:#017688;    
    font-size:18px;
    text-decoration : none; 
    display : block;      
	font-family:arial;
}

#vehicleCatalog .VehicleItem div.VehicleFeatures a:hover, .ShowPriceList:hover {
    text-decoration : underline;
    color: #EF9503 !important;
}

#vehicleCatalog .VehicleItem div.PriceDescription {
    width: 250px;
    margin-left: 3px; 
}

#vehicleCatalog .VehicleItem div.PriceDescription a.Avail {
    color:#017688;
    font-size:13px;
    text-decoration : none;
    margin : 3px 0 3px 0;
    display : block;
}

#vehicleCatalog .VehicleItem div.PriceDescription .AvgPrice {
    display : block;
    float : left;
    color : #7B7B7B;
}

#vehicleCatalog .VehicleItem .ShowPriceList, #vehicleChargeDetails  .ShowPriceList {
    display : block;
    float : left;
    height : 15px;
    width: 170px;
    color : #017688;
    font-size: 10px;
    font-weight : normal;
    margin : 8px 0 3px 0;
    padding-left: 18px;
    background:transparent url(../../images/z/icons/price_list_expand.gif) no-repeat  0 0;
    cursor : pointer;
}

#vehicleCatalog .Collapse .ShowPriceList, #vehicleCatalogContainer .Collapse .ShowPriceList {
   background-position : 0 -15px;
}

#vehicleCatalog .VehicleItem div.PriceDescription li {
    float: left;
    margin: 0;
    padding : 0; 
}

#vehicleCatalog .VehicleItem div.PriceDescription span {
    color:#8B8B8B;
    font-size:11px;
    display : block;
    float: left;
    clear: both;      
}

#vehicleCatalog .VehicleItem div.PriceDescription span.SavePrice {
    background:transparent url(../../images/z/tiles/saveBG.gif) no-repeat  0 0;
    height: 45px;
    width: 110px;
    color: #fff;    
}

#vehicleCatalog .VehicleItem div.PriceDescription span.SavePrice small {
    margin: 26px 0 0 10px;
    height:10px;
    width: 100px;
    float: left;
    clear: both;
}


#vehicleCatalog .VehicleItem div.TotalPrice {
    width: 118px;   
}

#vehicleCatalog .VehicleItem div.TotalPrice li span {
	font-family:arial;
    color:#006B77;
    font-size:14px; 
	font-weight:bold;   
}

#vehicleCatalog .VehicleItem div.TotalPrice li span.Fp {
    color:#8B8B8B;
    font-family:Verdana;
    font-size:11px;
}

#vehicleCatalog .VehicleItem a.SelectBtn {
    background: url(../../images/z/btn/btn_matrix.png) no-repeat scroll 0 -159px transparent;
    display : block;
    float : left;
    width: 72px;
    height: 24px;
    margin: 5px 0 0 0;
    text-indent: -9999px;
    overflow: hidden;
    text-decoration: none;
}

/* details list */
#vehicleCatalog .Collapse div.PriceDetailsList {
    display : none;
} 

#vehicleCatalog div.PriceDetailsList {
    float : left;   
    color: #017688;
    background-color : #fff;
    width : 704px;
    padding-left:58px;    
}

#vehicleChargeDetails div.PriceDetailsList {
    float : left;   
    color: #017688;
    background-color : #f3fdff;    
    margin : 0 18px 0 18px;
    clear : both;
    width : 725px;
}

#vehicleCatalog div.PriceDetailsList table {
    background-color:#f3fdff;
    margin: 0 0 5px 80px;
}

#vehicleCatalog div.PriceDetailsList table {
    width: 605px !important;
}

#configurePanel div.PriceDetailsList table {
    width: 725px !important;
}

div.PriceDetailsList table tr.total {
    background-color: #CCF0F8;
}

#vehicleCatalog div.PriceDetailsList th {
    font-size : 11px;
    font-weight: bold;
    height :34px;
    background-color : #CCF0F8; 
    color: #017688; 
}

#vehicleChargeDetails div.PriceDetailsList th {
    font-size : 10px;
    font-weight: bold;
    height :34px;
    background-color: #CCF0F8;
     color: #017688;
}

#vehicleCatalog div.PriceDetailsList td, #vehicleChargeDetails div.PriceDetailsList td {
    padding : 2px 2px 2px 5px;
}

#vehicleChargeDetails div.PriceDetailsList td {
    font-size : 10px;
}

#vehicleCatalog div.PriceDetailsList td.TotalTD, #vehicleChargeDetails div.PriceDetailsList td.TotalTD{
    font-weight : bold;
}

#vehicleCatalog div.PriceDetailsList th.RateTH {
    width: 220px;
}

#vehicleChargeDetails div.PriceDetailsList th.RateTH {
    width: 220px;
}

#vehicleCatalog div.PriceDetailsList th.FreeTH, #vehicleChargeDetails div.PriceDetailsList th.FreeTH{
    width: 90px;
}

div.NoFreeDays th.FreeTH, div.NoFreeDays td.fd {
    display: none;
}

#vehicleCatalog div.PriceDetailsList th.HireTH {
    width: 90px;
}


div.PriceDetailsList .popup {
    color: #EF9503;	
    cursor: pointer;
}

#vehicleChargeDetails div.PriceDetailsList th.HireTH {
    width: 145px;
}

/*#vehicleCatalog div.PriceDetailsList th.PerTH {
    width: 150px;
}
#vehicleChargeDetails div.PriceDetailsList th.PerTH {
    width: 154px;
}*/


#vehicleCatalog div.PriceDetailsList th.TotalTH {
    width: 80px;
}

 #vehicleChargeDetails div.PriceDetailsList th.TotalTH {
     width: 80px;
 }

#vehicleCatalog div.PriceDetailsList td, #vehicleCatalog div.PriceDetailsList td {
    font-size : 11px;    
}

#vehicleSelectionContainer #disclaimer, #vehicleConfigureContainer #disclaimer {
    font-size : 11px;
    margin-left : 20px;
}

#vehicleCatalog .VehicleItem div.TotalPrice li.Hide {
    display:none;
}

#vehicleCatalog .VehicleItem div.TotalPrice li.Fp span {
    color:#8B8B8B;
    font-size:11px;
	font-weight:normal;
}

/* Vehicle Row Branded */

#vehicleCatalog .VehicleItem span.BrandThumb  {
    display : block;
    float : left;
    text-decoration : none;                  
}

#vehicleCatalogContainer .VehicleItem img.RowLogo {
    display: block !important;
}

#vehicleCatalog .VehicleItem div.PriceDescription {
    margin-left:3px;
    width:200px !important;
}

#vehicleCatalog li.Branded .VehicleItem div.PriceDescription span {
     font-size : 9px;
}

#vehicleCatalog li.Branded .VehicleItem div.PriceDescription {
    width: 180px; 
}

#vehicleCatalog div.VehicleItem {
    padding:12px 3px;
}

#vehicleCatalog .Step1A {
    float: left;
    width: 740px;
    background-color: #fff;
    font-size: 11px; 
    padding: 10px 0 10px 20px;   
}

#vehicleCatalog .Step1AWrap div {
     background-color: #fff1a3;
     font-size: 11px;     
}

/* Configure Page */
#vehicleConfigureContainer .CofR, #vehicleConfigureContainer .Radios, #vehicleConfigureContainer .Model, #vehicleConfigureContainer .Passengers {
    display : none;
}
#vehicleConfigureContainer #bookingControl #rightCol #bottomRight a {
    margin-top: 10px;
}
#vehicleConfigureContainer #bookingControl {
    margin-top:23px;
	margin-left:30px;
	height: 45px !important;
	
}



#vehicleConfigureContainer #ctrlValidationMsg {
    margin-top : 0;
} 

#vehicleConfigureContainer #bottomRight span {
    display : inline;
}

#vehicleConfigureContainer #stepsDisplayer #ConfigureStep {
    background-position:-67px 0 !important;
	color:#006B77 !important;
}

#vehicleConfigureContainer #promptTextArea {
    float : left;
    width: 740px;
    height : 56px;
    background : #F3FDFF url(../../images/icons/exMark.png) no-repeat 0px 0px;
    overflow : hidden;    
    margin:  5px 0 0 8px;
    border : solid 1px #CCF0F8;
    font-size : 11px;
    color: #000; 
}

#vehicleConfigureContainer #promptTextArea span {
    margin: 10px 20px 0 50px;
    display :block;
}

#vehicleConfigureContainer #configurePanel {
    background-color: #fff;
    float: left;
    width : 760px;
}

#configurePanel .Hide{   
    display:none;
}

#vehicleConfigureContainer #topHeader {
    width: 749px;
    height : 34px;
    float : left;
    background-color : #fff;    
}

#vehicleConfigureContainer #topHeader small, #vehicleConfigureContainer #topHeader select, #resultsHeader small, #resultsHeader select {
    font-size: 11px;
}


#vehicleConfigureContainer #vehicleTopPanel {
    float : left;
    width: 734px;
    border-bottom: solid 1px #81DAED;
    margin-bottom : 10px;
}

#vehicleConfigureContainer #topHeader h3 {
    float : left;
    display :block;
    margin : 38px 0 0 14px; 
}

#vehicleConfigureContainer #topHeader span, #paymentPanel #topHeader span {
    float : right;
    display : block;
    margin : 5px 4px 5px 0;
}

#vehicleConfigureContainer #configurePanel div.VehicleHeader {
    width: 360px;
    float : left;
}

#vehicleConfigureContainer #configurePanel div.VehicleHeader div {
    float : left;
    clear: both;
    width: 100%;
	    padding-bottom: 15px; 
}

#vehicleConfigureContainer #configurePanel div.VehicleHeader a {
	font-family:Arial, Helvetica, sans-serif;
    color:#017688;
	font-weight:normal;
    text-decoration: none;
}

#vehicleConfigureContainer #configurePanel div.VehicleHeader a:hover {
    text-decoration: underline;
	color:#EF9503;
}

#vehicleConfigureContainer #configurePanel div.VehicleHeader h3 {
    font-size: 20px;
    margin-left:12px;
}

#vehicleConfigureContainer #configurePanel div.VehicleHeader h3, #vehicleConfigureContainer #configurePanel div.VehicleHeader h4, #vehicleChargeDetails h4, #insurancePanel h4, #hireItemsPanel h4, #ferryPanel h4 {
    color : #017688;    
    padding-bottom : 10px;  
}

#vehicleConfigureContainer #configurePanel div.VehicleHeader span {
    display : block;
    font-size : 11px;
    margin: 5px 0 0 10px;
    float:left;
    width: 500px;          
}

#vehicleConfigureContainer #configurePanel div.VehicleImages {
    width: 360px;
    float : right;
}

#vehicleConfigureContainer #configurePanel div.VehicleImages .Left {
    float : left;
    width: 210px;
}

#vehicleConfigureContainer #configurePanel div.VehicleImages .Left img {
    float : right;
    clear : both;
}

#vehicleConfigureContainer #configurePanel div.VehicleImages .Right {
    float : right;
    margin-right:10px;
}


#vehicleChargeDetails {
    float: left;
    margin-bottom: 18px;
    padding-bottom:20px;
    border-bottom:1px solid #81DAED;
}

#configurePanel h4, ferryPanel h4{
    float :left;
    clear: both;
    font-size:14px;
    font-weight:bold;
    margin-left: 10px;
}

#configurePanel em {
    font-style:normal;
}

#vehicleConfigureContainer a.Quest {
    display : block;
    width: 16px;
    height: 16px;
    background : #fff url(../../images/z/icons/questMark.gif) no-repeat  0 0;
    float: left;
    overflow: hidden;
    text-indent: -1000px;
}

#vehicleChargeDetails a.PopUp {
    float: left;
}

#vehicleChargeDetails #ChargeHeader {
    float : left ;
    display : block;
    clear : both;
    width:100%;
}

#vehicleChargeDetails #ChargeHeader span.Title {
    width: 200px;
    height: 20px;
    display:block;
    float: left;
}

#vehicleChargeDetails #ChargeHeader span.Total {
   display:block;
    float: right;
    margin-right:38px;
    font-size: 13px; 
}


#vehicleChargeDetails a.ShowPriceList {
    width : 100px;
    margin: 0 0 0 10px;
}

#vehicleChargeDetails a.ShowPriceList:focus {
    -moz-outline-style: none;

}

#vehicleChargeDetails a.ShowPriceList:active {
    outline: none;
}

#vehicleChargeDetails.Collapse div.PriceDetailsList {/* on collapse */
    display : none;
}

#vehicleCatalog .VehicleItem div.PriceDescription a.Avail:hover {
    text-decoration : underline;
    color: #EF9503;
}


#vehicleChargeDetails #ChargeHeader small {
    font-size : 11px;
    float: left;
    margin-left:74px;
}

#vehicleChargeDetails #ChargeHeader span.Title {
    width: 360px;
    height: 20px;
    display:block;
    float: left;
}

#configureUpdatePanel .Total {
    width: 702px;
    line-height: 23px;
    background-color:#f9faf2;
    color:#f58220;
    font-size:17px;
    font-weight:bold;
    margin-top:15px;
}

#configureUpdatePanel .Total label {
    float : left;
}

#configureUpdatePanel .Total span.Price {
    float : right;
    margin-right: 20px;
    clear : none; 
}

#allInclusivePanel{
    width : 725px;
    margin: 0 18px;
    float : left;
    clear: both ;   
}

#allInclusivePanel small, #insurancePanel td, #hireItemsPanel td {
    font-size:11px;
}

#allInclusivePanel td.cb, #insurancePanel td.cb, #hireItemsPanel td.cb, #ferryPanel td.cb {
    width:50px;
}

#allInclusivePanel td.desc, #insurancePanel td.desc, #hireItemsPanel td.desc {
    width:248px;
}

#allInclusivePanel td.desc small {
    display:block;
    float:left;
    margin-right:5px;
}
#allInclusivePanel td.days, #insurancePanel td.days, #hireItemsPanel td.days {
    width: 75px;
}

#insurancePanel td.price, #hireItemsPanel td.price {
    width: 225px;
}

#allInclusivePanel td.pr {
    width: 158px;    
}

#allInclusivePanel #allInclusiveDetails table {
    background-color:#F3FDFF;
    width: 710px;
}

#allInclusivePanel table ul li {
    list-style: none;
    margin-left: 55px;   
}

#insurancePanel {
    border-bottom:1px solid #81DAED;    
    width:100%;    
    float: left;
    padding-bottom: 20px;    
}

#insurancePanel table, #hireItemsPanel table, #ferryPanel table {
    margin: 0 0 0 19px;
    clear: both;
}

#insurancePanel table small, #hireItemsPanel small, #hireItemsPanel label{
    display:block;
    margin-bottom:4px;
    font-size: 11px;
}

#insurancePanel span {
    display: block;
    float: left;
    clear: both;
    color: #8B8B8B;
    font-size: 10px;
    margin-left: 20px;
	 width:700px;
}

#insuranceAgeSelector {
    clear:none !important;
    width:140px !important;
}

#insurancePanel table, #hireItemsPanel table, #ferryPanel table {
	width: 738px !important;/* fix base refactor */ 
}


#insurancePanel .AgeSelector{
    /*display: block;*/
    display: none;
    float: left;
    width:150px; 
    clear: none;    
}

#insurancePanel .Show {
    display: block;
}



#insOptionsTable.Under21 tr.Over21 {
    display : none;
}

#insOptionsTable.Over21 tr.Under21 {
    display : none;
}

#hireItemsPanel, #ferryPanel {
    margin-top: 10px;
    border-bottom:1px solid #81DAED;
    width: 100%; 
    float: left;
    clear: both;
    padding-bottom: 10px; 
}

#ferryPanel table {
    background-color: #F3FDFF;
    width: 720px; 	
    font-size: 11px;
}

#ferryPanel table td.desc {
    width : 407px;
}

#ferryPanel .vehicleTable td.desc  {
     width:477px;          
}

#ferryPanel .pax td.price {
    width:151px;   
}

#ferryPanel td small { 
    font-size: 11px;
}

#ferryPanel table.Hide {
    display : none;
}

#ferryPanel select, #hireItemsPanel select {
    font-size: 11px;
}



#configureUpdatePanel span {
    display : block;
    float: left;
    clear: both;
    margin-left: 20px;
}

#configureUpdatePanel .Total {
font-family:Arial, Helvetica, sans-serif;
    width: 670px;
    line-height: 23px;
    background-color:#F3FDFF;
    color:#017688;
    font-size:18px;
    font-weight:normal;
    margin-top:15px;
}

#configureUpdatePanel .Total label {
    float : left;    
}

#configureUpdatePanel .Total small {
    float : right;
    margin-right: 20px; 
}

#configureUpdatePanel .TaxMsg {
    margin: 5px 0 15px 20px;
    font-size: 11px;
    width: 100%; 
}

#configureUpdatePanel .Submit {
    display: block;
    width:702px;
    height:40px;
}

#configureUpdatePanel .Submit .BackBtn {
    float: left;
    display: block;
    background : #fff url(../../images/z/btn/backSelectBtn.gif) no-repeat  0 0;
    /*background : url("../../images/z/btn/btn_matrix.png") no-repeat scroll 0 -399px #FFFFFF;*/
    height: 24px;
    width: 143px;
    overflow:hidden;
    text-indent:-1000px;
}

#configureUpdatePanel .Submit input {
    float: right;
    background : #fff url(../../images/z/btn/continueSelect.gif) no-repeat  0 0;
    border: 0px;
    height: 20px;
    overflow: hidden;
    text-indent:-1000px;
    text-transform: capitalize;/*ie ;o(*/
    width:143px;      
}

#tooltip {
    background: #016389 url(../../images/z/tiles/background.png) repeat-x 0 0;
    color: #7e1f03;
    border: solid 2px #10bdd0;
}

.bubbleBody  {
    font-size: 9px;
    color: #7e1f03;     
}

.bubbleBody h3 {
    font-size: 11px;
    color: #fff;
	margin-bottom:8px !important;
}

.bubbleBody td { 
    color: #a3eeff;
}

.bubbleBody .total td { 
    color:  #fff;
}

.bubbleBody .note {
    float : left;
    clear : both;
    color: #a3eeff;   
}

/* Payment Page Statrs Here */

#paymentContainer  #stepsDisplayer #PaymentStep {
    background-position:-256px 0;
}

#paymentPanel {
    background-color: #fff;
    float: left;
    width: 760px;
    font-size: 11px;     
}

#paymentPanel div {
    float: left;
    width: 708px;    
}

#paymentPanel #topHeader span {
    margin: 10px 0 0 0;
}

#paymentContainer #stepsDisplayer {
    width:280px;
} 

#paymentPanel #rentalSummary, #paymentPanel #depositPanel {
   background-color: #F3FDFF;
   margin: 5px 0 0 20px;
}

#paymentPanel #depositPanel {
	width: 700px !important; /* base fix */
}


#paymentPanel h3 {
	color:#017688;
	font-family:Arial;
	font-size:18px;
	font-weight:normal;
	width: 692px !important;
}

#paymentPanel big {
    float: left;
    width: 730px;
    margin: 10px 0 10px 0;
    color:#017688;
    font-family:Verdana;
    font-size:14px;
    font-weight:bold;
    padding-top:10px;
}

#paymentPanel small {
    font-size: 11px;
}

#paymentPanel #rentalSummary big.ChargeSum {
    border-top:1px solid #81DAED;
}

#paymentPanel #rentalSummary table {
    float: left;
}

#paymentPanel #rentalSummary #travelDetails {
    float: left;
    width:500px;
    margin: 0;
}

#paymentPanel #rentalSummary #travelDetails big  {
    color:#017688;
    font-family:Verdana,Helvetica,sans-serif;
    font-size:14px;
    font-weight:bold;
    margin: 20px 0 10px 0;
}

#paymentPanel #rentalSummary #travelDetails td {
    vertical-align: top;
}

#paymentPanel #rentalSummary #travelDetails .lbl {
    width: 85px;
}

#paymentPanel #rentalSummary #travelDetails .date {
    width: 240px;
}

#paymentPanel #rentalSummary table.ChargeTable {
    width: 700px !important;
    border-bottom: 1px solid #81DAED;
	margin-left: 0px !important;
}

#paymentPanel #rentalSummary .ChargeTable tr.Totals td small {
    margin: 10px 0 10px 0;
    font-size:12px;
    font-weight:bold;
    color:#017688;
    font-family:Verdana,Helvetica,sans-serif;
    display: block;
}

#paymentPanel #rentalSummary {
	width: 732px;
}


#paymentPanel #rentalSummary .ChargeTable .title {
    width: 350px;
}

#paymentPanel #rentalSummary div.Disclaimer {
    padding-top: 5px; 
    background-color: #fff; 
}

#paymentPanel #rentalSummary .ChargeTable .desc {
    width: 215px;
}

#paymentPanel #rentalSummary .ChargeTable .cur {
    width: 60px;
}

#paymentPanel #rentalSummary .ChargeTable .price {
    text-align:right;
	padding-right:5px;
}

#paymentPanel #rentalSummary #vehicleSpecs {
    float: right;
    width: 205px;
}

#paymentPanel #rentalSummary #vehicleSpecs img {
    float: right;
    padding-right: 10px;
}

#paymentPanel #rentalSummary #travelDetails table.TravelTable, #paymentPanel #rentalSummary #travelDetails big {
    float : left;
    width: 520px;    
}

#paymentPanel #creditCardDetails {
    margin:5px 0 0 20px;
    border-bottom: 1px solid #81DAED;  
    padding-bottom: 20px;  
	width: 730px;
}

#paymentPanel #creditCardDetails h3 {
    margin-top: 20px;
}

#paymentPanel #creditCardDetails big {
    margin : 0;
}

#paymentPanel #creditCardDetails #creditFormPanel {
    width: 560px;
    float: left;
}

#paymentPanel #creditCardDetails #creditFormPanel label, #paymentPanel #personalDetails label {
    width : 138px;
    display: block;
    float: left;
}

#paymentPanel #creditCardDetails #sealPanel {
    float: right;
	background :url(../../images/icons/go_daddy_holdingimage.gif) no-repeat  0 0;
    display : block;
	width:120px;
	height:87px;
}

#paymentPanel #personalDetails {
    margin:5px 0 0 20px;
    border-bottom: 1px solid #5491A0; 
    padding-bottom: 20px; 
	width: 719px;
}

#paymentPanel #personalDetails p, #paymentPanel #creditCardDetails p {
    float: left;
    clear: both;
    margin-top: 5px;    
}

/* Payment Form */
#paymentPanel #cardTypeDD {
    width: 154px;
}

#paymentPanel #cardNumberTxt {
    width: 150px;
    float: left;
}

#paymentPanel #cardHolderName {
    width: 150px;
}

#confirmEmailAddressTxt, #customerFirstName, #customerLastName, #emailAddressTxt {
    width: 265px;
    float: left;
}

#telephoneTxt3 {
    width: 120px;
}

#paymentPanel #personalDetails .number {
    display: block;
    float: left;
    margin-right: 10px;    
}

#paymentPanel #personalDetails .number small {
    font-size: 11px;
}

#paymentPanel #personalDetails .PhoneNumber {
    display: block;
    width: 550px;
    float: left;
}

#otherTravellers table th {
    font-weight: normal;
}

#paymentPanel #personalDetails .number small, #paymentPanel #personalDetails .number input {
    float: left;
    clear: both;
}

#paymentPanel #otherTravellers, #paymentPanel #termsAndConditions, #paymentPanel #footerPanel {
    margin:5px 0 0 20px;
	width: 740px;
}

#paymentPanel #termsAndConditions a, #paymentPanel #contactUs a{
    color:#007587;
	text-decoration:none;
}

#paymentPanel #termsAndConditions a:hover, #paymentPanel #contactUs a:hover{
    color:#EF9503;
	text-decoration:underline;
}

#paymentPanel #otherTravellers td.lbl {
    width : 145px;    
}

#paymentPanel #otherTravellers table {
    clear: both;
}

#paymentPanel #termsAndConditions input{
    float : left;
    display: block;    
}

#paymentPanel #termsAndConditions span {
    display: block;
    width : 700px;
    float : left;
    margin-left: 3px;
}

#payTotalPanel {
    margin: 20px 0 0 0;
    width: 750px !important;
}

#payTotalPanel span, #payTotalPanel input {
    float: right;
}

#payTotalPanel span {
    color:#017688;    
    font-size:12px;
    font-weight:bold;
    margin-right: 5px; 
}

#paymentPanel #depositPanel .left {
    margin: 0;
    display: block;
    float: left;
    width: 240px;
}

#paymentPanel #depositPanel .left big, #paymentPanel #depositPanel .left small {
    padding : 0;
    margin: 10px 0 0 0;
    float :left;
}

#paymentPanel #depositPanel .left big{
	font-family:Arial, Helvetica, sans-serif;
	font-weight:normal;
	font-size:18px;
}

#paymentPanel #depositPanel .right {
    margin: 0;
    display: block;
    float: right;
    width: 240px;
    text-align:right;
    margin: 0;
    padding : 0;
}

#paymentPanel #depositPanel .right small {
    float: right;
    margin: 0 0 10px 0;
}

#paymentPanel #depositPanel .right big {
    float: right;    
    margin: 5px 0 10px 0;
    padding : 0;
    font-family:Arial, Helvetica, sans-serif;
	font-weight:normal;
	font-size:18px;
}

#paymentPanel #footerPanel .Buttons {
	width: 732px;
	height: 40px;
}

#paymentPanel #footerPanel span {
    display: block;
    float: left;
    clear: both;
    width: 725px;
    padding: 5px;
}

#footerPanel input {
    float: right;
    background : #fff url(../../images/z/btn/bookNow.gif) no-repeat  0 0;
    border: 0px;
    height: 23px;
    overflow: hidden;
    text-indent:-1000px;
    text-transform: capitalize;/*ie ;o(*/
    width:143px;      
}

#footerPanel a {
    float: left;
    display: block;
    background : #fff url(../../images/z/btn/backSelectBtn.gif) no-repeat  0 0;
    height: 23px;
    width: 143px;
    overflow:hidden;
    text-indent:-1000px;
}

#paymentContainer #disclaimer {
    font-size: 11px;
    margin-left: 22px;
}

/* validation */

#paymentForm label.error {
    float: right !important;    
    width: 247px !important; 
}  

#cardExpiryMonthTxt, #cardExpiryYearTxt, #cardExpirySpan span {
    float: left;
}

#telephoneTxt1, #telephoneTxt2, #telephoneTxt3 {
    width: 60px;
}


/* EmailForm */
#paymentPanel #infoPanel p {
	margin-bottom: 20px;	
}

#paymentPanel #infoPanel img {
	float: right;
	margin: 10px;
}

#paymentPanel div.FormSection {
    border-bottom:1px solid #5892A1;
    width: 720px;
    margin-left: 20px;
    padding-bottom:20px;
    padding-top:20px;
}

#paymentPanel div.FormSection label {
    display:block;
    float:left;
    width:138px;
}

#personalDetailsForm  p {
    clear:both;
    float:left;
    margin-top:5px;
}

#personalDetailsForm  p .number small, #personalDetailsForm  p .number input {
    clear:both;
    float:left;
}

#personalDetailsForm  p .number {
    display:block;
    float:left;
    margin-right:10px;
}

#personalDetailsForm  p .PhoneNumber {
    display:block;
    float:left;
    width:550px;
}

#personalDetailsForm  p #countryOfResidenceDD, #personalDetailsForm  p #customerTitleDD {
    width: 270px;
}

#personalDetailsForm  #contactSelector label.title, #personalDetailsForm  #contactSelector input {
    float: left;
    width: auto;
    margin-left: 10px; 
}

#bottomPanel, #rentalsDetailsForm {
    border-bottom: none !important;
}

#rentalsDetailsForm span, textarea {
    margin-top: 20px;
    float: left;
    clear: both;
}

#rentalsDetailsForm span {
    display:block;
    width:700px;
}

#rentalsDetailsForm td label {
    margin-bottom: 4px;
}

#bottomPanel input , #bottomPanel a, #bottomPanel label {
    float: right;
}

#bottomPanel input {
    background:#FFFFFF url(../../images/z/btn/send.gif) no-repeat scroll 0 0;
    border:0 none;
    height:27px;
    overflow:hidden;
    text-indent:-1000px;
    text-transform:capitalize;
    width:150px;
}

#bottomPanel a {
    background:#FFFFFF url(../../images/z/btn/cancel.gif) no-repeat scroll 0 0;
    border:0 none;
    height:27px;
    overflow:hidden;
    text-indent:-1000px;
    text-transform:capitalize;
    width:150px;
    margin-right: 20px;
}

#bottomPanel label {
    clear:none !important;
    color:Red;
    display:none;
    float:left;
    font-size:11px;
    width:300px;
}

/* confirmation */
.Confirmation h2 {
    background: url(../../images/z/tiles/sep.gif) repeat-x scroll 0 22px;
    height:25px;
    width:726px;
    margin: 20px 0 10px 2px !important;
}

#confirmationPanel #ConfText p big {
color:#003333 !important;
}


#rentalSum tr.total td, #paymentDet tr.total td {
    color:#2E7084;
    font-size:12px !important;
    font-weight:bold;    
}


#printLinkDiv a{
	background:#FFFFFF url(../../images/z/btn/btn_matrix.png) no-repeat scroll -600px -400px !important;
	width:150px !important;
	height:27px !important;
}




#vehicleCatalogContainer #paymentPanel #yourDetails,#vehicleCatalogContainer #paymentPanel.Confirmation #travelDetails, #vehicleCatalogContainer #paymentPanel #rentalSum, #vehicleCatalogContainer #paymentPanel #paymentDet {
	background-color:#F3FDFF;
	width:730px !important;
	margin-left:20px !important;
}

#vehicleCatalogContainer #paymentPanel #contactUs, #vehicleCatalogContainer #paymentPanel #feedBack{
	width:730px;
	margin-left:20px;
}

#vehicleCatalogContainer #paymentPanel #rentalSum table, #vehicleCatalogContainer #paymentPanel #paymentDet table, #vehicleCatalogContainer #paymentPanel #travelDetails table, #vehicleCatalogContainer #paymentPanel #yourDetails table {
    margin-left:0px !important;
    width:730px !important;
}

#vehicleCatalogContainer #paymentPanel H2{
	font-size:14px !important;
	color:#017688 !important;
	font-weight:bold !important;
}

#vehicleCatalogContainer #paymentPanel table{
	font-size:11px !important;
}

#feedBack p {
    width:730px !important;
}

#feedbackForm  #sendBtn {
    float: right;
    background : #fff url(../../images/z/btn/send.gif) no-repeat  0 0;
    border: 0px;
    height: 27px;
    overflow: hidden;
    text-indent:-1000px;
    text-transform: capitalize;/*ie ;o(*/
    width:150px;
    margin: 20px;      
}

#completedMessage span {
    font-size: 13px;
    display:block;
    height: 200px;
}

#completedMessage big {
    color:#017688;
    font-size:15px;
    font-weight:bold;
} 

#vehicleCatalogContainer #emptySelectionMsg span {
	font-weight:bold;
	color:#003333;
}

/* save Quote */
#configureUpdatePanel #saveQuoteLnk {
    display: none;
    /*
    background : #fff url(../../images/z/btn/btn_matrix.png) no-repeat  -200px -160px;
    height:21px;
    width:93px;
    */
}

.quote #footerPanel input {
    /*
    background : #fff url(../../images/z/btn/btn_matrix.png) no-repeat  -200px -160px;
    height:21px;
    width:93px
    */
    display: none;
}

.VehicleItem  .Top .Contact {
	display:none !important;
}
/* no cross sell*/ 
#thlCrossSellBanner, .CSellLbl {
	display:none !important;
}

/* Alt Avail Statrs */

.preloaderIframe {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    visibility: hidden;
    width: 100%;
}

#staticLoader {
	background-color: #fff;
    float : left;
    width: 760px;
    margin-left: 12px;   
    padding-left:18px;
    padding-bottom: 6px;
    padding-top:20px;
    padding-bottom:20px;
    display:none;
    text-align:center;
    font-size:16px;
    font-weight:bold;
    color:#333;
}
/*
#carousel {
    height: 400px;
    margin: 0 0;
    padding: 0;
    position: relative;
}
#carousel li {
    cursor: pointer;
    float: left;
    list-style: none outside none;
    margin: 0;
    padding: 0;
}

#carous {
	height: 100%;
    width: 100%;	
}
*/

#carousel { position: relative; height: 400px; margin: 0; padding: 0; }
#carousel li { float: left; cursor: pointer; cursor: hand; list-style: none; margin: 0px; padding: 0px; width: 290px; height:172px;}
#carousel li img { height: 100%; width: 100%;}
#vehicleSelectionContainer #carousel li{width:224px; height:339px;}

#vehicleCatalogContainer .VehicleItem div.Limited .AALink a {
    background: url("../../images/z/btn/btn_matrix.png") no-repeat scroll 0 -1039px transparent;
    color: #F58220;
    display: block;
    height: 64px;
    margin-left: 13px;
    overflow: hidden;
    text-indent: -9999px;
    width: 157px;
}
#vehicleCatalogContainer .VehicleItem div.Limited .AALink a:hover {
    background-position: 0 -1120px;
    color: #F58220 !important;
    text-decoration: underline;
}

#vehicleCatalogContainer .VehicleItem div.Limited .EmailLink { display:none; }
.Limited .AALink  { width: 30px; }

.preloader #configurePanel .progressIndicator {
    clear: both;
    float: left;
    font-size: 13px;
    height: 600px;
    padding-top: 50px;
    text-align: center;
    width: 800px;
}

}
.preloader #configurePanel .progressIndicator img {
	
}

#contactUs a {
    color: #E95F40;
    text-decoration: none;
}
#contactUs a:hover {
    color: #36585C;
    text-decoration: underline;
}
#completedMessage span {
    display: block;
    font-size: 13px;
    height: 200px;
}
#completedMessage big {
    color: #E95F40;
    font-size: 15px;
    font-weight: bold;
}
#vehicleCatalogContainer #emptySelectionMsg span {
    color: #1E3D38;
    font-weight: bold;
}
#configureUpdatePanel #saveQuoteLnk {
    background: url("../../images/c/btn/btn_matrix.png") no-repeat scroll -200px -160px #FFFFFF;
    display: none;
    height: 29px;
    width: 118px;
}
#configureUpdatePanel #saveQuoteLnk:hover {
    background-position: -200px -239px !important;
}
.quote #footerPanel input {
    background: url("../../images/c/btn/btn_matrix.png") no-repeat scroll -200px -160px #FFFFFF;
    height: 29px;
    width: 118px;
}

/* This is a possible Country level branding point:
.AU #catalogHeader {
    background: url("../../images/z/logo_au.jpg") no-repeat scroll 0 0 #FFFFFF;
}
.NZ #catalogHeader {
    background: url("../../images/z/logo_nz.jpg") no-repeat scroll 0 0 #FFFFFF;
}
*/

#thlCrossSellBanner {
    display: none;
}
#vehicleCatalogContainer .VehicleItem div.Limited .AALink a {
    background: url("../../images/z/btn/btn_matrix.png") no-repeat scroll 0 -1039px transparent;
    color: #F58220;
    display: block;
    height: 49px;
    margin-left: 13px;
    overflow: hidden;
    text-indent: -9999px;
    width: 157px;
}
#vehicleCatalogContainer .VehicleItem div.Limited .AALink a:hover {
    background-position: 0 -1119px;
    color: #F58220 !important;
    text-decoration: underline;
}
div.AltRow .AltPrice {
    float: left;
    height: 100px;
    width: 195px;
}
div.AltRow div.noAvailability {
    background: url("../../images/z/icons/altx.png") no-repeat scroll 0 6px transparent;
    float: left;
    height: 60px;
    margin-top: 20px;
    width: 270px;
}
div.AltRow div.noAvailability span {
    clear: both;
    display: block;
    float: left;
    font-size: 10px;
    font-weight: bold;
    line-height: 15px;
    margin-left: 50px;
}
div.AltRow .AltPrice li span {
    background: url("../../images/z/icons/altCB.png") no-repeat scroll 0 0 transparent !important;
    color: #000000;
    display: block;
    font-size: 11px;
    font-weight: bold;
    height: 20px;
    margin-top: 26px;
    padding-left: 50px;
}
div.AltRow .AltPrice li.Fp span {
    color: #8B8B8B;
    font-size: 11px;
    font-weight: normal;
}
div.AltRow .AltPrice li.Hide {
    display: none;
}
#selectedVehiclePanel {
    background: url("../../images/z/tiles/aaVLabel.png") no-repeat scroll 0 8px transparent !important;
    border-top: 1px solid #9A7BB2;
    clear: both;
    float: left;
    height: 130px;
    width: 977px;
}
#selectedVehiclePanel h3, #selectedVehiclePanel img {
    display: block;
    float: left;
    margin-top: 5px;
}
#selectedVehiclePanel #selectedVImage {
    margin-left: 40px;
}
#selectedVehiclePanel #selectedVIncs {
    margin-left: 36px;
    margin-top: 17px;
}
#selectedVehiclePanel span.reel {
    float: right;
    margin-right: 15px;
}
#selectedVehiclePanel h3 {
    color: #FFFFFF;
    font-size: 13px;
    margin: 14px 0 0 17px;
    overflow: hidden;
    width: 180px;
	line-height:22px;
}
#alternativeMessagePanel, #alternateContactPanel {
    background: url("../../images/z/tiles/aaArrow.png") no-repeat scroll 10px 10px #DAD7D4;
    border-bottom: 1px solid #FFFFFF;
    clear: both;
    float: left;
    height: 40px;
    width: 976px;
}
#alternativeMessagePanel span, #alternateContactPanel span {
    color: #561F6D;
    float: left;
    font-size: 12px;
    font-weight: bold;
    margin: 14px 10px 0 40px;
}
#alternativeMessagePanel small, #alternateContactPanel small {
    color: #7E550F;
    display: block;
    float: left;
    font-size: 9px;
    font-weight: bold;
    margin: 14px 0 0 20px;
}
div.AltRow {
    background: url("../../images/z/tiles/altRowBG.png") repeat-x scroll 0 0 transparent !important;
    clear: both;
    float: left;
    height: 88px;
    width: 976px;
}
div.AltRow .AltType {
    background: url("../../images/z/tiles/aa-arrow.png") no-repeat scroll 0 0 transparent;
    float: left;
    height: 87px;
    width: 155px;
}
div.SwitchLocation .AltType {
    background-color: #785097;
    background-position: 147px 0;
}
div.OneWaySwitchLocation .AltType {
    background-color: #785097;
    background-position: 147px 0;
}
div.MoveForward .AltType {
    background-color: #6E587F;
    background-position: 147px -84px;
}
div.OriginalSearch .AltType {
    background-color: #785097;
    background-image: none;
    margin-right: 10px;
    width: 145px;
}
div.PickUpBased .AltType {
    background-color: #9A7BB2;
    background-position: 147px -168px;
}
div.MoveBackwards .AltType {
    background-color: #6E587F;
    background-position: 147px -254px;
}
div.DropOffBased .AltType {
    background-color: #9A7BB2;
    background-position: 147px -340px;
}
div.AltRow .AltType span {
    color: #FFFFFF;
    display: block;
    font-size: 11px;
    font-weight: bold;
    margin: 20px 0 0 16px;
    width: 80px;
}
div.AltRow div.AltTime {
    float: left;
    height: 86px;
    width: 538px;
}
div.AltRow .TimeSpan {
    -moz-border-radius: 3px 3px 3px 3px;
    background-color: #FFFFFF;
    border: 1px solid #AAAAAA;
    float: left;
    height: 10px;
    margin: 0 0 0 74px;
    width: 400px;
}
div.AltRow .TimeSpan span {
    display: block;
    float: left;
    height: 10px;
}
div.AltRow .TimeSpan span.Avail {
    background-color: #13A100;
}
div.AltRow .TimeSpan span.noAvail {
    background-color: #A10000;
}
div.AltRow .TimeSpan span.hireDates {
}
div.AltRow .TimeLabels {
    display: block;
    float: left;
    margin-left: 72px;
}
div.AltRow .TimeLabels span {
    display: block;
    float: left;
    font-size: 11px;
    text-align: center;
}
div.AltRow .TimeLabels.period .hireORDates small {
    white-space: nowrap;
}
div.AltRow .TimeLabels .hireORDates small {
}
.hireORDates small {
    text-align: center;
}
div.AltRow .TimeLabels .postORDates small {
    width: 40px;
}
div.AltRow .dates {
    height: 30px;
}
div.AltRow .period {
    height: 15px;
    margin-top: 13px;
}
div.OptionRow ul.Prices {
    margin-top: 22px;
}
div.OptionRow .ShowPriceList {
    color: #EE623E;
    cursor: pointer;
    display: block;
    font-size: 9px;
    margin-left: 50px;
    margin-top: 5px;
    text-decoration: underline;
}
div.OptionRow .PriceDetailsList {
    display: none;
}
div.Expand .PriceDetailsList {
    display: block;
    float: left;
    font-size: 11px;
    margin-left: 80px;
}
div.AltRow .AltSelect {
    background: url("../../images/z/btn/btn_matrix.png") no-repeat scroll 0 -159px transparent;
    display: block;
    float: right;
    height: 26px;
    margin: 22px 15px 0 0;
    overflow: hidden;
    text-decoration: none;
    text-indent: -9999px;
    width: 72px;
}
div.AltRow .AltSelect:hover {
    background-position: 0 -239px;
}
div.AltRow chargetable {
    float: left;
}
div.OptionRow .NoAlt {
    float: left;
    padding: 0 15px 0 75px;
    width: 731px;
}
div.OptionRow .NoAlt span, div.OptionRow .NoAlt a {
    display: block;
    float: left;
    margin-top: 28px;
}
div.OptionRow .NoAlt span {
    font-size: 11px;
    font-weight: bold;
    height: 20px;
    line-height: 18px;
}
div.OptionRow .NoAlt small {
    background: url("../../images/z/icons/altx.png") no-repeat scroll 0 0 transparent;
    display: block;
    float: left;
    height: 20px;
    margin-top: 35px;
    overflow: hidden;
    text-indent: -1000em;
    width: 20px;
}
div.OptionRow .NoAlt a.details {
    color: #7C2424;
    font-size: 9px;
    line-height: 18px;
    margin-left: 10px;
    margin-right: 358px;
    text-decoration: underline;
}
div.OptionRow .NoAlt a.call, .Limited .searchAgain {
    background: url("../../images/z/btn/btn_matrix.png") no-repeat scroll -399px 0 transparent;
    float: right;
    height: 42px;
    overflow: hidden;
    text-indent: -1000em;
    width: 123px;
}

 .Limited .searchAgain {
	width: 124x !important;
	margin-left: 45px !important;
 }

div.OptionRow .NoAlt a.call:hover {
    /*background-position: 0 -639px;*/
}
#alternate {
    background: url("../..images/z/tiles/header-banner.jpg") no-repeat scroll center top transparent;
    min-width: 977px;
}
#vehicleAAContainer {
    background: url("../../images/z/tiles/containerBG.gif") repeat-y scroll 1px 0 transparent;
    border: 0 solid #FFFFFF;
    margin: 0 auto;
    text-align: left;
    width: 1017px;
}
#vehicleAAContainer div {
    font-family: Tahoma;
}
#catalogAAHeader {
    background: url("../../images/z/tiles/header-wide.jpg") no-repeat #561F6D;
    float: left;
    height: 96px;
    margin-left: 20px;
    width: 976px;
}
#catalogAAHeader span.Image {
    float: left;
    height: 87px;
    margin: 39px 0 0 21px;
}
#catalogAAHeader .ContactUs {
    /*background: url("../../images/z/tiles/header-24-7-image.jpg") no-repeat scroll right top transparent;*/
    display: block;
    float: right;
    height: 100px;
    margin: 0;
    width: 423px;
}
#catalogAAHeader .ContactUs img {
    border: medium none;
    display: none;
}
#catalogAAHeader .ContactUs .freephone {
    /*background: url("../../images/z/btn/btn_matrix.png") no-repeat scroll -200px -1040px transparent;*/
    display: block;
    float: left;
    height: 42px;
    margin: 15px 0 0 170px;
    text-indent: -9999px;
    width: 120px;
}
#catalogAAHeader .ContactUs .freephone:hover {
    background-position: -400px -1040px;
}
#b2c-steps {
    float: left;
    height: 34px;
    overflow: hidden;
    padding-left: 20px;
    width: 1014px;
}
#b2c-steps .steps {
    display: block;
    height: 34px;
    width: 976px;
}
#b2c-steps #step-1 {
    background: url("../../images/z/btn/Sprites-Breadcrumbs.png") no-repeat scroll 0 -228px transparent;
}
#vechileCatalogAAContainer {
    background: url("../../images/z/tiles/containerBG.gif") repeat-y scroll 1px 0 transparent;
    float: left;
    padding-left: 20px;
    width: 1014px;
}
#vechileCatalogAAContainer h2 {
    color: #561F6D;
    float: left;
    font-size: 18px;
    font-weight: bold;
    padding: 34px 0 0 15px;
}
#vechileCatalogAAContainer #resultsHeader {
    background-color: #FFFFFF;
    color: #000000;
    float: right;
    font-size: 12px;
    height: 30px;
    margin-right: 47px;
    padding: 34px 0 0;
    width: auto;
}
#alternativeCatalogContainer a.freephone {
    background: url("../../images/z/btn/btn_matrix.png") no-repeat scroll 0 -1200px transparent;
    display: block;
    height: 25px;
    text-indent: -9999px;
    width: 200px;
}
#alternativeCatalogContainer .rightHandBanner {
    display: none;
}
#alternativeCatalogContainer.unavailable {
    background: url("../../images/z/tiles/rightHand-24-7-image.jpg") no-repeat scroll right 259px transparent;
    float: left;
    width: 976px;
}
#alternativeCatalogContainer.unavailable .rightHandBanner {
    display: block;
    float: right;
}
#alternativeCatalogContainer.unavailable .OptionRow {
    float: left;
}
#alternativeCatalogContainer.unavailable .OptionRow .AltRow {
    width: 706px;
}
#alternativeCatalogContainer.unavailable .OptionRow .AltRow.OriginalSearch {
    width: 976px;
}
#alternativeCatalogContainer.unavailable .OptionRow .AltRow.OriginalSearch .noAvailability {
    margin-left: 20px;
    width: 250px;
}
#alternativeCatalogContainer.unavailable .rightHandBanner {
    display: block;
    overflow: hidden;
    width: 270px;
}
#alternativeCatalogContainer.unavailable .rightHandBanner a.freephone {
    margin-left: 82px;
    margin-top: 320px;
}
#alternativeCatalogContainer.unavailable .rightHandBanner img {
    border: medium none;
    display: none;
    margin: 20px;
}
#alternativeCatalogContainer.unavailable .OptionRow .NoAlt {
    width: 461px;
}
#alternativeCatalogContainer.unavailable .OptionRow .NoAlt a.details {
    margin-right: 30px;
}
#alternativeCatalogContainer.unavailable .OptionRow .NoAlt small {
    margin-top: 30px;
}
#alternativeCatalogContainer.unavailable .OptionRow .NoAlt a.call {
    display: none;
}
#footerContainer {
    display: block;
    float: left;
    height: 165px;
    padding-left: 20px;
    width: 1014px;
}
#footerContainer #footerWrapper {
    background: url("../../images/z/tiles/footer-24-7-image.jpg") no-repeat scroll left top #00B7C6;
    display: block;
    float: left;
    height: 165px;
    padding-left: 410px;
    text-indent: -9999px;
    width: 567px;
}
#footerContainer .resText {
    background: url("../../images/z/tiles/footer-24-7-reservations-title.gif") no-repeat scroll 0 0 transparent;
    display: block;
    float: left;
    height: 50px;
    margin-top: 10px;
    width: 330px;
}
#footerContainer a {
    background: url("../../images/z/btn/btn_matrix.png") no-repeat scroll 0 0 transparent;
    display: block;
    float: left;
    height: 1px;
    width: 1px;
}
#footerContainer a.freephone {
    display:none;
	/*
	background-position: -200px -1040px;
    height: 41px;
    margin-left: 30px;
    margin-top: 15px;
    width: 118px;
	*/
}
#footerContainer a.freephone:hover {
    background-position: -400px -1120px;
}
#footerContainer span.searchall {
    background: url("../../images/z/tiles/searchall_text.png") no-repeat scroll 5px 0 transparent;
    clear: both;
    display: block;
    height: 30px;
    width: 290px;
    margin-top:15px;
    float:left;
}
#footerContainer a.returntosearch {
    background-position: 0 -1200px;
    clear: left;
    height: 25px;
    width: 200px;
    margin-top:20px;
}
#footerContainer a.returntosearch:hover {
    background-position: 0 -1280px;
}
#footerContainer a.otherbrands {
    background-position: -200px -1200px;
    display: none;
    height: 25px;
    margin-left: 20px;
    margin-top: 10px;
    width: 180px;
}
#footerContainer a.otherbrands:hover {
    background-position: -200px -1280px;
}
#footerContainer.unavailable {
    height: 110px;
}
#footerContainer.unavailable #footerWrapper {
    background: none repeat scroll 0 0 #FFFFFF;
    height: 110px;
    padding-left: 30px;
    width: 946px;
}
#footerContainer.unavailable .resText, #footerContainer.unavailable a.freephone, #footerContainer.unavailable .searchall {
    display: none;
}
#vehicleAAContainer #disclaimer {
    color: #999999;
    float: left;
    font-size: 11px;
    height: 45px;
    padding-left: 40px;
    padding-top: 10px;
    width: 977px;
}
#footerLinksBottom {
    clear: both;
    height: 40px;
    padding-top: 25px;
    text-align: center;
    width: 100%;
}
#footerLinksBottom #footerLinksLogos {
    margin: auto;
    width: 750px;
    display:none;
}
#footerLinksBottom #footerLinksLogos li#logos {
    background: url("../../images/logo-lockup.png") no-repeat scroll 0 0 transparent;
}
#footerLinksBottom #footerLinksLogos li {
    color: #999999;
    float: left;
    font-size: 9px;
    line-height: 15px;
    padding: 0;
    text-align: left;
    vertical-align: top;
}
#footerLinksBottom #footerLinksLogos li#logos a {
    display: block;
    float: left;
    height: 40px;
    outline: medium none;
    text-indent: -9999px;
    width: 50px;
}
#footerLinksBottom #footerLinksLogos li#copyright {
    margin-left: 20px;
}
#footerLinksBottom #footerLinksLogos li#logos #THLLogo {
    width: 80px;
}
#footerLinksBottom #footerLinksLogos li#logos a#MauiLogo {
    width: 60px;
}
#alternate #tooltip {
    opacity: 1;
}
#tooltip .SmallContainer {
    -moz-border-radius: 5px 5px 5px 5px;
    background: url("../../images/z/tiles/availabilitybg.png") repeat-x scroll 0 0 #7c5293;
    border: 2px solid #561f6d;
    color: #000000;
    float: left;
    max-width: 500px;
    opacity: 0.95;
    padding: 5px 10px 15px;
}
#tooltip .LargeContainer {
    -moz-border-radius: 5px 5px 5px 5px;
    background: url("../../images/z/tiles/tooltip_bg_large.png") repeat-x scroll 0 0 #997AB1;
    border: 2px solid #561F6D;
    color: #7E1F03;
    float: left;
    font-family: Tahoma !important;
    padding: 5px 10px 15px;
    position: relative;
    width: 610px;
    z-index: 2;
}
#tooltip .LargeContainer .ads {
    float: right;
    max-height: 44px;
}
#tooltip .LargeContainer h3 {
    float: left;
    line-height: 20px;
    margin-top: 22px;
    padding-bottom: 10px;
    vertical-align: bottom;
}
#tooltip .LargeContainer .chargesTable {
    border-collapse: collapse;
    clear: both;
    font-size: 11px;
    text-align: left;
    width: 100%;
}
#tooltip .LargeContainer .chargesTable th {
    background: none repeat scroll 0 0 #997AB1;
    color: #333333;
    padding: 10px 0 10px 5px;
    text-align: left;
}
#tooltip .LargeContainer .chargesTable td {
    background: none repeat scroll 0 0 #FFFFFF;
    color: #333333;
    padding: 5px 0 5px 5px;
    text-align: left;
}
#tooltip .LargeContainer .chargesTable th.PerTH, #tooltip .LargeContainer .chargesTable td.pth {
    width: 60px;
}
#tooltip .LargeContainer .chargesTable th.DiscTH, #tooltip .LargeContainer .chargesTable td.dth {
    width: 80px;
}
#tooltip .LargeContainer .chargesTable tfoot td {
    background: none repeat scroll 0 0 #FFE3BC;
}
#alternate .steps a {
    display: block;
    height: 30px;
    overflow: hidden;
    text-indent: -1000em;
    width: 300px;
}
#alternate div.AltRow .AltPrice li.Fp span {
    background-image: none !important;
    margin-top: 0 !important;
}
.availPopUp {
    background: url("../../images/z/tiles/availabilitybg.png") repeat-x scroll 0 0 #7c5293;
    border: 2px solid #561f6d;
    color: #000000;
    line-height: 18px;
    max-width: 500px;
    padding: 5px 10px 15px;
    width: 280px;
}

#vehicleCatalogContainer .VehicleItem a.searchAgain {
    color: #206E81;
    display: block;
    float: left;
    font-size: 13px;
    text-decoration: none;
	margin-left: 60px;
}



#vehicleCatalogContainer .VehicleItem div.Limited .Top a:hover {
	text-decoration: none;
	color: #206E81 !important;
	cursor: default;	
}

#footerWrapper span.searchall, #footerWrapper span.resText {visibility:hidden; }
/* Alt Avail Ends */

.returntoseachBreadCrumb
{
    float:left;
    width:977px;
    clear:both;
}
.returntoseachBreadCrumb a
{
    padding: 5px 0px 5px 16px;
    font-size:9px;
    color:#EE623E;
    display:block;
    text-decoration:underline;
    border-bottom: 1px solid #e7e7e7;
	background: url("../../images/z/tiles/altRowBG.png") repeat-x scroll 0 0 transparent !important;
}
.returntoseachBreadCrumb a:hover
{
    color:#EF9503;
}

#bookingControl .spinner {
	margin-right: 111px !important;
    margin-top: -25px;
}
#bookingControl.Aggregator .botCol {
	display: block !important;
}

#bookingControl.Aggregator .botCol  .searchBtn {
	display: none;
}