﻿#HorizontalControlContainer{
    background : #ccc url(../../images/mac/tiles/BookingControlBG.gif) no-repeat  0 0;/* swap bg to #fff */
    height: 108px;
    width: 602px;
    overflow: hidden; 
}

#bookingControl {
   padding:26px 0 0 10px;
}

#bookingControl span.Splash {
    display : none !important;
}

#bookingControl span.Company {
    display :block;
}

#bookingControl .VehicleMode span.Company {
    display : none !important;
}

#bookingControl .VehicleMode span.Model small {
    display : none;
}

#bookingControl .VehicleMode span.Model select {
    width : 180px !important;
}

#bookingControl span.Company {
    display : none ;
}

.Aggregator span.Company {
    display : block !important;
}


.Aggregator span.Model {
    display :none !important;
}

#bookingControl span.Company select {
    width: 180px;
}


#bookingControl select.LocationDD {
    width: 115px !important;
}

#bookingControl.VehicleMode span.Model {
    display : block !important;
}

#bookingControl #rightCol {
    width:215px !important; 
}

#bookingControl #rightCol .Passengers .RightPass {
    width:115px !important;
}

#bookingControl #rightCol #bottomRight {
    width:215px !important;
}

#bookingControl #rightCol #bottomRight a {
    display : block;
    background : transparent url(../../images/mac/icons/search.gif) no-repeat  0 0;
    text-indent : -100px;
    overflow : hidden;
    width: 86px;
    height : 25px;
    margin-top:26px;      
}

#ctrlValidationMsg {
    display : block;
    float: right;
    overflow:hidden;
    color :#333;
    font-size: 9px;
    visibility : hidden;    
}

/* calendar theme */
.calendar .title, .calendar .nav,.calendar .button,.calendar thead .name,.calendar thead .hilite,.calendar tbody .rowhilite td {
    background-color : #FDF1D2 !important;
}

#ctrlValidationMsg {
    display:block;    
    font-size:9px;
    overflow:hidden;
    visibility:hidden;    
    padding-left: 18px;    
}

#bookingControl .TimeSpan input.required {
   background-color : #fff94a;
}

#bookingControl select.required {
   background-color : #fcff10;
} 
#ctrlValidationMsg.required {
    visibility : visible;
    background:  transparent url(../../images/x/icons/error_square.gif) no-repeat 4px 0 !important; 
}

#bookingControl span.required {
    /*background:  transparent url(../../images/x/icons/required_arrow.gif) no-repeat 159px 0;*/
}

#bookingControl #ctrlSearchBox_dropPickUpTime, #bookingControl #ctrlSearchBox_dropDropOffTime {
    width:78px;
    float:right;
}

#bookingControl #ctrlSearchBox_calPickUp_DateText, #bookingControl #ctrlSearchBox_calDropOff_DateText {
    width:92px;
    float : left;
}