﻿.hideElm .vehicle { display : none;}
.sortPanel { display: block; width: 260px; float: right !important;}
#selectorPanel .ui-state-default { background: none; border: none; color: #fff; }
#selectorPanel .ui-widget { font-size: 0.7em; }
#selectorPanel small { display: block; float: left; text-transform: uppercase; font-size: 0.7em; margin-top: 12px;}
#selectorPanel .ui-combobox { clear: both; }            
		    
.vehicle.loading span.prc { height: 16px; }


/* Colours */

	/*
	Dark Green: 			#34575D		  -  eg Header bg
	Dark Green Border:		#2D4046
	*/

/* */
/* Clearfix */
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
/* /END Clearfix */
/* */


.alternative-currency .ui-combobox {
	width:200px;
	margin-top:0px;
	margin-right:-1px;
	padding-top:5px;
	height:57px;
	position: relative;
	display: inline-block;
	border-left:1px solid #d2d2d2;
	border-right:1px solid #d2d2d2;
}


.alternative-currency .ui-combobox-input {
	margin-top:16px;
	padding-left:8px;
	padding-bottom:23px;
	width:160px;
}
.alternative-currency .ui-state-default .ui-icon {
	background-image: url("/images/c/icons/glyphicons-halflings.png");
	background-position: -336px -144px;
	
}




.seal {
	width:45px;
	padding-left:10px;
	margin-top:15px;
}

.ui-combobox {
	position: relative;
	display: inline-block;
}
.ui-combobox-toggle {
	position: absolute;
	top: 0;
	bottom: 0;
	margin-left: -1px;
	padding: 0;
	/* adjust styles for IE 6/7 */
	*height: 1.7em;
	*top: 0.1em;
}
.ui-combobox-input {
	margin: 0;
	padding: 0.3em;
}
                
                
ul, li {
    list-style: none; margin: 0; padding: 0;
}
                
body{
    margin: 0;
    padding: 0;
    font-family:Arial, Helvetica, sans-serif;
    background-color: #f3f3f3;
}           
            
#header {
    min-width: 980px;
    height: 53px;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 0;
    background-color: #34575D;
	border-bottom:1px solid #2d4046;
}
            
.headerContent {
    margin: 0 auto;
    width: 100%;
    height: 53px; 
    background-color: #34575D;
}
            
.headerContent a img {
    border: none
}
            
.headerContent .steps, .headerContent img, .headerContent li, #currencyPanel li, #currencyPanel li span {
    float:  left;
}
.headerContent .steps {margin-left:20px;}
                
.headerContent .steps span {
    line-height: 65px;
    display: block;
    height: 34px;
    width: 125px;
    text-align: center;
    background-color: #34575D;
	color:#2D4046;	
}


.headerContent .steps .visited {position:relative;}	
.headerContent .steps .visited span a {
	
	display:block;
    font-weight: bold;
	position:relative;
	margin-top:12px;
	height:41px;
	line-height:38px;
	color:#FFF;
	text-decoration:none;
}
.headerContent .steps .visited span a:hover {
	background:#42656C;
	border-top-right-radius:5px;
	border-top-left-radius:5px;	
}

	

.headerContent .steps .selected {position:relative;}	
                 
.headerContent .steps .selected span {
	background:#f3f3f3;
    font-weight: bold;
	position:relative;
	margin-top:10px;
	height:44px;
	line-height:44px;
	border-top-right-radius:5px;
	border-top-left-radius:5px;	
	color:#000;
	box-shadow: 0px -3px 3px 0px #274347;
}
	/* tabs with before/after round our borders */
	.headerContent .steps .selected:before,
	.headerContent .steps .selected:after {
		position: absolute;
		bottom: -1px;
		width: 6px;
		height: 6px;
		content: " ";
	}
	.headerContent .steps .selected:before {
		left: -6px;
		border-bottom-right-radius: 6px;
		border-width: 0 1px 1px 0;
		box-shadow: 2px 2px 0 #f3f3f3;
		z-index:100;
		border-right: 1px solid #f3f3f3;
		
	}
	.headerContent .steps .selected:after {
		right: -6px;
		border-bottom-left-radius: 6px;
		border-width: 0 0 1px 1px;
		box-shadow: -2px 2px 0 #f3f3f3;
		z-index:100;
		border-left: 1px solid #f3f3f3;	
	}
	.headerContent .steps .selected:after, .headerContent .steps .selected:before {
		border-bottom: 1px solid #f3f3f3;
	}    
      
                
.headerContent .steps .visited span {
    color: #fff;
    font-weight: bold; 
}
            
.headerContent a.contactUs {
    display: block;
    float: right;
    margin-top: 12px;
	background:#30575d;
	border:1px solid #2D4046;
    width: 100px;
    height: 28px; 
    overflow: hidden;            
}
.headerContent a.contactUs.contactUsMobile {display:none;}
	.headerContent a.contactUs span {
		float:left;
		display:block;
		background-color:#30575e;
		background-image: linear-gradient(to bottom, #42656c, #30575e);
		background-repeat:repeat-x;
		border-top:1px solid #688489;
		height:17px;
		width:100%;
		padding:5px 0;
		text-align:center;
		color:#FFF; 
		text-shadow: 0px -1px 0px #000;  
		text-decoration:none;
		font-size:0.8em;    
	}
	.headerContent a.contactUs:hover span {
		background-color:#30575e;
		background-image:none;
		text-shadow: none;
	}
	
		
		
                        
#currencyPanel {
    height: 57px;                    
}

#vehicleSelector {
    display: none;
}
            
#currencyPanel h1 { float: left; line-height: 22px; font-weight:lighter; font-size:1.8em; color:#353535; }
#currencyPanel ul { float: right; display:none; }
#currencyPanel label { float:left; line-height: 62px; font-size:.8em; color:#828282; padding-right:15px; border-right:1px solid #FFF; }
#currencyPanel .ui-state-default {
    background: none repeat scroll 0 0 transparent !important;
    border: medium none !important;
    font-size: 0.7em;
}
                        
                                
#bookingControl .cell label {
    color: #fff;     
    font-size: 0.8em;       
	padding-top:5px;
}
            
#bookingControl .cell span {
    font-size: 0.8em;
	
}
            
#bookingControl .cell span, #bookingControl .cell label {
    clear: both;
    display : block;                                        
    margin: 0px ;
    color: #fff;
}
#bookingControl .cell label {font-weight:bold; padding-bottom:2px;}
                           
#bookingControl .cell {
    height : 45px; 
    background-color: #34575D;
	border-bottom:1px solid #34575D;
} 
                                
#bookingControl .ui-widget, #bookingControl .row label {
    font-size: .85em;
}
                
#bookingControl .row label {
    width: 165px;
    float: left;
	padding-top:9px;
    color: #34575D;
    font-weight: bold;
}
  
  
                
#bookingControl .brandRow .ui-combobox-input,
#bookingControl .pickupRow .ui-combobox-input,
#bookingControl .dropOffRow .ui-combobox-input {
    width: 235px;                   
}
                
#bookingControl .ui-combobox {
        margin-right: 30px;
        float: left;
		margin-top:4px;
}
                                
#bookingControl .paxRow { /*width: 320px;*/ }  
                
#bookingControl .paxRow .ui-combobox-input {
    width: 98px;
    /*margin-left: 36px;*/
}                                
                
#bookingControl .body .left {
    width: 978px;
    float: left;
	border-top:1px solid #f0f0f0;  
	border-left:1px solid #f0f0f0;  
	border-right:1px solid #f0f0f0; 
	background:#FFF;
}
                
#bookingControl .body .center {
    width: 978px;
    float: left;
	background:#FFF;
	border-top:1px solid #f0f0f0;  
	border-left:1px solid #f0f0f0;  
	border-right:1px solid #f0f0f0; 
}                
                
#bookingControl .body .right {
    width: 978px;
    float: left;
	background:#FFF;
	border-top:1px solid #f0f0f0;  
	border-left:1px solid #f0f0f0;  
	border-right:1px solid #f0f0f0;                   
}  
                
    #bookingControl .body .right .row span, #bookingControl .body .right .row img, #bookingControl .body .right .row label, #bookingControl .body .right .row select, #bookingControl .body .right .row input {
    display: block;
    float: left;
    }
                
#bookingControl .body .row {
    float: left;
}

#bookingControl .body .brandRow, #bookingControl .body .paxRow {
	padding: 10px 0 10px 25px;
	height:30px;
	width:464px;
}
#bookingControl .body .paxRow { width:463px; border-left:1px solid #F0F0F0; }

#bookingControl .center .pickupRow, #bookingControl .center .dropOffRow {
	padding: 10px 0 10px 25px;
	height:30px;
	width:462px;
	background:#efefef;
	border-top:1px solid #FFF; border-left:1px solid #FFF; border-bottom:1px solid #FFF;
	margin-right:1px;
}
#bookingControl .center .dropOffRow { width:462px; border-top:1px solid #FFF; border-bottom:1px solid #FFF; }

#bookingControl .right .dateTimeRow {
	padding: 10px 0 10px 25px;
	height:30px;
	width:464px;
}
                    
#bookingControl .body .dateTimeRow:last-child {
  width:463px; border-left:1px solid #F0F0F0;
}
#bookingControl .body .dateTimeRow .dateTimeRowOptions input.datePicker {
	padding:7px 0 0 2px!important;
	cursor:pointer;
	font-size:.85em!important;
	color:#555555;
	width:100px;
}

#bookingControl .body .dateTimeRow .dateTimeRowOptions .ui-combobox input {
	padding-top:4px!important;
	width:100px;
	
}
                    
#bookingControl .body .dateTimeRow label { width : 165px ; }
                    
                    
#bookingControl .body .right .ui-combobox-input {     
    width: 55px;
}
                
#bookingControl .body .ui-state-default {
    background: none !important;
    border: none !important;
}
                
#bookingControl .body input.datePicker {
    width: 80px;
    border: none;
	
}
                                
#bookingControl .footer {
    background-color: #34575D;
    clear: both;
    width: 980px;
    height: 40px;
    border-bottom-left-radius: 5px; 
    border-bottom-right-radius: 5px; 
    text-align: right;
	cursor:pointer;
	position:relative;
}
#bookingControl.col .footer { display:none; }



                
    #bookingControl .footer #updateSearch {
    text-transform: uppercase;/*ie ;o(*/  
	background-color: #e95f40;
    background: -webkit-gradient(linear, left top, left bottom, from(#e95f40), to(#bb4c33));
    background-image: linear-gradient(to bottom, #e95f40, #bb4c33);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e95f40', endColorstr='#bb4c33');
    background-repeat: repeat-x;
    border: 1px solid #9f412c;
    border-radius: 3px 3px 3px 3px;
	position:absolute;
	right:10px;
    bottom: 6px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
    color: #FFFFFF;
    cursor: pointer;
    font-size: 12px;
    padding: 6px 10px;
    text-align: center;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    transition: background 1s ease-in-out 0s; 
	text-decoration:none;
    }
	 #bookingControl .footer #updateSearch:hover {
				
		background-color: #bb4c33; 
		background-image: linear-gradient(to bottom, #bb4c33, #bb4c33);
		background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#bb4c33), to(#bb4c33));
		background-image: -webkit-linear-gradient(top, #bb4c33, #bb4c33); 
		background-image:    -moz-linear-gradient(top, #bb4c33, #bb4c33);
		background-image:     -ms-linear-gradient(top, #bb4c33, #bb4c33);
		background-image:      -o-linear-gradient(top, #bb4c33, #bb4c33);
		background-repeat:repeat-x;
		
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#bb4c33', endColorstr='#bb4c33'); 
	 }
	 #bookingControl .footer #updateSearch i {
		 margin-left:5px;
	 }
                
#sortPanel {
    width: 950px;
    height: 120px; 	
	background-color: #DA471F; 
    background-image: linear-gradient(to bottom, #DA471F, #BA2700);
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#DA471F), to(#BA2700));
    background-image: -webkit-linear-gradient(top, #DA471F, #BA2700); 
    background-image:    -moz-linear-gradient(top, #DA471F, #BA2700);
    background-image:     -ms-linear-gradient(top, #DA471F, #BA2700);
    background-image:      -o-linear-gradient(top, #DA471F, #BA2700);
    background-repeat:repeat-x;
	
    border-top-left-radius: 0.3em;
    border-top-right-radius: 0.3em;
} 
 
#sortPanel.col {
    height: 40px;
} 
            
#sortPanel div.filterPanel , #sortPanel div.sortPanel {
    float: left;
    margin-left: 20px; 
	height:78px;                 
}
                
#sortPanel .body { width: 980px; float: left; display:block; }
                
#sortPanel .header {
    height: 40px;
    background-color: #DA471F;  
    border-top-left-radius:5px;    
    border-top-right-radius:5px; 
    width: 980px;  
    border-bottom: 1px solid #65868D;             
}

#sortPanel .header .left {
	float:left;
	background:url(/images/c/titlearrow.png) 110px 0 no-repeat!important;
}
	            
#sortPanel .header h2 {
    float: left; 
    display: block; 
    font-size: 1.1em; 
    color: #fff; 
    line-height: 11px;
    margin-left: 25px; 
}

#sortPanel .header .right {
	float:right;
	margin-right:25px;
	width:280px;
	height:40px;
	
}

#sortPanel .header .right label {
	float:left;
	color:#FFF;
	font-size: 0.8em;
	padding-top:12px;
}
	#sortPanel .header .right ul {
		float:right;
	}
	#sortPanel .header .right li {
		display: inline;
   		list-style-type: none;
	}
		#sortPanel .header .right li span.hideshow {
			float:left;
			width:60px;
			height:26px;
			margin:0px;
			border-left:1px solid #65868D;
			color:#FFF;
			font-size:.7em;
			padding-top:14px;
			text-align:center;
			cursor:pointer;
		}
		#sortPanel .header .right li:last-child span.hideshow {border-right:1px solid #65868D;}
		
		#sortPanel .header .right li span.hideshow:hover {background:#5b8a94;}
		
		#sortPanel .header .right li span.active {
			background: #DA471F;
			color:#333;
			text-shadow:0 1px 0 #84a7af;
			  	-moz-box-shadow:    inset 0 0 8px #2D4046;
			   	-webkit-box-shadow: inset 0 0 8px #2D4046;
			   	box-shadow:         inset 0 0 8px #2D4046;
		}
	

        
#sortPanel span.lbl, span.selector,  span.selector ul, span.selector small, span.selector span {
    display: block; 
    float: left;
}
        
#sortPanel span.lbl, span.selector { margin-right: 10px; }

.au #sortPanel span.lbl, .au span.selector { margin-right: 5px; }
        
#sortPanel .btns {
    clear: both;
	font-size: 0.8em; 
}

#sortPanel .left small
{
	float:left;
	margin-left:10px;
	font-size:.7em;
	font-style:italic;
	font-weight:lighter;
	margin-top:14px;
	padding:1px 4px 1px 6px;
	border-radius:3px;
	box-shadow: 0px 1px 0px  rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
	
}

.col .left small .icon-chevron-up { background-position: -312px -119px;	}

#sortPanel .left small:hover {
	background:#42656C;
	padding:1px 4px 1px 6px;
	cursor:pointer;
	box-shadow: 0px -1px 0px  rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
		
}

#sortPanel .filterPanel small {
	text-transform:uppercase;
	font-size:.7em;
	padding-top:5px;
}
        
#sortPanel .btns label {
    padding: 5px 8px 5px 9px;
    
	
		background-color: #FFF; 
		background-image: linear-gradient(to bottom, #FFF, #E78F08);
		background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FFF), to(#E78F08));
		background-image: -webkit-linear-gradient(top, #FFF, #E78F08); 
		background-image:    -moz-linear-gradient(top, #FFF, #E78F08);
		background-image:     -ms-linear-gradient(top, #FFF, #E78F08);
		background-image:      -o-linear-gradient(top, #FFF, #E78F08);
		background-repeat:repeat-x;
	
    border-top: 1px solid #828282; 
	border-right: 1px solid #828282; 
    border-bottom: 1px solid #828282; 	
    cursor: pointer;
    display: block;
    float: left;
	height:18px;
	color:#4a4a4a;	
}
	#sortPanel .btns label:hover {background:#FFF; color:#000;}
	#sortPanel .btns label:first-child {border-left:1px solid #828282; padding: 5px 8px 5px 8px;}

#sortPanel .btns label.selected {
	background: #30575D;
    border: 1px solid #2D4046;
    display: block;
    float: right;
    height: 28px;
	padding:0px;
    float: left;
   margin-left:0px;
}
            
#sortPanel .btns label.selected span {
    background-color: #E78F08;
    background-image: linear-gradient(to bottom, #E78F08, #E78F08);
    border-top: 1px solid #B75F08;
    color: #FFFFFF;
   	height:17px;
    padding: 5px 8px;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 -1px 0 #000000;
   }
   	#sortPanel .btns label.selected span:hover {
		background-color: #B75F08;
		background-image: none;
	}
        
#sortPanel .btns span.selected {
    background-color: #33585E;
}
               
#sortPanel small, #sortPanel .lbl {
    color: #fff; 
}
                
    #sortPanel .lbl {
    margin-left: 5px;
    margin-top: 35px;
    font-weight: bold; 
    font-size: 0.7em;
    }
                 
    #sortPanel small {
    margin: 5px 0 5px 0;
    }
               
#vehicleCatalogHead {
    width: 978px!important;
    height: 120px;
    z-index: 100000; /* isotope on sticky */
	border-top:1px solid #FFF;
	border-left:1px solid #d5d5d5;
	border-right:1px solid #d5d5d5;  
}
                    
.nz #vehicleCatalogHead {                
    /*background: #fff url('/images/crosssell/cs_catalog_head.png') no-repeat 14px 0px;*/
}   

.nz #vehicleCatalogHead .logos {
	float:left;
	background:#f3f3f3;
	width:953px;
	height:50px;
	padding-left:25px;
	padding-top:10px;
	
}
	
	.nz #vehicleCatalogHead .logos ul li{display: inline; list-style-type: none;}
	.nz #vehicleCatalogHead .logos ul li span {
		float:left;
		display:block;
		width:148px;
		height:50px;
		margin-right:8px;
		background: url('/images/c/icons/thllogos.png') 0 0;
	}
	.nz #vehicleCatalogHead .logos ul li:last-child span {
		margin-right:0px;
	}
		.nz #vehicleCatalogHead .logos ul li span.kea { 	background-position:	0 		0; }
		.nz #vehicleCatalogHead .logos ul li span.maui { 	background-position:	-148px	0px; }
		.nz #vehicleCatalogHead .logos ul li span.united { 	background-position:	-296px	0px; }
		.nz #vehicleCatalogHead .logos ul li span.britz { 	background-position:	-444px	0px; }
		.nz #vehicleCatalogHead .logos ul li span.alpha { 	background-position:	-592px	0px; }
		.nz #vehicleCatalogHead .logos ul li span.mighty { 	background-position:	-740px	0px; }
		.nz #vehicleCatalogHead .logos ul li span.econo { 	background-position:	-756px	0px; Display:none;}
  
 #vehicleCatalogHead .arrow {
     	float:left;
		position:relative;
		width:953px;
		height:7px;
		padding-left:25px; 
		padding-top:15px;
	 }
	 	#vehicleCatalogHead .arrow span.left {
			float:left;
			width:6px;
			height:7px;
			background: url('/images/c/icons/arrow.png') 0 0;
			overflow:hidden;
		}
		#vehicleCatalogHead .arrow span.line {
			float:left;
			height:1px;
			width:918px;
			background:#C7C7C7;
			margin-top:3px;
		}
		#vehicleCatalogHead .arrow span.right {
			float:left;
			width:6px;
			height:7px;
			background: url('/images/c/icons/arrow.png') -6px 0;
			overflow:hidden;
		}

 #vehicleCatalogHead .prem-econo {
     	float:left;
		position:relative;
		width:928px;
		height:30px;
		padding-left:25px; 
		padding-right:25px; 
		padding-top:5px;
		font-weight:lighter;
		font-size:1em;
		color:#949494;
	 }
	 	 #vehicleCatalogHead .prem-econo span.premium { float:left; margin-left:6px; }
	 	 #vehicleCatalogHead .prem-econo span.econo { float:right; margin-right:6px; }
	 
.nz #filter_wheel { display : none; }
            
            
#vehicleCatalog {
    background-color: #f3f3f3;
    float: left;
    padding-left: 25px;
    width: 953px;  
                    
}
        
#vehicleCatalog div.brand {
    display: block;
    float: left;
    margin-right: 8px;
    width: 148px;
	min-height:10px;
}

#vehicleCatalog #econo_vehicle {Display:none;}

        
#vehicleCatalog .vehicle {
    width: 136px;
	position:relative;
	padding:5px;
    height: 224px;
    border: 1px solid #D8D8D8;
    margin-bottom: 12px;
	background:#FFF;
	/*box-shadow: 0px 0px 2px 1px #ccc;*/
	-webkit-box-shadow: 0 8px 6px -6px #666;
	   -moz-box-shadow: 0 8px 6px -6px #666;
	        box-shadow: 0 8px 6px -6px #666;
    
}
#vehicleCatalog .vehicle.loading {
    width: 135px;
	position:relative;
	padding:5px;
    height: 224px;
    border: 1px solid #D8D8D8;
    margin-bottom: 12px;
	background:#FFF;
	/*box-shadow: 0px 0px 2px 1px #ccc;*/
	-webkit-box-shadow: 0 8px 6px -6px #666;
	   -moz-box-shadow: 0 8px 6px -6px #666;
	        box-shadow: 0 8px 6px -6px #666;
    
}
#vehicleCatalog .noavail .vehicle {
	background: none repeat scroll 0 0 #E7E7E7;
    border: 1px solid #D8D8D8;
    box-shadow: none;
    margin-bottom: 11px;
    padding: 5px;
    position: relative;
    width: 136px;
}
#vehicleCatalog .noavail .vehicle.loading {
    width: 136px;
	position:relative;
	padding:5px;
    height: 224px;
    border: 1px solid #D8D8D8;
    margin-bottom: 12px;
	background:#FFF;
	/*box-shadow: 0px 0px 2px 1px #ccc;*/
	-webkit-box-shadow: 0 8px 6px -6px #666;
	   -moz-box-shadow: 0 8px 6px -6px #666;
	        box-shadow: 0 8px 6px -6px #666;
    
} 
                
#vehicleCatalog .vehicle.col {
    height: 100px;
	cursor:pointer;
}
#vehicleCatalog .vehicle.loading.col {
    height: 100px;
	cursor:pointer;
}

#vehicleCatalog .vehicle.col:hover { background:#fd521c; border-color:#fd521c!important;}
#vehicleCatalog .vehicle.col:hover h4,
#vehicleCatalog .vehicle.col:hover .slps small,
#vehicleCatalog .vehicle.col:hover .prc ,
#vehicleCatalog .vehicle.col:hover span {color:#FFF;}

#vehicleCatalog .noavail .vehicle.col:hover { background:#d5d5d5; border: 1px solid #D8D8D8!important; }
#vehicleCatalog .noavail .vehicle.col:hover h4,
#vehicleCatalog .noavail .vehicle.col:hover .slps small,
#vehicleCatalog .noavail .vehicle.col:hover .prc ,
#vehicleCatalog .noavail .vehicle.col:hover span {color:#4a4a4a;}


/* Hidden state */
#vehicleCatalog .vehicle.col .tmb { display: none; }
#vehicleCatalog .vehicle.col .tmb,  #vehicleCatalog .vehicle.col .ftrs, #vehicleCatalog .vehicle.col .book { display: none; }    
                           
#vehicleCatalog .vehicle h4 {
    display: block;
    margin: 5px 0 3px 0;
    padding: 0;
    float: left;
    width: 100%;
    height: 15px;
    font-size: 0.8em;
    color: #325A5C;
    white-space: nowrap;
    text-overflow: ellipsis;
	white-space:nowrap;
    overflow: hidden;
}
#vehicleCatalog .promo .vehicle h4 {
	color: #F0532D;
}
#vehicleCatalog .noavail .vehicle h4 {
	color:#989898;
}
#vehicleCatalog .vehicle.loading h4 {
	color:#989898;
}

                
#vehicleCatalog .vehicle .prc { margin: 4px 0 0 0; font-weight:lighter; font-size:1.1em; color:#4a4a4a; }
#vehicleCatalog .promo .vehicle .prc { margin: 2px; font-weight:bold; font-size:1.1em; color:#F0532D; }

#vehicleCatalog .vehicle .spc { display: none; }
#vehicleCatalog .promo .vehicle .spc { display:block; margin: 0 5px 0 0; padding-left:6px; background: url('/images/c/icons/specialarrow.png') 0px 4px no-repeat; font-weight:bold; color:#f0532d; cursor:pointer; visibility:visible; } 
#vehicleCatalog .promo .vehicle.loading .spc {visibility:hidden;}
                
#vehicleCatalog .vehicle span.row { display: block; float: left;  width: 135px; position:relative; }
        
#vehicleCatalog .vehicle .slps, #vehicleCatalog .vehicle .cur {
    font-size: 0.6em;
    text-transform: capitalize;
	margin-bottom:0px;
}
                    
#vehicleCatalog .vehicle .slps small { float: left; clear: none; padding-top:2px; color:#000; }
#vehicleCatalog .vehicle.loading .slps small { color:#989898;}
#vehicleCatalog .vehicle .slps span { float: right; clear: none; }




#vehicleCatalog .vehicle span.tmb {
	float: left;
    height: 60px;
    position: relative;
    width: 137px;
    line-height:62px;
    text-align:center;
	background:#FFF;
}

#vehicleCatalog .noavail .vehicle span.tmb {
	opacity:.5;
}
#vehicleCatalog .vehicle.loading span.tmb {
	opacity:.5;
}

#vehicleCatalog .vehicle .tmb img { vertical-align: middle; }
 
#vehicleCatalog .vehicle .ftrs {
	padding-top: 2px;
	margin-top:2px;
    height: 35px;
    width:135px;
	border-top:1px solid #EFEFEF;
} 
                              
#vehicleCatalog .vehicle .ftrs li {
    float: left; 
    display: block; 
    font-size: 0.6em;
    width: 67px;
	height:11px;
}
                              
#vehicleCatalog .vehicle span.lbl, #vehicleCatalog .vehicle small, #vehicleCatalog .vehicle span {
    float: left;
    clear: both;
	color:#989898;
}   
#vehicleCatalog .vehicle.col span.inf span {
	display:none;	
}

#vehicleCatalog .noavail .vehicle .prc .prcMsg  {
    font-size: 0.6em; 
	font-weight:normal;
    height: 16px;
    width: 112px;
    overflow: hidden;
    text-overflow: ellipsis;    
	position:absolute;
	top:85px;
	left:-2px;
	display:none;
	background:#EFEFEF;
	padding:3px;
	color:#666;
	white-space:nowrap;
	cursor:pointer;
}
#vehicleCatalog .tac.noavail .vehicle .prc .prcMsg {
	display:block;
}

#vehicleCatalog .noavail .vehicle.col .prc .prcMsg  {
    font-size: 1.2em;
	font-weight:lighter;
    height: 25px;
    width: 118px;
    overflow: hidden;
    text-overflow: ellipsis;    
	position:absolute;
	top:-6px;
	display:block;
	background:none;
	white-space:nowrap;
}
#vehicleCatalog .tac.noavail .vehicle.col .prc .prcMsg  {
    font-size: 0.6em;
	font-weight:normal;
	line-height:1.2em;
    height:54px;
    width: 111px;
    overflow: hidden;
    text-overflow: ellipsis;    
	white-space:nowrap;
	position:absolute;
	top:0px;
	display:block;
}

#vehicleCatalog .avail .vehicle .status { display: none; }
   
.vehicle.loading span.prc {
    text-indent: -1000em;
    overflow: hidden;
    background: transparent url('/images/c/tiles/price_ldr.gif') no-repeat 45px 0;  
} 
   
#vehicleCatalog .loading.vehicle .book, #vehicleCatalog .loading.vehicle .status { display: none; }  

#vehicleCatalog .noavail .vehicle .status { font-size: 1.2em; margin-top: 5px; cursor: pointer; font-weight:lighter; position:absolute; top:100px; }

#vehicleCatalog .tac.noavail .vehicle .status {display:none;}

#vehicleCatalog .noavail .vehicle.col .status { display: none; }

/*#vehicleCatalog .noavail .vehicle .status, */ #vehicleCatalog .noavail .vehicle .cur, #vehicleCatalog .noavail .vehicle .book { visibility: hidden; min-height:33px; }

#vehicleCatalog .tac.noavail .vehicle .cur {
	display:none;
}
		   
#vehicleCatalog .vehicle span.book {
	position:absolute;
	bottom:20px;
  
	background-color: #E78F08; 
    background-image: linear-gradient(to bottom, #62C462, #51A351);
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#E78F08), to(#E78F08));
    background-image: -webkit-linear-gradient(top, #E78F08, #E78F08); 
    background-image:    -moz-linear-gradient(top, #E78F08, #E78F08);
    background-image:     -ms-linear-gradient(top, #E78F08, #E78F08);
    background-image:      -o-linear-gradient(top, #E78F08, #E78F08);
    background-repeat:repeat-x;
	
    color: #FFFFFF;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	width:93px;
	border-radius: 3px 3px 3px 3px;
    font-size: 11.9px;
    padding: 2px 10px;
	border:1px solid #4ca64b;
	text-align:center;
	cursor:pointer;
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
}
#vehicleCatalog .vehicle span.book:hover {
	background-color: #5BB75B;
    background-image: none;
}
                
#vehicleCatalog .vehicle .inf {
	position:absolute!important;
	bottom:3px;
    color: #E95D2C;
    font-size: 0.6em;
    background: transparent url('../../images/c/icons/more_inf.png') no-repeat 101px -1px;
    margin-top: 4px;
    cursor: pointer;
	height:13px;
}
#vehicleCatalog .vehicle .inf span { color:#E95D2C;}
#vehicleCatalog .vehicle.loading .inf span { color:#989898;}
#vehicleCatalog .noavail .vehicle .inf span { color:#989898;}
#vehicleCatalog .vehicle .inf:hover span { text-decoration:underline; }
#vehicleCatalog .vehicle.col .inf {
	position:absolute;
	bottom:2px;
    color: #E95D2C;
    font-size: 0.6em;
    background: transparent url('../../images/c/icons/more_inf.png') no-repeat 101px -1px;
    margin-top: 4px;
    cursor: pointer;
}
#vehicleCatalog .noavail .vehicle .inf {
	position:absolute;
	bottom:3px;
    color: #E95D2C;
    font-size: 0.6em;
    background: transparent url('../../images/c/icons/more_inf_grey.png') no-repeat 101px -1px;
    margin-top: 4px;
    cursor: pointer;
}
#vehicleCatalog .vehicle.loading .inf {
	position:absolute;
	bottom:3px;
    color: #E95D2C;
    font-size: 0.6em;
    background: transparent url('../../images/c/icons/more_inf_grey.png') no-repeat 101px -1px;
    margin-top: 4px;
    cursor: pointer;
}
                  
            
#container {
    position : relative;                                   
}
            
#container, #sortPanel, #vehicleCatalogHead, #vehicleCatalogContainer, #currencyPanel , #footer { margin: 0 auto; width: 980px; clear: both; }

#sortPanel {margin-top:20px; border-bottom:1px solid #DA471F;}            
                  
#vehicleCatalog {
    background: #f3f3f3;
	border-left:1px solid #d5d5d5;
	border-right:1px solid #d5d5d5;
	border-bottom:1px solid #d5d5d5;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
	box-shadow: 0px 4px 3px 0px #666;
}
                  
#footer {
	float:left;
    margin-bottom:20px;   
}
                
#footer #disclaimer { 
	float: left; 
	width: 660px;
	height:60px;
	padding-top:20px;
    margin: 20px 0 0 25px;
	font-size:.8em;
	color:#57585b;
	border-right:1px solid #CCC;
	line-height:1.5em;
}
                
#footer #disclaimer span {
    float: left;
	clear: both;
}

#footer #footerlogo  {
	float: right; 
	width: 238px;
	height:53px;
	padding:27px 0 0 30px;
    margin: 20px 25px 0 0px;
	font-size:.7em;
	border-left:1px solid #FFF;
	
}
#footer #footerlogo img {
	float:right;
	border:0px;
}
                
#footerPre {
        width: 100%; 
        height: 1px; 
		background:#777777;
}
            
                
#footerWrap {
    width: 100%; 
    height: 58px; 
	
	background-color: #080808; 
    background-image: linear-gradient(to bottom, #303030, #080808);
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#303030), to(#080808));
    background-image: -webkit-linear-gradient(top, #303030, #080808); 
    background-image:    -moz-linear-gradient(top, #303030, #080808);
    background-image:     -ms-linear-gradient(top, #303030, #080808);
    background-image:      -o-linear-gradient(top, #303030, #080808);
    background-repeat:repeat-x;
	
	border-top:1px solid #424242;
	border-bottom:1px solid #373737;
}
                
#footerWrap .body {
    margin: 0 auto;
    width: 980px;
    /*height: 58px;*/    
}

#footerWrap .body a.thl-logo {
    float: left;
    display: block;
    width: 95px;
    height: 58px;
	border-right:1px solid #373737;
	background-color: #080808; 
    background-image: linear-gradient(to bottom, #303030, #080808);
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#303030), to(#080808));
    background-image: -webkit-linear-gradient(top, #303030, #080808); 
    background-image:    -moz-linear-gradient(top, #303030, #080808);
    background-image:     -ms-linear-gradient(top, #303030, #080808);
    background-image:      -o-linear-gradient(top, #303030, #080808);
    background-repeat:repeat-x;
}    

#footerWrap .body a.thl-logo:hover {background:none;}            

#footerWrap .body a.thl-logo span.thl {
	background: transparent url('/images/c/icons/footer_logos.png') no-repeat; 
    background-position: -16px 0px;width: 95px;
    height: 58px;
}
                                
#footerWrap .body a.thllogos {
    float: left;
    display: block;
    width: 95px;
    height: 58px;
	border-right:1px solid #373737;
	background-color: #080808; 
    background-image: linear-gradient(to bottom, #303030, #080808);
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#303030), to(#080808));
    background-image: -webkit-linear-gradient(top, #303030, #080808); 
    background-image:    -moz-linear-gradient(top, #303030, #080808);
    background-image:     -ms-linear-gradient(top, #303030, #080808);
    background-image:      -o-linear-gradient(top, #303030, #080808);
    background-repeat:repeat-x;
}
#footerWrap .body a:hover { background-color:#000; background-image:none; }
#footerWrap .body a.thllogos span {
	background: transparent url('/images/c/icons/footer_logos.png') no-repeat; 
	width: 95px;
    height: 58px;
} 


#footerWrap .body a.thllogos span.kea { background-position: -101px 0px; }
#footerWrap .body a.thllogos span.maui { background-position: -187px 0px; } 
#footerWrap .body a.thllogos span.britz { background-position: -270px 0px; } 
#footerWrap .body a.thllogos span.united { background-position: -360px 0px; } 
#footerWrap .body a.thllogos span.alpha { background-position: -445px 0px; } 
#footerWrap .body a.thllogos span.mighty { background-position: -530px 0px; } 
#footerWrap .body a.thllogos span.econo { background-position: -620px 0px; Display: none;} 
	 
                     
#footerWrap .body span, #footerWrap .body ul ,#footerWrap .body li {
    float: left;                     
}
                
#footerWrap .body span.privacy {
    font-size: 0.7em;
    color: #959595;
    margin-left: 10px;
	margin-top:15px;   
}

#footerWrap .body span.privacy a {
	color:#FFF;	
	background-color:transparent;
}

#footerWrap .body span.privacy a:hover {
	text-decoration:none;
	background-color:transparent;
	text-decoration:none;
}


/* Dropdowns */
#ui-id-1 {
	width:193px;
	font-size:.8em;
	background:#f3f3f3;
	border-top:none;
	border-bottom-left-radius:4px;	
	border-bottom-right-radius:4px;
	border-top-left-radius:0px;
	border-top-right-radius:0px;
	box-shadow: 0px 4px 3px 0px #000;
}
#ui-id-1 li,
 {cursor:pointer; }
#ui-id-1 li a:hover, #ui-id-1 li a:focus, #ui-id-1 li a:active, #ui-id-1 li a.ui-state-focus {
	background:#FFF!important;
	background-image:none;
	cursor:pointer;
	border-color:#FFF;
	border-radius:1px; }

#ui-id-2 {
	width:193px;
	font-size:.8em;
	background:#FFF;
	border-top:none;
	border-bottom-left-radius:4px;	
	border-bottom-right-radius:4px;
	border-top-left-radius:0px;
	border-top-right-radius:0px;
	box-shadow: 0px 4px 3px 0px #000;
}
#ui-id-3 {
	width:85px;
	font-size:.8em;
	background:#FFF;
	border-top:none;
	border-bottom-left-radius:4px;	
	border-bottom-right-radius:4px;
	border-top-left-radius:0px;
	border-top-right-radius:0px;
	box-shadow: 0px 4px 3px 0px #000;
}
#ui-id-4 {
	width:94px;
	font-size:.8em;
	background:#FFF;
	border-top:none;
	border-bottom-left-radius:4px;	
	border-bottom-right-radius:4px;
	border-top-left-radius:0px;
	border-top-right-radius:0px;
	box-shadow: 0px 4px 3px 0px #000;
}
#ui-id-5 {
	width:100px;
	font-size:.8em;
	background:#FFF;
	border-top:none;
	border-bottom-left-radius:4px;	
	border-bottom-right-radius:4px;
	border-top-left-radius:0px;
	border-top-right-radius:0px;
	box-shadow: 0px 4px 3px 0px #000;
}
#ui-id-6 {
	width:186px;
	font-size:.8em;
	background:#FFF;
	border-top:none;
	border-bottom-left-radius:4px;	
	border-bottom-right-radius:4px;
	border-top-left-radius:0px;
	border-top-right-radius:0px;
	box-shadow: 0px 4px 3px 0px #000;
}
#ui-id-7 {
	width:101px;
	font-size:.8em;
	background:#FFF;
	border-top:none;
	border-bottom-left-radius:4px;	
	border-bottom-right-radius:4px;
	border-top-left-radius:0px;
	border-top-right-radius:0px;
	box-shadow: 0px 4px 3px 0px #000;
}
#ui-id-8 {
	width:101px;
	font-size:.8em;
	background:#FFF;
	border-top:none;
	border-bottom-left-radius:4px;	
	border-bottom-right-radius:4px;
	border-top-left-radius:0px;
	border-top-right-radius:0px;
	box-shadow: 0px 4px 3px 0px #000;
}
#ui-id-9 {
	width:100px;
	font-size:.8em;
	background:#FFF;
	border-top:none;
	border-bottom-left-radius:4px;	
	border-bottom-right-radius:4px;
	border-top-left-radius:0px;
	border-top-right-radius:0px;
	box-shadow: 0px 4px 3px 0px #000;
}

#ui-id-2 li,
#ui-id-3 li,
#ui-id-4 li,
#ui-id-5 li,
#ui-id-6 li,
#ui-id-7 li,
#ui-id-8 li,
#ui-id-9 li { cursor:pointer; }

#ui-id-2 li a:hover,	#ui-id-2 li a:focus, 	#ui-id-2 li a:active,	#ui-id-2 li a.ui-state-focus,
#ui-id-3 li a:hover,	#ui-id-3 li a:focus, 	#ui-id-3 li a:active,	#ui-id-3 li a.ui-state-focus,
#ui-id-4 li a:hover,	#ui-id-4 li a:focus, 	#ui-id-4 li a:active,	#ui-id-4 li a.ui-state-focus,
#ui-id-5 li a:hover,	#ui-id-5 li a:focus, 	#ui-id-5 li a:active, 	#ui-id-5 li a.ui-state-focus,
#ui-id-6 li a:hover,	#ui-id-6 li a:focus, 	#ui-id-6 li a:active,	#ui-id-6 li a.ui-state-focus,
#ui-id-7 li a:hover,	#ui-id-7 li a:focus, 	#ui-id-7 li a:active,	#ui-id-7 li a.ui-state-focus,
#ui-id-8 li a:hover,	#ui-id-8 li a:focus, 	#ui-id-8 li a:active,	#ui-id-8 li a.ui-state-focus,
#ui-id-9 li a:hover,	#ui-id-9 li a:focus, 	#ui-id-9 li a:active,	#ui-id-9 li a.ui-state-focus
 {
	background:#CCC!important;
	background-image:none;
	cursor:pointer;
	border-color:#FFF;
	border-radius:1px; }
	



/* ICONS */

[class^="icon-"], [class*=" icon-"] {
			background-image: url("/images/c/icons/glyphicons-halflings.png");
			background-position: 14px 14px;
			background-repeat: no-repeat;
			display: inline-block;
			height: 14px;
			line-height: 14px;
			margin-top: 1px;
			vertical-align: text-top;
			width: 14px;
			cursor:pointer;
		}

.icon-white {
    background-image: url("/images/c/icons/glyphicons-halflings-white.png");
}
		
		.icon-chevron-down 	{ background-position: -313px -119px;	}
		.icon-chevron-up 	{ background-position: -288px -120px;	}
		.icon-minus 		{ background-position: -433px -96px;	}
		.icon-plus	 		{ background-position: -408px -96px;	}
		.icon-search 		{ background-position: -48px 0;			}
		.icon-eye-close 	{ background-position: -120px -120px;	}
		.icon-eye-open 		{ background-position: -96px -120px;	}
		.icon-envelope 		{ background-position: -72px 0;			}
		
		.icon-calendar 		{ background-position: -192px -120px; float:left; margin-top:9px; margin-right:20px;}
		
		.ui-button-icon-only .ui-icon {
				background-image: url("/images/c/icons/glyphicons-halflings.png");
				background-position: -313px -119px;
				}
				
.ui-tooltip {
	font-size:0.8em;
}
				
/* calander */
.ui-widget-header {background:#f3f3f3; border:1px solid #f3f3f3;}
.ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-next {height:1.5em; cursor:pointer;}
.ui-datepicker .ui-datepicker-prev:hover, .ui-datepicker .ui-datepicker-next:hover { background:#FFF; border:1px solid #FFF; cursor:pointer;}
.ui-datepicker .ui-datepicker-title {
    line-height: 1.4em!important;
    margin: 0 2em;
}
select.ui-datepicker-month {
	float: left;
    margin-top: 3px !important;
    padding: 4px;
    width: 77px !important;
	margin-left:5px!important;
}
span.ui-datepicker-year {float:left; margin-top:11px; margin-left:3px;}
.ui-datepicker-calendar .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {background:#bfc4c7; color:#FFF; border-color:#bfc4c7;}
.ui-datepicker-calendar .ui-state-default:hover, .ui-widget-content:hover .ui-state-default:hover, .ui-widget-header:hover .ui-state-default:hover 
		{background:#527A82; color:#FFF; border-color:#527A82;}
.ui-datepicker-calendar .ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {background:#527A82; color:#FFF; border-color:#527A82;}

           
.ui-datepicker .ui-datepicker-title select, .ui-datepicker table {
    font-size: 0.5em !important;
}
            
.ui-datepicker {
    width: 11em; 
}
            
.ui-datepicker .ui-datepicker-title {
    line-height: 1.8em;
    margin: 0 2.0em;
}
            
.ui-datepicker .ui-datepicker-title .ui-datepicker-year {
    font-size: 0.5em;
    line-height: 0.5em;
}

.ui-tooltip small, .ui-tooltip big { float: left; clear: both; display: block; }


/*************************************************************************************** */
/**** au specific styling ****/ /* 4 Brands */
/*************************************************************************************** */    				

.au #vehicleCatalogHead {               
}
 
.au #vehicleCatalogHead .prem-econo {
    color: #949494;
    float: left;
    font-size: 1em;
    font-weight: lighter;
    height: 30px;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 5px;
    position: relative;
    width: 928px;
}
.au #vehicleCatalogHead .logos {
    background: none repeat scroll 0 0 #F3F3F3;
    float: left;
    height: 50px;
    padding-left: 25px;
    padding-top: 10px;
    width: 953px;
}


.au #vehicleCatalogHead .logos ul li{display: inline; list-style-type: none;}
	.au #vehicleCatalogHead .logos ul li span {
		float:left;
		display: block;
		float: left;
		height: 50px;
		margin: 0 53px;
		width: 126px;
		background: url("/images/c/icons/thllogos.png") repeat scroll 0 0 transparent;
	}
	.au #vehicleCatalogHead .logos ul li:last-child span {
		margin-right:0px;
	}
		.au #vehicleCatalogHead .logos ul li span.kea { 	background-position:	0 		0; }
		.au #vehicleCatalogHead .logos ul li span.maui { 	background-position:	-148px	0px; }
		.au #vehicleCatalogHead .logos ul li span.united { 	background-position:	-296px	0px; }
		.au #vehicleCatalogHead .logos ul li span.britz { 	background-position:	-444px	0px; }
		.au #vehicleCatalogHead .logos ul li span.alpha { 	background-position:	-592px	0px; }
		.au #vehicleCatalogHead .logos ul li span.mighty { 	background-position:	-740px	0px; }
		.au #vehicleCatalogHead .logos ul li span.econo { 	background-position:	-756px	0px; }

.au #vehicleCatalog div.brand {
    display: block;
    float: left;
    margin-right: 11px;
    width: 224px; 
}

.au #vehicleCatalog .vehicle {
    width: 212px;
}
.au #vehicleCatalog .vehicle.loading {
    width: 212px;
}

.au #vehicleCatalog .vehicle span.row { width: 212px; }
.au #vehicleCatalog .vehicle span.tmb { float:right; width:80px; margin-top:5px; }
.au #vehicleCatalog .vehicle .prc { position:absolute; top:55px; }

#vehicleCatalog .vehicle .prc { font-size: 0.9em !important; }

.au #vehicleCatalog .promo .vehicle .prc { position:absolute; top:55px; }
.au #vehicleCatalog .noavail .vehicle .status { position:absolute; top:55px; }

.au #vehicleCatalog .vehicle .cur { position:absolute; top:100px; }

.au #vehicleCatalog .vehicle .ftrs { width:212px; margin-top:15px; padding-top:5px; }
.au #vehicleCatalog .vehicle .ftrs li { font-size:0.7em; width:105px; padding-bottom:4px;}

.au #vehicleCatalog .vehicle span.row.book { width: 190px; padding:4px 10px; }

#vehicleCatalog .vehicle span.book.update {
    background-image: url("/images/c/tiles/price_ldr.gif");
    background-repeat: no-repeat; 
        background-position: 52px 3px;
}

.au #vehicleCatalog .vehicle .inf { bottom:3px; background: url("../../images/c/icons/more_inf.png") no-repeat scroll 197px -1px transparent;}
.au #vehicleCatalog .vehicle.col .inf { bottom:3px; background: url("../../images/c/icons/more_inf.png") no-repeat scroll 197px -1px transparent;}
.au #vehicleCatalog .noavail .vehicle .inf { bottom:3px; background: url("../../images/c/icons/more_inf_grey.png") no-repeat scroll 197px -1px transparent;}

.au #vehicleCatalog .vehicle.loading .inf { bottom:3px; background: url("../../images/c/icons/more_inf_grey.png") no-repeat scroll 197px -1px transparent;}

.au #vehicleCatalog .tac.noavail .vehicle .prc .prcMsg { border-radius:3px; left:0px; top:135px; width:208px; font-size:0.7em; }
.au #vehicleCatalog .tac.noavail .vehicle.col .prc .prcMsg { border-radius:3px; left:-2px; top:0px; width:208px; font-size:0.7em; }

.au #vehicleCatalog .tac.noavail .vehicle.col .prc .prcMsg  {
	border-radius:3px; 
	left:-2px; 
	top:0px; 
	width:208px; 
	font-size:0.7em;  
	font-weight:normal;
	line-height:1.2em;
    height:54px;
    overflow: hidden;
    text-overflow: ellipsis;    
	white-space:nowrap;
	position:absolute;
	display:block;
}


				
/
            
                #bookingControl { width: 980px ; float: left;  box-shadow: 0 0 2px 0 #000; border-radius:5px; }         
                #bookingControl .period { width: 95px; background-color: #34575D; float: left; border-top-left-radius:5px; padding-left:25px;}
                #bookingControl .pickup { width: 345px; float: left;}
				#bookingControl .dropoff { width: 360px; float: left; border-right:1px solid #517981;}
                #bookingControl .close { width: 153px; float :left; border-top-right-radius:5px; color: #fff; background-color: #517981; text-align:center; border-left:1px solid #34575D; border-bottom:1px solid #34575D; cursor:pointer;}
				#bookingControl .close:hover {background:#42656C;}
				#bookingControl.col .close:hover {background:#42656C;}
                #bookingControl .close span  {
                    margin:12px 0 0 0;
					font-size:1em!important;
                }
				#bookingControl .close span i {margin-top:4px; margin-left:5px;}
				
				#bookingControl.col .icon-minus {
                    background-position: -407px -96px;
                }
				
				
				#bookingControl.col { width: 980px ; float: left; box-shadow: 0 0 2px 0 #000; border-radius:5px; overflow:hidden; cursor:pointer; }  
				#bookingControl.col .period { width: 95px; background-color: #34575D; float: left; padding-left:25px; border-top-left-radius: 0px;}
				#bookingControl.col .close { width: 153px; float :left; color: #fff; background-color: #517981; text-align:center; border-left:1px solid #34575D; border-bottom:1px solid #34575D; cursor:pointer; border-top-right-radius: 0px;}
				
				#bookingControl .body {float:left; width:100%; overflow:hidden;}
            
				#bookingControl #countrySelector { display: none;}

/*************************************************************************************** */
/**** responsive at the end ****/
/*************************************************************************************** */			
				
		/* Responsive styling - commented out till next release */
		
		/*	
			@media only screen and (max-width:976px){ 
                
				
				
            }         
        */
		/*    
            @media only screen and (max-width:480px){ 
                
				#header {display:none;}
				
				#container, #sortPanel, #sortPanel .body, #vehicleCatalogHead, #vehicleCatalogContainer, #currencyPanel, #footer, #sortPanel .header, #bookingControl .footer { width:100%; }
				
				#vehicleCatalogAll { width:100%; overflow-x:scroll;}
				
				#footer #disclaimer { width:auto; }
				
				#footerWrap .body { width:100%; height:auto; }	
				
				
				
				.headerContent {
					height:97px;
					width:100%;
					overflow:hidden;
				}
				.headerContent a img {margin-left:5px;}
				ul.steps {width:100%; font-size:12px;}
				ul.steps  li {width:25%;}
				
				.headerContent .steps span { width:100%; line-height:55px; }
				
				.headerContent a.contactUs { display:none;  }
				.headerContent a.contactUs.contactUsMobile {
					display: block;
					position:absolute;
					top:5px; right:5px;
					margin-top: 12px;
					background:#30575d;
					border:1px solid #2D4046;
					width: 40px;
					height: 28px; 
					overflow: hidden;            
				}
				.headerContent a.contactUs.contactUsMobile {display:block;}
				.headerContent .steps .visited span a {
				height: 35px;
				line-height: 31px;
				margin-top: 12px;
				}
				.headerContent .steps .selected span {
					height: 34px;
					line-height: 34px;
					margin-top: 10px;
					position: relative;
				}
				
				#currencyPanel {height:auto;}
				#currencyPanel ul{display:none;}
				#currencyPanel label { }
				#currencyPanel h1 {margin-left:5px; font-size:20px; padding-top:8px; width:80%}
				.alternative-currency .ui-combobox { width:150px; margin-right:5px; }
				.alternative-currency .ui-combobox-input { width:100px;}
				.seal { display:none; }
				
				
				
				#bookingControl { position:relative; }
				#bookingControl .period {border-top-left-radius: 5px;border-top-right-radius: 5px;}
                #bookingControl .pickup, #bookingControl .dropoff, #bookingControl .period { width: 100%; position: relative; float:none; }
                #bookingControl .close {
                    width: 100%;
					background-color: #517981;
					border-top:1px solid #34575D;
					clear: both;
					cursor: pointer;
					height: 30px;
					text-align: center;
                }
				#bookingControl .close:hover {background:#42656C;}
				#bookingControl .cell {border-bottom:none; height:auto; padding:5px 0 0 0;}
				#bookingControl .cell label,#bookingControl .cell span { padding-left:5px;}
				#bookingControl .cell label {border-bottom:1px dashed #42656C; padding-bottom:5px; margin-bottom:5px; margin-top:5px; text-transform:uppercase;}
				#bookingControl .dropoff {border-bottom:1px solid #517981; padding-bottom:10px;}
				#bookingControl .close span {padding:5px;}
				
				#bookingControl .body {width:100%; overflow:hidden;}
				#bookingControl .body .left, #bookingControl .body .row,
				#bookingControl .body .center, #bookingControl .center .row,
				#bookingControl .body .right, #bookingControl .right .row {width:100%;}
				
				#bookingControl .body .brandRow,
				#bookingControl .body .paxRow, 
				#bookingControl .body .pickupRow, 
				#bookingControl .body .dropOffRow,
				#bookingControl .body .pickUpTimeTxt,
				#bookingControl .body .dateTimeRow  {padding-left:5px;}
				#bookingControl .row label, #bookingControl .body .dateTimeRow label { width:34%;}
				
				#bookingControl .ui-combobox {float:right;}
				
				#bookingControl .pickupRow .ui-combobox-input,#bookingControl .dropOffRow .ui-combobox-input {width:161px;}
				
				#bookingControl .body .right .dateTimeRow .dateTimeRowOptions {float:right;}
				
				
				
				#sortPanel { float:left; height:auto; padding-bottom:15px; }
				#sortPanel .header .right {display:none;}
				#sortPanel .header h2 {margin-left:5px; font-size:16px; padding-top:4px;}
				#sortPanel .header .left {background-position: 90px 0!important; }
				
				#sortPanel div.filterPanel, #sortPanel div.sortPanel {width:100%;}
				
				#sortPanel .lbl {margin-left:5px; width:17%; }
				#sortPanel span.lbl, span.selector { margin-right:5px;}
				#sortPanel .filterOptions {float:right; margin-right:5px; width:76%; margin-bottom:5px; padding-bottom:10px; border-bottom:1px dashed #42656C;}
				
				#vehicleCatalogHead {border:none;}
				#vehicleCatalog, .nz #vehicleCatalogHead .logos, #vehicleCatalogHead .arrow, .nz #vehicleCatalogHead .prem-econo {border:none; box-shadow: none;}
				
				.nz #vehicleCatalogHead .prem-econo span.premium:after {
						content:"...Scroll right to see the full range...";
						font-style:italic;
						font-size:12px;
						margin-left:60px;
				}
				
				
				#footer #disclaimer {border:none; height:auto; padding-right:25px;}
				#footer #footerlogo { width:100%; text-align:center; margin:0px; }
				#footer #footerlogo img {float:none;}
				
				#footerWrap {float:left; height:auto; width:100%; overflow:hidden;}
				#footerWrap .body ul {width:100%;}
				#footerWrap .body ul li {width:25%;}
				#footerWrap .body a.thl-logo {background-image:none; width:100%; border:none; background-color:transparent;}
				#footerWrap .body a.thllogos {background-image:none; width:100%; border:none; background-color:transparent;}
				
				#footerWrap .body a.thl-logo span.thl {margin-left:20px;}
				
				#footerWrap .body span.privacy {width:100%; text-align:center; margin-bottom:20px;}
				
				
				#ui-id-1 { width:144px;}
				#ui-id-2 { width:184px;}
				#ui-id-3 { width:85px;}
				#ui-id-5 { width:184px;}
				#ui-id-6 { width:184px;}
				#ui-id-7 { width:78px;}
				#ui-id-8 { width:78px;}
				
				
            }   
			*/


#crossSell,#sortPanel .header .right .alternative-currency { display: none; }

a.mobileMenu { display: none !important; }

#selectorPanel .ui-widget { font-size: 0.8em; }

#selectorPanel { line-height: 20px; }

