﻿button::-moz-focus-inner {
  border: 0;
}

#catalogContainer .VehicleItem  .Top span {
    display: block;
    float: left;
    clear: both; 
    width: 290px; 
    font-size: 11px;    
}

#catalogContainer .VehicleItem  .Top, .VehicleItem  .LeftLnk {
    float: left;
}

#catalogContainer .VehicleItem .Err  {
   display: none;
}


#catalogContainer .VehicleItem div.Limited .AALink a {
    -moz-background-clip: border;
    -moz-background-origin: padding;
    -moz-background-size: auto auto;
    background-attachment: scroll;
    background-color: transparent;
    background-image: url("../images/b2b/buttons/btn_matrix.png");
    background-position: 0 -1039px;
    background-repeat: no-repeat;
    color: #F58220;
    display: block;
    height: 64px;
    margin-left: 13px;
    overflow-x: hidden;
    overflow-y: hidden;
    text-indent: -9999px;
    width: 160px;
}

