﻿/* Reset */

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,select ,textarea,p,blockquote { 
	margin:0;
	padding:0;
	font-family:Verdana;
}

li {
    list-style-type: none; 
}


/* Booking control */

#sslSeal {
    width : 130px;
    height : 70px;
    float : left;
    padding : 6px;
}

#sslSeal span {
	/*background :url(../images/icons/go_daddy_holdingimage.gif) no-repeat  0 0; add transp */
    float : left;
    display : block;
    margin: 14px 0 0 22px;
	width:120px;
	height:87px;
}


#bookingControl {
    width : 575px;
    height : 75px;    
    float : left;    
    padding:6px;
}

#vehicleConfigureContainer #bookingControl {
    height : 35px;
}

* html #bookingControl
{
    margin: 40px 0 0 30px;
    padding:0;
    clear:none;
}

* html #breadCrumbs ul  {  
   margin:0;
   padding:0;
}

* html #vehicleCatalogContainer {
    
    margin-left: 0px;
}

* html .ShowPriceList {
    width: 120px !important;
}

* html .VehicleImages {
    width: 200px !important;
}

* html .VehicleHeader {
    width: 320px !important; 
}

* html #travelDetails {
    width: 320px !important;
}

* html #depositPanel em {
    width: 180px !important;
}

#bookingControl div.CtrlCol {
    float : left;    
}

#bookingControl #leftCol {
    width : 170px;
}

#bookingControl #leftCol span {
    margin-bottom : 6px;
}

#bookingControl #centreCol {
    width : 180px;
}
#bookingControl #centreCol span {
    float : right;
    margin-bottom : 2px;
}

#bookingControl #rightCol {
    width : 205px;
    margin-bottom : 2px;
    margin-left : 6px;
}

#bookingControl #centreCol span.TimeSpan {
    width: 180px;     
}

* html #bookingControl #centreCol span.TimeSpan option {
     display : none;
}

#bookingControl select, #bookingControl input {
    font-size: 10px;        
}

#bookingControl span {
    display : block;   
    font-size:10px;
}

#bookingControl #centreCol span {
    float : right;
}

#bookingControl #centreCol .Splash {
    display : none;
}

/* toggle splash mode */
#bookingControl.SplashMode #centreCol .Splash {
    display : block;  
}
#bookingControl.SplashMode #centreCol .Splash select {
    width : 180px;
}

#bookingControl.SplashMode #centreCol .Model {
    display : none;
}

#bookingControl #ctrlSearchBox_dropVehicleType {
    width : 123px;
}

#bookingControl #ctrlSearchBox_dropCountryOfResidence {
    width : 180px;
    /*display: none;*/
}


#bookingControl #ctrlSearchBox_calPickUp_DateText, #bookingControl #ctrlSearchBox_calDropOff_DateText {
   width : 80px; 
}

#bookingControl #ctrlSearchBox_dropPickUpTime, #bookingControl #ctrlSearchBox_dropDropOffTime {
    width : 92px;
}

#bookingControl select.LocationDD {
    width : 108px;
    margin-bottom : 2px;
}

#bookingControl #leftCol .SingleType
{
    visibility: hidden;
}

#bookingControl #rightCol .Passengers span {
    float : left;
}

#bookingControl #rightCol .Passengers select {
  /*  width: 40px; */
}

#bookingControl #rightCol .Passengers .LeftPass {
    width : 97px;
    float : right;
    text-align:right;
}

#bookingControl #rightCol .Passengers .RightPass {
    width : 108px;
    text-align : right;
}

#bookingControl #rightCol #bottomRight {
    width : 205px;    
}

#bookingControl #rightCol span {
    margin-bottom : 2px;
}

#bookingControl #rightCol #bottomRight #locationsPanel { 
    float: left;
    display : block; 
    width: 110px;
}

#bookingControl #rightCol #bottomRight a {
    float : right;
    display : block;    
}
/* Booking control Ends*/

/*reset on demo page (both instances) */
#HorizontalControlContainer .SearchBox_FullListBox {
    margin: 0;
}

#HorizontalControlContainer .CofR{
    /*display: none;*/
}

/* Selection Page */
#vehicleCatalogContainer .VehicleItem div.Err {
    background : #fff1a3 url(../images/icons/exMarkAvailRow.gif) no-repeat  0 0;
    height:48px;
    width: 427px;
    padding:5px 0 0 33px;
    color: #33335a;
    font-size : 11px;  
    display : none;
	border:#2eb3d2 1px solid;
}

#vehicleCatalogContainer .Blocking .Err {
    display: block !important;
}

#vehicleCatalogContainer .Blocking .Limited {
    display: none;
}

* html #vehicleCatalogContainer .Limited div span {
    width: 300px !important;
} 


#vehicleCatalogContainer .VehicleItem div.Limited {
    float: left;
    margin-left: 5px;   
}

#vehicleCatalogContainer .VehicleItem div.Limited .Top a {/* remove to brand css? */
    color:#206E81;
    font-size:13px;
    display: block;
    float: left;
    text-decoration: none;   
}

#vehicleCatalogContainer .VehicleItem div.Limited .Top a.Quest {
    background : #fff url(../images/icons/quest.gif) no-repeat  0 0;
    overflow : hidden;
    text-indent: -1000px;
    width: 15px;
    height: 15px;
    margin-left: 2px;
}

div.HasResults #emptySelectionMsg {
    display: none;
}

#vehicleCatalogContainer #emptySelectionMsg {
    float: left;    
}

#vehicleCatalogContainer #emptySelectionMsg span {
    display: block;
    float: left;
	margin:20px 0 40px 0;
	width:760px;
	text-align:center;
    font-size: 11px;
}

#vehicleCatalogContainer .VehicleItem img.RowLogo {
    float: left;
    display: none;
}

.PriceDetailsList table.chargesTable {
    width:675px;
}


#vehicleCatalogContainer .VehicleItem div.Limited .Top span  {
    display : block;
    float : left;
    width: 290px;
}

#vehicleCatalogContainer .VehicleItem div.Limited .Top .Contact {
    clear: both;
    float : left;
    font-size: 11px;
    color: #000;
}

#vehicleCatalogContainer .VehicleItem div.Limited .EmailLink {
    width :120px;
    text-align : center;    
}

#vehicleCatalogContainer .VehicleItem div.Limited .EmailLink a {
    color:#302B6F;
    font-size:11px;
    text-decoration : none; 
}

#configurePanel .Total small, #configurePanel .total em {
    font-weight: bold; 
}

#allInclusivePanel ul li {
    margin-left: 45px;
    font-size: 11px;
}

#allInclusivePanel li {
    
    /*list-style-type: circle;  */  
}

#insurancePanel tr.IsInclusive {
    display : none;
}

div.InclusiveOn table {
    display : none;
}

div.InclusiveOn #inclusiveSelectedTxt {
    display: block !important;
}

#inclusiveSelectedTxt {
    display: none !important;
    clear: both;
}

#ferryPanel.Hide {
    display:none;
}

#configureUpdatePanel .TaxMsg big {
    float: right;
    display: none;
    font-size: 11px;
    margin-right: 30px; 
}

#configureUpdatePanel .HasAdminFee small {
    display: none;
}

#configureUpdatePanel .HasAdminFee big {
    display: block;
}

#configureUpdatePanel #alternateCurrency {
    display:none;
    color: #999; 
}


#resultsHeader select {
    width: 172px;
    font-size: 10px;
}

div.DiscountedDaysPopUp {
    display: none;
}

#tooltip {
	position: absolute;
	z-index: 3000;
	background-color: #eee;
	padding: 5px;
	opacity: 0.95;
	border: solid 1px #000; 
    -moz-border-radius-bottomleft:5px;
    -moz-border-radius-bottomright:5px;
    -moz-border-radius-topleft:5px;
    -moz-border-radius-topright:5px;
    padding:5px 10px 15px;
}

#tooltip h3, #tooltip div { margin: 0; }

#topHeader {
    width: 750px !important;
}

#topHeader .CurrencyPanel select, #topHeader .CurrencyPanel small {
    font-size: 11px;
}

/* Payment Page */
tr.NoSurcharge {
    display: none !important;
}

#footerPanel .Buttons label.Error {	
	display: block; 
}

#footerPanel .Buttons label {
	font-size: 11px;
	 color: Red;
	 float: left;
	 clear: none !important;
	 display: none; 
	 width: 300px;
}


#disclaimer span {
    float: left;
    clear: both;
    width: 760px;
}


#paymentPanel .Submitting .Buttons {
    background : #fff url(../../images/tiles/ajax-loader.gif) no-repeat  228px 9px;
}

#paymentPanel #creditCardDetails #sealPanel {
    float: right;
	background :url(../../images/icons/go_daddy_holdingimage.gif) no-repeat  0 17px;
    display : block;
	width:140px;
	height:107px;
}

#paymentPanel #macTerms {
    display: none;
}


#totalPricesPanel big, #totalPricesPanel small {
	width: 200px !important;/*IE*/
	clear: both;
}

#depositPanel .left big, #depositPanel .left small {
	width: 480px !important;
}

.PayFull big.PayDeposit, .PayFull small.PayDeposit {
	display: none;
}

.PayFull big.PayFull, .PayFull small.PayFull {
	display: block;
	clear: both;
	width: 100px !important;
}

.PayFull  tr.PayDeposit {
	display: none;
}

#depositPanel big.PayFull {
    display: none;
}

.PayFull #depositPanel big.PayFull {
    display: block;
}

#depositPanel em {
    float: right;
    clear: both;
    display: block;
    font-style: normal; 
}

/* Email form */

#customerTitleDD {
    float: left;
}

/* Confirmation */

div.Confirmation {
    font-size: 12px !important;
}

.Confirmation #travelDetails td.tc, #travelDetails td.tc, #rentalSum td.rt, #paymentDet td.rt, #contactUs td.tc, #yourDetails td.tc {
    width: 210px;
}

#rentalSum td.rp, #paymentDet td.rp {
    width: 410px;
}

#confirmationPanel #ConfText, #confirmationPanel #onRequest {
    width: 550px !important;
}

#confirmationPanel #ConfText p, #confirmationPanel #onRequest p {
   margin: 20px; 
}

#confirmationPanel #ConfText p big, #confirmationPanel #onRequest p big  {
    color:#206E81;   
    font-size:14px;
    font-weight:bold;
    width: auto;
    float: none;
}

#printLinkDiv { 
    float: left;
    width: 150px !important;
}

#printLinkDiv img {
    margin: 40px 0px 40px 20px;
    float: left;    
}

#printLinkDiv a {
    display: block;
    float: left;
    width: 140px; 
    height: 24px;
    overflow:hidden;
    text-indent:-1000px;
    text-transform:capitalize;
}

#travelDetails td {
    margin-top: 5px;
    vertical-align: top;
}

#rentalSum table, #paymentDet table, #travelDetails table, #yourDetails table, #contactUs table {
    width: 730px !important; 
    margin-left: 20px;   
}

#rentalSum tr.total {
    background-color: inherit; 
}

#rentalSum tr td.price, #paymentDet tr td.price {
    text-align: right;
}

#contactUs div {
    margin: 10px 0 10px 20px;
}

#feedBack span  {
    float: left;
    display: block;
    margin: 0 20px 20px 20px;
}

#feedbackForm p, #feedbackForm div {
    float: left;
    display: block;
    margin-left: 20px;
}

#feedbackForm div table {
    float: left;
    display: block;
    margin: 0;   
}

#feedbackForm table td {
    text-align: center;
    width: 10px !important;
    height: 5px !important;  
}

#feedbackForm table td  label, #feedbackForm table td input {
    width: 20px;
}

div.Confirmation #contactUs {
    margin-bottom: 40px;
    
}

div.Confirmation #contactUs table {
    clear: both;
    float: left;
}

#paymentContainer div.Hide {
    display: none;
}

#completedMessage {
    float: left;
    background-color: #fff;
    width:700px;
}

#completedMessage span, #completedMessage big {
    float : left;
    clear: both;
    margin: 10px 0 10px 20px;
}

/* confirmation */
#paymentDet {
    padding-bottom: 20px;
}

#configureUpdatePanel .Submit input {
     cursor: pointer;
}

#footerPanel input {
     cursor: pointer;
}

.Confirmation #sealPanel {
    width: 135px;
    height: 105px;
    background :url(../../images/icons/go_daddy_holdingimage.gif) no-repeat  0 10px;
}

.Confirmation a.contactUsLink {
    font-size: 12px;
}

#emailForm #sealPanel {
    float: right;
    width: 70px;
}
#emailForm #infoPanel {
    width: 680px;
}

.BlankConfirmation #paymentPanel #yourDetails, .BlankConfirmation #paymentPanel #travelDetails, .BlankConfirmation #paymentPanel #rentalSum, .BlankConfirmation #paymentPanel #paymentDet, .BlankConfirmation #printLinkDiv {
    display: none;
}

/* save Quote */
#configureUpdatePanel #saveQuoteLnk {   
    float: right;
    margin-right: 20px;
    width:144px;
    height: 23px;
    overflow: hidden;
    text-indent: -1000em; 
    /*display :none;*/	  
}
/*
#configureUpdatePanel #saveQuoteLnk:hover {
     background-position: -200px -240px;
}

.quote #submitQuoteLnk:hover {
    background-position: -200px -240px;
}
*/

#quoteForm {
    color: #fff;
}

#quoteForm span {
     display: block;
     float: left;
     clear: both;
     margin: 4px 0 20px 50px;
}

#quoteForm ul {
    float: left;
    display: block;
}

#quoteForm ul li p {
    float: left;
    display: block;
    height: 24px;
}

#quoteForm ul li label {
    display: block;
    float :left;
    width :100px;
    height:20px;
    text-align: right;
    margin-right: 3px;
    line-height: 22px;
}

#quoteForm ul li input {
    width: 208px;
}

/*
.quote  table.PayementTotal, .quote #paymentDet, .quote #termsAndConditions, .quote #payTotalPanel, .quote #depositPanel  {
    display: none;
}
*/

#quoteDisclaimer {
    float: left;
   margin-bottom: 20px !important; 
    
}

#contactUs table td {
    font-size : 11px;
}

#quoteDisclaimer span {
    margin: 10px 0 0 50px;
    display: block;
}


#printQuoteLnk
{
    background-position:-600px 0 !important;
}

#printQuoteDiv {
    width : 150px !important;
    background-image: none !important;    
}

#printQuoteDiv #sealPanel {
	background-image: none !important; 
}

#printQuoteDiv a {
    
    display: block;
    float: left;
    width: 140px; 
    height: 24px;
    overflow:hidden;
    text-indent:-1000px;
    text-transform:capitalize;
}

#printQuoteDiv img {
    margin: 40px 0px 40px 20px;
    float: left;   
}


#printQuoteDiv #searchAgainLnk {
    display: block;
    float: left;
    width: 140px; 
    height: 24px;

} 
/* Save Quote Ends */


a.priceMatch {
	visibility:hidden;
	width: 100px;
	height: 87px;
	display:block;
	float:left;
}

#catalogHeader span.ContactInfo {
	width: 330px !important;
	float:right !important;
}

#ferryPanel span.ferryDisc {
    font-size: 11px;
    display: block;
    margin-left:10px;    
}

#ferryPanel td.desc small {
    font-size: 11px;
    margin-left: 5px;
}

#submitExpiredQuote {
    font-size: 11px;
}

#submitExpiredQuote a {
    display: block;
    float: left;    
    text-indent: -1000em;
    overflow: hidden; 
    margin-left: 20px;    
}


#submitQuoteLnk {
    float: right;
    background-position: -200px -160px !important;
}

#submitExpiredQuote div, #submitExpiredQuote small {
    float: left;
    display:block;
}

#submitExpiredQuote small { 
    width: 20px;    
    height: 40px;
    line-height: 34px;
    text-align: center;
    margin-left: 20px;
    font-size: 11px;
}

#submitExpiredQuote span{
    width: 120px;
}

#expiredQuoteForm .expired {
    height: 520px;
}

.quote td.price small {
   /* float: right !important;*/
}
.saveQuote .PayementTotal {
   display: none;
}

.quote #paymentDet {
    display: none;
}

.ccAU #ferryPanel {
    display: none;
}

#expiredQuoteForm .NoAvailability #searchVehicle, #expiredQuoteForm .NoAvailability #orLabel{
    display: none;
}

.quote #insuranceAgeSelector {
    /*display: none;*/
}

#quoteDisclaimer {
    height: 65px !important;
}

#bookingControl .botCol
{
    float: left;
    clear: left;
    width: 100%;
    display:block;
}

#bookingControl .crossSell
{
    display:block;
    float: left;
    background: url('../../images/crosssell/cs-background.png') repeat-x scroll 0pt 0pt transparent;
    margin-left: 16px;
    padding: 10px;
}

#bookingControl.Aggregator .botCol
{
    display:none;
}

#bookingControl .crossSell .crossSellBrand
{
    display:block;
    float:left;
    height: 23px;    
    background: url('../../images/crosssell/cs-logos.png') repeat scroll 0px 0pt transparent;    
}

#bookingControl .crossSell .crossSellBrand.all
{
    display: block;
    float: left;
    width: 120px;
}
#bookingControl #rightCol
{
    position:relative;
}

#ctrlValidationMsg
{
    position: absolute;
    bottom: 0px;
    right: 0px;
}
#bookingControl.Aggregator #ctrlValidationMsg
{
    top:25px;
}

#vehicleConfigureContainer #bookingControlContainer #bookingControl .botCol
{
    display: none;
}
#vehicleConfigureContainer #bookingControlContainer #bookingControl #rightCol #bottomRight a
{
    display:block;
    
}

#vehicleConfigureContainer span.CofR { display:none; }/* no CofR for Configure */

.PriceDescription .promo big { font-size:11px; }
.PriceDescription .promo small { font-size:9px; line-height:11px; }

.PriceDescription .promo big, .PriceDescription .promo small {
	float: left;
	clear: both;
	width: 180px;
}

 #bookingControl .spinner {
	height: 24px;
	width: 24px;
	overflow: hidden;
	position: relative;
	float: right;
	margin-right: 5px;
	
}