﻿
/* SEARCH BOX */
.SearchBox_Wrapper
{
	width: 210px;
}
.SearchBox_Content
{
	background-color: #003333;
	background-repeat: repeat-x;
	text-align: left;
}
.SearchBox_TableWrapper
{
	width: 190px;
	margin: 0px 0px 0px 7px;
	text-align: left;
}
.SearchBox_Table
{
}
.SearchBox_Button
{
	margin-bottom: 11px;
}
.SearchBox_Tabs
{
}
.SearchBox_Tab
{
}
.SearchBox_Line
{
	height: 1px;
	color: #B0E6F2;
	background-color: #B0E6F2;
	border: none;
	margin-top: 8px;
}


.SearchBox_Subtitle
{
	color: #F9F9F9;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	margin-top: 2px;
}

.SearchBoxLabel 
{
	margin: 5px 0px 0px 0px;
	color: #ffffff;
	font-family: Arial;
	font-size: 11px;
    text-align: left;
}
.SearchBox_Spacer
{
	height: 6px;
}
.SearchBox_Title
{
	color: #F9F9F9;
	font-family: Helvetica, Verdana, Arial;
	font-size: 14px;
	font-weight: bold;
}

.SearchBox_VehicleRow
{
	display: none;
}
.ErrorTable
{
	background-color: #F9FAF2;
	padding-left: 10;
	padding-right: 10;
	padding-top: 3;
	padding-bottom: 3;
	border-style: solid;
	border-width: 1px;
	border-color: #E95F40;
}

.SearchBoxLabelSmall
{
	color: #000000;
	font-family: Verdana, Arial;
	font-size: 10px;
}
.ErrorLabel
{
	font-family: Verdana, Arial;
	font-size: 10px;
}
.SearchBox_TimeListBox
{
	font-family: Verdana, Arial;
	font-size: 11px;
	width: 90px;
	margin-left: 10px;
	height: 19px;
}
.SearchBox_AdultsListBox
{
	font-family: Verdana, Arial;
	font-size: 11px;
	width: 90px;
}
.SearchBox_ChildrenListBox
{
	font-family: Verdana, Arial;
	font-size: 11px;
	margin-left: 10px;
	width: 93px;
}
.SearchBox_FullListBox
{
	font-family: Verdana, Arial;
	font-size: 11px;
	width: 194px;
}
.SearchBox_CalTextBox
{
	font-family: Verdana, Arial;
	font-size: 11px;
	width: 90px;
}
.SearchBox_BottomDiv
{
}

