﻿BODY {
	BACKGROUND-COLOR: white; Margin:0,0,0,0;
	margin-top:16px;
	margin-left:16px;
}
H1 {
	COLOR: #999999
}
H2 {
	COLOR: #999999
}
H3 {
	COLOR: #999999
}
H4 {
	COLOR: #999999
}
H5 {
	COLOR: #999999
}
TH {
	COLOR: #666666
}
THEAD {
	COLOR: #666666
}
TFOOT {
	COLOR: #666666
}
H1 {
	FONT-WEIGHT: 700; FONT-SIZE: 2em; WORD-SPACING: normal; TEXT-TRANSFORM: none; FONT-STYLE: normal; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; LETTER-SPACING: normal; TEXT-DECORATION: none
}
H2 {
	FONT-WEIGHT: 700; FONT-SIZE: 1.75em; WORD-SPACING: normal; TEXT-TRANSFORM: none; FONT-STYLE: normal; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; LETTER-SPACING: normal; TEXT-DECORATION: none
}
H3 {
	FONT-WEIGHT: 500; FONT-SIZE: 1.58em; WORD-SPACING: normal; TEXT-TRANSFORM: none; FONT-STYLE: normal; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; LETTER-SPACING: normal; TEXT-DECORATION: none
}
H4 {
	FONT-WEIGHT: 500; FONT-SIZE: 1.33em; WORD-SPACING: normal; TEXT-TRANSFORM: none; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; LETTER-SPACING: normal; TEXT-DECORATION: none
}
H5 {
	FONT-WEIGHT: 700; FONT-SIZE: 1em; WORD-SPACING: normal; TEXT-TRANSFORM: none; FONT-STYLE: normal; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; LETTER-SPACING: normal; TEXT-DECORATION: none
}
DT {
	FONT-WEIGHT: 700; FONT-SIZE: 1em; WORD-SPACING: normal; TEXT-TRANSFORM: none; FONT-STYLE: normal; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; LETTER-SPACING: normal; TEXT-DECORATION: none
}
H6 {
	FONT-WEIGHT: 700; FONT-SIZE: 0.8em; WORD-SPACING: normal; TEXT-TRANSFORM: none; FONT-STYLE: normal; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; LETTER-SPACING: normal; TEXT-DECORATION: none
}
TFOOT {
	FONT-SIZE: 1em; WORD-SPACING: normal; TEXT-TRANSFORM: none; FONT-FAMILY: Arial, Helvetica, sans-serif; LETTER-SPACING: normal
}
THEAD {
	FONT-SIZE: 1em; WORD-SPACING: normal; TEXT-TRANSFORM: none; FONT-FAMILY: Arial, Helvetica, sans-serif; LETTER-SPACING: normal
}
TH {
	FONT-WEIGHT: bold; FONT-SIZE: 1em; WORD-SPACING: normal; VERTICAL-ALIGN: baseline; TEXT-TRANSFORM: none; FONT-FAMILY: Arial, Helvetica, sans-serif; LETTER-SPACING: normal
}
A:link {
	COLOR: #333333; TEXT-DECORATION: underline
}
A:visited {
	COLOR: #333; TEXT-DECORATION: underline
}
A:active {
	COLOR: #333333; TEXT-DECORATION: underline
}
A:hover {
	COLOR: #999999; TEXT-DECORATION: underline
}
SMALL {
	FONT-SIZE: 0.7em
}
BIG {
	FONT-SIZE: 1.17em
}
BLOCKQUOTE {
	FONT-FAMILY: Arial, Helvetica, sans-serif
}
PRE {
	FONT-FAMILY: Arial, Helvetica, sans-serif
}
UL LI {
	LIST-STYLE-TYPE: none
}
UL LI LI {
	LIST-STYLE-TYPE: circle
}
UL LI LI LI {
	LIST-STYLE-TYPE: circle
}
OL LI {
	LIST-STYLE-TYPE: decimal
}
OL OL LI {
	LIST-STYLE-TYPE: lower-alpha
}
OL OL OL LI {
	LIST-STYLE-TYPE: lower-roman
}
.RowHeading {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #333333; LINE-HEIGHT: normal; FONT-STYLE: normal; FONT-FAMILY: Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #cccccc; TEXT-DECORATION: none
}
.LightRowHeading {
	FONT-SIZE: 12px; COLOR: #333333; LINE-HEIGHT: normal; FONT-STYLE: normal; FONT-FAMILY: Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #cccccc; TEXT-DECORATION: none
}
.SelectedRowHeading {
	FONT-WEIGHT: bold;FONT-SIZE: 12px; COLOR: #FFFFFF; LINE-HEIGHT: normal; FONT-STYLE: normal; FONT-FAMILY: Arial, Helvetica, sans-serif; BACKGROUND-COLOR: Gray; TEXT-DECORATION: none
}
.CellHeading {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #333333; LINE-HEIGHT: normal; FONT-STYLE: normal; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
A.CellHeading:link {
	COLOR: #333333; TEXT-DECORATION: underline
}
A.CellHeading:visited {
	COLOR: #333333; TEXT-DECORATION: underline
}
A.CellHeading:active {
	COLOR: #333333; TEXT-DECORATION: underline
}
A.CellHeading:hover {
	COLOR: #999999; TEXT-DECORATION: underline
}
.Normal {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; COLOR: #333333; LINE-HEIGHT: normal; FONT-STYLE: normal; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.normal {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; COLOR: #333333; LINE-HEIGHT: normal; FONT-STYLE: normal; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}

.NormalDDL {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; COLOR: #333333; LINE-HEIGHT: normal; FONT-STYLE: normal; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none;white-space:nowrap;
}

.NormalDDL label 
{
    width:100%;
    overflow:hidden;
    white-space:nowrap;
    vertical-align:text-bottom;
    padding-top:4px
}

.NormalDDL input
{
    float:left;
    vertical-align:text-bottom;
}

.DatagridHeading {
	FONT-WEIGHT: bold;
	FONT-SIZE: 11px;
	COLOR: #333333;
	LINE-HEIGHT: normal;
	FONT-STYLE: normal;
	FONT-FAMILY: Arial, Helvetica, sans-serif;
	BACKGROUND-COLOR: #CCCCCC;
	TEXT-DECORATION: none;
	text-align: center;
	vertical-align: middle
}
A.DatagridHeading:link {
	COLOR: #333333; TEXT-DECORATION: underline
}
A.DatagridHeading:visited {
	COLOR: #333333; TEXT-DECORATION: underline
}
A.DatagridHeading:active {
	COLOR: #333333; TEXT-DECORATION: underline
}
A.DatagridHeading:hover {
	COLOR: #666666; TEXT-DECORATION: underline
}
.DatagridItem {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #333333; LINE-HEIGHT: normal; FONT-STYLE: normal; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.Warning {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; COLOR: red; LINE-HEIGHT: normal; FONT-STYLE: normal; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.warning {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; COLOR: red; LINE-HEIGHT: normal; FONT-STYLE: normal; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}

.GrossNettLabel {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; COLOR: black; LINE-HEIGHT: normal; FONT-STYLE: normal; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none; white-space: nowrap;
}
.GrossNettLabel label {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; COLOR: black; LINE-HEIGHT: normal; FONT-STYLE: normal; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none; white-space: nowrap;
}


.stdconfirmationheading{
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #333333; LINE-HEIGHT: normal; FONT-STYLE: normal; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.StdConfirmationHeading{
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #333333; LINE-HEIGHT: normal; FONT-STYLE: normal; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}

.Table {
	BACKGROUND-COLOR: #CCCCCC
}
.CellHeading2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	color: #333333;
	text-decoration: none;
	background-color: #999999;
}
A.CellHeading2:link {
	COLOR: #333333; TEXT-DECORATION: underline
}
A.CellHeading2:visited {
	COLOR: #333333; TEXT-DECORATION: underline
}
A.CellHeading2:active {
	COLOR: #333333; TEXT-DECORATION: underline
}
A.CellHeading2:hover {
	COLOR: #666666; TEXT-DECORATION: underline
}
.Nav {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
	text-align: center;
	vertical-align: middle
}
A.Nav:link {
	COLOR: #FFFFFF; TEXT-DECORATION: none
}
A.Nav:visited {
	COLOR: #FFFFFF; TEXT-DECORATION: none
}
A.Nav:active {
	COLOR: #FFFFFF; TEXT-DECORATION: none
}
A.Nav:hover {
	COLOR: #999999; TEXT-DECORATION: underline
}
.NavBckgrd {
	background-color: #da471f;
}

.PriceAndAvailabilityRow 
{
	
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: normal;
	line-height: normal;
	
	color: #333333;
	text-decoration: none;
	background-color: #F3F3F3;	
	}

.HeaderWhite{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	color: #da471f;
	text-decoration: none;
	text-align: right;
	vertical-align: middle;
	background-color:white;
}


/* Top Menu Layout */
.AspNet-Menu-Horizontal {
    background-color:#da471f;
    color:#fff;
    font:1em Arial,Helvetica,sans-serif;
    }
.AspNet-Menu-Horizontal a {
    color:#fff;
    text-decoration:none;
    font-weight:bold;
    }
.AspNet-Menu-Horizontal a:hover, .AspNet-Menu-Horizontal a:active {
    color:#ffc20e;
    text-decoration:underline;
    }
.AspNet-Menu-Horizontal ul {
    list-style:none;
    margin:0;
    padding:0 0 0 10px;
   
    width:740px;
}

.AspNet-Menu-Horizontal ul li {
    float:left; 
    margin-right:30px;
    padding:2px;
}

.AspNet-Menu-Horizontal ul li.logoff {
    float:right; 
    padding:2px;
    margin-right:10px;
}
.AspNet-Menu-Horizontalul li.logoff {
    float:right; 
    padding:2px;
    margin-right:10px;
}
#zz1_GlobalNav 
{
	float:left;
	width:55%;
	line-height:8px;
	padding-top:2px;


 } 
 #existing_GlobalNav 
{
	float:left;
	width:40%;
	line-height:8px;
	padding-top:2px;

	
 } 
 #menuContainer
 {
 width:750px;
 line-height:10px;
 }
#Table2 td select {
	font-family:Arial, Helvetica, sans-serif;
	font-size:10pt;
}
 
/* B2B Options */
.B2BOptions
{
	
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: normal;
	line-height: normal;
	
	color: #333333;
	text-decoration: none;
	/*background-color: #F3F3F3;	*/
}
.ExchangeRate
{
	width:400px;
} 

.ExchangeRate INPUT[type="text"]
{
	width:75px
}

.ExchangeRate INPUT[READONLY]
{
	background-color:#C0C0C0;
	border:solid 1px black;
	text-align:right;	
}

.ExchangeRate TH
{
	text-align:left;
	background-color:Gray;
	color:White;
}

.oldNavLnk {
   float: right;
   color:#0083C8 !important;
   background-color:#fff;
   margin:3px 3px 0 0;
   padding: 2px; 
}

body {
    background-image: none !important;
}


/* SLOTS */
#pickuptimes { float:left; width:100%; margin:20px 0; padding-left:32px;}
#currentday { float:left; width:135px; height:106px; }
#currentday .date { font-size:20px; color:#e77b25; float:left; width:100%; margin-top:32px; }
#times { float:right; width:804px; }
#times .timeslots { float:left; width:25%; }
#times .timeslots .slots { display:inline-block; margin:5px; background:#FFF; position:relative; border:1px solid #d9d9d9; cursor:pointer; }
#times .timeslots .slots .time { float:left; width:35%; text-align:center; font-size:24px; margin-top:15px; padding:5px 5% 10px 5%; }

#times .timeslots .slots .time .ampm { float:left; width:100%; text-align:center; font-size:12px; text-align:center; text-transform:uppercase; }
#times .timeslots .slots .arrow { float:left; width:10%; text-align:center; }
#times .timeslots .slots .arrow .arrowhover
{
    display: block;
    width: 14px;
    height: 10px;
    margin: 25px auto 0;
    background: url('../Images/slotarrow.jpg') no-repeat 0 0;
    overflow: hidden;
}
#times .timeslots .availability { float:left; display:block; width:100%; text-align:center; padding:2px 0; text-transform:uppercase; color:#FFF;  border-top:1px solid #d9d9d9; } 

#times .timeslots .slots:hover { color:#FFF; }


#times .timeslots.unavailable .slots { color:#999; cursor:default; }
#times .timeslots.unavailable .slots .arrow .arrowhover { opacity:.5; }
#times .timeslots.unavailable .availability { background:#999; }
#times .timeslots.unavailable .slots:hover { background:#FFF; color:#999; }
#times .timeslots.unavailable .slots:hover .arrow .arrowhover { background-position:0 0; }

#times .timeslots.selected .slots { color:#FFF; background:#e77b25; }
#times .timeslots.selected .availability { font-weight:bold; }

#times .timeslots .availability{ background: #e77b25; } 
#times .timeslots .slots:hover{ background: #f09043; } 
#currentday .date{ color: #e77b25; } 
#times .timeslots.selected .slots:hover{ background:#e77b25; }
#times .timeslots.selected .slots{ background:#e77b25; }  

/*timeslot arrow*/
#times .timeslots .slots:hover .arrow .arrowhover { background-position:0 -10px; }
#times .timeslots.selected .slots .arrow .arrowhover { background-position:0 -20px; }
