<%@ Control Language="vb" AutoEventWireup="false" Codebehind="CompanyAddress.ascx.vb" Inherits="THLAuroraWebInterface.CompanyAddress" TargetSchema="http://schemas.microsoft.com/intellisense/ie5" %>
<TABLE id="Table1" cellSpacing="0" cellPadding="2" width="300" border="0" style="WIDTH: 300px; HEIGHT: 136px">
	<TR>
		<TD align="right" class="normal">
			<!--<TD align="right" class="StdConfirmationHeading">RENTAL CONFIRMATION</TD>-->
			<asp:Label id="lblStatusText" runat="server" CssClass="stdconfirmationheading"></asp:Label></TD>
	</TR>
	<TR>
		<TD style="HEIGHT: 21px" align="right" class="normal">
			<asp:Label id="lblCompany" runat="server"></asp:Label></TD>
	</TR>
	<TR>
		<TD align="right" class="normal">
			<asp:Label id="lblAddressLine1" runat="server"></asp:Label></TD>
	</TR>
	<TR>
		<TD align="right" class="normal">
			<asp:Label id="lblAddressLine2" runat="server"></asp:Label></TD>
	</TR>
	<TR>
		<TD align="right" class="normal">
			<asp:Label id="lblAddressLine3" runat="server"></asp:Label></TD>
	</TR>
	<TR>
		<TD align="right" class="normal">
			<asp:Label id="lblAddressLine4" runat="server"></asp:Label></TD>
	</TR>
	<TR>
		<TD align="right" class="normal">
			<asp:Label id="lblPhone" runat="server"></asp:Label></TD>
	</TR>
	<TR>
		<TD align="right" class="normal" nowrap>
			<asp:Label id="lblURL"  runat="server"></asp:Label>

		</TD>
	</TR>
</TABLE>
