﻿html {
	min-width:800px;
}

body {
	background:#e6e5e6 url(../../images/c/tiles/body_bg.gif) repeat-x scroll left top;
	min-width:800px;
}

#vehicleSelectionContainer, #vehicleConfigureContainer, #paymentContainer {
    margin-left:auto;
    margin-right:auto;
    text-align:left;
    width: 800px;    
    border: solid 0px #fff;
}

/* Header */
#catalogHeader {
    float : left;
    width: 778px;
    height: 100px;
	margin-left:12px;	
	border-top:16px solid #36585c;
	background: #fff url(../../images/c/logo.jpg) no-repeat  0 0; height:118px;    
}

.selection #catalogHeader {
	cursor: pointer;	
}

#catalogHeader span.Image {
    display: none;
}
#catalogHeader span.Image a img
{
    border:none;
}
#catalogHeader span.ContactInfo {
    display: none;        
}

#catalogHeader span.ContactInfo a {
    text-decoration: none;
}

#catalogHeader span a {
    color:#36585C;
}

/* Booking Control */
#bookingControlContainer {
	background-color:#fff;
    float: left;
    width: 778px;
	margin-left:12px;
    height : 135px;    
	border-top:4px solid #36585c;
	border-bottom:4px solid #36585c;
}

#bookingControl #leftCol {
    width: 158px;
}

#bookingControl #leftCol span {
	text-align:right;
    margin-bottom: 6px;
    margin-right: 6px;
}

#bookingControl #leftCol span.required {
	font-weight:bold;
	}

/* crumbs panel */
#breadCrumbs {    
	background-color:#fff;
    float : left;
    width: 771px;
	padding-left:7px;
    height : 45px;
	margin-left:12px;
	margin-bottom:6px;
}

#breadCrumbs span.Crumbs {
    float : left;
    font-size : 11px;
    margin: 14px 0 0 20px;
}
#breadCrumbs span.Crumbs a {
    color: #E95F40;
    text-decoration: none; 
}

#breadCrumbs span.Crumbs a:hover {
    color: #36585C;
    text-decoration: underline; 
}

#breadCrumbs ul {
    float : right;
    display : block;
    margin : 14px 20px 0 0;
    width: 380px;
    height: 45px;
    font-size:9px;
} 

#stepsDisplayer li {
    padding :0;
    margin : 0;
    float : right; 
    height : 32px;
    width : 63px;  
	font-weight:bold;   
	color:#1E3D38;  
}

#stepsDisplayer span {
    display: block;
    float : right;
    height : 31px;
    width : 67px;
    background:transparent url(../../images/c/icons/wizard_stages.gif) no-repeat  0 0;
    padding-top: 16px;     
	text-align:center;
}

#stepsDisplayer #PaymentStep {
    background-position : -268px 0;    
}

#stepsDisplayer #ConfigureStep {
    background-position : -134px 0;    
}

#stepsDisplayer #SelectStep {
    background-position :0 0;  
	color:#E95F40;  
}

/* Catalog container */
#vehicleCatalogContainer {
	background:#e9eceb;
    float : left;
    width: 771px;
    margin-left: 12px;   
    padding-left:7px;
    padding-bottom: 6px;
}



* html #vehicleCatalogContainer {
    margin-left: 6px;
}

#vehicleCatalogContainer h2 {
    color:#1E3D38;
    font-size:18px;
    font-weight:bold;
    margin: 5px;
}

#vehicleSelectionContainer #HorizontalControlContainer {
	height: 135px !important;
	
}

#bookingControl .botCol .searchBtn {
	margin-top: 0 !important;
}

#HorizontalControlContainer .spinner {
	float: right;
	margin-right: 0 10px 0 0;
}

#bookingControl .botCol {
	margin-top: 0 !important;
}

#bookingControl .botCol  .crossSell {
	display: none !important;
}

#vehicleSelectionContainer #bookingControl {
	height: 85px !important;
	
}

#vehicleCatalogContainer .VehicleItem div.Limited .Top a {
	color:#E95F40 !important;
}

#vehicleCatalogContainer .VehicleItem div.Limited .Top a:hover {
	color:#36585C !important;
	text-decoration:underline;
}

#vehicleCatalogContainer .VehicleItem div.Limited .EmailLink{
	width:100px !important;
}

#vehicleCatalogContainer .VehicleItem div.Limited .EmailLink a {
	color:#E95F40 !important;
}

#vehicleCatalogContainer .VehicleItem div.Limited .EmailLink a:hover {
	color:#36585C !important; 
}

#vehicleCatalogContainer .VehicleItem div.Limited .Top span{ 
	width:265px !important;
}

#vehicleCatalogContainer .VehicleItem div.Limited .Top a.Quest { /* REMOVE FROM BASE.CSS */
	-moz-background-clip:border;
	-moz-background-inline-policy:continuous;
	-moz-background-origin:padding;
	background : #fff url(../../images/c/icons/questMark.gif) no-repeat  0 0 !important;
	height:15px;
	margin-left:2px;
	overflow:hidden;
	text-indent:-1000px;
	width:15px;
}

#resultsHeader {
    background-color: #fff;
    width: 760px;
    height:30px;
    font-size : 12px;
    color : #000;
}

#resultsHeader h3 {
    font-size : 11px;
    color : #000;
    font-weight : normal;
    float : left;
    width : 380px;
    margin : 8px;
}

#resultsHeader span {
    float : right;
    background-color: #fff;
    display : block;
    text-align: right; 
    margin:4px;   
}

#vehicleCatalog {
    display : block;
    width : 760px;
}

/* Vehicle Row */
#vehicleCatalog .VehicleItem {
    width : 754px;    
    float : left;
    border-top: solid 1px #dee4e4;  
}

#vehicleCatalog div.VehicleItem {
    float : left;  
    width : 754px;
    background-color: #fff;      
}

#vehicleCatalogContainer .VehicleItem img.RowLogo {
    display:block !important;
}

#vehicleCatalog .VehicleItem a.VehicleThumb {
    display : block;
    float : left;
    text-decoration : none;
    margin-left: 3px;
	margin-right:6px;
    border: 0;   
	width: 75px;                 
}

#vehicleCatalog .VehicleItem a.VehicleThumb img {
    border : 0;    
}

#vehicleCatalog .VehicleItem div {
    float : left;
    text-decoration: none;
}

#vehicleCatalog .VehicleItem div.VehicleFeatures {
    width: 214px;
    margin-left:3px;    
}

#vehicleCatalog .VehicleItem div.VehicleFeatures a {
    color:#E95F40;    
    font-size:18px;
    text-decoration : none; 
    display : block;      
}

#vehicleCatalog .VehicleItem div.VehicleFeatures a:hover, .ShowPriceList:hover {
    text-decoration : underline;
    color: #36585C !important;
}

#vehicleCatalog .VehicleItem div.PriceDescription {
    width: 196px;
    margin-left: 3px; 
}

#vehicleCatalog .VehicleItem div.PriceDescription a.Avail, #vehicleCatalog .VehicleItem div.PriceDescription a.OnRequest {
    color:#E95F40;
    font-size:13px;
    text-decoration : none;
    margin : 3px 0 3px 0;
    display : block;
}

#vehicleCatalogContainer .VehicleItem div.Limited {/*swap to not avail tile */
    float:left;
    width:380px;
    height:70px;
    /*background: transparent url(../../images/c/tiles/NotAvail.png) no-repeat  0 5px; */
}

#vehicleCatalogContainer .VehicleItem div.Limited div {
    /*display: none;*/
}


#vehicleCatalog .VehicleItem div.PriceDescription .AvgPrice {
    display : block;
    float : left;
    color : #7B7B7B;
}

#vehicleCatalog .VehicleItem .ShowPriceList, #configurePanel  .ShowPriceList {
    display : block;
    float : left;
    height : 15px;
    width: 170px;
    color : #E95F40;
    font-size: 10px;
    font-weight : normal;
    margin : 8px 0 3px 0;
    padding-left: 18px;
    background:transparent url(../../images/c/icons/price_list_expand.gif) no-repeat  0 0;
    cursor : pointer;
}

#vehicleCatalog .Collapse .ShowPriceList, #configurePanel .Collapse .ShowPriceList {
   background-position : 0 -15px;
}

#vehicleCatalog .Collapse .ShowPriceList a:hover {
    color: #36585C;
}

#vehicleCatalog .VehicleItem div.PriceDescription li {
    float: left;
    margin: 0;
    padding : 0; 
}

#vehicleCatalog .VehicleItem div.PriceDescription span {
    color:#8B8B8B;
    font-size:11px;
    display : block;
    float: left;
    clear: both;      
}

#vehicleCatalog .VehicleItem div.PriceDescription span.SavePrice {
    background:transparent url(../../images/c/tiles/saveBG.gif) no-repeat  0 0;
    height: 45px;
    width: 110px;
    color: #fff;    
}

#vehicleCatalog .VehicleItem div.PriceDescription span.SavePrice small {
    margin: 26px 0 0 10px;
    height:10px;
    width: 100px;
    float: left;
    clear: both;
	color:#36585C;
}


#vehicleCatalog .VehicleItem div.TotalPrice {
    width: 118px;   
}

#vehicleCatalog .VehicleItem div.TotalPrice li span {
    color:#000000;
    font-size:13px; 
	font-weight:bold;   
}

#vehicleCatalog .VehicleItem div.TotalPrice li span.Fp {
    color:#8B8B8B;
    font-family:Verdana;
    font-size:11px;
}

#vehicleCatalog .VehicleItem a.SelectBtn {
    display : block;
    float : left;
    width: 70px;
    height: 25px;
    margin-top: 5px;
    background:transparent url(../../images/c/icons/continue.gif) no-repeat  0 0;
    text-indent: -1000px;
    overflow: hidden;
    text-decoration: none; 
}

#vehicleCatalogContainer .VehicleItem div.Err {
    width: 260px;
    height : 60px;
    overflow: hidden;
}

/* details list */
#vehicleCatalog .Collapse div.PriceDetailsList {
    display : none;
} 

#vehicleCatalog div.PriceDetailsList {
    float : left;   
    color: #7A7A7A;
    background-color : #fff;
    width : 702px;
    padding-left:58px;    
}

#vehicleChargeDetails div.PriceDetailsList {
    float : left;   
    color: #7A7A7A;
    background-color : #fff;    
    margin : 0 18px 0 18px;
    clear : both;
    width : 725px;
}

#vehicleCatalog div.PriceDetailsList table {
    background-color:#f5f7f7;
    margin: 0 0 5px 80px;
	 width: 605px !important;
}

#configurePanel div.PriceDetailsList table {
  	background-color:#f5f7f7;
    width: 725px !important;
}

div.PriceDetailsList table tr.total {
    background-color: #e9eceb;
}

#vehicleCatalog div.PriceDetailsList th {
    font-size : 11px;
    font-weight: bold;
    height :34px;
    background-color : #e9eceb; 
    color: #666666; 
}

#vehicleChargeDetails div.PriceDetailsList th {
    font-size : 10px;
    font-weight: bold;
    height :34px;
    background-color: #e9eceb;
     color: #666666;
}

#vehicleCatalog div.PriceDetailsList td, #vehicleChargeDetails div.PriceDetailsList td {
    padding : 2px 2px 2px 5px;
}

#vehicleChargeDetails div.PriceDetailsList td {
    font-size : 10px;
}

#vehicleCatalog div.PriceDetailsList td.TotalTD, #vehicleChargeDetails div.PriceDetailsList td.TotalTD{
    font-weight : bold;
}

#vehicleCatalog div.PriceDetailsList th.RateTH {
    width: 220px;
}

#vehicleChargeDetails div.PriceDetailsList th.RateTH {
    width: 220px;
}

#vehicleCatalog div.PriceDetailsList th.FreeTH, #vehicleChargeDetails div.PriceDetailsList th.FreeTH{
    width: 90px;
}

div.NoFreeDays th.FreeTH, div.NoFreeDays td.fd {
    display: none;
}

#vehicleCatalog div.PriceDetailsList th.HireTH {
    width: 90px;
}


div.PriceDetailsList .popup {
    color: #E95F40;	
    cursor: pointer;
}

#vehicleChargeDetails div.PriceDetailsList th.HireTH {
    width: 145px;
}

/*#vehicleCatalog div.PriceDetailsList th.PerTH {
    width: 150px;
}
#vehicleChargeDetails div.PriceDetailsList th.PerTH {
    width: 154px;
}*/


#vehicleCatalog div.PriceDetailsList th.TotalTH {
    width: 80px;
}

 #vehicleChargeDetails div.PriceDetailsList th.TotalTH {
     width: 80px;
 }

#vehicleCatalog div.PriceDetailsList td, #vehicleCatalog div.PriceDetailsList td {
    font-size : 11px;    
}

#vehicleSelectionContainer #disclaimer, #vehicleConfigureContainer #disclaimer {
    font-size : 11px;
    margin-left : 20px;
}

#vehicleCatalog .VehicleItem div.TotalPrice li.Hide {
    display:none;
}

#vehicleCatalog .VehicleItem div.TotalPrice li.Fp span {
    color:#8B8B8B;
    font-size:11px;
	font-weight:normal;
}

/* Vehicle Row Branded */

#vehicleCatalog .VehicleItem span.BrandThumb  {
    display : block;
    float : left;
    text-decoration : none;                  
}

#vehicleCatalog li.Branded .VehicleItem div.PriceDescription span {
     font-size : 9px;
}

#vehicleCatalog li.Branded .VehicleItem div.PriceDescription {
    width: 180px; 
}

#vehicleCatalog div.VehicleItem {
    padding:12px 3px;
}

#vehicleCatalog .Step1A {
    float: left;
    width: 740px;
    background-color: #fff;
    font-size: 11px; 
    padding: 10px 0 10px 20px;   
}

#vehicleCatalog .Step1AWrap div {
     background-color: #fff1a3;
     font-size: 11px;     
}

/* Configure Page */
#vehicleConfigureContainer .CofR, #vehicleConfigureContainer .Radios, #vehicleConfigureContainer .Model, #vehicleConfigureContainer .Passengers {
    display : none;
}

#vehicleConfigureContainer #bookingControl #rightCol #bottomRight a {
    margin-top: 10px;
}
#vehicleConfigureContainer #bookingControl {
    margin-top:10px;
	margin-left:0px;
	height: 45px !important;
	
}






#vehicleConfigureContainer #ctrlValidationMsg {
    margin-top : 0;
} 

#vehicleConfigureContainer #bottomRight span {
    display : inline;
}

#vehicleConfigureContainer #stepsDisplayer #ConfigureStep {
    background-position:-67px 0 !important;
	color:#E95F40 !important;
}

#vehicleConfigureContainer #promptTextArea {
    float : left;
    width: 740px;
    height : 56px;
    background : #F5F7F7 url(../../images/icons/exMark.png) no-repeat  0px 0px;
    overflow : hidden;    
    margin:  5px 0 0 8px;
    border : solid 1px #36585C;
    font-size : 11px;
    color: #000; 
}

#vehicleConfigureContainer #promptTextArea span {
    margin: 10px 20px 0 50px;
    display :block;
}

#vehicleConfigureContainer #configurePanel {
    background-color: #fff;
    float: left;
    width : 760px;
}

#configurePanel .Hide{   
    display:none;
}

#vehicleConfigureContainer #topHeader {
    width: 760px;
    height : 34px;
    float : left;
    background-color : #fff;    
}

#vehicleConfigureContainer #topHeader small, #vehicleConfigureContainer #topHeader select, #resultsHeader small, #resultsHeader select {
    font-size: 11px;
}


#vehicleConfigureContainer #vehicleTopPanel {
    float : left;
    width: 760px;
    border-bottom: solid 1px #DEE4E4;
    margin-bottom : 10px;
	 padding-bottom : 10px;
}

#vehicleConfigureContainer #topHeader h3 {
    float : left;
    display :block;
    margin : 38px 0 0 14px; 
}

#vehicleConfigureContainer #topHeader span, #paymentPanel #topHeader span {
    float : right;
    display : block;
    margin : 5px 4px 5px 0;
}

#vehicleConfigureContainer #configurePanel div.VehicleHeader {
    width: 385px;
    float : left;
}

#vehicleConfigureContainer #configurePanel div.VehicleHeader div {
    float : left;
    clear: both;
    width: 100%;
}

#vehicleConfigureContainer #configurePanel div.VehicleHeader a {
    color:#E95F40;
	font-weight:normal;
    text-decoration: none;
}

#vehicleConfigureContainer #configurePanel div.VehicleHeader a:hover {
	color:#36585C;
    text-decoration: underline;
}

#vehicleConfigureContainer #configurePanel div.VehicleHeader h3 {
    font-size: 20px;
    margin-left:12px;
}

#vehicleConfigureContainer #configurePanel div.VehicleHeader h3, #vehicleConfigureContainer #configurePanel div.VehicleHeader h4, #vehicleChargeDetails h4, #insurancePanel h4, #hireItemsPanel h4, #ferryPanel h4 {
    color : #1E3D38;    
    padding-bottom : 10px;  
}

#vehicleConfigureContainer #configurePanel div.VehicleHeader span {
    display : block;
    font-size : 11px;
    margin: 5px 0 0 10px;
    float:left;
    width: 500px;          
}

#vehicleConfigureContainer #configurePanel div.VehicleImages {
    width: 375px;
    float : right;
}

#vehicleConfigureContainer #configurePanel div.VehicleImages .Left {
    float : left;
    width: 210px;
}

#vehicleConfigureContainer #configurePanel div.VehicleImages .Left img {
    float : right;
    clear : both;
}

#vehicleConfigureContainer #configurePanel div.VehicleImages .Right {
    float : right;
    margin-right:10px;
}


#vehicleChargeDetails {
    float: left;
    margin-bottom: 18px;
    padding-bottom:20px;
    border-bottom:1px solid #DEE4E4;
}

#configurePanel h4, ferryPanel h4{
    float :left;
    clear: both;
    font-size:14px;
    font-weight:bold;
    margin-left: 10px;
}

#configurePanel em {
    font-style:normal;
}

#vehicleConfigureContainer a.Quest {
    display : block;
    width: 16px;
    height: 16px;
    background : #fff url(../../images/c/icons/questMark.gif) no-repeat  0 0;
    float: left;
    overflow: hidden;
    text-indent: -1000px;
}

#vehicleChargeDetails a.PopUp {
    float: left;
}

#vehicleChargeDetails #ChargeHeader {
    float : left ;
    display : block;
    clear : both;
    width:100%;
}

#vehicleChargeDetails #ChargeHeader span.Title {
    width: 200px;
    height: 20px;
    display:block;
    float: left;
}

#vehicleChargeDetails #ChargeHeader span.Total {
   display:block;
    float: right;
    margin-right:38px;
    font-size: 13px; 
}


#vehicleChargeDetails a.ShowPriceList {
    width : 80px;
    margin: 0 0 0 10px;
    float: left;
}

#vehicleChargeDetails a.ShowPriceList:focus {
    -moz-outline-style: none;

}

#vehicleChargeDetails a.ShowPriceList:active {
    outline: none;
}

#vehicleChargeDetails.Collapse div.PriceDetailsList {/* on collapse */
    display : none;
}

#vehicleCatalog .VehicleItem div.PriceDescription a.Avail:hover, #vehicleCatalog .VehicleItem div.PriceDescription a.OnRequest:hover {
    text-decoration : underline;
    color: #36585C;
}


#vehicleChargeDetails #ChargeHeader small {
    font-size : 11px;
    float: left;
    margin-left: 74px; 
}

#vehicleChargeDetails #ChargeHeader span.Title {
    width: 360px;
    height: 20px;
    display:block;
    float: left;
}

#configureUpdatePanel .Total {
    width: 702px;
    line-height: 23px;
    background-color:#f9faf2;
    color:#f58220;
    font-size:17px;
    font-weight:bold;
    margin-top:15px;
}

#configureUpdatePanel .Total label {
    float : left;
}

#configureUpdatePanel .Total span.Price {
    float : right;
    clear : none; 
}

#allInclusivePanel{
    width : 725px;
    margin: 0 18px;
    float : left;
    clear: both ;   
}

#allInclusivePanel small, #insurancePanel td, #hireItemsPanel td {
    font-size:11px;
}

#allInclusivePanel td.cb, #insurancePanel td.cb, #hireItemsPanel td.cb, #ferryPanel td.cb {
    width:50px;
}

#allInclusivePanel td.desc, #insurancePanel td.desc, #hireItemsPanel td.desc {
    width:248px;
}

#allInclusivePanel td.desc small {
    display:block;
    float:left;
    margin-right:5px;
}
#allInclusivePanel td.days, #insurancePanel td.days, #hireItemsPanel td.days {
    width: 68px;
}

#insurancePanel td.price, #hireItemsPanel td.price {
    width: 250px;
}

#hireItemsPanel td.price  .max { float: right; margin-right: 5px; }

#hireItemsPanel td.price  .rate { float: left;  }

#allInclusivePanel td.pr {
    width: 158px;    
}

#allInclusivePanel #allInclusiveDetails table {
    background-color:#F3FDFF;
    width: 710px;
}

#allInclusivePanel table ul li {
    list-style: none;
    margin-left: 55px;   
}

#insurancePanel {
    border-bottom:1px solid #DEE4E4;    
    width:100%;    
    float: left;
    padding-bottom: 20px;    
}

#insurancePanel table, #hireItemsPanel table, #ferryPanel table {
    margin: 0 0 0 19px;
    clear: both;
}

#ferryPanel table {
    font-size:11px;
}

#insurancePanel table small, #hireItemsPanel small, #hireItemsPanel label{
    display:block;
    margin-bottom:4px;
    font-size: 11px;
}


#hireItemsPanel .Quest {/* Hide info link for MaC */
    display: none !important;
}

#insurancePanel span {
    display: block;
    float: left;
    clear: both;
    color: #8B8B8B;
    font-size: 10px;
    margin-left: 20px;
	 width:700px;
}

#insurancePanel .Show {
    display:block !important;
}

#insurancePanel .AgeSelector {
    clear:none;
    display:none;
    float:left;
    width:150px;
}


#insOptionsTable.Under21 tr.Over21 {
    display : none;
}

#insOptionsTable.Over21 tr.Under21 {
    display : none;
}

#insurancePanel .AgeSelector{
    /*display: none !important;ExMore Only */
}

#hireItemsPanel, #ferryPanel {
    margin-top: 10px;
    border-bottom:1px solid #DEE4E4;   
    width: 100%; 
    float: left;
    clear: both;
    padding-bottom: 10px; 
}

#ferryPanel table {
    background-color: #F3FDFF;
    width: 720px; 
}

#ferryPanel td.desc  {
     width:407px;         
}

#ferryPanel .vehicleTable td.desc  {
     width:517px;          
}

#ferryPanel td.price  {
     width:155px;         
}

#ferryPanel td small { 
    font-size: 11px;
}

#ferryPanel table.Hide {
    display : none;
}

#configureUpdatePanel span {
    display : block;
    float: left;
    clear: both;
    margin-left: 20px;
}

#configureUpdatePanel .Total {
    width: 720px;
    line-height: 23px;
    background-color:#F5F7F7;
    color:#1E3D38;
    font-size:17px;
    font-weight:bold;
    margin-top:15px;
}

#configureUpdatePanel .Total label {
    float : left;    
}

#configureUpdatePanel .Total small {
    float : right;
    margin-right: 20px; 
}

#configureUpdatePanel .TaxMsg {
    margin: 5px 0 15px 20px;
    font-size: 11px;
    width: 100%; 
}

#configureUpdatePanel .TaxMsg small {
    font-size: 11px;
}

#configureUpdatePanel .Submit {
    display: block;
    width:720px;
    height:40px;
}

#configureUpdatePanel .Submit .BackBtn {
    float: left;
    display: block;
    background : #fff url(../../images/c/btn/backSelectBtn.gif) no-repeat  0 0;
    height: 25px;
    width: 86px;
    overflow:hidden;
    text-indent:-1000px;
}

#configureUpdatePanel .Submit input {
    float: right;
    background : #fff url(../../images/c/btn/continueSelect.gif) no-repeat  0 0;
    border: 0px;
    height: 25px;
    overflow: hidden;
    text-indent:-1000px;
    text-transform: capitalize;/*ie ;o(*/
    width:86px;      
}

#tooltip {
    background: #017688 url(../../images/c/tiles/background.png) repeat-x 0 0;
    color: #7e1f03;
    border: solid 2px #10a8a6;
}

.bubbleBody  {
    font-size: 9px;
    color: #7e1f03;     
}

.bubbleBody h3 {
    font-size: 11px;
    color: #fff;
	margin-bottom:8px !important;
}

.bubbleBody td { 
    color: #a9fffe;
}

.bubbleBody .total td { 
    color:  #fff;
}

.bubbleBody .note {
    float : left;
    clear : both;
    color: #a9fffe;   
}

/* Payment Page Statrs Here */

#paymentContainer  #stepsDisplayer #PaymentStep {
    background-position:-256px 0;
}

#paymentPanel {
    background-color: #fff;
    float: left;
    width: 760px;
    font-size: 11px;     
}

#paymentPanel div {
    float: left;
    width: 730px;    
}

#paymentPanel #topHeader span {
    margin: 10px 0 0 0;
}

#paymentContainer #stepsDisplayer {
    width:280px;
} 

#paymentPanel #rentalSummary, #paymentPanel #depositPanel {
   background-color: #f5f7f7;
   margin: 5px 0 0 20px;
}

#paymentPanel h3 {
color:#1E3D38;
font-family:Verdana;
font-size:18px;
font-weight:bold;
}

#paymentPanel big {
    float: left;
    width: 730px;
    margin: 10px 0 10px 0;
    color:#1E3D38;
    font-family:Verdana;
    font-size:14px;
    font-weight:bold;
    padding-top:10px;
}

#paymentPanel small {
    font-size: 11px;
}

#paymentPanel #rentalSummary big.ChargeSum {
    border-top:1px solid #D7DEDE;
}

#paymentPanel #rentalSummary table {
    float: left;
}

#paymentPanel #rentalSummary #travelDetails {
    float: left;
    width:500px;
    margin: 0;
}

#paymentPanel #rentalSummary #travelDetails big  {
    color:#1E3D38;
    font-family:Verdana,Helvetica,sans-serif;
    font-size:14px;
    font-weight:bold;
    margin: 20px 0 10px 0;
}

#paymentPanel #rentalSummary #travelDetails td {
    vertical-align: top;
}

#paymentPanel #rentalSummary #travelDetails .lbl {
    width: 85px;
}

#paymentPanel #rentalSummary #travelDetails .date {
    width: 240px;
}

/*
#paymentPanel #rentalSummary table.PayementTotal, #paymentPanel #depositPanel, #paymentPanel #payTotalPanel {
    display: none;
}
*/

#paymentPanel #rentalSummary table.ChargeTable {
    width: 730px;
    border-bottom: 1px solid #D7DEDE;
}

#paymentPanel #rentalSummary .ChargeTable tr.Totals td small {
    margin: 10px 0 10px 0;
    font-size:12px;
    font-weight:bold;
    color:#1E3D38;
    font-family:Verdana,Helvetica,sans-serif;
    display: block;
}

#rentalSummary .PayementTotal .payPeriod, #depositPanel .PayDeposit .payPeriod {
    /*display: none;*/
}


#paymentPanel #rentalSummary .ChargeTable .title {
    width: 350px;
}

#paymentPanel #rentalSummary div.Disclaimer {
    padding-top: 5px; 
    background-color: #fff; 
}

#paymentPanel #rentalSummary div.MaCHirePeriodTerms span {
    float: left;
    clear: both;
}

#paymentPanel #rentalSummary div.Lead45 .More45 {
    display: block;
}

#paymentPanel #rentalSummary .More45 {
    display : none;
}

#paymentPanel #rentalSummary div.Lead45 .Less45 {
    display : none;
}


#paymentPanel #macTerms {
    display: block !important;
    margin: 10px 0 0 40px;
    
}

#paymentPanel #rentalSummary .ChargeTable .desc {
    width: 215px;
}

#paymentPanel #rentalSummary .ChargeTable .cur {
    width: 60px;
}

#paymentPanel #rentalSummary .ChargeTable .price {
    text-align:right;
	padding-right:5px;
}

#paymentPanel #rentalSummary #vehicleSpecs {
    float: right;
    width: 205px;
}

#paymentPanel #rentalSummary #vehicleSpecs img {
    float: right;
    padding-right: 10px;
}

#paymentPanel #rentalSummary #travelDetails table.TravelTable, #paymentPanel #rentalSummary #travelDetails big {
    float : left;
    width: 520px;    
}

#paymentPanel #creditCardDetails {
    margin:5px 0 0 20px;
    border-bottom: 1px solid #D7DEDE;  
    padding-bottom: 20px;  
}

#paymentPanel #creditCardDetails h3 {
    margin-top: 20px;
}

#paymentPanel #creditCardDetails big {
    margin : 0;
}

#paymentPanel #creditCardDetails #creditFormPanel {
    width: 560px;
    float: left;
}

#paymentPanel #creditCardDetails #creditFormPanel label, #paymentPanel #personalDetails label {
    width : 138px;
    display: block;
    float: left;
}

#paymentPanel #creditCardDetails #sealPanel {
    float: right;
	background :url(../../images/icons/go_daddy_holdingimage.gif) no-repeat  0 13px;
    display : block;
	width:140px;
	height:100px;
}

#paymentPanel #personalDetails {
    margin:5px 0 0 20px;
    border-bottom: 1px solid #D7DEDE; 
    padding-bottom: 20px; 
}

#paymentPanel #personalDetails p, #paymentPanel #creditCardDetails p {
    float: left;
    clear: both;
    margin-top: 5px;    
}

/* Payment Form */
#paymentPanel #cardTypeDD {
    width: 154px;
}

#paymentPanel #cardNumberTxt {
    width: 150px;
    float: left;
}

#paymentPanel #cardHolderName {
    width: 150px;
}

#confirmEmailAddressTxt, #customerFirstName, #customerLastName, #emailAddressTxt {
    width: 265px;
    float: left;
}

#telephoneTxt3 {
    width: 120px;
}

#paymentPanel #personalDetails .number {
    display: block;
    float: left;
    margin-right: 10px;    
}

#paymentPanel #personalDetails .number small {
    font-size: 11px;
}

#paymentPanel #personalDetails .PhoneNumber {
    display: block;
    width: 550px;
    float: left;
}

#otherTravellers table th {
    font-weight: normal;
}

#paymentPanel #personalDetails .number small, #paymentPanel #personalDetails .number input {
    float: left;
    clear: both;
}

#paymentPanel #otherTravellers, #paymentPanel #termsAndConditions, #paymentPanel #footerPanel {
    margin:5px 0 0 20px;
}

#paymentPanel .onRequest .Buttons .SubmitBtn {
    background:#FFFFFF url(../../images/c/btn/RequestNow.gif) no-repeat scroll 0 0 !important;
}

#paymentPanel #otherTravellers td.lbl {
    width : 145px;    
}

#paymentPanel #otherTravellers table {
    clear: both;
}

#paymentPanel #termsAndConditions input{
    float : left;
    display: block;    
}

#paymentPanel #termsAndConditions span {
    display: block;
    width : 700px;
    float : left;
    margin-left: 3px;
}

#paymentPanel #termsAndConditions a, #paymentPanel #macTerms a {
	color:#E95F40;
	text-decoration:none;
}

#paymentPanel #termsAndConditions a:hover, #paymentPanel #macTerms a:hover {
	color:#36585C;
	text-decoration:underline;
}

#payTotalPanel {
    margin: 20px 0 0 0;
    width: 750px !important;
}

#payTotalPanel span, #payTotalPanel input {
    float: right;
}

#payTotalPanel span {
    color:#1E3D38;    
    font-size:12px;
    font-weight:bold;
    margin-right: 5px; 
}

#paymentPanel #depositPanel .left {
    margin: 0;
    display: block;
    float: left;
    width: 240px;
}

#paymentPanel #depositPanel .left big, #paymentPanel #depositPanel .left small {
    padding : 0;
    margin: 10px 0 0 0;
    float :left;
}

#paymentPanel #depositPanel .left big{
	font-size:17px;
}

#paymentPanel #depositPanel .right {
    margin: 0;
    display: block;
    float: right;
    width: 240px;
    text-align:right;
    margin: 0;
    padding : 0;
}

#paymentPanel #depositPanel .right small {
    float: right;
    margin: 0 0 10px 0;
}

#paymentPanel #depositPanel .right big {
    float: right;    
    margin: 5px 0 10px 0;
    padding : 0;
    font-size : 17px;   
}

#paymentPanel #footerPanel span {
    display: block;
    float: left;
    clear: both;
    width: 725px;
    padding: 5px;
}

#footerPanel input {
    float: right;
    background : #fff url(../../images/c/btn/bookNow.gif) no-repeat  0 0;
    border: 0px;
    height: 25px;
    overflow: hidden;
    text-indent:-1000px;
    text-transform: capitalize;/*ie ;o(*/
    width:86px;      
}

#footerPanel a {
    float: left;
    display: block;
    background : #fff url(../../images/c/btn/backSelectBtn.gif) no-repeat  0 0;
    height: 25px;
    width: 86px;
    overflow:hidden;
    text-indent:-1000px;
}

#paymentContainer #disclaimer {
    font-size: 11px;
    margin-left: 22px;
}

/* validation */

#paymentForm label.error {
    float: right !important;    
    width: 247px !important; 
}  

#cardExpiryMonthTxt, #cardExpiryYearTxt, #cardExpirySpan span {
    float: left;
}

#telephoneTxt1, #telephoneTxt2, #telephoneTxt3 {
    width: 60px;
}


/* EmailForm */
#paymentPanel #infoPanel p {
	margin-bottom: 20px;	
}

#paymentPanel #infoPanel img {
	float: right;
	margin: 10px;
}

#paymentPanel div.FormSection {
    border-bottom:1px solid #5892A1;
    width: 720px;
    margin-left: 20px;
    padding-bottom:20px;
    padding-top:20px;
}

#paymentPanel div.FormSection label {
    display:block;
    float:left;
    width:138px;
}

#personalDetailsForm  p {
    clear:both;
    float:left;
    margin-top:5px;
}

#personalDetailsForm  p .number small, #personalDetailsForm  p .number input {
    clear:both;
    float:left;
}

#personalDetailsForm  p .number {
    display:block;
    float:left;
    margin-right:10px;
}

#personalDetailsForm  p .PhoneNumber {
    display:block;
    float:left;
    width:550px;
}

#personalDetailsForm  p #countryOfResidenceDD, #personalDetailsForm  p #customerTitleDD {
    width: 270px;
}

#personalDetailsForm  #contactSelector label.title, #personalDetailsForm  #contactSelector input {
    float: left;
    width: auto;
    margin-left: 10px; 
}

#bottomPanel, #rentalsDetailsForm {
    border-bottom: none !important;
}

#rentalsDetailsForm span, textarea {
    margin-top: 20px;
    float: left;
    clear: both;
}

#rentalsDetailsForm span {
    display:block;
    width:700px;
}

#rentalsDetailsForm td label {
    margin-bottom: 4px;
}

#bottomPanel input , #bottomPanel a, #bottomPanel label {
    float: right;
}

#bottomPanel input {
    background:#FFFFFF url(../../images/c/btn/send.gif) no-repeat scroll 0 0;
    border:0 none;
    height:27px;
    overflow:hidden;
    text-indent:-1000px;
    text-transform:capitalize;
    width:150px;
}

#bottomPanel a {
    background:#FFFFFF url(../../images/c/btn/cancel.gif) no-repeat scroll 0 0;
    border:0 none;
    height:27px;
    overflow:hidden;
    text-indent:-1000px;
    text-transform:capitalize;
    width:150px;
    margin-right: 20px;
}

#bottomPanel label {
    clear:none !important;
    color:Red;
    display:none;
    float:left;
    font-size:11px;
    width:300px;
}

/* confirmation */
.Confirmation h2 {
    background: url(../../images/c/tiles/sep.gif) repeat-x scroll 0 22px;
    height:25px;
    width:726px;
    margin: 20px 0 10px 2px !important;
}

#confirmationPanel #ConfText p big {
color:#1E3D38 !important;
}


#rentalSum tr.total td, #paymentDet tr.total td {
    color:#000000;
    font-size:12px !important;
    font-weight:bold;    
}


#printLinkDiv a{
	background:#FFFFFF url(../../images/c/btn/print.gif) no-repeat scroll 0 0 !important;
	width:150px !important;
	height:27px !important;
}




#vehicleCatalogContainer #paymentPanel #yourDetails,#vehicleCatalogContainer #paymentPanel.Confirmation #travelDetails, #vehicleCatalogContainer #paymentPanel #rentalSum, #vehicleCatalogContainer #paymentPanel #paymentDet {
	background-color:#f5f7f7;
	width:730px !important;
	margin-left:20px !important;
}

#vehicleCatalogContainer #paymentPanel #contactUs, #vehicleCatalogContainer #paymentPanel #feedBack{
	width:730px;
	margin-left:20px;
}

#vehicleCatalogContainer #paymentPanel #rentalSum table, #vehicleCatalogContainer #paymentPanel #paymentDet table, #vehicleCatalogContainer #paymentPanel #travelDetails table, #vehicleCatalogContainer #paymentPanel #yourDetails table {
margin-left:0px !important;
width:730px !important;
}

#vehicleCatalogContainer #paymentPanel H2{
	font-size:14px !important;
}

#vehicleCatalogContainer #paymentPanel table{
	font-size:11px !important;
}

#feedBack p {
width:730px !important;
	
}

 #feedbackForm  #sendBtn {
    float: right;
    background : #fff url(../../images/c/btn/send.gif) no-repeat  0 0;
    border: 0px;
    height: 27px;
    overflow: hidden;
    text-indent:-1000px;
    text-transform: capitalize;/*ie ;o(*/
    width:150px;
    margin: 20px;      
}

 #contactUs  a {
 	color:#E95F40;
	text-decoration:none;
}

 #contactUs  a:hover {
 	color:#36585C;
	text-decoration:underline;
}

#completedMessage span {
    font-size: 13px;
    display:block;
    height: 200px;
}

#completedMessage big {
    color:#E95F40;
    font-size:15px;
    font-weight:bold;
} 

#vehicleCatalogContainer #emptySelectionMsg span {
	font-weight:bold;
	color:#1e3d38;
}

/* save Quote */
#configureUpdatePanel #saveQuoteLnk {
    background : #fff url(../../images/c/btn/btn_matrix.png) no-repeat  -200px -160px;
    width: 118px;
    height: 29px; 
    
    /* Hidden initial GoLive */
    display: none;
}

#configureUpdatePanel #saveQuoteLnk:hover {
    background-position: -200px -239px !important;
}

.quote #footerPanel input {
    background : #fff url(../../images/c/btn/btn_matrix.png) no-repeat  -200px -160px;
    width: 118px;
    height: 29px;
}


/* Alternative Availability starts */

.Limited .CallLink {
	width: 118px;
	height: 41px;
	overflow: hidden;
	background : #fff url(../../images/c/btn/btn_matrix.png) no-repeat  -600px -640px; 
	text-indent:-1000px;
}

.Limited .CallLink  a { 
	float: left; 
	display:block;   
	height: 40px;
    width: 118px;
}

.Limited .Top {
	width: 258px;
}

.Limited .AALink {
	width: 30px;
	font-size: 11px;
}
#vehicleCatalogContainer .VehicleItem div.Limited .AALink a {
    background: url("../../images/c/btn/btn_matrix.png") no-repeat scroll 0 -1039px transparent;
    color: #F58220;
    display: block;
    height: 64px;
    margin-left: 13px;
    overflow: hidden;
    text-indent: -9999px;
    width: 157px;
}
#vehicleCatalogContainer .VehicleItem div.Limited .AALink a:hover {
    background-position: 0 -1120px;
    color: #F58220 !important;
    text-decoration: underline;
}
div.AltRow .AltPrice {
    float: left;
    height: 100px;
    width: 195px;
}
div.AltRow div.noAvailability {
    background: url("../../images/c/icons/altx.png") no-repeat scroll 0 6px transparent;
    float: left;
    height: 60px;
    margin-top: 20px;
    width: 270px;
}
div.AltRow div.noAvailability span {
    clear: both;
    display: block;
    float: left;
    font-size: 10px;
    font-weight: bold;
    line-height: 15px;
    margin-left: 50px;
}
div.AltRow .AltPrice li span {
    background: url("../../images/c/icons/altCB.png") no-repeat scroll 0 0 transparent !important;
    color: #000000;
    display: block;
    font-size: 11px;
    font-weight: bold;
    height: 20px;
    margin-top: 26px;
    padding-left: 50px;
}
div.AltRow .AltPrice li.Fp span {
    color: #8B8B8B;
    font-size: 11px;
    font-weight: normal;
}
div.AltRow .AltPrice li.Hide {
    display: none;
}
#selectedVehiclePanel {
    background: url("../../images/c/tiles/aaVLabel.png") no-repeat scroll 0 8px transparent !important;
    border-top: 1px solid #EA6547;
    clear: both;
    float: left;
    height: 130px;
    width: 977px;
}
#selectedVehiclePanel h3, #selectedVehiclePanel img {
    display: block;
    float: left;
    margin-top: 5px;
}
#selectedVehiclePanel #selectedVImage {
    margin-left: 40px;
}
#selectedVehiclePanel #selectedVIncs {
    margin-left: 36px;
    margin-top: 17px;
}

#selectedVehiclePanel #selectedVLogo { margin-left: 15px; }

#selectedVehiclePanel span.reel {
    float: right;
    margin-right: 15px;
}
#selectedVehiclePanel h3 {
    color: #FFFFFF;
    font-size: 13px;
    margin: 14px 0 0 17px;
    overflow: hidden;
    width: 180px;
	line-height:22px;
} 
#alternativeMessagePanel, #alternateContactPanel {
    background: url("../../images/c/tiles/aaArrow.png") no-repeat scroll 10px 10px #477378;
    border-bottom: 1px solid #FFFFFF;
    clear: both;
    float: left;
    height: 40px;
    width: 977px;
}
#alternativeMessagePanel span, #alternateContactPanel span {
    color: #FFFFFF;
    float: left;
    font-size: 12px;
    font-weight: bold;
    margin: 14px 10px 0 40px;
}
#alternativeMessagePanel small, #alternateContactPanel small {
    color: #7E550F;
    display: block;
    float: left;
    font-size: 9px;
    font-weight: bold;
    margin: 14px 0 0 20px;
}
div.AltRow {
    background: url("../../images/c/tiles/altRowBG.png") repeat-x scroll 0 0 transparent !important;
    clear: both;
    float: left;
    height: 88px;
    width: 976px;
}
div.AltRow .AltType {
    background: url("../../images/c/tiles/aa-arrow.png") no-repeat scroll 0 0 transparent;
    float: left;
    height: 87px;
    width: 155px;
}
div.SwitchLocation .AltType {
    background-color: #568D93;
    background-position: 147px 0;
}
div.OneWaySwitchLocation .AltType {
    background-color: #568D93;
    background-position: 147px 0;
}
div.MoveForward .AltType {
    background-color: #36585C;
    background-position: 147px -84px;
}
div.OriginalSearch .AltType {
    background-color: #36585C;
    background-image: none;
    margin-right: 10px;
    width: 145px;
}
div.PickUpBased .AltType {
    background-color: #568D93;
    background-position: 147px -168px;
}
div.MoveBackwards .AltType {
    background-color: #477378;
    background-position: 147px -254px;
}
div.DropOffBased .AltType {
    background-color: #568D93;
    background-position: 147px -340px;
}
div.AltRow .AltType span {
    color: #FFFFFF;
    display: block;
    font-size: 11px;
    font-weight: bold;
    margin: 20px 0 0 16px;
    width: 80px;
}
div.AltRow div.AltTime {
    float: left;
    height: 86px;
    width: 538px;
}
div.AltRow .TimeSpan {
    -moz-border-radius: 3px 3px 3px 3px;
    background-color: #FFFFFF;
    border: 1px solid #AAAAAA;
    float: left;
    height: 10px;
    margin: 0 0 0 74px;
    width: 400px;
}
div.AltRow .TimeSpan span {
    display: block;
    float: left;
    height: 10px;
}
div.AltRow .TimeSpan span.Avail {
    background-color: #4ea143;
}
div.AltRow .TimeSpan span.noAvail {
    background-color: #a14343;
}
div.AltRow .TimeSpan span.hireDates {
}
div.AltRow .TimeLabels {
    display: block;
    float: left;
    margin-left: 72px;
}
div.AltRow .TimeLabels span {
    display: block;
    float: left;
    font-size: 11px;
    text-align: center;
}
div.AltRow .TimeLabels.period .hireORDates small {
    white-space: nowrap;
}
div.AltRow .TimeLabels .hireORDates small {
}
.hireORDates small {
    text-align: center;
}
div.AltRow .TimeLabels .postORDates small {
    width: 40px;
}
div.AltRow .dates {
    height: 30px;
}
div.AltRow .period {
    height: 15px;
    margin-top: 13px;
}
div.OptionRow ul.Prices {
    margin-top: 22px;
}
div.OptionRow .ShowPriceList {
    color: #EE623E;
    cursor: pointer;
    display: block;
    font-size: 9px;
    margin-left: 50px;
    margin-top: 5px;
    text-decoration: underline;
}
div.OptionRow .PriceDetailsList {
    display: none;
}
div.Expand .PriceDetailsList {
    display: block;
    float: left;
    font-size: 11px;
    margin-left: 80px;
}
div.AltRow .AltSelect {
    background: url("../../images/c/btn/btn_matrix.png") no-repeat scroll 0 -159px transparent;
    display: block;
    float: right;
    height: 26px;
    margin: 22px 15px 0 0;
    overflow: hidden;
    text-decoration: none;
    text-indent: -9999px;
    width: 72px;
}
div.AltRow .AltSelect:hover {
    background-position: 0 -239px;
}
div.AltRow chargetable {
    float: left;
}
div.OptionRow .NoAlt {
    float: left;
    padding: 0 15px 0 75px;
    width: 731px;
}
div.OptionRow .NoAlt span, div.OptionRow .NoAlt a {
    display: block;
    float: left;
    margin-top: 28px;
}
div.OptionRow .NoAlt span {
    font-size: 11px;
    font-weight: bold;
    height: 20px;
    line-height: 18px;
}
div.OptionRow .NoAlt small {
    background: url("../../images/c/icons/altx.png") no-repeat scroll 0 0 transparent;
    display: block;
    float: left;
    height: 20px;
    margin-top: 35px;
    overflow: hidden;
    text-indent: -1000em;
    width: 20px;
}
div.OptionRow .NoAlt a.details {
    color: #7C2424;
    font-size: 9px;
    line-height: 18px;
    margin-left: 10px;
    margin-right: 358px;
    text-decoration: underline;
}
div.OptionRow .NoAlt a.call {
    background: url("../../images/c/btn/btn_matrix.png") no-repeat scroll 0 -559px transparent;
    float: right;
    height: 42px;
    overflow: hidden;
    text-indent: -1000em;
    width: 117px;
}
div.OptionRow .NoAlt a.call:hover {
    background-position: 0 -639px;
}
#alternate {
    background: url("../../images/c/tiles/header-banner.jpg") no-repeat scroll center top transparent;
    min-width: 977px;
}
#vehicleAAContainer {
    background: url("../../images/c/tiles/containerBG.png") repeat-y scroll center top transparent;
    border: 0 solid #FFFFFF;
    margin: 0 auto;
    text-align: left;
    width: 1017px;
}
#vehicleAAContainer div {
    font-family: Tahoma;
}
#catalogAAHeader {
    float: left;
    height: 100px;
    padding-left: 20px;
    width: 977px;
}
#catalogAAHeader span.Image {
    float: left;
    height: 87px;
    margin: 6px 0 0 7px;
}
#catalogAAHeader .ContactUs {
    background: url("../../images/c/tiles/header-24-7-image.jpg") no-repeat scroll right top transparent;
    display: block;
    float: right;
    height: 92px;
    margin: 0 0 0 0;
    width: 500px;
}
#catalogAAHeader .ContactUs img {
    border: medium none;
    display: none;
}
#catalogAAHeader .ContactUs .freephone {
    background: url("../../images/c/btn/btn_matrix.png") no-repeat scroll -200px -1040px transparent;
    display: block;
    float: left;
    height: 42px;
    margin: 15px 0 0 240px;
    text-indent: -9999px;
    width: 120px;
}
#catalogAAHeader .ContactUs .freephone:hover {
    background-position: -400px -1040px;
}
#b2c-steps {
    float: left;
    height: 34px;
    overflow: hidden;
    padding-left: 20px;
    width: 977px;
}
#b2c-steps .steps {
    display: block;
    height: 34px;
    width: 977px;
}
#b2c-steps #step-1 {
    background: url("../../images/c/btn/Sprites-Breadcrumbs.png") no-repeat scroll 0 -228px transparent;
}
#vechileCatalogAAContainer {
    background: url("../../images/c/tiles/tear-1024.gif") repeat-y scroll 0 0 transparent;
    float: left;
    padding-left: 20px;
    width: 977px;
}
#vechileCatalogAAContainer h2 {
    color: #1F3E39;
    float: left;
    font-size: 18px;
    font-weight: bold;
    padding: 34px 0 0 15px;
}
#vechileCatalogAAContainer #resultsHeader {
    background-color: #FFFFFF;
    color: #000000;
    float: right;
    font-size: 12px;
    height: 30px;
    margin-right: 10px;
    padding: 34px 0 0;
    width: 500px;
}
#alternativeCatalogContainer a.freephone {
    background: url("../../images/c/btn/btn_matrix.png") no-repeat scroll -200px -1040px transparent;
    display: block;
    height: 42px;
    text-indent: -9999px;
    width: 117px;
}
#alternativeCatalogContainer .rightHandBanner {
    display: none;
}
#alternativeCatalogContainer.unavailable {
    background: url("../../images/c/tiles/rightHand-24-7-image.jpg") no-repeat scroll right 259px transparent;
    float: left;
    width: 977px;
}
#alternativeCatalogContainer.unavailable .rightHandBanner {
    display: block;
    float: right;
}
#alternativeCatalogContainer.unavailable .OptionRow {
    float: left;
}
#alternativeCatalogContainer.unavailable .OptionRow .AltRow {
    width: 706px;
}
#alternativeCatalogContainer.unavailable .OptionRow .AltRow.OriginalSearch {
    width: 977px;
}
#alternativeCatalogContainer.unavailable .OptionRow .AltRow.OriginalSearch .noAvailability {
    margin-left: 20px;
    width: 250px;
}
#alternativeCatalogContainer.unavailable .rightHandBanner {
    display: block;
    overflow: hidden;
    width: 270px;
}
#alternativeCatalogContainer.unavailable .rightHandBanner a.freephone {
    margin-left: 18px;
    margin-top: 120px;
}
#alternativeCatalogContainer.unavailable .rightHandBanner img {
    border: medium none;
    display: none;
    margin: 20px;
}
#alternativeCatalogContainer.unavailable .OptionRow .NoAlt {
    width: 461px;
}
#alternativeCatalogContainer.unavailable .OptionRow .NoAlt a.details {
    margin-right: 30px;
}
#alternativeCatalogContainer.unavailable .OptionRow .NoAlt small {
    margin-top: 30px;
}
#alternativeCatalogContainer.unavailable .OptionRow .NoAlt a.call {
    display: none;
}
#footerContainer {
    background: url("../../images/c/tiles/tear-1024.gif") repeat-y scroll 0 0 transparent;
    display: block;
    float: left;
    height: 165px;
    padding-left: 20px;
    width: 977px;
}
#footerContainer #footerWrapper {
    background: url("../../images/c/tiles/footer-24-7-image.jpg") no-repeat scroll left top #36585C;
    display: block;
    float: left;
    height: 165px;
    padding-left: 410px;
    text-indent: -9999px;
    width: 567px;
}
#footerContainer .resText {
    background: url("../../images/c/tiles/footer-24-7-reservations-title.gif") no-repeat scroll 0 0 transparent;
    display: block;
    float: left;
    height: 50px;
    margin-top: 10px;
    width: 330px;
}
#footerContainer a {
    background: url("../../images/c/btn/btn_matrix.png") no-repeat scroll 0 0 transparent;
    display: block;
    float: left;
    height: 1px;
    width: 1px;
}
#footerContainer a.freephone {
    background-position: -200px -1040px;
    height: 41px;
    margin-left: 30px;
    margin-top: 15px;
    width: 118px;
}
#footerContainer a.freephone:hover {
    background-position: -400px -1120px;
}
#footerContainer span.searchall {
    background: url("../../images/c/tiles/searchall_text.png") no-repeat scroll 5px 0 transparent;
    clear: both;
    display: block;
    height: 51px;
    width: 290px;
}
#footerContainer a.returntosearch {
    background-position: 0 -1200px;
    clear: left;
    height: 25px;
    margin-top: 10px;
    width: 200px;
}
#footerContainer a.returntosearch:hover {
    background-position: 0 -1280px;
}
#footerContainer a.otherbrands {
    background-position: -200px -1200px;
    display: none;
    height: 25px;
    margin-left: 20px;
    margin-top: 10px;
    width: 180px;
}
#footerContainer a.otherbrands:hover {
    background-position: -200px -1280px;
}
#footerContainer.unavailable {
    height: 110px;
}
#footerContainer.unavailable #footerWrapper {
    background: none repeat scroll 0 0 #FFFFFF;
    height: 110px;
    padding-left: 30px;
    width: 947px;
}
#footerContainer.unavailable .resText, #footerContainer.unavailable a.freephone, #footerContainer.unavailable .searchall {
    display: none;
}
#vehicleAAContainer #disclaimer {
    background: url("../../images/c/tiles/tear-bottom-1024.png") no-repeat scroll 0 0 transparent;
    color: #999999;
    float: left;
    font-size: 11px;
    height: 45px;
    padding-left: 40px;
    padding-top: 10px;
    width: 977px;
}
#footerLinksBottom {
    clear: both;
    height: 40px;
    padding-top: 25px;
    text-align: center;
    width: 100%;
}
#footerLinksBottom #footerLinksLogos {
    margin: auto;
    width: 650px;
}
#footerLinksBottom #footerLinksLogos li#logos {
    background: url("../../images/logo-lockup.png") no-repeat scroll 0 0 transparent;
}
#footerLinksBottom #footerLinksLogos li {
    color: #999999;
    float: left;
    font-size: 9px;
    line-height: 15px;
    padding: 0;
    text-align: left;
    vertical-align: top;
}
#footerLinksBottom #footerLinksLogos li#logos a {
    display: block;
    float: left;
    height: 40px;
    outline: medium none;
    text-indent: -9999px;
    width: 50px;
}
#footerLinksBottom #footerLinksLogos li#copyright {
    margin-left: 20px;
}
#footerLinksBottom #footerLinksLogos li#logos #THLLogo {
    width: 80px;
}
#footerLinksBottom #footerLinksLogos li#logos a#MauiLogo {
    width: 60px;
}
#alternate #tooltip {
    opacity: 1;
}
#tooltip .SmallContainer {
    -moz-border-radius: 5px 5px 5px 5px;
    background: url("../../images/c/tiles/availabilitybg.png") repeat-x scroll 0 0 #77999d;
    border: 2px solid #36585c;
    color: #000000;
    float: left;
    max-width: 500px;
    opacity: 0.95;
    padding: 5px 10px 15px;
	font-size:11px !important;
}
#tooltip .LargeContainer {
    -moz-border-radius: 5px 5px 5px 5px;
    background: url("../../images/c/tiles/tooltip_bg_large.png") repeat-x scroll 0 -2px #b7dadf;
    border: 2px solid #36585c;
    color: #7E1F03;
    float: left;
    font-family: Tahoma !important;
    padding: 5px 10px 15px;
    position: relative;
    width: 610px;
    z-index: 2;
}
#tooltip .LargeContainer .ads {
    float: right;
    max-height: 44px;
}
#tooltip .LargeContainer h3 {
    float: left;
    line-height: 20px;
    margin-top: 22px;
    padding-bottom: 10px;
    vertical-align: bottom;
}
#tooltip .LargeContainer .chargesTable {
    border-collapse: collapse;
    clear: both;
    font-size: 11px;
    text-align: left;
    width: 100%;
}
#tooltip .LargeContainer .chargesTable th {
    background: none repeat scroll 0 0 #D5E3E5;
    color: #333333;
    padding: 10px 0 10px 5px;
    text-align: left;
}
#tooltip .LargeContainer .chargesTable td {
    background: none repeat scroll 0 0 #FFFFFF;
    color: #333333;
    padding: 5px 0 5px 5px;
    text-align: left;
}
#tooltip .LargeContainer .chargesTable th.PerTH, #tooltip .LargeContainer .chargesTable td.pth {
    width: 60px;
}
#tooltip .LargeContainer .chargesTable th.DiscTH, #tooltip .LargeContainer .chargesTable td.dth {
    width: 80px;
}
#tooltip .LargeContainer .chargesTable tfoot td {
    background: none repeat scroll 0 0 #FFE3BC;
}
#alternate .steps a {
    display: block;
    height: 30px;
    overflow: hidden;
    text-indent: -1000em;
    width: 300px;
}
#alternate div.AltRow .AltPrice li.Fp span {
    background-image: none !important;
    margin-top: 0 !important;
}
.availPopUp {
    background: url("../../images/c/tiles/availabilitybg.png") repeat-x scroll 0 0 #77999d;
    border: 2px solid #36585c;
    color: #000000;
    line-height: 18px;
    max-width: 500px;
    padding: 5px 10px 15px;
    width: 280px;
	font-size:11px !important;
}
.preloaderIframe {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    visibility: hidden;
    width: 100%;
}
#staticLoader {
    background: url("../../images/c/tiles/tear.gif") repeat-y scroll 0 0 transparent;
    color: #333333;
    display: none;
    float: left;
    font-size: 16px;
    font-weight: bold;
    margin-left: 2px;
    padding-bottom: 20px;
    padding-left: 18px;
    padding-top: 20px;
    text-align: center;
    width: 780px;
}
/*
#carousel {
    height: 400px;
    margin: 0 auto;
    padding: 0;
    position: relative;
}
#carousel li {
    cursor: pointer;
    float: left;
    list-style: none outside none;
    margin: 0;
    padding: 0;
}
#carousel li img {
   height: 100%;
   width: 100%
}
*/

#carousel { position: relative; height: 350px; margin: 0; padding: 0; }
#carousel li { float: left; cursor: pointer; cursor: hand; list-style: none; margin: 0px; padding: 0px; width: 176px; height:102px;}
#carousel li img { height: 100%; width: 100%;}

#staticLoader #carousel li
{
    width:224px;
    height:339px;
}
.preloader #configurePanel .progressIndicator {
    clear: both;
    float: left;
    font-size: 14px;
	font-family:Tahoma, Geneva, sans-serif;
	color:#1E3D38;
	font-weight:bold;
    height: 460px;
    padding-top: 20px;
    text-align: center;
    width: 100%;
}
.preloader #configurePanel .progressIndicator img {
	height: 100%;
    width: 100%;
}


/* Cross Sell Starts */
#staticLoader {
	/*background:url(../../images/b/tiles/tear.gif) repeat-y;*/
    background-color: #fff;
	float : left;
    width: 760px;
    margin-left: 12px;   
    padding-left:18px;
    padding-bottom: 6px;
    padding-top:20px;
    padding-bottom:20px;
    display:none;
    text-align:center;
    font-size:16px;
    font-weight:bold;
    color:#333;
}

.CSellLbl { display: none !important;}


.AU  #catalogHeader  { background: #fff url(../../images/c/logo_au.jpg) no-repeat  0 0; height:118px; }
.NZ  #catalogHeader  { background: #fff url(../../images/c/logo_nz.jpg) no-repeat  0 0;height:118px; }
#thlCrossSellBanner { display: none; }
/* Cross Sell Ends */



.returntoseachBreadCrumb
{
    float:left;
    width:977px;
    clear:both;
}
.returntoseachBreadCrumb a
{
    padding: 5px 0px 5px 16px;
    font-size:9px;
    color:#EE623E;
    display:block;
    text-decoration:underline;
    border-bottom: 1px solid #e7e7e7;
	background: url("../../images/c/tiles/altRowBG.png") repeat-x scroll 0 0 transparent !important;
}
.returntoseachBreadCrumb a:hover
{
    color:#36585C;
}

#bookingControlContainer #sslSeal {
	display:none !important; /* fix base refactor */
}

#bookingControl.Aggregator .botCol {
    display: block !important;
}

#bookingControl.Aggregator .botCol  .searchBtn {
	display: none;
}

#bookingControl .botCol {
	left: 565px;
	top: -37px;
	width: 50px;
	position: relative;
}
