ul,li,p,select {
    padding:0;
    margin:0;
}

li {
    list-style-image:none;
    list-style-position:outside;
    list-style-type:none;    
}


#bookingcontrol li.CountryOfTravel {
    display : none;
}

div.Splash #bookingcontrol li.CountryOfTravel {
    display : block;
}


#bookingcontrol li.VehicleModel p.On {
    background-color: #fff;
    clear: both;
    padding: 4px;    
}

#ctrlSearchBox_up1 {
	
}

/* SEARCH BOX*/
.SearchBox_Wrapper {
	/*width: 220px;*/
}

.SearchBox_Content {
	background-color: #83DAED;
	background-repeat: repeat-x;
	text-align: left;	
	background-image: url(../../images/p/bg.gif);
	clear:both;
	float: left;			
}

/* ff2 */
.SearchBox_Content li {
    clear: both;
}

.SearchBox_Content li.VehicleModel p { 
    clear: both;
}
/* ff2 */

.Splash .SearchBox_Content li.VehicleModel p { 
    display : none;
}

.Splash .SearchBox_Content li.VehicleModel {
    display: none;
}



.SearchBox_TableWrapper
{
	width:203px;
	margin: 0px 0px 0px 7px;
	text-align: center;
}

.SearchBox_TableWrapper {
    text-align:left;
}

.SearchBox_Line {
	display:block;
    float:left;
    height:1px;
    width:190px;
	color: #B0E6F2;
	background-color: #B0E6F2;
	border: none;
}
.SearchBox_Spacer
{
	height: 6px;
}
.SearchBox_Title
{
	color: #FFFFFF;
	font-family: Verdana, Arial;
	font-size: 14px;
	font-weight: bold;
	margin-bottom:5px;
    display: block;
}

.SearchBox_Subtitle, .SearchBox_TableWrapper li p label {
    color:#000000;
    display:block;
    float:left;
    font-family:Verdana,Arial;
    font-size:12px;
    font-weight:bold;
}

.SearchBox_TableWrapper li p label {	
    margin:3px 0 4px;
}

.SearchBoxLabel
{
	color: #000000;
	font-family: Verdana, Arial;
	font-size: 11px;
	white-space: nowrap;
	font-weight: bold;
}
.SearchBoxLabelSmall
{
	color: #000000;
	font-family: Verdana, Arial;
	font-size: 10px;
}
.ErrorLabel
{
	font-family: Verdana, Arial;
	font-size: 10px;
}
.SearchBox_TimeListBox
{
	font-family: Verdana, Arial;
	font-size: 11px;
	width: 92px;
}
.SearchBox_AdultsListBox
{
	font-family: Verdana, Arial;
	font-size: 11px;
	width: 93px;
}
.SearchBox_ChildrenListBox
{
	font-family: Verdana, Arial;
	font-size: 11px;
	margin-left: 10px;
	width: 86px;
}
.SearchBox_FullListBox {
	font-family: Verdana, Arial;
	font-size: 11px;
	width: 192px;
	margin-bottom: 3px;
}
.SearchBox_CalTextBox
{
	font-family: Verdana, Arial;
	font-size: 11px;
	width: 90px;
	margin:0;
	padding:0;
}

.SearchBox_BottomDiv {
    float: left;
    margin:0px;
    padding:0px;    
    background-color: #83DAED;
    height:5px;
    width:200px;
}

* html .SearchBox_BottomDiv {
    height: 0px;
    background-color : #fff;
    float : left;      
}
* html .SearchBox_BottomDiv img {
    float : left;
     padding : 0;
     margin : 0;
}

.SearchBox_BottomDiv img {
	border: 0;		
}

#ctrlSearchBox_btnNext {
    margin-top: 3px;
}

/* tabs */
#vehicleTabs {
    width: 215px;
    height: 86px;
    float: left;  
}

#vehicleTabs li {
    float: left;
}

#vehicleTabs a {
    float:left;
    clear: none;
    display: block;
    width: 105px;
    height: 86px;        
}

#campersTab {
    background: url(../../images/p/tab_rv.gif) no-repeat 0 -100px;
}

#carsTab {
    background: url(../../images/p/tab_car.gif) no-repeat 0 -100px;
}

#vehicleTabs a.on {
    background-position: 0 0;
}
/* tabs ends */

/*validation*/
input.required, select.required {
    background-color: #ffe57f;
}

div.requiredMsg 
{   
    position:absolute;
    width: 200px;
}

.requiredMsg span {
    float:left;
    display: block;
}

.requiredMsg .arrow {
    background: url(../../images/p/arrow.gif) no-repeat 0 0;
}

.requiredMsg .text {
    background-color : #ffe57f;
    border: solid 1px #000;
    border-left-width : 0;
    font-size: 10px;
    font-family : Verdana;
    line-height : 15px;
}
/*validation ends*/

#searchButton {
	display: block;
	height: 25px;
	background-color: #BED62F;
	font-family: verdana;
	font-size: 13px;
	font-weight: bold;
	color: #000;
	width:188px;
	border:1px solid #83AB68;
	text-align:center;
	line-height:21px;
	margin-top:5px;
	text-decoration:none;
}

#searchButton:hover {
	background-color : #788D01;
	color : #fff;
	border:1px solid #666600;	
}