/* $Id: yellow.css 5650 2006-12-14 17:43:22Z smaxim $ */
@import url("layouts/layout-2d.css");

.calendar
{
	font-family: Verdana, Arial;
	border-top: 1px solid #F3FDFF;
	border-left: 1px solid #BFCEDA;
	border-bottom: 1px solid #BFCEDA;
	border-right: 1px solid #BFCEDA;
}

.calendar table
{
	font-family: Verdana, Arial;
	border: none;
	background-color: #FFFFFF;
}

/* Header part -- contains navigation buttons and day names. */

.calendar .button
{
	/* "<<", "<", ">", ">>" buttons have this class */
	font-family: Verdana, Arial;
	background-color: #F3FDFF;
	color: #0080B2;
	font-family: Verdana;
	font-weight: bold;
}

.calendar .nav
{
	font-family: Verdana, Arial;
	background-color: #F3FDFF;
}

.calendar .title
{
	font-family: Verdana, Arial;
	/* This holds the current "month, year" */
	background-color: #F3FDFF;
	color: #0080B2;
	font-size: 12px;
	font-weight: bold;
}

.calendar thead .headrow
{
	/* Row <TR> containing navigation buttons */
	font-family: Verdana, Arial;
}

.calendar thead .name
{
	/* Cells <TD> containing the day names */
	font-family: Verdana, Arial;
	border-color: #F3FDFF;
	color: #0080B2;
}

.calendar thead .weekend
{
	/* How a weekend day name shows in header */
	font-family: Verdana, Arial;
	color: #0080B2;
}

.calendar thead .hilite
{
	/* How do the buttons in header appear when hover */
	font-family: Verdana, Arial;
	background-color: #F3FDFF;
	color: #000;
	border-color: #ffffff;
}

.calendar thead .active
{
	/* Active (pressed) buttons in header */
	font-family: Verdana, Arial;
	background-color: #FFFDE3;
}

.calendar thead .daynames
{
	/* Row <TR> containing the day names */
	font-family: Verdana, Arial;
	background-color: #FFFFFF;
}

/* The body part -- contains all the days in month. */

.calendar tbody .day
{
	/* Cells <TD> containing month days dates */
	font-family: Verdana, Arial;
	color: #000000;
	background-color: #FFFFFF;
}
.calendar tbody .day .othermonth
{
	font-family: Verdana, Arial;
	color: #888;
}
.calendar tbody .day .othermonth .oweekend
{
	font-family: Verdana, Arial;
	color: #000000;
}

.calendar table .wn
{
	font-family: Verdana, Arial;
	border-color: #000000;
	background-color: #F3EEAF;
}

.calendar tbody .rowhilite td
{
	font-family: Verdana, Arial;
	background-color: #F3FDFF;
}

.calendar tbody .rowhilite td.wn
{
	font-family: Verdana, Arial;
	background-color: #F3FDFF;
}

.calendar tbody td.hilite
{
	/* Hovered cells <TD> */
	font-family: Verdana, Arial;
	background-color: #F3FDFF;
	border-color: #ffffff;
}

.calendar tbody td.active
{
	/* Active (pressed) cells <TD> */
	font-family: Verdana, Arial;
	background-color: #F3FDFF;
}

.calendar tbody td.selected
{
	/* Cell showing today date */
	font-family: Verdana, Arial;
	background-color: #FFFFFF;
	font-weight: normal;
	text-decoration: none;
	color: #000000;
    border : 1px solid #000;
}

.calendar tbody td.weekend
{
	/* Cells showing weekend days */
	font-family: Verdana, Arial;
	color: #000000;
}

.calendar tbody td.today
{
	font-family: Verdana, Arial;
	color: #000000;
}

.calendar tbody .disabled
{
	font-family: Verdana, Arial;
	color: #CCCCCC;
}

.calendar tbody .emptycell
{
	/* Empty cells (the best is to hide them) */
	font-family: Verdana, Arial;
}

.calendar tbody .emptyrow
{
	/* Empty row (some months need less than 6 rows) */
	font-family: Verdana, Arial;
}

/* The footer part -- status bar and "Close" button */

.calendar tfoot .footrow
{
	/* The <TR> in footer (only one right now) */
	background-color: #FFFFFF;
	font-family: Verdana, Arial;
	font-size: 10px;
	color: #9C9D9E;
}

.calendar tfoot .ttip
{
	/* Tooltip (status bar) cell <TD> */
	background-color: #FFFFFF;
	font-family: Verdana, Arial;
	font-size: 10px;
	color: #9C9D9E;
}

.calendar tfoot .hilite
{
	/* Hover style for buttons in footer */
	font-family: Verdana, Arial;
	background-color: #afa;
	border-color: #084;
	color: #000;
}

.calendar tfoot .active
{
	/* Active (pressed) style for buttons in footer */
	font-family: Verdana, Arial;
	background-color: #7c7;
}

/* Combo boxes (menus that display months/years for direct selection) */

.calendar .combo
{
	font-family: Verdana, Arial;
	border-color: #F3FDFF;
	background-color: #F3FDFF;
	color: #333333;
}

.calendar .combo .hilite
{
	font-family: Verdana, Arial;
	background-color: #DED8B7;
}

.calendar .combo .active
{
	font-family: Verdana, Arial;
	border-color: #F3FDFF;
	background-color: #FFEA95;
}

.calendar .month-left-border
{
	/* Divider line between two monthes */
	border-left: 1px solid #F3FDFF;
}

/* time */

.calendar tfoot tr.time td
{
	border-color: #8a8;
}
.calendar tfoot tr.time td.hour, .calendar tfoot tr.time td.minute
{
	border-color: #aca;
}
.calendar tfoot tr.time td.hilite
{
	background-color: #FFEA95;
}
.calendar tfoot tr.time td.active
{
	background-color: #F3FDFF;
}

/* $Id: small.css 4322 2006-09-04 08:49:33Z shacka $ */
.calendar {
  border-width: 1px;
  font-size: 9px;
  z-index: 9999;
}

.calendar table {
  font-size: 9px;
}
