﻿/*
TODO: change the image url to relative and move this css to the images.thl.com

*/
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, select, textarea, p, blockquote
{
    font-family: Helvetica, Arial, sans-serif;
}

body
{
    background-color: #f0f0f0;
}

.headBanner {
	background-image: url('../../images/b2b/tiles/bANDm_header-976.jpg') !important;
}

#bookingControl
{
    width: 976px;
    float: left;
    font-size: 14px;
    color: #222;
    background-color: white;
}

.collapse
{
    display: none !important;
}
.expand
{
    display: block !important;
}
#ctrlBody
{
    border-top: 1px solid #ddd;
    border-right: 1px solid #E9E9E9;
    border-left: 1px solid #E9E9E9;
    float: left;
    background:#EEE;
    width:100%;
}

#ctrlBody label
{
    padding: 5px 0px;
    float: left;
    display: block;
    font-size: 12px;
    font-weight: bold;
    color: #222;
}
#ctrlBody label.section
{
    clear: both;
    float: none;
}
#bookingControl #ctrlHead
{
    cursor: pointer;
    padding-top: 7px;
}


#bookingControl #ctrlHead span.bookingData
{
    width: 635px;
    margin-left: 16px;
}

#bookingControl #ctrlHead span.bookingData .changeSearchQuery
{
    float: none;
    display: inline;
    text-decoration: underline;
    font-weight: bold;
}

#bookingControl #ctrlHead.disabled span.bookingData .changeSearchQuery{
	display:none;
}
#bookingControl #locAndDates, #bookingControl #timeContainer, #bookingControl #paxContainer
{
    width: 440px;
    float: left;
    padding: 5px 0px 10px 0px;
}

#bookingControl #timeContainer, #bookingControl #paxContainer
{
    border-top: 1px dashed #ddd;
    margin-top: 10px;
}
#bookingControl #b2bPanel
{
    float: left;
    clear: both;
    margin-top: 15px;
    border-top: 1px dashed #ddd;
    width: 100%;
}
#bookingControl .locPanel .datelbl
{
    padding-top: 10px;
}
.combobox.long-dd.locSelector, .combobox.long-dd.timeSelector
{
    width: 190px;
}

#bookingControl #locAndDates .locPanel, #bookingControl #timeContainer .timePanel
{
    float: left;
    width: 200px;
    padding-right: 20px;
}
#bookingControl #timeContainer .timePanel small
{
    line-height: 25px;
}
#paxContainer .paxPanel
{
    width: 96px;
    float: left;
}

#paxContainer .paxPanel select, #paxContainer .paxPanel label
{
    display: block;
    clear: both;
    width: 96px;
}


#leftPanel
{
    width: 205px;
    height: 420px;
    float: left;
    padding-left: 15px;
}

#leftPanel label
{
    float: left;
    clear: both;
    padding: 15px 0px 5px;
    display: block;
}

#rightPanel
{
    float:left;
    padding-left: 30px;    
    width:/*509px;*/ 725px;
    background:white;
}
.enhancedUI #leftPanel
{
    height: 440px;
}
.enhancedUI #leftPanel label
{
    padding-top: 10px;
}
#leftPanel .Radios label
{
    clear: none;
    padding: 0px 0px 5px;
    font-weight: normal;
}
#leftPanel .Radios
{
    clear: both;
    float: left;
    display: block;
}
#leftPanel select
{
    width: 180px;
    float: left;
    clear: both;
}
select.error
{
    background: #DA471F;
    color: #fff;
}
.errormsg
{
    color: #DA471F;
    font-size: 10px;
    display: none;
}
.smart-combobox-input
{
    float: left;
    display: inline-block;
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    border-right: 0px;
    font-size: 14px !important;
    height: 20px !important;
    line-height: 20px;
    padding: 5px;
    width: 150px;
    clear: left;
}

.smart-combobox-input.error
{
    border-color: #DA471F;
    border-width: 2px;
    padding: 4px 5px 4px 4px;
    border-right: 0px;
}
.smart-radio-button
{
    float: left;
}

.smart-combobox-button
{
    float: left;
    display: inline-block;
    border-top: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    border-left: 0px !important;
    height: 32px !important;
    
    padding: 0px 5px 0px 0px;
    cursor: pointer;
    background: #fff;
    margin: 0px 0px 0px -1px;
}
.smart-combobox-button.error
{
    border-color: #DA471F;
    border-width: 2px;
    border-left: 0px;
}
.smart-combobox-button.error .ui-icon
{
    background-position: 0px 9px;
}
.smart-combobox-button .ui-icon
{
    background: url('../../images/b2b/buttons/arrow-down.png') 0px 10px no-repeat;
    height: 28px !important;
    width: 23px !important;
}
.Radios label
{
    font-weight:normal !important;
}
#getAvailSubmit
{
    background: url('../../images/b2b/buttons/Continue-to-payment.png');
    border: none;
    width: 158px;
    height: 38px;
    text-indent: -9999px;
    float: right;
    margin-top: 15px;
    margin-right: 25px;
    display:block;
    cursor:pointer;
}

.loading #getAvailSubmit
{
    display:none;
}
.loader
{
    display:none;
}
.loading .loader
{
    background: transparent url('../../images/b2b/buttons/Continue-to-payment-submit.gif') 60px 21px no-repeat;
    width: 158px;
    height: 53px;
    display: block;
    float: left;
    line-height: 53px;
}
.loading #loaderContainer .loader
{
    float:none;
    margin:auto;
}
.loading #vehicleCatalog,
.loaded.noresults #availabilityFilter,
.loaded.error #availabilityFilter
{
    display:none;
}
.loading.loadingAltAvail #vehicleCatalog{
	display:block;
}

.loaded #vehicleCatalog, 
.loaded #availabilityFilter
{
    display:block;
}

.loaded.noresults #catalogContainer,
.loaded.error #catalogContainer
{
    display:block;
    background:#fff;
    padding:20px;
    font-size:12px;
    margin-top:5px;
    width:720px;
    clear:both;
    float:left;
}

.loaded.noresults  #availabilityFilter
{
    display:none;
}

.ui-autocomplete.ui-corner-all
{
    border-radius: 0px 0px 4px 4px;
}
.combobox.long-dd
{
    width: 184px;
}
.combobox.long-dd.smart-combobox-input
{
    width: 150px;
}
.combobox.short-dd
{
    width: 84px;
}
.combobox.short-dd.smart-combobox-input
{
    width: 50px;
}
#leftPanel .Radios.ui-buttonset label, #availabilityFilter .Radios.ui-buttonset label
{
    background: url('../../images/b2b/buttons/radio-button.png') no-repeat left;
    border: 0px;
    line-height: 30px;
    height: 30px;
    padding: 0 10px 0 30px;
    cursor: pointer;
}
#leftPanel .Radios.ui-buttonset label.ui-state-active, #availabilityFilter .Radios.ui-buttonset label.ui-state-active
{
    background: url('../../images/b2b/buttons/radio-button-active.png') no-repeat left;
}
.Radios.ui-buttonset label.ui-state-default .ui-button-text, .Radios.ui-buttonset label.ui-state-active .ui-button-text
{
    color: #222;
    font-size: 14px !important;
}
small
{
    font-size: 10px;
}


#ctrlHead
{
    float: left;
    width: 100%;
    height: 67px;
    margin-bottom: 10px;
}

#ctrlHead span
{
    display: block;
    float: left;
}

#ctrlHead span.left
{
    width: 115px;
    font-size: 15px;
    font-weight: bold;
    margin-left: 16px;
}

#ctrlHead big, #ctrlHead small
{
    float: left;
    display: block;
    clear: both;
    width: 635px; /* IE;(*/
}

#ctrlHead big, .step1a span
{
    font-size: 14px;
    font-weight: bold;
    margin: 5px 0 5px 0;
}



#ctrlHead small
{
    font-size: 12px;
}

#ctrlHead small em
{
    color: #FB920E;
}

#ctrlHead small a
{
    color: #000;
    text-decoration: underline;
}

/*
.smart-combobox-button {
    width: 5px;
}
*/

#catalogContainer
{
    float: left;
    width: 976px;
    margin-bottom:20px;
}
#catalogContainer p
{
    clear: both;
    display: block;
}


/*vehicle result items*/

#catalogContainer ul
{
    margin: 0px;
    padding: 0px;
}
#catalogContainer ul li
{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

#vehicleCatalog,.loading #loaderContainer
{
    display:block;
    float: left;
    width: 976px;
}
#vehicleCatalog div.VehicleItem
{
    background-color: #FFFFFF;
    float: left;
    width: 976px;
    border-top: 1px solid #E9E9E9;
    border-left: 1px solid #E9E9E9;
    border-right: 1px solid #E9E9E9;
    padding: 0 0 6px 0px;
    min-height: 90px;0
}

#vehicleCatalog div.VehicleItem li
{
    display: block;
}
#vehicleCatalog .VehicleItem img.RowLogo
{
    display: none;
    float: left;
}

#vehicleCatalog .VehicleItem a.VehicleThumb
{
    border: 0 none;
    display: block;
    float: left;
    text-decoration: none;
    width: 114px;
    padding-top: 32px;
    background: none repeat scroll 0 0 #fdfdfd;
	padding-left:32px;
}


#vehicleCatalog .VehicleItem a.VehicleThumb img
{
    border: 0 none;
}

#vehicleCatalog .VehicleItem .LeftLnk.AALink
{
    margin-top:20px;
}
#vehicleCatalog .VehicleItem div
{
    float: left;
    text-decoration: none;
}

#vehicleCatalog .VehicleItem div.VehicleFeatures
{
    width: 224px;
}

#vehicleCatalog .VehicleItem div.VehicleFeatures a
{
    color: #222222;
    display: block;
    font-size: 18px;
    font-weight: normal;
    text-decoration: none;
    background: none repeat scroll 0 0 #fdfdfd;
    line-height: 32px;
}

#vehicleCatalog .VehicleItem div.VehicleFeatures a:hover
{
    color: #a7a9ac;
    text-decoration: underline;
}

#vehicleCatalog .VehicleItem div.VehicleFeatures img
{
    padding-top: 12px;
}

#vehicleCatalog .VehicleItem div.PriceDescription
{
    background: none repeat scroll 0 0 #fdfdfd;
    height: 32px;
    line-height: 30px;
    width: 368px;
}

#vehicleCatalog .VehicleItem div.PriceDescription a.Avail, #vehicleCatalog .VehicleItem div.PriceDescription a.OnRequest
{
    display: block;
    font-size: 12px;
    margin: 3px 0;
    text-decoration: none;
	color: #61b042;
}

#vehicleCatalog .VehicleItem div.PriceDescription a.Avail:hover, #vehicleCatalog .VehicleItem div.PriceDescription a.OnRequest:hover
{
    text-decoration: underline;
    color: #61b042;
}

#vehicleCatalog .VehicleItem div.PriceDescription span
{
    clear: both;
    color: #8B8B8B;
    display: block;
    float: left;
    font-size: 11px;
}

#vehicleCatalog .VehicleItem div.TotalPrice
{
    width: 128px;
    padding-top: 39px;
    background: none repeat scroll 0 0 #fdfdfd;
}

#vehicleCatalog .VehicleItem div.TotalPrice span
{
    color: #222222;
    font-size: 13px;
    font-weight: bold;
    padding:4px 0px;    
}

#vehicleCatalog .VehicleItem div.TotalPrice .ptalabel,
#vehicleCatalog .VehicleItem div.TotalPrice .paplabel{
	font-size: 10px;
	clear: both;
	display: block;
}
#vehicleCatalog .VehicleItem div.TotalPrice .paplabel{
	margin-top: 20px;
}
#vehicleCatalog .VehicleItem div.TotalPrice .nettprice
{
    background:#8fcdf2;
	padding-left:3px;
	padding-right:3px;    
}

div.AltRow .AltPrice span.nettprice
{
    background:#8fcdf2;
    width:100px;
    margin-left:50px;
    padding:2px;
    margin-bottom:5px;
}

#vehicleCatalog .VehicleItem div.TotalPrice li.Hide
{
    display: none;
}

#vehicleCatalog .VehicleItem .ShowPriceList, #vehicleChargeDetails .ShowPriceList
{
    color: #222;
    text-decoration: underline;
    cursor: pointer;
    display: block;
    float: left;
    font-size: 10px;
    font-weight: normal;
    height: 15px;
    margin: 8px 0 3px;
    width: 170px;
}

#vehicleCatalog .Collapse .ShowPriceList, #configurePanel .Collapse .ShowPriceList
{
    background-position: 0 -15px;
    width: 80px;
}


#vehicleCatalog .Collapse a:hover, #configurePanel .Collapse a:hover
{
    color: #A7a9ac;
}

#vehicleCatalog .VehicleItem a.SelectBtn
{
    background: url("../../images/b2b/buttons/btn_matrix.png") no-repeat scroll 0 -160px transparent;
    display: block;
    float: left;
    height: 25px;
    margin-top: 55px;
    overflow: hidden;
    text-decoration: none;
    text-indent: -9999px;
    width: 75px;
}

.cancelRequest{
	float:right;	
}

#vehicleCatalog div.PriceDetailsList, 
#vehicleChargeDetails div.PriceDetailsList,
#alternativeCatalogContainer div.PriceDetailsList
{
    background-color: #FFFFFF;
    color: #222222;
    float: left;
    width: 976px;
    border-top: 1px dashed #DDDDDD;
    border-left: 1px solid #E9E9E9;
    border-right: 1px solid #E9E9E9;
    border-bottom: 6px solid #F0F0F0;
}

div.PriceDetailsList .popup
{
    color: #E86127;
    cursor: pointer;
}

#vehicleCatalog .Collapse div.PriceDetailsList, 
#vehicleChargeDetails .Collapse div.PriceDetailsList,
#alternativeCatalogContainer .Collapse div.PriceDetailsList
{
    display: none;
}

#vehicleCatalog div.PriceDetailsList table, 
#vehicleChargeDetails div.PriceDetailsList table,
#alternativeCatalogContainer div.PriceDetailsList table
{
    background-color: #f5f6f7;
    margin: 0 0 0 32px;
    width: 800px;
    border-collapse:collapse;
}

#vehicleCatalog div.PriceDetailsList table thead, 
#vehicleChargeDetails div.PriceDetailsList table thead,
#alternativeCatalogContainer div.PriceDetailsList table thead
{
    background-color: #fff;
    text-align: left;
}

#vehicleCatalog .disc, #alternativeCatalogContainer .disc {
    display: block;
    float: left;
    margin: 3px 0 5px 35px;
    font-weight: bold;
    font-size: 10px; 
}

#vehicleCatalog div.PriceDetailsList th, 
#vehicleChargeDetails div.PriceDetailsList th,
#alternativeCatalogContainer div.PriceDetailsList th
{
    color: #222222;
    font-size: 11px;
    font-weight: bold;
    height: 24px;
	
	padding-top:8px;
	padding-left:5px;
}

#vehicleCatalog div.PriceDetailsList th.RateTH, 
#vehicleChargeDetails div.PriceDetailsList th.RateTH,
#alternativeCatalogContainer div.PriceDetailsList th.RateTH
{
    width: 166px;
}

#vehicleCatalog div.PriceDetailsList th.FreeTH, 
#vehicleChargeDetails div.PriceDetailsList th.FreeTH,
#alternativeCatalogContainer div.PriceDetailsList th.FreeTH
{
    width: 90px;
}

#vehicleCatalog div.PriceDetailsList th.HireTH, 
#vehicleChargeDetails div.PriceDetailsList th.HireTH,
#alternativeCatalogContainer div.PriceDetailsList th.HireTH
{
    width: 64px;
}

#vehicleCatalog div.PriceDetailsList th.TotalTH, 
#vehicleChargeDetails div.PriceDetailsList th.TotalTH,
#alternativeCatalogContainer div.PriceDetailsList th.TotalTH
{
    width: 90px;
}

#vehicleCatalog div.PriceDetailsList td, 
#vehicleChargeDetails div.PriceDetailsList td,
#alternativeCatalogContainer div.PriceDetailsList td
{
    font-size: 11px;
}

#vehicleCatalog div.PriceDetailsList td, 
#vehicleChargeDetails div.PriceDetailsList td,
#alternativeCatalogContainer div.PriceDetailsList td
{
    padding: 5px 2px 2px 5px;
	height:24px;
}

div.PriceDetailsList table tr.total
{
    background-color: #eeeeee;
}

#vehicleCatalog div.PriceDetailsList td.TotalTD, 
#vehicleChargeDetails div.PriceDetailsList td.TotalTD,
#alternativeCatalogContainer div.PriceDetailsList td.TotalTD
{
    font-weight: bold;
}

#vehicleCatalog div.NoFreeDays th.FreeTH, 
#vehicleCatalog div.NoFreeDays td.fd,
#alternativeCatalogContainer div.NoFreeDays td.fd  
{
    display: none;
}

div.DiscountedDaysPopUp
{
    display: none;
    color: #FFFFFF;
    font-size: 9px;
}

#vehicleCatalogContainer #emptySelectionMsg
{
    float: left;
}

#vehicleCatalogContainer #emptySelectionMsg span
{
    color: #F58220;
    font-weight: bold;
    display: block;
    float: left;
    font-size: 11px;
    margin: 20px 0 40px;
    text-align: center;
    width: 976px;
}

#availabilityFilter
{
    float: left;
    clear: both;
    width: 976px;
    font-size: 12px;
    padding: 10px 0px 5px 0px;    
    display: none;
    border-top: 6px solid #E9E9E9;
    border-left: 1px solid #E9E9E9;
    border-right: 1px solid #E9E9E9;
    background-color: #eeeeee;
    line-height:20px;

}
.enhancedUI #availabilityFilter
{
    padding-top:0px;
}

#availabilityFilter span
{
    display: block;
    float: left;
}

#availabilityFilter span.hasnogross
{
    background:#8fcdf2;
    padding:0px 2px;
    font-size:10px;
}
#availabilityFilter span.lbl
{
    /* styling needed */
    padding: 0px 10px 0px 16px;
}

#availabilityFilter span.Radios
{
    /* styling needed */
    padding-right: 10px;
}

#availabilityFilter span.curSelector
{
    float:right;
    max-width:315px;
	margin-right:65px;
}
#availabilityFilter span.curSelector .smart-combobox-input
{
    clear: none;
}
#availabilityFilter span.curSelector label
{
    margin-right: 5px;
}

#availabilityFilter.nogrossnetoption span.lbl,
#availabilityFilter.nogrossnetoption span.Radios{
	visibility: hidden;
}

#availabilityFilter label
{
    float: left;
}


#availabilityFilter #currencySelector
{
    float: right;
}

.enhancedUI #availabilityFilter span
{
    line-height: 30px;
}

#vehicleCatalog div.VehicleItem div.Limited .Top span
{
    display: block;
    float: left;
    width:368px;
}

#vehicleCatalog div.VehicleItem div.Limited .Top a
{
    color: #da1f1f;
    font-size: 13px;
    display: block;
    float: left;
    text-decoration: none;
    line-height: 32px;
}

#vehicleCatalog div.VehicleItem div.Limited .Top a:hover
{
    color: #d43439;
    text-decoration: underline;
}


#vehicleCatalog div.VehicleItem div.Limited .Top .Contact
{
    clear: both;
    float: left;
    font-size: 12px;
    color: #222222;
    line-height: 17px;
}
#vehicleCatalog div.VehicleItem div.Err
{
    background: #FFF1A3 url(../../images/icons/exMarkAvailRow.gif) no-repeat 0 0;
    height: 48px;
    width: 505px;
    padding: 5px 0 0 33px;
    color: #33335A;
    font-size: 11px;
    display: none;
    border: #2EB3D2 1px solid;
    padding-top: 32px;
    margin-top:16px;
}

#vehicleCatalog .Blocking .Err
{
    display: block !important;
}

#vehicleCatalog div.VehicleItem div.Limited
{
    float: left;
}

#vehicleCatalog .Blocking .Limited
{
    display: none;
}

button::-moz-focus-inner {
  border: 0;
}

#catalogContainer .VehicleItem  .Top span {
    display: block;
    float: left;
    clear: both; 
    width: 290px; 
    font-size: 11px;    
}

#catalogContainer .VehicleItem  .Top, .VehicleItem  .LeftLnk {
    float: left;
}

#catalogContainer .VehicleItem .Err  {
   display: none;
}

#catalogContainer .VehicleItem div.Limited .AALink a {
    -moz-background-clip: border;
    -moz-background-origin: padding;
    -moz-background-size: auto auto;
    background-attachment: scroll;
    background-color: transparent;
    background-image: url("../../images/b2b/buttons/btn_matrix.png");
    background-position: 0 -1039px;
    background-repeat: no-repeat;
    color: #F58220;
    display: block;
    height: 64px;
    margin-left: 13px;
    overflow-x: hidden;
    overflow-y: hidden;
    text-indent: -9999px;
    width: 160px;
}

#catalogContainer .OptionRow.loading .VehicleItem div.Limited .AALink a,
#vehicleCatalog .VehicleItem a.SelectBtn.loading,
div.AltRow .AltSelect.loading
{
    background: url("../../images/b2b/buttons/Continue-to-payment-submit.gif") no-repeat 0 0;
    height:50px;
}


.ui-widget
{
    font-family: Helvetica,Arial,sans-serif;
}
#Table1
{
    width:976px !important;
    background:url('../../images/b2b/tiles/bANDm_header-976.jpg') repeat-x;
}

#Table1 #Header1_imgHeader
{
    visibility:hidden;
    height:92px;    
    display:block;
}

#tooltip {
    background: #eee;
    color: #222;
    border: solid 2px #d81818;
    position: absolute;
    z-index: 3000;
    opacity: 0.95;
    border: solid 1px #E9E9E9;    
    padding: 5px 10px 15px;    
}

.bubbleBody  {
    font-size: 9px;
}

.bubbleBody h3 {
    font-size: 11px;
	margin-bottom:8px;
    color: #222;	
}

.bubbleBody td  
{
    color: #222;    
}

.bubbleBody .total td { 
    color:  #222;
}

.bubbleBody .note {
    float : left;
    clear : both;
}


/* AA */
#vehicleCatalogContainer .VehicleItem div.Limited .AALink a {
	color:#F58220;
	display: block;
	background:transparent url("../../images/b2b/buttons/btn_matrix.png") no-repeat  0 -1039px;
    text-indent: -9999px;
    overflow: hidden;
	height: 48px;
    width: 157px;
	margin-left: 13px;
}

#vehicleCatalogContainer .VehicleItem div.Limited .AALink a:hover {
     background-position: 0 -1119px;
	color:#F58220 !important; /* REMOVE FROM BASE.CSS */
	text-decoration:underline;     
}
div.AltRow .AltPrice {
    width: 195px;
    float: left;
}


div.AltRow div.noAvailability {
    background: url("../../images/b/icons/altx.png") no-repeat 0px 6px;    
    float: left;
    height: 60px;
    margin-top: 20px;
    width: 270px;
}

div.AltRow div.noAvailability span {
    clear: both;
    display: block;
    float: left;
    font-size: 10px;
    font-weight: bold;
    line-height: 15px;
    margin-left: 50px; 
}

div.AltRow .AltPrice span {
    color: #222;
    font-size: 10px;
    display:block;
    height:18px;    
    padding-left: 50px;

}

div.AltRow .AltPrice span.ptalabel{
	background: url("../../images/b2b/icons/altCB.png") no-repeat 0 0 transparent !important;
    margin-top: 26px;  	 
}

div.AltRow .AltPrice span.pta,div.AltRow .AltPrice span.pap{
    font-weight: bold;
    font-size:11px;     
    padding-bottom:5px;
}

#selectedVehiclePanel {
    float: left;
    clear: both;
    width: 978px; 
    height: 130px;
    cursor:pointer;
}

#selectedVehiclePanel h3{
    float: left;
    display:block;
    margin-top: 5px;     
}

#selectedVehiclePanel img {
    float: left;
    display:block;
    margin-top: 8px;     
	background-color: #FFFFFF;
}

#selectedVehiclePanel #selectedVImage
{
    margin-left:40px;
    border: 1px solid #E9E9E9;
    padding: 2px;
	float:right;
	margin-right:16px;
}

#selectedVehiclePanel #selectedVIncs {
    margin-left: 36px;
    margin-top:17px;
}

#selectedVehiclePanel span.reel {
    float: right;
    margin-right:15px;
}


#selectedVehiclePanel h3 {
    color: #61B042;
    font-size: 16px; 
    margin: 17px 0px 0px 17px;
    width:180px;
    overflow: hidden;
	}

#alternativeMessagePanel, #alternateContactPanel {
    float: left;
    clear: both;
    width: 900px;
    height: 40px;
    width: 978px; 
    background: url("../../images/b2b/tiles/aaArrow.png") no-repeat 10px 10px #EEEEEE;
    border-bottom: 1px solid #fff; 
}

#alternativeMessagePanel span, #alternateContactPanel span {
    color: #222;
    font-size: 14px;
    float: left;
    margin: 14px 10px 0 64px;
    font-weight: bold;
     
}

#alternativeMessagePanel small, #alternateContactPanel small {
    float: left;
    display: block;
    margin: 14px 0 0 20px;
    font-size: 9px;
    font-weight: bold; 
    color: #7E550F;
}

div.AltRow {
    /*background: url("../../images/b2b/tiles/altRowBG.png") repeat-x scroll 0 0 transparent !important;*/    
    width: 976px;
    height: 140px; 
    border-bottom: 1px solid #E9E9E9;
    float: left;
    clear: both;
}                        
div.AltRow.OriginalSearch{
	height:100px;
}
div.AltRow .AltType {
    float: left;/* base */
    height: 140px;/* base */
    width: 155px; /* base */
    background: url("../../images/b2b/images/b/tiles/aa-arrow.png") no-repeat scroll transparent;
}

div.SwitchLocation .AltType {  
    background-color: #007383;
    background-position: 147px 0;
}

div.OneWaySwitchLocation .AltType {  
    background-color: #007383;
    background-position: 147px 0;
}


div.MoveForward .AltType {
    background-color: #0C8597;
    background-position: 147px -84px;
}

div.OriginalSearch .AltType 
{
    background-color: #007383;
    width:145px;
    margin-right:10px;
    background-image:none;
}


div.PickUpBased .AltType {
    background-color: #399BA7;
    background-position: 147px -168px;
}

div.MoveBackwards .AltType {
    background-color: #0C8597;
    background-position: 147px -254px;
}

div.DropOffBased .AltType {
    background-color: #399BA7;
    background-position: 147px -340px;
}

/* add all avail types here..*/ 

div.AltRow .AltType span {
    font-size: 11px;
    font-weight: bold; 
    display: block;
    width:80px;                             
    color: #fff;  
    margin: 20px 0 0 16px;
}

div.AltRow div.AltTime {
    float: left;
    width: 538px;
    height: 86px;
}


div.AltRow .TimeSpan {
    height:10px;
    width:400px;
    float: left;
    border: solid 1px #aaa;
    margin: 0 0 0 74px;
    background-color: #fff;                            
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

div.AltRow .TimeSpan span {
    display: block;
    float: left;
    height: 10px;                            
}

div.AltRow .TimeSpan span.Avail {
    background-color: #13A100;
}

div.AltRow .TimeSpan span.noAvail {
    background-color: #A10000;
}

div.AltRow .TimeSpan span.hireDates {
    /*background-color: #4EA143;*/                            
}

div.AltRow .TimeLabels {
    float: left;
    display: block;                            
    width:462px;    
    margin-left: 72px;                              
}

div.AltRow .TimeLabels span {    
    font-size: 11px;
    float: left;
    display:block; 
    text-align: center;                            
}
div.AltRow .TimeLabels.period .hireORDates small
{
    white-space:nowrap;
}
div.AltRow .TimeLabels .hireORDates small {

}              

.hireORDates small {
    text-align: center;
}          

div.AltRow .TimeLabels .postORDates small {
    width: 40px;
}

div.AltRow .dates {                             
    height: 30px;
}

div.AltRow .period {
    margin-top: 13px;
    height:15px;
}

#alternativeCatalogContainer div.OptionRow ul.Prices {
    margin-top:22px;
}

#alternativeCatalogContainer div.OptionRow .ShowPriceList {
    color: #F58220;
    text-decoration: underline; 
    font-size: 9px;
    cursor: pointer;
    margin-top: 5px;  
    display: block;
    margin-left: 50px; 
}

div.Expand .PriceDetailsList {/* base */
    display: block;
    float:left;
    margin-left: 80px;
    font-size: 11px; 
}

div.AltRow .AltSelect {
    display: block;/* base*/
    float: right;   /* base*/
    background: url("../../images/b2b/buttons/btn_matrix.png") no-repeat 0 -159px transparent;                           
    height: 26px;                           
    text-decoration: none;/* base*/
    text-indent: -9999px; /* base*/
    width: 72px;
    margin: 22px 15px 0px 0px; 
    overflow: hidden;
}

div.AltRow .AltSelect:hover {
    background-position: 0 -239px;
}

div.AltRow chargeTable {
    float: left
}

#alternativeCatalogContainer div.OptionRow .NoAlt
{
    float:left;
    padding: 0px 15px 0px 75px;
    width:731px;
}
#alternativeCatalogContainer div.OptionRow .NoAlt span, div.OptionRow .NoAlt a {
    display: block;
    float: left;
    margin-top: 28px;    
}

#alternativeCatalogContainer div.OptionRow .NoAlt span {   
    height: 20px;    
    line-height: 18px; 
    font-size: 12px; 
}

#alternativeCatalogContainer div.OptionRow .NoAlt small{
    background: url("../../images/b2b/icons/altx.png") no-repeat 0 0 transparent;
    height: 20px;
    width: 20px;
    display: block;
    float: left; 
    margin-top:35px;  
    overflow: hidden;
    text-indent: -1000em 
}

#alternativeCatalogContainer div.OptionRow .NoAlt .details {
    color:  #222;
    text-decoration: underline;
    font-size: 9px;
    line-height: 18px;
    margin-left: 10px;
    margin-right: 364px;
    cursor:default;     
}

#alternativeCatalogContainer div.OptionRow .NoAlt a.call, #catalogAAHeader a.freephone {
    width: 106px;
    height: 32px;
    background: url("../../images/b2b/buttons/btn_matrix.png") no-repeat 0 -559px transparent;
    overflow: hidden;
    text-indent: -1000em; 
    float: right;
}

#catalogAAHeader a.freephone {
	margin: 20px 10px 0 0;
}


#alternativeCatalogContainer div.OptionRow .NoAlt a.call:hover {
    background-position:  0 -639px;
}

#alternate
{
    background:url('../../images/b/tiles/header-banner.jpg') no-repeat top center;
    min-width:977px;
}

#vehicleAAContainer
{
    width:977px;
    margin-left:auto;
    margin-right:auto;
    text-align:left;
    border: solid 0px #fff;    
}

#vehicleAAContainer div
{
    font-family:Tahoma;
}

#vechileCatalogAAContainer
{
   background-color: #FFFFFF;
    border-left: 1px solid #E9E9E9;
    border-right: 1px solid #E9E9E9;
    border-top: 1px solid #E9E9E9;
    color: #222222;
    float: left;
    font-size: 12px;
    margin-bottom: 16px;
    min-height: 90px;
    padding: 0;
    width: 976px;
}
#vechileCatalogAAContainer h2 {
    float:left;
    font-size:18px;
    font-weight:bold;
    color:#fa8300;
    padding: 34px 0px 0px 15px;
}
#vechileCatalogAAContainer #resultsHeader {
    background-color: #fff;
    width:500px;
    height:30px;
    font-size:12px;
    margin-right:32px;
    color:#000;
    float:right;
    padding: 34px 0px 0px 0px;    
}

#alternativeCatalogContainer a.freephone
{
    background:url("../../images/b2b/buttons/btn_matrix.png") no-repeat;
    width: 110px;
    height:38px;
    display:block;
    text-indent:-9999px;
    background-position: -400px -1040px;
}
#alternativeCatalogContainer .rightHandBanner
{
    display:none;
}
#alternativeCatalogContainer.unavailable {
    float:left;
    width:977px;
    background:url(../../images/b/tiles/rightHand-24-7-image.jpg) no-repeat right 259px;
}


#alternativeCatalogContainer.unavailable .rightHandBanner
{
    display:block;
    float:right;
}
#alternativeCatalogContainer.unavailable .OptionRow
{
    float:left;
}

#alternativeCatalogContainer.unavailable .OptionRow .AltRow
{
    width:706px;
}
#alternativeCatalogContainer.unavailable .OptionRow .AltRow.OriginalSearch
{
    width:977px;
}
#alternativeCatalogContainer.unavailable .OptionRow .AltRow.OriginalSearch .noAvailability
{
    margin-left:20px;
    width:250px;
}
#alternativeCatalogContainer.unavailable .rightHandBanner
{
    width:270px;
    overflow:hidden;
    display:block;
}
#alternativeCatalogContainer.unavailable .rightHandBanner a.freephone
{
    margin-left:18px;
}
#alternativeCatalogContainer.unavailable .rightHandBanner img
{
    border:none;
    margin: 20px;
}
#alternativeCatalogContainer.unavailable .OptionRow .NoAlt
{
    width:461px;
}
#alternativeCatalogContainer.unavailable .OptionRow .NoAlt .details
{
    margin-right:30px;
}
#alternativeCatalogContainer.unavailable .OptionRow .NoAlt small
{
    margin-top:30px;   
}
#alternativeCatalogContainer.unavailable  .OptionRow .NoAlt a.call 
{
    display:none;
}

#alternativeCatalogContainer .footerRow{
 	background: none repeat scroll 0 0 #fff;
    float: left;
    width: 100%;
	height:100px;
}

#alternativeCatalogContainer .footerRow .BackBtn{
    float: left;
    display: block;
    background : #fff url(../../images/b2b/btn_matrix.png) no-repeat  0 -400px;
    height: 25px;
    width: 73px;
    overflow:hidden;
    text-indent:-9999px;
	margin-left:16px;
	margin-top:32px;
}

#footerContainer
{
    background:url(../../images/b/tiles/tear-1024.gif) repeat-y;
    float:left;
    display:block;
    height:165px;
    width:997px;
    margin-left:-10px;
}
#footerContainer #footerWrapper
{
    background:url('../../images/b/tiles/footer-24-7-image.jpg') no-repeat left top #5385c9;
    display:block;
    height:165px;
    width:577px;
    padding-left:400px;
    margin-left:10px;
    float:left;
    text-indent:-9999px;
}
#footerContainer .resText
{
    background:url('../../images/b/tiles/footer-24-7-reservations-title.gif') no-repeat;
    width:305px;
    height:40px;
    float:left;
    display:block;
    margin-top: 20px;
}
#footerContainer a
{
    display:block;
    float:left;
    width:1px;
    height:1px;
    background:url("../../images/b2b/buttons/btn_matrix.png") no-repeat;

}
#footerContainer a.freephone
{
    width: 110px;
    height:38px;
    background-position: -400px -1040px;
    margin-top:20px;
    margin-left:20px;
}
#footerContainer a.freephone:hover
{
    background-position: -400px -1120px;
}
#footerContainer span.searchall
{
    clear:both;
    display:block;
    background:url('../../images/b/tiles/searchall_text.png') 0px 10px no-repeat;
    width:290px;
    height:51px;
}
#footerContainer a.returntosearch
{
    width: 180px;
    height:25px;
    background-position: 0px -1200px;
    margin-top:10px;
    clear:left;
}
#footerContainer a.returntosearch:hover
{
   background-position: 0px -1280px;
}
#footerContainer a.otherbrands
{
    width: 180px;
    height:25px;
    background-position: -200px -1200px; 
    margin-top:10px;
    margin-left:20px;    
    display:none;
}
#footerContainer a.otherbrands:hover
{
    background-position: -200px -1280px; 
}

#vehicleAAContainer #disclaimer
{
    background:transparent url(../../images/b/tiles/tear-bottom-1024.png) no-repeat  0 0px;
    float : left;
    width: 997px;
    padding-top: 10px;    
	padding-left:17px;
    height : 45px;
	margin-left:-10px;
    font-size : 11px;
    color:#999;
    
}
#footerLinksBottom 
{
    clear:both;
    padding-top: 25px;
    width:800px;
    height:35px;
    text-align: center;
    width:100%;
}

#footerLinksBottom #footerLinksLogos {
    width:600px;
    margin:auto;
}

#footerLinksBottom #footerLinksLogos li#logos {
    background: url("../../images/logo-lockup.png") no-repeat scroll 0 0 transparent;
}

#footerLinksBottom #footerLinksLogos li {
    font-size:9px;
    color:#999;
    float: left;
    line-height: 15px;
    padding: 0;
    text-align: left;
    vertical-align: top;
}
#footerLinksBottom #footerLinksLogos li#logos a {
    display: block;
    float: left;
    height: 40px;
    outline: medium none;
    text-indent: -9999px;
    width: 50px;
}
#footerLinksBottom #footerLinksLogos li#copyright
{
    margin-left:20px;
}
#footerLinksBottom #footerLinksLogos li#logos #THLLogo {
    width: 80px;
}
#footerLinksBottom #footerLinksLogos li#logos a#MauiLogo {
    width: 60px;
}
#alternate #tooltip
{
    opacity:1;
}

#tooltip .SmallContainer
{
    background: url("../../images/b/tiles/availabilitybg.png") repeat-x scroll 0 0 #F58220;
    border: 2px solid #D81818;
    color:#000;
    padding: 5px 10px 15px;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    float: left;
    max-width:500px;
    opacity: 0.95;
}
#tooltip .LargeContainer
{
    font-family:Tahoma !important;
    background: url("../../images/b/tiles/tooltip_bg_large.png") repeat-x scroll 0 0 #F58220;
    border: 2px solid #D81818;
    color: #7E1F03;
    padding: 5px 10px 15px;
    float: left;
    width:610px;
    position:relative;
    /*css3*/
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;                  
    border-radius: 5px;
    z-index:2;
}
#tooltip .LargeContainer .ads
{
    float:right;
    max-height:44px;
}
#tooltip .LargeContainer h3
{
    line-height: 20px;
    float: left;            
    margin-top: 22px;
    vertical-align: bottom;
    padding-bottom:10px;
}
#tooltip .LargeContainer .chargesTable
{
    width:100%;
    border-collapse:collapse;
    clear:both;
    text-align:left;
    font-size:11px;             
}
#tooltip .LargeContainer .chargesTable th
{
    color:#333;
    text-align:left;            
    padding:10px 0px 10px 5px;
    background:#FFCD87;            
}
#tooltip .LargeContainer .chargesTable td
{
    padding:5px 0px 5px 5px;
    background:#fff;
    color:#333;
    text-align:left;            
}

#tooltip .LargeContainer .chargesTable th.PerTH,
#tooltip .LargeContainer .chargesTable td.pth
{
    width:60px;
}
#tooltip .LargeContainer .chargesTable th.DiscTH,
#tooltip .LargeContainer .chargesTable td.dth
{
    width:80px;
}
        
#tooltip .LargeContainer .chargesTable tfoot td
{
    background:#FFE3BC;
}
        
#alternate .steps a {
    display: block;
    overflow: hidden;
    width: 300px;
    height: 30px; 
    overflow: hidden;
    text-indent: -1000em 
}

#alternate div.AltRow .AltPrice li.Fp span  {
    margin-top: 0 !important;
    background-image: none !important; 
}

.altRate{
	display:none;
	
}
.availPopUp {
    width:280px;
    line-height:18px;
    color:#000;
    max-width:500px;    
    /*padding: 5px 10px 15px;
    border: 2px solid #D81818;
    background-color:#fff;    
    background: url("../../images/b/tiles/availabilitybg.png") repeat-x scroll 0 0 #F58220;*/
}
/* AA Ends */
.breadCrumb{
	background:url('../../images/b2b/B2B_breadcrumbs.png') 1px -336px no-repeat;
	width:976px;
	height:40px;
}
.breadCrumb.aa{
	background-position:1px -490px;
}
.breadCrumb.config{
	background-position:1px -377px;
}
.breadCrumb.config.aa{
	background-position:1px -530px;
}
.breadCrumb.quote{
	background-position:1px -415px;
}
.breadCrumb.quote.aa{
	background-position:1px -568px;
}

#loadingDialog,.loaded #loadingDialog
{
	position:absolute;
	width:100%;
	height:100%;
	z-index:1002;
	top:0px;
	left:0px;
	text-align:center;
	display:none;
}

.loading #loadingDialog{
	display:block;
}

#vehicleCatalog .OptionRow .step1a {
    background-color: #fff;
    margin: 1px 0 0px 1px;
    float:left;
    display: block;
    clear: both;
    width: 100%;    
}

#vehicleCatalog .OptionRow .step1a span {
    margin: 17px 0 0 16px;
    float:left;
    padding:0 0 5px 0;
}

.chargesTable thead tr th {
 text-align: left !important;
}


#quoteDisclaimer {
    float : left;
	clear: both;
    width: 722px;
    height : 52px;
    background : #FDF2E9 url(../../images/b/icons/exMark.png) no-repeat  0px 0px;
    overflow : hidden;    
    margin:  5px 0 20px 20px;
    border : solid 1px #F58220;
    font-size : 11px;
    color: #000; 
}

#quoteDisclaimer span {
    display: block;
    margin-bottom: 0;
    margin-left: 50px;
    margin-right: 0;
    margin-top: 10px;
}

#errorPanel {    
	float: left;
    clear: both; 
	margin: 20px;	
}

#errorPanel span {
    color: #f00;
    font-size: 12px;
    clear: both;
	margin: 20px;
	visibility: hidden;
}

#errorPanel.show span {
    visibility : visible
}

.PriceDescription .pkgInfo {
	line-height:12px;
	width: 300px;
}

.PriceDescription .pkgInfo small, .PriceDescription .pkgInfo big { 
	display: block;
	clear: both;
}
