/* TODO: we will remove this into main css once completed */

body {
    background-color: #f0f0f0;
	
}

#configureContainer {
   background-color: #FFFFFF;
    float: left;
    width: 976px;
    border-top: 1px solid #E9E9E9;
    border-left: 1px solid #E9E9E9;
    border-right: 1px solid #E9E9E9;
    padding:0;
	margin-bottom:16px;
    min-height: 90px;
	font-size: 12px;
	color: #222222;
}

#configureContainer h2 {
    font-size: 14px;
    font-weight: bold;   
	color: #222222;
	padding-left:16px;
	float:left;
}


#configurePanel{
    width: 100%;
}


#topHeader .currencyPanel {
    float: right;
	padding:16px;
}

#configurePanel #vehicleTopPanel {    
    float: left;
    width: 944px;
	padding:16px;
	background-color:#EEEEEE;
}

#vehicleTopPanel .VehicleHeader {
    float: left;
    width:48%;
}

#vehicleTopPanel .VehicleHeader h4 {
	clear: both;
}

#vehicleTopPanel b{
font-size: 14px;
}

#vehicleTopPanel .VehicleHeader a {
    text-decoration: none;
    font-size: 18px; 
    padding-bottom: 10px;
    float:left;
    clear: both;
	color:#61B042;
	
}

#vehicleTopPanel .VehicleHeader a:hover {
    text-decoration: underline;
}

#configurePanel div.section, #insurancePanel {
    clear: both;
    float: left;
    width : 100%; 
	padding-bottom: 16px;
}

 #insurancePanel {
    /*display: none;*/
}

#configurePanel #vehicleChargeDetails.section {
   padding-bottom: 0px !important;
}

#configurePanel #hireItemsPanel{
	border-top: 6px solid #F0F0F0;
}
#configurePanel div.title {    
    border-top: 1px solid  #E9E9E9;
    float: left;
    width: 100%;
    padding-top: 20px; 
	padding-left:32px;

}

#configurePanel h4 {    
    float: left;
    display: block;    
    font-size: 14px;  
    padding: 0 0 16px 0;
    margin: 0;
	font-weight:bold;
	color:#222222;
}

#configurePanel div.title a.Quest, #allInclusivePanel a.Quest {
    display: block;
    width: 24px;
    height: 24px;
    background : #fff url(../../images/b2b/btn_matrix.png) no-repeat  -800px -320px;    
    overflow: hidden;
    text-indent: -9999px;
}

#vehicleTopPanel .VehicleImages {
    float: right; 
    /*width: 350px;*/
}

#vehicleTopPanel div.VehicleHeader span {
    display: block;
    float: left;
    margin-top: 5px;
    width: 500px;
}

#vehicleTopPanel .VehicleImages .left {
    float: left;
	margin-top:32px;
}

#vehicleTopPanel .VehicleImages  .right {
    float: right;
    width: 162px;
}

#vehicleTopPanel .VehicleImages  .right img {
	padding:8px;
	border:1px solid #E9E9E9;
	background-color:#fff;
}

#vehicleChargeDetails #ChargeHeader {
    float: left;
    display :block;
    width: 100%;
    clear: both;
    margin-bottom:10px;
}
#vehicleChargeDetails #ChargeHeader .Title{
	float:left;
}
#vehicleChargeDetails #ChargeHeader small {
    float: left;
    font-size: 12px;
    margin-left: 84px;
	margin-top:4px;
}

#vehicleChargeDetails a.ShowPriceList {
    float: left;
    margin: 10px 0 0 84px;
    width: 80px;
	clear:both;
	display:none; /* no toggle support */
}

#vehicleChargeDetails #ChargeHeader span.Total {
    display: block;
    float: right;
    margin-right: 38px;
	font-weight:bold;
	display:none;
}

#vehicleChargeDetails #ChargeHeader span.Total small {
    font-size: 13px;
    display:block;
    clear:both;
}
#vehicleChargeDetails #ChargeHeader span.Total small.ptalabel,
#vehicleChargeDetails #ChargeHeader span.Total small.paplabel{
	font-size:10px;
	font-weight:normal;	
	padding:0px;
}

#vehicleChargeDetails #ChargeHeader span.Total small.paplabel{
	margin-top:10px;
}

#vehicleChargeDetails div.PriceDetailsList {
    clear: both;
	border-left:0;
    border-right: 0;
	border-bottom-color: #DDDDDD;
    border-bottom-style: dashed;
    border-bottom-width: 1px;
}

#vehicleChargeDetails div.PriceDetailsList table, #alternativeCatalogContainer div.PriceDetailsList table {
    margin: 0 0 0 20px;
    width: 942px;
}

   
#insurancePanel table, #hireItemsPanel table, #allInclusivePanel table {
	margin-left:32px;
	border-collapse:collapse;	
	clear: both;
 }
 
 
 #allInclusivePanel table td.desc {
    width: 249px;
 }
 
 #allInclusivePanel td.days {
    width: 68px;
 }
 
 #allInclusivePanel td.price  {
     width: 478px;
}
 
#insurancePanel #insOptionsTable tr:nth-child(even), #hireItemsPanel table tr:nth-child(even) {background: #ffffff;}
#insurancePanel #insOptionsTable tr:nth-child(odd), #hireItemsPanel table tr:nth-child(odd) {background: #F5F6F7;}
 

#insurancePanel table tr, #allInclusivePanel table tr{
	height:32px;
}

#insurancePanel td.cb, #allInclusivePanel td.cb,  #hireItemsPanel table td.cb {
    width:50px;
}

#insurancePanel td.desc, #hireItemsPanel table td.desc {
    width:245px;
}

#insurancePanel td.days, #hireItemsPanel table td.days {
    width:70px;
	color:#aaaaaa;
}

#insurancePanel td.price {
    width:220px;
}

 #hireItemsPanel table td.price {
    width: 473px;
 }
 
 .NoDiscount table td.price {
    width: 468px !important;
 }
 
 #hireItemsPanel table {
    width: 930px;
 }
 
 
#hireItemsPanel table td.total {
    text-align: right;
}
 
#hireItemsPanel table tr {
	height:32px;
}

#insurancePanel span {
	padding-left:84px;
	font-size:11px;
	line-height:38px;
 }
 
#allInclusivePanel small, #insurancePanel small, #configureUpdatePanel small {
    font-size: 12px;
 }

 
 #configureUpdatePanel span {
    display: block;
    float: left;
 }
 
  #configureUpdatePanel .total {
   background-color:#d8d9da;
    font-size: 17px;
    font-weight: bold;
    line-height: 23px;
    width: 912px;    
	padding:16px 32px 16px 32px;
	
 }
  
  #configureUpdatePanel .TaxMsg {
    margin: 10px 0 10px 0;
  }
 
  #configureUpdatePanel .total .price {
    float: right;
 }
 
 #configureUpdatePanel .total .price small {
    font-size: 17px;
 }
 
 #configureUpdatePanel .TaxMsg {
    width: 100%;
 }
 
 #configureUpdatePanel .TaxMsg small{
    font-size: 11px !important;
	padding-left:32px;
 }
  
 #configureUpdatePanel .Submit {
    display: block;
    width:912px;
    height:66px;
	padding:0 32px 0 32px;
}

#configureUpdatePanel .Submit .BackBtn {
    float: left;
    display: block;
    background : #fff url(../../images/b2b/btn_matrix.png) no-repeat  0 -400px;
    height: 25px;
    width: 73px;
    overflow:hidden;
    text-indent:-9999px;
}

#configureUpdatePanel .Submit input {
    float: right;
    border: 0px;
    height: 49px;
    overflow: hidden;
    text-indent:-9999px;
    text-transform: capitalize;/*ie ;o(*/
    width:140px;      
    cursor: pointer;
}

#configureUpdatePanel .Submit input#confrmBooking {
    background : #fff url(../../images/b2b/btn_matrix.png) no-repeat  -200px -1449px;
}

#configureUpdatePanel .Submit input#provisionalQuote {
    background : #fff url(../../images/b2b/btn_matrix.png) no-repeat  0px -1387px;
}

#configureUpdatePanel .Submit input#saveQuote {
    background : #fff url(../../images/b2b/btn_matrix.png) no-repeat  -200px -160px;
}

#insurancePanel .AgeSelector {
    clear: none;
    display: block;
    float: left;
    width: 150px;
    padding-left: 10px;
    line-height: 20px;
}

#configurePanel #insurancePanel div.title a.Quest {
    float: left;
    margin-left:2px;
}

#configurePanel #insurancePanel #insOptionsTable tr.IsInclusive  {
    display:none;
}

#configurePanel #allInclusivePanel {
    float: left;
    clear: both;
    font-weight:bold;
}

#insurancePanel #insOptionsTable td.price  {
    width: 211px !important;
}

#vehicleChargeDetails.Collapse div.PriceDetailsList {
    display: none;
}

#configureContainer .incMode #insurancePanel {
    display: none;
}

#allInclusivePanel td.desc small, #allInclusivePanel td.desc a  {
    float: left;
    line-height: 18px;
    margin-right: 3px;
}

 #allInclusivePanel big {
            display: block;
            float: left;
            clear: both;
            width: 100%;
            height: 35px; 
            text-align: center;
            margin: 20px;
            line-height: 35px;
            background: url('../../images/b2b/tiles/ajax-loader.gif') 240px 0px no-repeat;             
}

#configureUpdatePanel .price small  {
    display: block;
    float: left;
    clear: both;
}

#configureUpdatePanel .labels label 
{
    float: left;
    clear: both;
    display: block;
}
        
#allInclusivePanel {
    display: none; 
}

.hasIncOption #allInclusivePanel {
    display: block;
}

.incSelected #insurancePanel div, .incSelected #insurancePanel table {
    display:none;
}

.incModeincSelected #allInclusivePanel td.total {
    display: none;
}

       
#configureUpdatePanel .Submit.submitting a, #configureUpdatePanel .Submit.submitting input {
        display: none;
}
#configureUpdatePanel .Submit.submitting {
        background: transparent url('../../images/b2b/buttons/Continue-to-payment-submit.gif') 490px 30px no-repeat;
}