#bookingFormContainer div.form 
{
	width: 900px;
	height: 450px; /* TODO: finalise */
}


#customerDetails big, #termsAndConditions big {
	float: left;
	clear: both; 
	display: block; 
	margin-left: 30px;  
	width: 800px;                  
}

#customerDetails .Radios span, #customerDetails .Radios input, #customerDetails .Radios label {
	float: left;
	display : block;            
}
		
#customerDetails div  {
	float: left;
	clear: both;
	font-size: 11px;
}
		
#customerDetails #customerForm label, #customerDetails #addToBookingForm label {
	width: 130px;
	display: block;
	float: left;
}

#customerDetails #customerForm { display:none;} /* starts hidden */

.newBooking #customerForm { display: block !important; }
.newBooking #addToBookingForm { display: none; }

#termsAndConditions {
	float: left;
	width: 100%;
    margin: 10px 0 20px 0;	
}

#termsAndConditions span {
	float: left;
	clear: both;
	display: block;
	margin: 10px 0 10px 30px;
	width: 800px;
    height: 50px;	
}
       
#customerDetails .Radios {
	display: block;
	float: left;  
	clear: both;  
	margin: 20px 0 20px 30px;
	width: 925px;	        	        
}
	  
#bookingFormContainer .Radios .tab {
	float: left;
	display: block;
	width: 160px;
	height: 34px;
	line-height: 38px;            
	border: 1px solid #000;            
}

#bookingFormContainer .Radios .tab input {
	display: none;
}

#bookingFormContainer .Radios .tab  {
	 padding-left: 10px;
}

#bookingFormContainer .Radios .fill {
	float: left; 
	display: block;
	height: 35px; 
	border-bottom: 1px solid #000;
}
#bookingFormContainer .Radios .tab.selected {
	border-bottom: none;
}

.saveQuote #vehicleChargeDetails .PriceDetailsList .rt {
	width: 200px;
} 

.saveQuote #vehicleChargeDetails .PriceDetailsList .prods .hp {
	width: 64px;
}

.saveQuote #vehicleChargeDetails .PriceDetailsList .prods .pdp {
	width: 160px;
}

.saveQuote #vehicleChargeDetails .PriceDetailsList .prods .pap {
	 width: 213px;
}

.saveQuote #vehicleChargeDetails .PriceDetailsList .prods .subtotal {
	width: 89px;
}
		
.saveQuote #vehicleChargeDetails .PriceDetailsList .prods .pta {
	width: 207px;
}

.saveQuote #vehicleChargeDetails .PriceDetailsList .prods 
{
	width: auto;
}

/* has discounted days: */
.saveQuote .hasDisc .PriceDetailsList .prods .pdp {
	width: 315px !important;
}

.saveQuote .hasDisc .PriceDetailsList .prods .pta {
	width: 124px !important;
}    

.saveQuote .hasDisc .PriceDetailsList .prods .pap {
	width: 142px !important;
}            

#customerForm p {
    clear: both;
    float: left;
    display: block;
    margin: 10px 0 0 0;            
}
        
#customerForm p input {
    float: left;
    display: block;
}        
#bookingFormContainer p label.error {
    color: Red;
    width: 220px !important;
    margin-left: 10px;
}
        
.PhoneNumber small {
    float: left;  
    display: block; 
    padding: 0 10px 0 10px; 
}

.saveQuote .chargesTable.vehicle tr.total {
    display: none;
}
        
.chargesTable td.rt {
    width: 262px !important;
}  
        
.hasDisc .chargesTable td.pap, .hasDisc  .chargesTable th.PayAtPU {
    text-align: right !important;            
}
 