﻿<%@ Control Language="vb" AutoEventWireup="false" CodeBehind="HeaderLinks.ascx.vb" Inherits="THLAuroraWebInterface.HeaderLinks" %>

<div class="AspNet-Menu-Horizontal" id="existing_GlobalNav">
<ul class="AspNet-Menu" >
		<li id="td4" runat="server" class="AspNet-Menu-Leaf" >
			<asp:HyperLink id="hypMaintainAgent" class="AspNet-Menu-Link" runat="server" NavigateUrl="../../Content/MaintainAgentUsers.aspx">Maintain other Agent Users</asp:HyperLink></li>
		<li id="Td5" runat="server" class="AspNet-Menu-Leaf" style="padding-left:95px">
			<asp:HyperLink id="hypLogOff" class="AspNet-Menu-Link" runat="server" NavigateUrl="../../Content/AgentLogin.aspx">Log Off</asp:HyperLink>&nbsp;</li>
	</ul>
</div>

</div>

	</TD>
	</TR>
	<TR height="20">
		<TD class="HeaderWhite" bgcolor="#666666" colspan="5" align="right">Welcome
			<asp:Label id="lblname" runat="server" Font-Bold="True"></asp:Label>&nbsp;</TD>
	</TR>
</TABLE>