<%@ Register TagPrefix="uc1" TagName="SignIn" Src="SignIn.ascx" %>
<%@ Control Language="vb" AutoEventWireup="false" Codebehind="WebServiceDown.ascx.vb" Inherits="THLAuroraWebInterface.WebServiceDown" TargetSchema="http://schemas.microsoft.com/intellisense/ie5" %>
<asp:Label id="lblServiceState" runat="server" CssClass="Normal"></asp:Label><br>
<uc1:SignIn id="SignIn1" runat="server"></uc1:SignIn>
