/* Show Throughs Anchor */

#completedOnlineContainer .yellowFooter {
    margin-left:0 !important;    
    width: 550px;
}

#completedOnlineContainer li {
    list-style: none;
    margin: 0;
    padding: 0;    
}

#completedOnlineContainer .yellowFooter.wide {
    display:block;
    float:left;
    height:220px;
    margin-left:16px;
    width:580px;
	font-family:arial
}

#completedOnlineContainer .yellowFooter {
    background-color:#FFFADB;    
    display:block;
    float:left;
    height:auto;
    min-height:64px;
    width:448px;
}


#completedOnlineContainer a {
    background-position:0 0;
    background-repeat:no-repeat;
    display:block;
    float:left;
    height:113px;    
    width:211px;
    background-color:transparent;
    text-indent: -1000em;
    overflow: hidden; 
}

#completedOnlineContainer #btnVideo {    
    background-image:url(https://secure.britz.com.au/images/sci/CompleteAnchorThumb.jpg);
    margin:0 80px 0 0;    
}

#completedOnlineContainer #btnPreTravel {    
    background-image:url(https://secure.britz.com.au/images/sci/CompletePreTravel.jpg);    
}

#completedOnlineContainer h3 {
    color:#B11016;
    display:block;
    float:left;
    font-size:15px;
    font-weight:bold;
    margin-bottom:0;
    margin-left:16px;
    margin-right:0;
    margin-top:14px;
    text-decoration:none;
}

#completedOnlineContainer p {
    clear:both;
    float:left;
    margin-left:16px;
    margin-top:5px;
    font-size:12px;
    width: 470px;
}

#completedOnlineContainer #Div2 ul {
    clear: both;
    text-indent: 0;  
     
}

#completedOnlineContainer #buttons {
	clear: both;
}

#btnPreTravel {
	display: none !important;
}

/* Show Throughs Anchor Ends */