﻿body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, select, textarea, p, blockquote
{
    font-family: "Lucida Grande" , "Trebuchet MS" ,Arial,sans-serif;
}
body
{
    background: none repeat scroll 0 0 #EDEDED;
}
#vehicleSelectionContainer, #vehicleConfigureContainer, #paymentContainer
{
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    width: 881px;
}
#catalogHeader
{
    background: none repeat scroll 0 0 transparent;
    color: #333333;
    float: left;
    margin-left: 41px;
    width: 800px;
}
#catalogHeader span.Image
{
    float: left;
    height: 95px;
    width: 200px;
}

#catalogHeader span.Image img
{
    border:none;
}

#catalogHeader span.ContactInfo
{
    color: #333333;
    display: block;
    float: left;
    font-family: Verdana,Arial;
    font-size: 11px;
    height: 40px;
    margin: 40px 0 0 40px;
    text-decoration: none;
    width: 530px;
}
#catalogHeader span.ContactInfo a
{
    text-decoration: none;
}
#catalogHeader span a
{
    color: #216E82;
    text-decoration: underline !important;
}
#sslSeal
{
    float: right;
}
#bookingControlContainer #bookingControl
{
    background-color: transparent;
    height: 80px;
    padding: 5px 18px;
}
#bookingControlContainer #bookingControl span, #bookingControlContainer #bookingControl small
{
    color: #3A270D;
    font-size: 11px;
	font-family:Tahoma, Geneva, sans-serif;
}
#bookingControlContainer #bookingControl select, #bookingControlContainer #bookingControl input
{
    font-size: 11px;
    margin-top: 2px;
}
#bookingControlContainer #bookingControl select
{
    height:20px;
}
#bookingControlContainer #bookingControl input
{
    height:16px;
}
#bookingControlContainer #bookingControl #rightCol #bottomRight a
{
    background: url("../../images/m/Sprites.png") no-repeat scroll 0 0 transparent;
    margin-top: 55px;
    display:none;
}
#bookingControlContainer #bookingControl #rightCol #bottomRight a:hover
{
    background-position: 0 -80px;
}
#bookingControlContainer
{
    background: url("../../images/m/booking-control-bg.png") repeat-x scroll 0 0 #927756;
    float: left;
    height: 76px;
    margin-left: 41px;
    padding-top: 25px;
    width: 800px;
}

#vehicleSelectionContainer #bookingControlContainer
{
    height: 220px;
}
#breadCrumbs
{
    background: url("../../images/m/pageheader-bg.png") no-repeat scroll center top transparent;
    float: left;
    height: 80px;
    margin-top: 12px;
    width: 881px;
    display: block;    
}
#breadCrumbs span.Crumbs
{
    display: block;
    float: left;
    font-size: 11px;
    margin-left: 41px;
    color: #00333B;
}
#breadCrumbs span.Crumbs a
{
    color: #216E82;
    text-decoration: none;
}
#breadCrumbs ul
{
    background: url("../../images/m/sprites.png") no-repeat scroll 0 -725px transparent;
    display: block;
    float: left;
    font-size: 9px;
    height: 35px;
    margin-left: 41px;
    width: 800px;
}
#vehicleSelectionContainer #breadCrumbs ul
{
    background-position: 0 -725px;
}
#vehicleConfigureContainer #breadCrumbs ul
{
    background-position: 0 -760px;
}
#stepsDisplayer li
{
    float: right;
    height: 25px;
    margin: 0;
    padding: 0;
    width: 63px;
}
#stepsDisplayer span
{
    display: none;
    float: right;
    height: 32px;
    padding-top: 15px;
    width: 63px;
}
#stepsDisplayer #PaymentStep
{
    background-position: -192px 0;
}
#stepsDisplayer #ConfigureStep
{
    background-position: -65px 0;
}
#stepsDisplayer #SelectStep
{
    background-position: 0 0;
}
#vehicleCatalogContainer
{
    background: url("../../images/m/body-bg-repeat.png") repeat-y scroll center top transparent;
    float: left;
    margin: 0 auto;
    padding: 0;
    width: 881px;
}
* html #vehicleCatalogContainer
{
    margin-left: 6px;
}
#vehicleCatalogContainer h2
{
    background: none repeat scroll 0 0 #FFFFFF;
    border-bottom: 1px solid #C38338;
    color: #216E82;
    font-size: 18px;
    font-weight: bold;
    margin: -30px 0 0 41px;
    padding: 20px 10px 5px;
    width: 780px;
}
#vehicleCatalogContainer .VehicleItem div.Limited
{
    margin-left: 0;
    width: 495px;
}
#vehicleCatalogContainer .VehicleItem div.Limited .Top a
{
    color: #91C5CD !important;
    line-height: 32px;
}
#vehicleCatalogContainer .VehicleItem div.Limited .Top span
{
    background: none repeat scroll 0 0 #006F80;
    color: #FFFFFF;
    height: 32px;
    width: 495px;
}
#vehicleCatalogContainer .VehicleItem div.Limited .Top .Contact
{
    background: none repeat scroll 0 0 transparent;
    color: #333333;
    padding-top: 12px;
}
#vehicleCatalogContainer .VehicleItem div.Limited .Top a:hover
{
    color: #206E81;
    text-decoration: underline;
}
#vehicleCatalogContainer .VehicleItem div.Limited .EmailLink
{
    margin: 0;
    position: absolute;
    right: 20px;
    top: 44px;
}
#vehicleCatalogContainer .VehicleItem div.Limited .EmailLink a
{
    background: url("../../images/m/sprites.png") no-repeat scroll 3px -560px transparent;
    color: #302B6F;
    display: block;
    height: 41px;
    overflow: hidden;
    text-indent: -1000px;
    width: 120px;
}
#vehicleCatalogContainer .VehicleItem div.Limited .EmailLink a:hover
{
    background-position: -197px -560px;
    text-decoration: underline;
}
#vehicleCatalogContainer #emptySelectionMsg
{
    background-color: #FFFFFF;
    float: none;
    font-size: 13px;
    height: 400px;
    margin-left: 41px;
    width: 800px;
}
#vehicleCatalogContainer #emptySelectionMsg span
{
    display: block;
    margin: 50px 0 0;
}
#resultsHeader
{
    background-color: #FFFFFF;
    color: #333333;
    font-size: 12px;
    height: 35px;
    margin-left: 41px;
    width: 800px;
}
#resultsHeader h3
{
    color: #333333;
    float: left;
    font-size: 11px;
    font-weight: normal;
    margin: 8px;
    width: 380px;
}
#resultsHeader span
{
    background-color: #FFFFFF;
    display: block;
    float: right;
    margin: 4px;
    text-align: right;
}
#vehicleCatalog
{
    background: none repeat scroll 0 0 #FFFFFF;
    display: block;
    float: left;
    margin-left: 41px;
    width: 800px;
}
#vehicleCatalogContainer .VehicleItem div.Err
{
    background: url("../../images/m/icons/exMarkAvailRow.gif") no-repeat scroll 10px center #FDF3BE;
    border: 1px solid #C38338;
    height: 30px;
    padding: 10px 10px 10px 60px;
    position: absolute;
    right: 30px;
    top: 42px;
    width: 380px;
}
#vehicleCatalog div.VehicleItem
{
    background-color: #FFFFFF;
    clear: both;
    float: left;
    margin: 10px;
    min-height: 104px;
    overflow: hidden;
    position: relative;
    width: 780px;
}
#vehicleCatalog .VehicleItem a.VehicleThumb
{
    background: none repeat scroll 0 0 #006F80;
    border: 0 none;
    display: block;
    float: left;
    overflow: hidden;
    padding-top: 32px;
    text-decoration: none;
    width: 75px;
}
#vehicleCatalog div.VehicleItem.Blocking .VehicleFeatures
{
    width: 705px;
}
#vehicleCatalog .VehicleItem a.VehicleThumb img
{
    background: none repeat scroll 0 0 #FFFFFF;
    border:none;
    border-right: 10px solid #fff;
    padding-top: 12px;
}
#vehicleCatalog .VehicleItem div
{
    float: left;
    text-decoration: none;
}
#vehicleCatalog .VehicleItem div.VehicleFeatures
{
    width: 210px;
}
#vehicleCatalog .VehicleItem div.VehicleFeatures a
{
    background: none repeat scroll 0 0 #006F80;
    color: #FFFFFF;
    display: block;
    font-size: 18px;
    height: 32px;
    line-height: 32px;
    text-decoration: none;
}
#vehicleCatalog .VehicleItem div.VehicleFeatures a:hover, .ShowPriceList:hover
{
    text-decoration: underline;
}
#vehicleCatalog .VehicleItem div.VehicleFeatures img
{
    padding-top: 12px;
}
#vehicleCatalog .VehicleItem div.PriceDescription
{
    background: none repeat scroll 0 0 #006F80;
    height: 32px;
    width: 250px;
}
#vehicleCatalog .VehicleItem div.PriceDescription a.Avail, #vehicleCatalog .VehicleItem div.PriceDescription a.OnRequest
{
    color: #91C5CD !important;
    display: block;
    font-size: 13px;
    line-height: 25px;
    margin: 3px 0;
    text-decoration: none;
}
#vehicleCatalog .VehicleItem div.PriceDescription a.OnRequest
{
    color: #206E81;
    display: block;
    font-size: 13px;
    margin: 3px 0;
    text-decoration: none;
}
#vehicleCatalog .VehicleItem div.PriceDescription .AvgPrice
{
    color: #7B7B7B;
    display: block;
    float: left;
}
#vehicleCatalog .VehicleItem .ShowPriceList, #vehicleChargeDetails .ShowPriceList
{
    background: none repeat scroll 0 0 #FFFFFF;
    color: #6E4D1A;
    cursor: pointer;
    display: block;
    float: left;
    font-size: 11px;
    font-weight: normal;
    height: 15px;
    padding: 0;
    width: 100%;
}
#vehicleCatalog .VehicleItem div.PriceDescription li
{
    float: left;
    margin: 0;
    padding: 0;
}
#vehicleCatalog .VehicleItem div.PriceDescription span
{
    clear: both;
    color: #8B8B8B;
    display: block;
    float: left;
    font-size: 11px;
    padding-top:12px;
}
#vehicleCatalog .VehicleItem div.PriceDescription span.SavePrice
{
    background: url("../../images/m/tiles/saveBG.gif") no-repeat scroll 0 0 transparent;
    color: #FFFFFF;
    height: 45px;
    width: 110px;
}
#vehicleCatalog .VehicleItem div.PriceDescription span.SavePrice small
{
    clear: both;
    float: left;
    height: 10px;
    margin: 26px 0 0 10px;
    width: 100px;
}
#vehicleCatalog .VehicleItem div.TotalPrice
{
    background: none repeat scroll 0 0 #006F80;
    padding-top: 32px;
    width: 245px;
}
#vehicleCatalog .VehicleItem div.TotalPrice ul
{
    background: url("../../images/m/drop-shadow.png") repeat-x scroll 0 1px #FFFFFF;
    float: left;
    min-height: 30px;
    padding-top: 12px;
    width: 245px;
}
#vehicleCatalog .VehicleItem div.TotalPrice li span
{
    color: #043D53;
    font-size: 13px;
    font-weight: bold;
}
#vehicleCatalog .VehicleItem div.TotalPrice li span.Fp
{
    color: #8B8B8B;
    font-family: Verdana;
    font-size: 11px;
}
#vehicleCatalog .VehicleItem a.SelectBtn
{
    background: url("../../images/m/sprites.png") no-repeat scroll 0 -160px transparent;
    display: block;
    height: 60px;
    overflow: hidden;
    position: absolute;
    right: 35px;
    text-decoration: none;
    text-indent: -1000px;
    top: 44px;
    width: 90px;
}
#vehicleCatalog .VehicleItem a.SelectBtn:hover
{
    background-position: 0 -240px;
}
#vehicleCatalog .Collapse div.PriceDetailsList
{
    display: none;
}
#vehicleCatalog div.PriceDetailsList
{
    background-color: #FFFFFF;
    color: #333333;
    float: left;
    padding-left: 58px;
    width: 720px;
}
#vehicleChargeDetails div.PriceDetailsList
{
    clear: both;
    color: #7A7A7A;
    float: left;
    margin: 0 0 0 50px;
}
#vehicleCatalog div.PriceDetailsList table, #configurePanel div.PriceDetailsList table
{
    background-color: #F9F9F9;
    border: 1px solid #E9E9E9;
    margin: 0 0 5px 25px;
}
#vehicleCatalog div.PriceDetailsList table
{
    width: 580px;
}
div.PriceDetailsList table tr.total
{
    background-color: #E9E9E9;
    color: #333333;
    font-size: 11px;
    font-weight: bold;
}
#vehicleCatalog div.PriceDetailsList th, #configurePanel div.PriceDetailsList th
{
    background-color: #E9E9E9;
    color: #333333;
    font-size: 11px;
    font-weight: bold;
    height: 34px;
}
#vehicleChargeDetails div.PriceDetailsList th
{
    font-size: 11px;
    font-weight: bold;
    height: 34px;
}
#vehicleCatalog div.PriceDetailsList td, #vehicleChargeDetails div.PriceDetailsList td
{
    font-size: 11px;
    padding: 2px 2px 2px 5px;
}
#vehicleChargeDetails div.PriceDetailsList td
{
    color: #333333;
    font-size: 11px;
}
#vehicleCatalog div.PriceDetailsList td.dpd
{
    background: none repeat scroll 0 0 #FEFEFE;
}
#vehicleCatalog div.PriceDetailsList td.TotalTD, #vehicleChargeDetails div.PriceDetailsList td.TotalTD
{
    font-weight: bold;
}
#vehicleCatalog div.PriceDetailsList th.RateTH
{
    background-color: #E9E9E9;
    color: #333333;
    width: 220px;
}
#vehicleChargeDetails div.PriceDetailsList th
{
    background-color: #E9E9E9;
    color: #333333;
    width: 220px;
}
#vehicleCatalog div.PriceDetailsList th.FreeTH, #vehicleChargeDetails div.PriceDetailsList th.FreeTH
{
    width: 90px;
}
div.NoFreeDays th.FreeTH, div.NoFreeDays td.fd
{
    display: none;
}
#vehicleCatalog div.PriceDetailsList th.HireTH
{
    width: 90px;
}
div.PriceDetailsList .popup
{
    color: #E86127;
    cursor: pointer;
}
#vehicleChargeDetails div.PriceDetailsList th.HireTH
{
    width: 145px;
}
#vehicleCatalog div.PriceDetailsList th.TotalTH
{
    width: 90px;
}
#vehicleChargeDetails div.PriceDetailsList th.TotalTH
{
    width: 90px;
}
#vehicleCatalog div.PriceDetailsList td, #vehicleCatalog div.PriceDetailsList td
{
    font-size: 11px;
}
#vehicleSelectionContainer #disclaimer, #vehicleConfigureContainer #disclaimer, #paymentContainer #disclaimer
{
    background: url("../../images/m/footer-bg-long.png") no-repeat scroll center bottom transparent;
    color: #00333B;
    float: left;
    font-size: 11px;
    font-weight: bold;
    height: 45px;
    padding-left: 60px;
    padding-top: 20px;
    width: 780px;
}

#vehicleCatalog .VehicleItem div.TotalPrice li.Hide
{
    display: none;
}
#vehicleCatalog .VehicleItem div.TotalPrice li.Fp span
{
    color: #8B8B8B;
    font-size: 11px;
    font-weight: normal;
}
#vehicleCatalog .VehicleItem span.BrandThumb
{
    display: block;
    float: left;
    text-decoration: none;
}
#vehicleCatalog li.Branded .VehicleItem div.PriceDescription span
{
    font-size: 9px;
}
#vehicleCatalog li.Branded .VehicleItem div.PriceDescription
{
    width: 180px;
}
#vehicleCatalog div.VehicleItem
{
    background: url("../../images/m/drop-shadow.png") repeat-x scroll 0 33px #FFFFFF;
    padding: 0;
}
#vehicleCatalog .Step1A
{
    background-color: #FFFFFF;
    float: left;
    font-size: 11px;
    padding: 10px 0 10px 20px;
    width: 740px;
}
#vehicleCatalog .Step1AWrap div
{
    background-color: #EAF8FA;
    font-size: 11px;
}
#vehicleConfigureContainer .CofR, #vehicleConfigureContainer .Radios, #vehicleConfigureContainer .Model, #vehicleConfigureContainer .Passengers
{
    display: none;
}
#vehicleConfigureContainer #bookingControl #rightCol #bottomRight a
{
    margin-top: 10px;
}

#vehicleConfigureContainer #bookingControl
{
    height: 45px !important;
}
#vehicleConfigureContainer #ctrlValidationMsg
{
    margin-top: 0;
}
#vehicleConfigureContainer #bottomRight span
{
    display: inline;
}
#vehicleConfigureContainer #stepsDisplayer #ConfigureStep, #paymentContainer #stepsDisplayer #ConfigureStep
{
    background-position: -129px 0 !important;
}
#vehicleConfigureContainer #promptTextArea, #quoteDisclaimer
{
    background: url("../../images/m/icons/exMark.png") no-repeat scroll 0 0 #EAF8FA;
    border: 1px solid #2EB3D2;
    color: #00008B;
    float: left;
    font-size: 11px;
    height: 56px;
    margin: 5px 0 0 20px;
    overflow: hidden;
    width: 780px;
}
#vehicleConfigureContainer #promptTextArea span
{
    display: block;
    margin: 10px 20px 0 50px;
}
#vehicleConfigureContainer #configurePanel
{
    background-color: #FFFFFF;
    float: left;
    margin-left: 41px;
    width: 800px;
}
#configurePanel .Hide
{
    display: none;
}
#vehicleConfigureContainer #topHeader
{
    background-color: #FFFFFF;
    float: left;
    height: 34px;
    width: 760px;
}
#vehicleConfigureContainer #topHeader small, #vehicleConfigureContainer #topHeader select, #resultsHeader small, #resultsHeader select
{
    font-size: 11px;
}
#vehicleConfigureContainer #vehicleTopPanel
{
    border-bottom: 1px solid #C0C0C0;
    float: left;
    margin-bottom: 10px;
    width: 800px;
}
#vehicleConfigureContainer #topHeader h3
{
    display: block;
    float: left;
    margin: 38px 0 0 14px;
}
#vehicleConfigureContainer #topHeader span, #paymentPanel #topHeader span
{
    display: block;
    float: right;
    margin: 5px 4px 5px 0;
}
#vehicleConfigureContainer #configurePanel div.VehicleHeader
{
    float: left;
    width: 385px;
}
#vehicleConfigureContainer #configurePanel div.VehicleHeader div
{
    clear: both;
    float: left;
    padding-bottom: 15px;
    width: 100%;
}
#vehicleConfigureContainer #configurePanel div.VehicleHeader a
{
    color: #206E81;
    text-decoration: none;
}
#vehicleConfigureContainer #configurePanel div.VehicleHeader a:hover
{
    text-decoration: underline;
}
#vehicleConfigureContainer #configurePanel div.VehicleHeader h3
{
    font-size: 20px;
    margin-left: 12px;
}
#vehicleConfigureContainer #configurePanel div.VehicleHeader h3, #vehicleConfigureContainer #configurePanel div.VehicleHeader h4, #vehicleChargeDetails h4, #insurancePanel h4, #hireItemsPanel h4, #ferryPanel h4
{
    color: #206E81;
    padding-bottom: 10px;
}
#vehicleConfigureContainer #configurePanel div.VehicleHeader span
{
    display: block;
    float: left;
    font-size: 11px;
    margin: 5px 0 0 10px;
    width: 500px;
}
#vehicleConfigureContainer #configurePanel div.VehicleImages
{
    float: right;
    width: 375px;
}
#vehicleConfigureContainer #configurePanel div.VehicleImages .Left
{
    float: left;
    width: 210px;
}
#vehicleConfigureContainer #configurePanel div.VehicleImages .Left img
{
    clear: both;
    float: right;
}
#vehicleConfigureContainer #configurePanel div.VehicleImages .Right
{
    float: right;
    margin-right: 10px;
}
#vehicleChargeDetails
{
    border-bottom: 1px solid #C0C0C0;
    float: left;
    margin-bottom: 18px;
    padding-bottom: 20px;
    width: 800px;
}
#configurePanel h4, ferrypanel h4
{
    clear: both;
    float: left;
    font-size: 14px;
    font-weight: bold;
    margin-left: 10px;
}
#configurePanel em
{
    font-style: normal;
}
#vehicleConfigureContainer a.Quest
{
    background: url("../../images/m/sprites.png") no-repeat scroll -820px 0 #FFFFFF;
    display: block;
    float: left;
    height: 20px;
    margin-left: 2px;
    overflow: hidden;
    text-indent: -1000px;
    width: 20px;
}
#vehicleChargeDetails a.PopUp
{
    float: left;
}
#vehicleChargeDetails #ChargeHeader
{
    clear: both;
    display: block;
    float: left;
    width: 100%;
}
#vehicleChargeDetails #ChargeHeader span.Title
{
    display: block;
    float: left;
    height: 20px;
    width: 200px;
}
#vehicleChargeDetails #ChargeHeader span.Total
{
    display: block;
    float: right;
    font-size: 13px;
    margin-right: 38px;
}
#vehicleChargeDetails a.ShowPriceList
{
    float: left;
    margin: 0 0 0 10px;
    width: 80px;
}
#vehicleChargeDetails a.ShowPriceList:focus
{
}
#vehicleChargeDetails a.ShowPriceList:active
{
    outline: medium none;
}
#vehicleChargeDetails.Collapse div.PriceDetailsList
{
    display: none;
}
#vehicleCatalog .VehicleItem div.PriceDescription a.Avail:hover, #vehicleCatalog .VehicleItem div.PriceDescription a.OnRequest:hover
{
    color: #E86127;
    text-decoration: underline;
}
#vehicleChargeDetails #ChargeHeader small
{
    float: left;
    font-size: 11px;
    margin-left: 74px;
}
#vehicleChargeDetails #ChargeHeader span.Title
{
    display: block;
    float: left;
    height: 20px;
    width: 360px;
}
#configureUpdatePanel .Total
{
    background-color: #006F80;
    color: #FFFFFF;
    font-size: 17px;
    font-weight: bold;
    height: 30px;
    line-height: 30px;
    margin: 0 0 0 -1px;
    padding: 20px 15px;
    width: 772px;
}
#configureUpdatePanel .Total label
{
    float: left;
}
#configureUpdatePanel .Total span.Price
{
    clear: none;
    float: right;
    margin: 0;
}
#allInclusivePanel
{
    clear: both;
    float: left;
    margin: 0 18px;
    width: 725px;
}
#allInclusivePanel small, #insurancePanel td, #hireItemsPanel td
{
    font-size: 11px;
}
#allInclusivePanel td.cb, #insurancePanel td.cb, #hireItemsPanel td.cb, #ferryPanel td.cb
{
    width: 50px;
}
#allInclusivePanel td.desc, #insurancePanel td.desc, #hireItemsPanel td.desc
{
    width: 248px;
}
#allInclusivePanel td.desc small
{
    display: block;
    float: left;
}
#allInclusivePanel td.days, #insurancePanel td.days, #hireItemsPanel td.days
{
    width: 150px;
}
#insurancePanel td.price, #hireItemsPanel td.price
{
    width: 160px;
}
#allInclusivePanel td.pr
{
    width: 158px;
}
#allInclusivePanel #allInclusiveDetails table
{
    background-color: #F9F9F9;
    width: 725px;
}
#allInclusivePanel table ul li
{
    margin-left: 55px;
}
#insurancePanel
{
    border-bottom: 1px solid #C0C0C0;
    float: left;
    padding-bottom: 20px;
    width: 100%;
}
#insurancePanel table, #hireItemsPanel table, #ferryPanel table
{
    clear: both;
    margin: 0 0 0 19px;
}
#insurancePanel table small, #hireItemsPanel small, #hireItemsPanel label
{
    display: block;
    font-size: 11px;
    margin-bottom: 4px;
}
#insurancePanel span
{
    clear: both;
    color: #8B8B8B;
    display: block;
    float: left;
    font-size: 10px;
    margin-left: 20px;
    width: 700px;
}
#insurancePanel .AgeSelector
{
    display: none !important;
}
#hireItemsPanel, #ferryPanel
{
    border-bottom: 1px solid #C0C0C0;
    clear: both;
    float: left;
    margin-top: 10px;
    padding-bottom: 10px;
    width: 100%;
}
#ferryPanel table
{
    background-color: transparent;
    font-size: 11px;
    width: 720px;
}
#ferryPanel table td.desc
{
    width: 407px;
}
#ferryPanel .pax td.price
{
    width: 139px;
}
#ferryPanel td small
{
    font-size: 11px;
}
#ferryPanel table.Hide
{
    display: none;
}
#ferryPanel select, #hireItemsPanel select
{
    font-size: 11px;
}
#configureUpdatePanel span
{
    clear: both;
    display: block;
    float: left;
    margin: 5px 20px;
}
#configureUpdatePanel .Total label
{
    float: left;
}
#configureUpdatePanel .Total small
{
    color: #FFFFFF;
    float: right;
    font-size: 17px;
}
#configureUpdatePanel .TaxMsg
{
    font-size: 11px;
    width: 760px;
}
#configureUpdatePanel .Submit
{
    display: block;
    height: 60px;
    width: 760px;
}
#configureUpdatePanel .Submit .BackBtn
{
    background: url("../../images/m/sprites.png") no-repeat scroll 0 -400px #FFFFFF;
    display: block;
    float: left;
    height: 25px;
    margin-top: 15px;
    overflow: hidden;
    text-indent: -1000px;
    width: 73px;
}
#configureUpdatePanel .Submit .BackBtn:hover
{
    background-position: 0 -480px;
}
#configureUpdatePanel .Submit input
{
    background: url("../../images/m/sprites.png") no-repeat scroll -400px -160px #FFFFFF;
    border: 0 none;
    float: right;
    height: 55px;
    overflow: hidden;
    text-indent: -1000px;
    text-transform: capitalize;
    width: 158px;
}
#configureUpdatePanel .Submit input:hover
{
    background-position: -400px -239px;
}
#tooltip
{
    background: url("../../images/m/tiles/background.png") repeat-x scroll 0 0 #23778C;
    border: 2px solid #10BDD0;
    color: #A3F6FF;
}
.bubbleBody
{
    color: #F9FFA3;
    font-size: 10px;
}
.bubbleBody h3
{
    color: #1AB9C9;
    font-size: 11px;
    margin-bottom: 8px !important;
}
.bubbleBody td
{
    color: #A3F6FF;
}
.bubbleBody .total td
{
    color: #FFFFFF;
}
.bubbleBody .note
{
    clear: both;
    color: #A3F6FF;
    float: left;
}
#paymentContainer #stepsDisplayer #PaymentStep
{
    background-position: -256px 0;
}
#paymentPanel
{
    background-color: #FFFFFF;
    float: left;
    font-size: 11px;
    margin-left: 41px;
    width: 800px;
}
#paymentPanel div
{
    float: left;
    width: 760px;
}
#paymentPanel #topHeader span
{
    margin: 10px 0 0;
}
#paymentContainer #stepsDisplayer
{
    background-position: 0 -800px;
}
#paymentPanel #depositPanel
{
    background-color: #206E81;
    padding: 5px 20px;
}
#paymentPanel #rentalSummary
{
    background-color: #F9F9F9;
    border: 1px solid #E9E9E9;
    margin: 5px 20px;
    padding: 10px 0;
}
#paymentPanel h3
{
    color: #8D6B46;
    font-size: 18px;
    font-weight: bold;
}
#paymentPanel big
{
    color: #206E81;
    float: left;
    font-size: 14px;
    font-weight: bold;
    margin: 10px 0;
    padding-top: 10px;
    width: 760px;
}
#paymentPanel small
{
    font-size: 11px;
}
#paymentPanel #rentalSummary big.ChargeSum
{
    border-top: 1px solid #5491A0;
}
#paymentPanel #rentalSummary table
{
    float: left;
}
#paymentPanel #rentalSummary #travelDetails
{
    float: left;
    margin: 0;
    width: 500px;
}
#paymentPanel #rentalSummary #travelDetails big
{
    color: #206E81;
    font-family: Verdana,Helvetica,sans-serif;
    font-size: 14px;
    font-weight: bold;
    margin: 20px 0 10px;
}
#paymentPanel #rentalSummary #travelDetails td
{
    vertical-align: top;
}
#paymentPanel #rentalSummary #travelDetails .lbl
{
    width: 85px;
}
#paymentPanel #rentalSummary #travelDetails .date
{
    width: 230px;
}
#paymentPanel #rentalSummary table.ChargeTable
{
    border-bottom: 1px solid #5491A0;
    width: 760px;
}
#paymentPanel #rentalSummary .ChargeTable tr.Totals td small
{
    color: #333333;
    display: block;
    font-family: Verdana,Helvetica,sans-serif;
    font-size: 12px;
    font-weight: bold;
    margin: 10px 0;
}
#paymentPanel #rentalSummary .ChargeTable .title
{
    width: 350px;
}
#paymentPanel #rentalSummary div.Disclaimer
{
    background-color: #FFFFFF;
    padding-top: 5px;
}
#paymentPanel #rentalSummary .ChargeTable .desc
{
    width: 215px;
}
#paymentPanel #rentalSummary .ChargeTable .cur
{
    width: 60px;
}
#paymentPanel #rentalSummary .ChargeTable .price
{
    padding-right: 5px;
    text-align: right;
}
#paymentPanel #rentalSummary #vehicleSpecs
{
    float: right;
    width: 205px;
}
#paymentPanel #rentalSummary #vehicleSpecs img
{
    float: right;
    padding-right: 10px;
}
#paymentPanel #rentalSummary #travelDetails table.TravelTable, #paymentPanel #rentalSummary #travelDetails big
{
    float: left;
    width: 520px;
}
#paymentPanel #creditCardDetails
{
    border-bottom: 1px solid #C0C0C0;
    padding: 5px 20px 20px;
}
#paymentPanel #creditCardDetails h3
{
    display: none;
    margin-top: 20px;
}
#paymentPanel #creditCardDetails big
{
    margin: 0;
}
#paymentPanel #creditCardDetails #creditFormPanel
{
    float: left;
    width: 560px;
}
#paymentPanel #creditCardDetails #creditFormPanel label, #paymentPanel #personalDetails label
{
    display: block;
    float: left;
    width: 138px;
}
#paymentPanel #creditCardDetails #sealPanel
{
    float: right;
    width: 167px;
}
#paymentPanel #personalDetails
{
    border-bottom: 1px solid #C0C0C0;
    padding: 5px 20px 20px;
}
#paymentPanel #personalDetails p, #paymentPanel #creditCardDetails p
{
    clear: both;
    float: left;
    margin-top: 5px;
}
#paymentPanel #cardTypeDD
{
    width: 269px;
}
#paymentPanel #cardNumberTxt
{
    float: left;
    width: 265px;
}
#paymentPanel #cardHolderName
{
    width: 265px;
}
#confirmEmailAddressTxt, #customerFirstName, #customerLastName, #emailAddressTxt
{
    float: left;
    width: 265px;
}
#telephoneTxt3
{
    width: 120px;
}
#paymentPanel #personalDetails .number
{
    display: block;
    float: left;
    margin-right: 10px;
}
#paymentPanel #personalDetails .number small
{
    font-size: 11px;
}
#paymentPanel #personalDetails .PhoneNumber
{
    display: block;
    float: left;
    width: 550px;
}
#otherTravellers table th
{
    font-weight: normal;
}
#paymentPanel #personalDetails .number small, #paymentPanel #personalDetails .number input
{
    clear: both;
    float: left;
}
#paymentPanel #otherTravellers, #paymentPanel #termsAndConditions, #paymentPanel #footerPanel
{
    padding: 5px 20px;
}
#paymentPanel .onRequest .Buttons .SubmitBtn
{
    background: url("../../images/m/btn/RequestNow.gif") no-repeat scroll 0 0 #FFFFFF !important;
}
#paymentPanel #otherTravellers td.lbl
{
    width: 145px;
}
#paymentPanel #otherTravellers table
{
    clear: both;
}
#paymentPanel #termsAndConditions input
{
    display: block;
    float: left;
}
#paymentPanel #termsAndConditions span
{
    display: block;
    float: left;
    margin-left: 3px;
    width: 700px;
}
#payTotalPanel
{
    margin: 10px 20px;
    width: 760px !important;
}
#payTotalPanel span, #payTotalPanel input
{
    float: right;
}
#payTotalPanel span
{
    color: #2E7084;
    font-size: 12px;
    font-weight: bold;
    margin-right: 5px;
}
#paymentPanel #depositPanel .left
{
    display: block;
    float: left;
    margin: 0;
    width: 240px;
}
#paymentPanel #depositPanel .left big, #paymentPanel #depositPanel .left small
{
    color: #FFFFFF;
    float: left;
    margin: 10px 0 0;
    padding: 0;
}
#paymentPanel #depositPanel .left big
{
    color: #FFFFFF;
}
#paymentPanel #depositPanel .right
{
    display: block;
    float: right;
    margin: 0;
    padding: 0;
    text-align: right;
    width: 240px;
}
#paymentPanel #depositPanel .right small
{
    color: #FFFFFF;
    float: right;
    margin: 0 0 10px;
}
#paymentPanel #depositPanel .right big
{
    color: #FFFFFF;
    float: right;
    font-size: 17px;
    margin: 5px 0 10px;
    padding: 0;
}
#paymentPanel #footerPanel span
{
    clear: both;
    display: block;
    float: left;
    padding: 5px 0;
    width: 760px;
}
#footerPanel .right
{
    display: block;
    float: right;
}
#footerPanel .right input
{
    background: url("../../images/m/btn/btn_matrix.png") no-repeat scroll -600px -160px #FFFFFF;
    border: 0 none;
    float: left;
    height: 52px;
    overflow: hidden;
    text-indent: -1000px;
    text-transform: capitalize;
    width: 158px;
}
#footerPanel a
{
    background: url("../../images/m/btn/btn_matrix.png") no-repeat scroll 0 -400px #FFFFFF;
    display: block;
    float: left;
    height: 25px;
    margin-top: 15px;
    overflow: hidden;
    text-indent: -1000px;
    width: 73px;
}
#paymentForm label.error
{
    float: right !important;
    width: 140px !important;
}
#cardExpiryMonthTxt, #cardExpiryYearTxt, #cardExpirySpan span
{
    float: left;
}
#telephoneTxt1, #telephoneTxt2, #telephoneTxt3
{
    width: 72px;
}
#paymentPanel #infoPanel p
{
    margin-bottom: 20px;
}
#paymentPanel #infoPanel img
{
    float: right;
    margin: 10px;
}
#paymentPanel div.FormSection
{
    border-bottom: 1px solid #C0C0C0;
    margin-left: 20px;
    padding-bottom: 20px;
    padding-top: 20px;
    width: 720px;
}
#paymentPanel div.FormSection label
{
    display: block;
    float: left;
    width: 138px;
}
#personalDetailsForm p
{
    clear: both;
    float: left;
    margin-top: 5px;
}
#personalDetailsForm p .number small, #personalDetailsForm p .number input
{
    clear: both;
    float: left;
}
#personalDetailsForm p .number
{
    display: block;
    float: left;
    margin-right: 10px;
}
#personalDetailsForm p .PhoneNumber
{
    display: block;
    float: left;
    width: 550px;
}
#personalDetailsForm p #countryOfResidenceDD, #personalDetailsForm p #customerTitleDD
{
    width: 270px;
}
#personalDetailsForm #contactSelector label.title, #personalDetailsForm #contactSelector input
{
    float: left;
    margin-left: 10px;
    width: auto;
}
#bottomPanel, #rentalsDetailsForm
{
    border-bottom: medium none !important;
}
#rentalsDetailsForm span, textarea
{
    clear: both;
    float: left;
    margin-top: 20px;
}
#rentalsDetailsForm span
{
    display: block;
    width: 700px;
}
#rentalsDetailsForm td label
{
    margin-bottom: 4px;
}
#bottomPanel input, #bottomPanel a, #bottomPanel label
{
    float: right;
}
#bottomPanel input
{
    background:url("../../images/m/sprites.png") no-repeat scroll -600px -320px #FFFFFF;
    border:0 none;
    height:55px;
    overflow:hidden;
    text-indent:-1000px;
    text-transform:capitalize;
    width:160px;
    cursor:pointer;
}
#bottomPanel a
{
    background:url("../../images/m/sprites.png") no-repeat scroll -400px -320px #FFFFFF;
    border:0 none;
    float:left;
    height:25px;
    margin-right:20px;
    overflow:hidden;
    text-indent:-1000px;
    text-transform:capitalize;
    width:100px;
}
#bottomPanel label
{
    clear: none !important;
    color: Red;
    display: none;
    float: left;
    font-size: 11px;
    width: 300px;
}
.Confirmation h2
{
    background: url("../../images/m/tiles/sep.gif") repeat-x scroll 0 22px transparent;
    height: 25px;
    margin: 20px 0 10px 2px !important;
    width: 726px;
}
#rentalSum tr.total td, #paymentDet tr.total td
{
    color: #2E7084;
    font-size: 12px !important;
    font-weight: bold;
}
#vehicleCatalogContainer #paymentPanel #yourDetails, #vehicleCatalogContainer #paymentPanel.Confirmation #travelDetails, #vehicleCatalogContainer #paymentPanel #rentalSum, #vehicleCatalogContainer #paymentPanel #paymentDet
{
    background-color: #F9F9F9;
    border-left: 1px solid #E9E9E9;
    border-right: 1px solid #E9E9E9;
    border-top: 1px solid #E9E9E9;
    margin-left: 20px;
}
#vehicleCatalogContainer #paymentPanel #paymentDet
{
    border-bottom: 1px solid #E9E9E9;
}
#vehicleCatalogContainer #paymentPanel #contactUs, #vehicleCatalogContainer #paymentPanel #feedBack
{
    margin-left: 20px;
    width: 730px;
}
#vehicleCatalogContainer #paymentPanel #rentalSum table, #vehicleCatalogContainer #paymentPanel #paymentDet table, #vehicleCatalogContainer #paymentPanel #travelDetails table, #vehicleCatalogContainer #paymentPanel #yourDetails table
{
    margin-left: 0 !important;
    width: 730px !important;
}
#vehicleCatalogContainer #paymentPanel h2
{
    background: none repeat scroll 0 0 transparent;
    border: medium none;
    font-size: 14px !important;
    padding: 0;
    width: 740px;
}
#vehicleCatalogContainer #paymentPanel table
{
    font-size: 11px !important;
}
#printLinkDiv a
{
    background: url("../../images/m/btn/btn_matrix.png") no-repeat scroll -600px -400px #FFFFFF !important;
    height: 25px !important;
    width: 160px !important;
}
#feedBack p
{
    width: 730px !important;
}
#feedbackForm #sendBtn
{
    background: url("../../images/m/btn/send.gif") no-repeat scroll 0 0 #FFFFFF;
    border: 0 none;
    float: right;
    height: 25px;
    margin: 20px;
    overflow: hidden;
    text-indent: -1000px;
    text-transform: capitalize;
    width: 140px;
}
#completedMessage span
{
    display: block;
    font-size: 13px;
    height: 200px;
}
#completedMessage big
{
    color: #206E81;
    font-size: 15px;
    font-weight: bold;
}
#vehicleCatalogContainer #emptySelectionMsg span
{
    color: #216E82;
    font-weight: bold;
}
#configureUpdatePanel #saveQuoteLnk
{
    background: url("../../images/m/btn/btn_matrix.png") no-repeat scroll -200px -160px #FFFFFF;
    height: 55px;
    width: 158px;
}
.quote #submitQuoteLnk:hover
{
    background-position: -200px -240px;
}
.quote #footerPanel input
{
    background: url("../../images/m/btn/btn_matrix.png") no-repeat scroll -200px -160px #FFFFFF;
    height: 52px;
    width: 158px;
}
#printQuoteLnk
{
    background-image: url("../../images/m/btn/btn_matrix.png");
    height: 25px !important;
    width: 158px !important;
}
#printQuoteDiv #searchAgainLnk
{
    background-image: url("../../images/m/btn/btn_matrix.png");
    background-position: -400px 0;
    margin-top: 10px;
}
#emailForm #paymentContainer
{
    position:relative;

}
#emailForm #paymentPanel div.FormSection
{
    width:760px;
    margin:0px;
    padding: 20px;
}
#emailForm #catalogHeader
{
    background:url("../../images/m/pageheader-bg.png") no-repeat 0px 30px transparent;
    color:#333333;
    float:left;
    height:100px;
    margin-top:55px;
    margin-left:0px;
    width:881px;
}
#emailForm #catalogHeader span.Image
{
    float:left;
    height:95px;
    left:20px;
    position:absolute;
    top:0;
    width:200px;
}
#emailForm #vehicleCatalogContainer h2
{
    margin-top:-50px;
}

/* Save Quote */
.quote #saveQuoteLnk {
    background: transparent url(../../images/m/btn/btn_sprites.png) no-repeat -200px -640px !important ;
    height: 55px !important;    
}

.quote #saveQuoteLnk:hover {
     background-position: -200px -720px;
}

.quote #confirmQuoteSubmit, .quote #promptContainer input {
   background: transparent url(../../images/m/btn/btn_sprites.png) no-repeat 0 -640px !important ; 
   width: 158px !important ; 
   height: 55px !important ; 
}
/* need sprites 
.quote #confirmQuoteSubmit:hover, .quote #confirmQuoteSubmit:hover {
     background-position: 0 -720px !important ;
}
*/


.quote #configureUpdatePanel .Submit {
    height: 50px;
}

.quote #promptContainer input {    
    border: 0px;
    height: 25px;
    overflow: hidden;
    text-indent:-1000px;
    text-transform: capitalize;/*ie ;o(*/
    width:135px;
    margin: 5px 0 0 30px;
}


.quote #paymentContainer input.SubmitBtn  {
    background: transparent url(../../images/m/btn/btn_sprites.png) no-repeat -600px -160px;
    height: 55px;
    width: 158px;
    
} 

.quote #paymentContainer input.SubmitBtn:hover {
    background-position:  -600px -239px;
}


#submitExpiredQuote a{
    background: transparent url(../../images/m/btn/btn_sprites.png) no-repeat;
	height: 55px;
    width: 160px;
}

#submitExpiredQuote #searchAllVehicles {
     background-position: -200px -640px;
}
/*
#submitExpiredQuote #searchAllVehicles:hover {
    background-position: -200px -720px;
}

*/
#submitExpiredQuote #searchVehicle {
     background-position: -400px -640px;
}
/*
#submitExpiredQuote #searchVehicle:hover {
    background-position: -400px -720px;
}
*/
/* Save Quote Ends*/

/*Alternative Availability*/


#vehicleCatalogContainer .VehicleItem div.Limited .AALink a {
	color:#fff;
	display: block;
	background:transparent url(../../images/m/btn/sprites.png) no-repeat  0 -1050px;
    text-indent: -9999px;
    overflow: hidden;
	height: 57px;
    width: 158px;
    position:absolute;
    top:44px;
    right:35px;
}
/* AA - New breadcrumb*/
#vehicleCatalogContainer .VehicleItem div.Limited .AALink a:hover {
     background-position: 0 -1130px;
	color:#fff;
	text-decoration:underline;     
}


#vehicleCatalogContainer .VehicleItem div.Limited .CallLink a {
	color:#fff;
	display: block;
	background:transparent url(../../images/m/btn/sprites.png) no-repeat  0 -570px;
    text-indent: -9999px;
    overflow: hidden;
	height: 43px;
    width: 117px;
    position:absolute;
    top:44px;
    right:20px;
}

#vehicleCatalogContainer .VehicleItem div.Limited .CallLink a:hover {
     background-position: 0 -650px;
}

#vehicleAAContainer
{
    margin:auto;
    max-width:1078px;
}
#catalogAAHeader
{
    width:977px;
    height:100px;
    margin:0px 41px 0px 40px;
    background:url("http://images.thl.com/images/m/tiles/header-24-7-image.jpg") no-repeat right top transparent;
}
#catalogAAHeader .Image
{
    float:left;
}
#catalogAAHeader .Image img
{
    margin:10px 0px 0px 30px;
}
#catalogAAHeader a.freephone{
    margin-right:160px;
    margin-top: 38px;
}
#vehicleAAContainer .ContactUs
{
    float:right;
}
#vehicleAAContainer .ContactUs img
{
    display:none;
}
#vehicleAAContainer a.freephone
{
    background:url('/images/m/btn/sprites.png') no-repeat;
    width: 170px;
    height:45px;
    display:block;
    text-indent:-9999px;
    background-position: -200px -1050px;
}

#vehicleAAContainer a.freephone:hover
{
    background-position:-200px -1130px;
}

#b2c-steps,#footerContainer,#vechileCatalogAAContainer,#disclaimer
{
    padding:0px 41px 0px 40px;
    width:977px;
}
#b2c-steps
{
    background:url(/images/m/pageheader-1024-bg.png) 0px 11px no-repeat;
    margin-top:0px;
    height:78px;
    padding-top:0px;
    overflow:hidden;
}

#b2c-steps .steps
{
    width:977px;
    height:34px;
    display:block;
}
#b2c-steps #step-1 {
     background:url(../../images/m/btn/Sprites-Breadcrumbs.png) no-repeat 0px -228px;
}

#vechileCatalogAAContainer
{
    background:url("../../images/m/body-bg-1024-repeat.png") repeat-y;
    float : left;
}
#vechileCatalogAAContainer h2 ,#vechileCatalogAAContainer #resultsHeader 
{
    margin-top:-44px;
}
#vechileCatalogAAContainer h2 {
    float:left;
    font-size:21px;
    font-weight:bold;
    color:#216E82;
    background:#fff;
    line-height:35px;
    padding: 25px 0px 0px 15px;
    width:481px;
}
#vechileCatalogAAContainer #resultsHeader {
    background-color: #fff;
    width:481px;
    height:30px;
    font-size:12px;
    color:#000;
    float:right;
    margin-left:0px;
    margin-right:0px;
    padding: 30px 0px 0px 0px;    
}
#alternativeMessagePanel, #alternateContactPanel {
    float: left;
    clear: both;
    width: 900px;
    height: 40px;
    width: 977px; 
    background: url("../../images/m/tiles/heading-arrow.gif") no-repeat 10px 12px #006072;
    border-top: 1px solid #fff; 
}
#alternateContactPanel
{
    border-bottom: 1px solid #fff;
}
#alternativeMessagePanel span, #alternateContactPanel span {
    color: #fff;
    font-size: 12px;
    float: left;
    margin: 14px 10px 0 40px;
    font-weight: bold;
     
}

#alternativeMessagePanel small, #alternateContactPanel small {
    float: left;
    display: block;
    margin: 14px 0 0 20px;
    font-size: 9px;
    font-weight: bold; 
    color: #7E550F;
}


#selectedVehiclePanel
{
    background: url("../../images/m/drop-shadow.png") repeat-x scroll 0 0px #FFFFFF;
    border-top:1px solid #C38338;
    padding: 10px 0px;
    min-height:60px;
    width:977px;
    float:left;
    clear:both;
    overflow:hidden;
}
#selectedVehiclePanel img
{
    float:left;
}
#selectedVehiclePanel h3
{
    float:left;
    padding:5px 15px;
    font-size:16px;
    background:#006172;
    color:#fff;
    min-width: 150px;
    -moz-box-shadow: 2px 1px 1px #00c0e2;
    -webkit-box-shadow: 2px 1px 1px #00c0e2;
    box-shadow: 2px 1x 1px #00c0e2;
}

#selectedVehiclePanel #selectedVImage
{
    margin-left:40px;
}
#selectedVehiclePanel #selectedVIncs {
    margin-left: 36px;
    margin-top:17px;
    float:left;
}

#selectedVehiclePanel span.reel {
    float: right;
    margin-right:15px;
}

#alternativeCatalogContainer
{
    clear:both;
}

div.OptionRow
{
    float:left;
}
div.AltRow {
    background: url("../../images/m/tiles/altRowBG.png") repeat-x scroll 0 0 transparent !important;    
    width: 977px;
    height: 85px; 
    float: left;
    clear: both;
    border-top:1px solid #fff;    
}                        

div.AltRow .AltType {
    float: left;/* base */
    height: 85px;/* base */
    width: 155px; /* base */
    background: url("../../images/m/tiles/aa-arrow.png") right center no-repeat scroll transparent;
}


div.AltRow .AltPrice {
    width: 170px;
    height: 100px;
    float: left;
}


div.AltRow div.noAvailability {
    background: url("../../images/b/icons/altx.png") no-repeat 0px 6px;    
    float: left;
    height: 60px;
    margin-top: 20px;
    width: 270px;
}

div.AltRow div.noAvailability span {
    clear: both;
    display: block;
    float: left;
    font-size: 11px;
    font-weight: bold;
    line-height: 15px;
    margin-left: 50px; 
}

div.AltRow .AltPrice li span {
    color: #141414;
    font-size: 12px;
    font-weight: bold;
    display:block;
    height: 20px; 
    background: url("../../images/b/icons/altCB.png") no-repeat 0 0 transparent !important;
    padding-left: 50px;
    margin-top: 26px;  
}

div.AltRow .AltPrice li.Fp span {
    color: #8B8B8B;
    font-size: 11px;
    font-weight: normal;
}

div.AltRow .AltPrice li.Hide {
    display: none;
}
div.SwitchLocation .AltType {  
    background-color: #007383;
	background-position:147px 0;
 
}

div.OneWaySwitchLocation .AltType {  
    background-color: #007383;
	background-position:147px 0;
    
}


div.MoveForward .AltType {
    background-color: #0c8597;
    background-position:147px -86px;
}

div.OriginalSearch .AltType 
{
    background-color: #007383;
    width:145px;
    margin-right:10px;
    background-image:none;
}


div.PickUpBased .AltType {
    background-color: #399ba7;
	background-position:147px -344px;

}

div.MoveBackwards .AltType {
    background-color: #0c8597;
	background-position:147px -86px;

}

div.DropOffBased .AltType {
    background-color: #399ba7;
	background-position:147px -344px;

}

/* add all avail types here..*/ 
div.AltRow small
{
    font-family:Tahoma;
}
div.AltRow .AltType span {
    font-size: 11px;
    font-weight: bold; 
    display: block;
    width:80px;                             
    color: #fff;  
    margin: 20px 0 0 16px;
}

div.AltRow div.AltTime {
    float: left;
    width: 538px;
    height: 86px;
}


div.AltRow .TimeSpan {
    height:10px;
    width:400px;
    float: left;
    border: solid 1px #aaa;
    margin: 0 0 0 74px;
    background-color: #fff;                            
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

div.AltRow .TimeSpan span {
    display: block;
    float: left;
    height: 10px;                            
}

div.AltRow .TimeSpan span.Avail {
    background-color: #4ea143;
}

div.AltRow .TimeSpan span.noAvail {
    background-color: #a14343;
}

div.AltRow .TimeSpan span.hireDates {
    /*background-color: #4EA143;*/                            
}

div.AltRow .TimeLabels {
    float: left;
    display: block;                            
    width:462;    
    margin-left: 72px;                              
}

div.AltRow .TimeLabels span {    
    font-size: 11px;
    float: left;
    display:block; 
    text-align: center;                            
}
div.AltRow .TimeLabels.period .hireORDates small
{
    white-space:nowrap;
}


div.AltRow .TimeLabels .hireORDates small 
{
}              

.hireORDates small {
    text-align: center;
}          

div.AltRow .TimeLabels .postORDates small {
    width: 40px;
}

div.AltRow .dates {                             
    height: 30px;
}

div.AltRow .period {
    margin-top: 13px;
    height:15px;
}

div.OptionRow ul.Prices {
    margin-top:22px;
}

div.OptionRow .ShowPriceList {
    color: #a0825a;
    text-decoration: underline; 
    font-size: 10px;
    cursor: pointer;
    margin-top: 5px;  
    display: block;
    margin-left: 50px; 
}

div.OptionRow .PriceDetailsList { /* base */
    display:none;
}

div.Expand .PriceDetailsList {/* base */
    display: block;
    float:left;
    margin-left: 80px;
    font-size: 11px; 
}

div.AltRow .AltSelect {
    display: block;/* base*/
    float: right;   /* base*/
    background: url("../../images/m/btn/sprites.png") no-repeat 0 -159px transparent;                           
    height: 70px;                           
    text-decoration: none;/* base*/
    text-indent: -9999px; /* base*/
    width: 90px;
    margin: 0px 15px 0px 0px; 
    overflow: hidden;
}

div.AltRow .AltSelect:hover {
    background-position: 0 -239px;
}


div.AltRow chargeTable {
    float: left
}
div.OptionRow .NoAlt
{
    float:left;
    padding: 0px 15px 0px 75px;
    width:731px;
}
div.OptionRow .NoAlt span, div.OptionRow .NoAlt a {
    display: block;
    float: left;
    margin-top: 28px;    
}

div.OptionRow .NoAlt span {   
    height: 20px;    
    line-height: 18px; 
    font-size: 11px;
    font-weight: bold;    
}

div.OptionRow .NoAlt small{
    background: url("../../images/m/icons/altx.png") no-repeat 0 0 transparent;
    height: 20px;
    width: 20px;
    display: block;
    float: left; 
    margin-top:35px;  
    overflow: hidden;
    text-indent: -1000em 
}

div.OptionRow .NoAlt a.details {
    color:  #7C2424;
    text-decoration: underline;
    font-size: 10px;
    line-height: 18px;
    margin-left: 10px;
    margin-right: 362px;     
}

div.OptionRow .NoAlt a.call{
    width: 118px;
    height: 41px;
    background: url("../../images/m/btn/btn_matrix.png") no-repeat 0 -560px transparent;
    overflow: hidden;
    text-indent: -1000em; 
    float: right;
}

div.OptionRow .NoAlt a.call:hover {
    background-position:  0 -640px;
}


#alternativeCatalogContainer .rightHandBanner
{
    display:none;
}
#alternativeCatalogContainer.unavailable {
    float:left;
    width:977px;
    position:relative;
    background:url(/images/m/tiles/rightHand-24-7-image.jpg) #006172 no-repeat right bottom;
}


#alternativeCatalogContainer.unavailable .OptionRow
{
}

#alternativeCatalogContainer.unavailable .OptionRow .AltRow
{
    width:706px;
    clear:none;
}
#alternativeCatalogContainer.unavailable .OptionRow .AltRow.OriginalSearch
{
    width:977px;
}
#alternativeCatalogContainer.unavailable .OptionRow .AltRow.OriginalSearch .noAvailability
{
    margin-left:20px;
    width:250px;
}
#alternativeCatalogContainer.unavailable .rightHandBanner
{
    width:271px;
    min-height:172px;
    overflow:hidden;
    display:block;
    border-top:1px solid #fff;
    float:right;
    
}
#alternativeCatalogContainer.unavailable .rightHandBanner a.freephone
{
    margin-left:18px;
    float:left;
}
#alternativeCatalogContainer.unavailable .rightHandBanner img
{
    border:none;
    margin: 20px 0px 5px 20px;
}
#alternativeCatalogContainer.unavailable .OptionRow .NoAlt
{
    width:461px;
}
#alternativeCatalogContainer.unavailable .OptionRow .NoAlt a.details
{
    margin-right:30px;
}
#alternativeCatalogContainer.unavailable .OptionRow .NoAlt small
{
    margin-top:30px;   
}
#alternativeCatalogContainer.unavailable  .OptionRow .NoAlt a.call 
{
    display:none;
}


#footerContainer
{
    background:url("../../images/m/body-bg-1024-repeat.png") repeat-y scroll 0 0 transparent;
    float:left;
    display:block;
    height:165px;
}
#footerContainer #footerWrapper
{
    background:url('/images/m/tiles/footer-24-7-image.jpg') #006072 no-repeat left top;
    display:block;
    height:165px;
    width:597px;
    padding-left:380px;
    float:left;
    text-indent:-9999px;
}

#footerContainer .resText
{
    background:url('/images/m/tiles/24-7-reservations-title.gif') no-repeat;
    width:210px;
    height:40px;
    float:left;
    display:block;
    margin-top: 20px;
}
#footerContainer.unavailable
{
    height:110px;
}
#footerContainer.unavailable #footerWrapper
{
    background:#fff;
    padding-left:30px;
    width:947px;
    height:110px;
}

#footerContainer.unavailable .resText,
#footerContainer.unavailable a.freephone,
#footerContainer.unavailable .searchall
{
    display:none;
}

#footerContainer a
{
    display:block;
    float:left;
    width:1px;
    height:1px;
    background:url('/images/m/btn/sprites.png') no-repeat;

}
#footerContainer a.freephone
{
    margin-top:20px;
    margin-left:20px;
}

#footerContainer span.searchall
{
    clear:both;
    display:block;
    background:url('/images/m/tiles/searchall_text.png') 0px 10px no-repeat;
    width:290px;
    height:51px;
}
#footerContainer a.returntosearch
{
    width: 200px;
    height:27px;
    background-position: 0px -1210px;
    margin-top:10px;
    clear:left;
}
#footerContainer a.returntosearch:hover
{
   background-position: 0px -1290px;
}
#footerContainer a.otherbrands
{
    width: 200px;
    height:25px;
    background-position: -200px -1210px; 
    margin-top:10px;
    margin-left:20px;    
    display:none;
}
#footerContainer a.otherbrands:hover
{
    background-position: -200px -1290px; 
}

#vehicleAAContainer #disclaimer
{
    background:transparent url(/images/m/footer-bg-1024-long.png) no-repeat  0 0px;
    float : left;
    width:977px;  
    height: 100px;
    font-size : 11px;
    color:#999;
}

#vehicleAAContainer #disclaimer span
{
    background:#fff;
    float:left;
    padding-left:20px;
    width:957px;
    height:22px;
}
#footerLinksBottom 
{
    clear:both;
    width:800px;
    height:35px;
    text-align: center;
    width:100%;
}

#footerLinksBottom #footerLinksLogos {
    width:600px;
    margin:auto;
}

#footerLinksBottom #footerLinksLogos li#logos {
    background: url("/images/logo-lockup.png") no-repeat scroll 0 0 transparent;
}

#footerLinksBottom #footerLinksLogos li {
    font-size:9px;
    color:#999;
    float: left;
    line-height: 15px;
    padding: 0;
    text-align: left;
    vertical-align: top;
}
#footerLinksBottom #footerLinksLogos li#logos a {
    display: block;
    float: left;
    height: 40px;
    outline: medium none;
    text-indent: -9999px;
    width: 50px;
}
#footerLinksBottom #footerLinksLogos li#copyright
{
    margin-left:20px;
}
#footerLinksBottom #footerLinksLogos li#logos #THLLogo {
    width: 80px;
}
#footerLinksBottom #footerLinksLogos li#logos a#MauiLogo {
    width: 60px;
}
#alternate #tooltip
{
    opacity:1;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;    
}

#tooltip .SmallContainer,.availPopUp 
{
    background:#ffffff;
    color:#000;
    padding: 10px 10px 15px;
    float: left;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;    
    max-width:500px;
    min-width:280px;
    font-family:Tahoma;
}
#tooltip .LargeContainer
{
    background:#fff;
    padding: 5px 10px 15px;
    float: left;
    width:610px;
    position:relative;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;    
    z-index:2;
}
#tooltip .LargeContainer .ads
{
    float:right;
    max-height:44px;
}
#tooltip .LargeContainer h3
{
    line-height: 20px;
    float: left;
    margin:10px 5px;
    vertical-align: bottom;
    color:#006072;
}
#tooltip .LargeContainer .chargesTable
{
    width:100%;
    border:1px solid #E9E9E9;
    clear:both;
    text-align:left;
    font-size:11px;   
    background:#f9f9f9;
}
#tooltip .LargeContainer .chargesTable th
{
    color:#333;
    text-align:left;            
    padding:5px 0px 5px 5px;
    background:#E9E9E9;            
}
#tooltip .LargeContainer .chargesTable td
{
    padding:5px 0px 5px 5px;
    color:#333;
    text-align:left;            
}

#tooltip .LargeContainer .chargesTable th.PerTH,
#tooltip .LargeContainer .chargesTable td.pth
{
    width:60px;
}
#tooltip .LargeContainer .chargesTable th.DiscTH,
#tooltip .LargeContainer .chargesTable td.dth
{
    width:80px;
}
        
#tooltip .LargeContainer .chargesTable tfoot td
{
    background:#FFE3BC;
}
        
#alternate .steps a {
    display: block;
    overflow: hidden;
    width: 300px;
    height: 30px; 
    overflow: hidden;
    text-indent: -1000em 
}

#alternate div.AltRow .AltPrice li.Fp span  {
    margin-top: 0 !important;
    background-image: none !important; 
}

.preloader #vehicleCatalogContainer h2
{
    margin-top:-57px;
    padding-top:28px;
}
.preloaderIframe
{
    position:absolute;
    top:0px;
    left:0px;
    width:100%;
    height:100%;
    visibility:hidden;
}
#staticLoader {
	background:url("../../images/m/body-bg-repeat.png") repeat-y scroll center top transparent;
    float : left;
    width:881px;
    display:none;
    text-align:center;
    font-size:16px;
    font-weight:bold;
    color:#333;
}
#staticLoader span,#staticLoader #carousel
{
    display:block;
    background:#fff;
    padding:40px 0px;
    text-align:center;
    width:799px;
    margin:-29px auto auto;
}
#carousel { position: relative; height: 308px; margin: 0; padding: 0; }
#carousel li { float: left; cursor: pointer; cursor: hand; list-style: none; margin: 0px; padding: 0px; width: 224px; height:308px;}
#carousel li img { height: 100%; width: 100%;}
.preloader  #configurePanel .progressIndicator {
        float: left;
        clear:both;                 
        font-size: 13px;  
        text-align: center;    
        width: 100%;
        height: 400px; 
        padding-top: 50px;                      
}
.preloader  #configurePanel .progressIndicator img {
           
}   
/* Alternate Availability Ends **/


/* Cross Sell Starts */
#thlCrossSellBanner {	
   padding-top: 0px;	
	float:left;
	height:25px;
	width:100%;
	/*background:url(../../images/crosssell/cs.png) 0 0 no-repeat;*/
	background: url("../../images/crosssell/cs.png") no-repeat scroll 0 0 transparent;
	cursor:pointer;
    margin-left: 36px;
    display: none;	
}
#preLoaderIframe
{
    width: 1000px;
	height: 768px;
	float: left;
	border:none;
	overflow:hidden;
}
#preLoaderPanel {	
	width: 1000px;
	height: 768px;
	margin-left:auto;
	margin-right:auto;	
}

#preLoaderPanel span {
	display: block;
	margin-top: 105px;
	margin-left: 480px;
	width: 40px;
	height: 40px;
	background: url(../../images/b/icons/ajax-loader.gif) no-repeat;
}


.CSell_AU {
	background: url(../../images/crosssell/cs_preload_au.png) no-repeat;
 }

.CSell_NZ {
	background:url(../../images/crosssell/cs_preload_nz.png) no-repeat;
 }

 #bookingControl #centreCol {
	width: 190px !important;
 }
 
 #bookingControl #leftCol span {
	float: right;
	line-height:24px;
	margin-bottom:0px;
 }
 
 
 #bookingControl span { 
	font-size : 11px;
 }
 
 #bookingControl {
	padding-left: 0px;
 }
 /* cross sell new */
 
#bookingControl span.Radios
{
    font-size: 10px;
    padding-bottom: 5px;
}

#bookingControl span.Model, #bookingControl span.RightPass
{
    padding-bottom:5px;
}
#bookingControl span .select{
	height: 17px;
}

#bookingControl #leftCol span  {
	text-align: right;
	width:100%;
}

#bookingControl #leftCol span.required  {
	font-weight:bold;
}

#bookingControl .botCol a.searchBtn {
    background:transparent url(../../images/m/Sprites.png) no-repeat scroll 0 0;
    display:block;
    height:25px;
    overflow:hidden;
    text-indent:-100px;
    width:97px;
    float:right;
}
#bookingControl .botCol a.searchBtn:hover
{
    background-position: 0 -80px;
}
#bookingControl .crossSell .crossSellBrand
{
    width:40px;
    background-position:0px 0px;
}
#bookingControl .botCol
{
    margin-top:10px;
}
#bookingControl span.Model, #bookingControl span.RightPass
{
    padding-bottom:5px;
}

#bookingControl .crossSell, #vehicleSelectionContainer #bookingControl.cars .crossSell
{
    display: none;
}

#vehicleSelectionContainer #bookingControl .crossSell
{
    display: block;
}

#bookingControl #leftCol
{
    width:138px;
	height: 72px;
}
#bookingControl span.CSellLbl
{
    float: left;
    line-height:24px;
	font-weight:bold;
	width:102px;
	padding-left:20px;
}

#bookingControl .crossSell .CSellOpt
{
    float: left;
    margin-right: 10px;
    margin-left: 8px;
}

#bookingControl .crossSell
{
    margin-left:0px;
}



 /* cross sell new ends*/
/* Cross Sell Ends */

/* CrossSell header begins */
#crossSell{
	margin: 0 auto;
	top: 0px;
	height:25px;
	width:800px;
	font-size:11px;	
	z-index:1;
	font-family:Tahoma, Arial, Helvetica, sans-serif;
}
#crossSellLogo{
	float:left;
	height:25px;
	width:85px;
}
#crossSell #crossSellCountry {
	float:right;

}
#crossSell .crossSellNav{
			/*border:1px solid #ccc;
			border-width:1px 0;*/
			list-style:none;
			margin:0;
			padding:0;
			text-align:left;
			float:left;
}
#crossSell .crossSellNav li{
			position:relative;
			display:inline;	
			height:25px;
}
#crossSell .crossSellNav a{
			display:inline-block;
			padding:5px 10px 0px 10px;
			height:20px;
}
#crossSell .crossSellNav ul{
			position:absolute;
			top:100%; /*Uncommenting this makes the dropdowns work in IE7 but looks a little worse in all other browsers. Your call. */
			left:-9999px;
			margin:0;
			padding:0;
			text-align:left;
}
#crossSell .crossSellNav ul li{
			display:block;
}
#crossSell .crossSellNav li:hover ul{
			left:0;
}
#crossSell .crossSellNav li:hover a.maui, #crossSell  li.current a.maui{
			text-decoration:none;
			background:#01606f;
			color:#fff;
}
#crossSell .crossSellNav li:hover a.britz{
			text-decoration:none;
			background:#f58220;
			color:#fff;
}

#crossSell .crossSellNav li:hover a.BP, li.current a.BP {
			text-decoration:none;
			background:#0080b5;
			color:#fff; 
}

#crossSell .crossSellNav li:hover a.country{
			text-decoration:none;
			background:#353535;
			color:#fff; 
}

#crossSell .crossSellNav li:hover ul a{
			text-decoration:none;
			width:140px;
			background:#fff;
}
#crossSell .crossSellNav li:hover ul a:hover{
			text-decoration:none;
			background:#fa8300;
			color:#fff; 
}
#crossSell .crossSellNav ul a{
			white-space:nowrap;
			display:block;
}
#crossSell a{
			color:#8e929b;
			text-decoration:none;
			font-weight:normal;
}
#crossSell a.britzCurrent, #crossSell li.current a.britz{/* Remove the britzCurrent */
			text-decoration:none;
			font-weight:normal;
			background:#f58220;
			color:#fff;

}

#crossSell a:hover{
			text-decoration:none;
			background:#f1f1f1;
}

 
.CSell .Radios label,.CSell .Radios input
{
    float:left;
    line-height:18px;
}
.CSell .Radios input
{
    margin:0px 5px 0px 0px;
    width:13px;
}
#termsAndConditions #acceptedTerms {
	float: left;
	clear: both;
}

/* CrossSell header ends */	

.returntoseachBreadCrumb
{
    float:left;
    width:100%;
    clear:both;
    margin-top:-44px;
    position:relative;
}
.returntoseachBreadCrumb a
{
    padding: 5px 0px 5px 16px;
    font-size:10px;
    color:#A0825A;
    display:block;
    text-decoration:underline;
    border-bottom: 1px solid #e7e7e7;
	background: url("../../images/m/drop-shadow.png") repeat-x scroll 0 0 #FFFFFF;
}


/* Promo Text */
.PriceDescription .promo {
	background: url("http://images.thl.com/images/m/tiles/promo_bg.png") no-repeat scroll 0 0 transparent; 
	padding-top: 20px;   
	margin-top: 5px;
	height: 50px;
}
.PriceDescription .promo big { color: #6c470a; }
.PriceDescription .promo small { color:#4a4a4a;}