﻿<%@ Page Language="vb" AutoEventWireup="false" CodeBehind="LoginOKCheck.aspx.vb" Inherits="THLAuroraWebInterface.LoginOKCHeck" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
        <asp:Label ID="lblTest" runat="server" Text="output :"></asp:Label>
        <asp:Button ID="Button1" runat="server" Text="Check Login OK" />
    </div>
    </form>
</body>
</html>
