<%@ Control Language="vb" AutoEventWireup="false" Codebehind="FooterImage.ascx.vb" Inherits="THLAuroraWebInterface.FooterImage" TargetSchema="http://schemas.microsoft.com/intellisense/ie5" %>
<asp:Image id="imgFooter" runat="server"></asp:Image>
