<%@ Control Language="vb" AutoEventWireup="false" Codebehind="RightImage.ascx.vb" Inherits="THLAuroraWebInterface.RightImage" TargetSchema="http://schemas.microsoft.com/intellisense/ie5" %>
<asp:image id="imgRight" runat="server"></asp:image>
