<%@ Page Language="vb" AutoEventWireup="false" Codebehind="ErrorLog.aspx.vb" Inherits="THLAuroraWebInterface.ErrorLog"%>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
	<HEAD>
		<title>ErrorLog</title>
		<meta content="Microsoft Visual Studio .NET 7.1" name="GENERATOR">
		<meta content="Visual Basic .NET 7.1" name="CODE_LANGUAGE">
		<meta content="JavaScript" name="vs_defaultClientScript">
		<meta content="http://schemas.microsoft.com/intellisense/ie5" name="vs_targetSchema">
	</HEAD>
	<body>
		<form id="Form1" method="post" runat="server">
			<asp:button id="btnClearLog" runat="server" Text="Clear Log"></asp:button>
			<iframe runat="server" id="iframe" height="100%" width="100%" src="ErrorLog.xml"></iframe>
		</form>
This is new server
	</body>
</HTML>
