﻿<%@ Page Language="vb" AutoEventWireup="false" CodeBehind="TestWebService.aspx.vb" Inherits="THLAuroraWebInterface.TestWebService" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
    
        <asp:Button ID="Button2" runat="server" style="height: 26px" Text="Using MSXML2" />
    
        <asp:Button ID="Button1" runat="server" Text="Normal" />
    
        <asp:Button ID="Button3" runat="server" Text="Ver2" />
    
    </div>
    </form>
</body>
</html>
