<%@ Control Language="vb" AutoEventWireup="false" Codebehind="THL_WebUserControlBase.ascx.vb" Inherits="THLAuroraWebInterface.THL_WebUserControlBase" TargetSchema="http://schemas.microsoft.com/intellisense/ie5" %>
