﻿body {
    background:url("../../images/x/tiles/tires.gif") no-repeat scroll 50% 50px #000000;
	/*background-color:#000000;*/
}

#vehicleSelectionContainer, #vehicleConfigureContainer, #paymentContainer {
    margin-left:auto;
    margin-right:auto;
    text-align:left;
    width: 760px;    
}

/* Header */
#catalogHeader {
    float: left;
    width: 760px;
	background:url("../../images/x/tiles/header.gif") no-repeat scroll 0 0 #588527;
}

#catalogHeader span.Image {
    float: left;
    width: 200px;
    margin:25px 0 0 15px;
}

#catalogHeader span.ContactInfo {
    margin: 40px 0 0 55px;
    float: left;
    display : block;
    width : 460px;
    height : 40px;
    color: #fff;
    font-family: Verdana,Arial;
    font-size:11px;
    text-decoration: none;        
}

#catalogHeader span.ContactInfo a {
    text-decoration: none;
}

#catalogHeader span a{
    margin: 40px 0 0 20px;
	 color:#000;
	text-decoration:underline !important;
}

#catalogHeader span a img{
	border:0;
}

/* Booking Control */
#bookingControlContainer {
    float: left;
    width: 760px;
    height : 160px;
    background: #588527 url(../../images/x/booking_bg.gif) no-repeat 150px 0;    
	/*margin-top:33px;*/
}

#bookingControl {    
    margin-left : 26px;
    margin-top: 35px;
    height:auto;
}

* html #bookingControl {    
    margin-left : 10px;
    margin-top:35px;    
}

#bookingControl span,#bookingControl input,#bookingControl select
{
    font-family:Tahoma !important;
}
#bookingControl .Model small {/* chrome */
    font-size: 10px !important;    
} 

/* crumbs panel */
#breadCrumbs {    
    float : left;
    width: 760px;
    height: 45px;
	background-color:#588527;
}

#paymentContainer #breadCrumbs {    
	margin-top:0px;
}

#breadCrumbs span.Crumbs {
    float : left;
    font-size : 11px;
    margin: 14px 0 0 20px;
}
#breadCrumbs span.Crumbs a {
    color: #fff;
    text-decoration: none; 
}

#breadCrumbs ul {
    float : right;
    display : block;
    margin : 14px 20px 0 0;
    width: 380px;
    height: 45px;
    font-size:9px;
} 

#stepsDisplayer li {
    padding :0;
    margin : 0;
    float : right; 
    height : 32px;
    width : 63px;       
}

#stepsDisplayer span {
    display: block;
    float : right;
    height : 32px;
    width : 63px;
    background:transparent url(../../images/x/icons/wizard_stages.gif) no-repeat  0 0;
    padding-top: 19px;    
	color:#FFFFFF;
}

#stepsDisplayer #PaymentStep {
    background-position : -189px 0;    
}

#stepsDisplayer #ConfigureStep {
    background-position : -63px 0;    
}

#paymentContainer #stepsDisplayer #ConfigureStep {
    background-position : -126px 0 !important;    
}


#stepsDisplayer #SelectStep {
    background-position : 0 0;    
}

/* Catalog container */
#vehicleCatalogContainer {
    background: #588527 url(../../images/x/tiles/horizontal.gif) repeat-y  0 0;
    float : left;
    width: 760px;    
    padding-bottom: 6px;
}

#paymentContainer #vehicleCatalogContainer{
	margin-top:0px;
}

* html #vehicleCatalogContainer {
    margin-left: 0px;
}

#vehicleCatalogContainer h2 {
    background:transparent url(../../images/x/tiles/PageHeaderBg.gif) no-repeat  0 0;
    color: #000;
    font-size:18px;
    font-weight:bold;
    display : block;    
    height:34px;
    padding-left:40px;
    padding-top:10px;
    
}

#vehicleCatalog .Step1A {
    float: left;
    width: 700px;
    background-color: #fff;
    font-size: 11px; 
    padding: 10px 0 10px 20px;
    margin-left: 20px;   
}

#vehicleCatalogContainer .VehicleItem div.Limited .Top a {
	color:#598527 !important; /* REMOVE FROM BASE.CSS */
}

#vehicleCatalogContainer .VehicleItem div.Limited .Top a:hover {
	color:#598527; 
	text-decoration:underline;
}

#vehicleCatalogContainer .VehicleItem div.Limited .EmailLink a {
	color:#598527;
	display: block;
	background:transparent url(../../images/x/btn/btn_matrix.png) no-repeat  0 -560px;
    text-indent: -1000px;
    overflow: hidden;
	height: 35px;
    width: 108px;
	margin-left: 10px;
}

#vehicleCatalogContainer .VehicleItem div.Limited .EmailLink a:hover {
	color:#598527 !important; /* REMOVE FROM BASE.CSS */
	text-decoration:underline;
}

#resultsHeader {
    background-color: #fff;
    width: 742px;
    height:30px;
    font-size : 12px;
    color : #000;
    margin-left: 12px;
    
}

#resultsHeader h3 {
    font-size : 11px;
    color : #000;
    font-weight : normal;
    float : left;
    width : 380px;
    margin : 8px;
	font-family:Trebuchet MS;
}

#resultsHeader span {
    float : right;
    background-color: #fff;
    display : block;
    text-align: right;
    margin:4px;   
}

#resultsHeader span small {
    color : #000;
}



#vehicleCatalog {
    display : block;
    width : 760px;
}

/* Vehicle Row */
#vehicleCatalog .VehicleItem {
    
     
}

#vehicleCatalog div.VehicleItem {
    float : left;  
    width : 742px;
    background-color: #fff;   
    margin-left:12px; 
    float : left;
    border-top: solid 1px #c3c980;   
}


* html #vehicleCatalog div.VehicleItem {
    margin-left : 5px;
}

#vehicleCatalog .VehicleItem a.VehicleThumb {
    display : block;
    float : left;
    text-decoration : none;
    margin-left:5px;
    width: 75px;                  
}

#vehicleCatalog .VehicleItem a.VehicleThumb img {
    border : none;
}

#vehicleCatalog .VehicleItem div {
    float : left;
}

#vehicleCatalog .VehicleItem div.VehicleFeatures {
    width: 210px;
    margin-left:3px;    
}

#vehicleCatalog .VehicleItem div.VehicleFeatures a {
    color: #598527;
    font-size:18px;
    text-decoration : none;
    display : block;
	font-family:Trebuchet MS;
}

#vehicleCatalog .VehicleItem div.VehicleFeatures a:hover {
    text-decoration : underline;
}

#vehicleCatalog .VehicleItem div.PriceDescription {
    width: 220px;
    margin-left : 10px; 
}

#vehicleCatalog .Branded .VehicleItem div.PriceDescription {
    width: 160px !important;
    margin-left : 10px; 
}

#vehicleCatalog .VehicleItem div.PriceDescription a.Avail {
    color: #598527;
    font-size:13px;
    text-decoration : none;
    margin : 3px 0 3px 0;
    display : block;
}
#vehicleCatalog .VehicleItem div.PriceDescription a.Avail:hover {
    text-decoration: underline;
}

#vehicleCatalogContainer .VehicleItem div.Err {
    width: 390px !important;
	background:#fff8bc url(../../images/x/icons/exMarkAvailRow.gif) no-repeat scroll 3px 3px;
	border:6px solid #ffd800;
	color:#000;
}

#vehicleCatalog .VehicleItem .ShowPriceList,  #vehicleChargeDetails  .ShowPriceList {
    display : block;
    float : left;
    height : 15px;
    width: 170px;
    color : #598527;
    font-size: 10px;
    margin : 8px 0 3px 0;
    padding-left: 20px;
    background:transparent url(../../images/x/icons/price_list_expand.gif) no-repeat  0 0;
    text-decoration : none; 
    cursor : pointer;
}



#vehicleCatalog .Collapse .ShowPriceList, #configurePanel .Collapse .ShowPriceList {
   background-position : 0 -15px;
}

#vehicleCatalog .VehicleItem div.PriceDescription li {
    float: left;
    margin: 0;
    padding : 0; 
}

#vehicleCatalog .VehicleItem div.PriceDescription span {
    color:#8B8B8B;
    font-size:10px;
    display : block;
    float: left;
    clear: both;      
}

#vehicleCatalog .VehicleItem div.PriceDescription span.SavePrice {
    background:transparent url(../../images/x/tiles/saveBG.gif) no-repeat  0 0;
    height: 45px;
    width: 110px;
    color: #fff;    
}

#vehicleCatalog .VehicleItem div.PriceDescription span.SavePrice small {
    margin: 26px 0 0 10px;
    height:10px;
    width: 100px;
    float: left;
    clear: both;
}

#vehicleCatalog .VehicleItem div.TotalPrice {
    width: 118px;   
}

#vehicleCatalog .VehicleItem div.TotalPrice li span {
    color:#222;
    font-size:13px;   
	font-weight:bold; 
}

#vehicleCatalog .VehicleItem div.TotalPrice li.Fp span {
    color:#8B8B8B;
    font-family:Verdana;
    font-size:10px;
}

#vehicleCatalog .VehicleItem div.TotalPrice li.Hide {
    display :none;
}

#vehicleCatalog .VehicleItem a.SelectBtn {
    display : block;
    float : right;
    width: 90px;
    height: 25px;
    margin-top: 5px;
    background:transparent url(../../images/x/btn/btn_matrix.png) no-repeat 0 -160px;
    text-indent: -1000px;
    overflow: hidden;
    text-decoration: none;
}

#vehicleCatalog .VehicleItem a.SelectBtn:hover {
    background-position: -2px -242px;
}


#bookingControl #rightCol #bottomRight a:hover {
    background-position: -2px -82px;
}

#vehicleSelectionContainer #disclaimer, #vehicleConfigureContainer #disclaimer, #paymentForm #disclaimer {
    background: #588527 url(../../images/x/tiles/bottomFooter.gif) no-repeat  0 0;    
    font-size: 11px;
    height: 66px;
    width: 760px;
    float: left;
}

#vehicleSelectionContainer #disclaimer span{
    float:left;
    font-size:9px;
    margin:2px 0 0 20px;
}

 #vehicleConfigureContainer #disclaimer span {
    float:left;
    font-size:9px;
    margin:15px 0 0 20px;
 }

/* details list */
#vehicleCatalog .Collapse div.PriceDetailsList {
    display : none;
}

#vehicleCatalog div.PriceDetailsList {
    float : left;   
    color: #7A7A7A;
    background-color : #fff;
    width : 662px;
    margin-left : 15px;
    padding-left: 77px;
}

#vehicleCatalog div.PriceDetailsList table {
    background-color: #F2FBE7;
    margin-bottom: 5px;
    width: 648px !important;
}

#configurePanel div.PriceDetailsList table {
    width: 705px;
}


div.PriceDetailsList table tr.total {
    background-color: #DDE0C8;
}

div.PriceDetailsList th {
    font-size : 11px;
    font-weight: bold;
    background-color : #A4C87B;
    height: 34px;
    color: #3f6217;  
}

.popup {
    color: #FBE700;
    line-height: 0;
    cursor: pointer; 
}

#vehicleCatalog div.PriceDetailsList td {
    padding : 2px 2px 2px 5px;
}

#vehicleCatalog div.PriceDetailsList td.TotalTD, #vehicleChargeDetails div.PriceDetailsList td.TotalTD {
    font-weight : bold;
}

#vehicleCatalog div.PriceDetailsList th.RateTH {
    width: 220px;
}

 #vehicleChargeDetails div.PriceDetailsList th.RateTH, #vehicleChargeDetails div.PriceDetailsList td.rt, #vehicleChargeDetails div.PriceDetailsList td.TotalTD {
    /*padding-left:54px;*/ 
 }

#vehicleCatalog div.PriceDetailsList th.FreeTH {
    width: 90px;
}

div.NoFreeDays th.FreeTH, div.NoFreeDays td.fd {
    display: none;
}

#vehicleChargeDetails div.PriceDetailsList th.FreeTH {
    width:82px;
    margin:0;
    padding:0;
}

#vehicleCatalog div.PriceDetailsList th.HireTH {
    width: 90px;
}

#vehicleChargeDetails div.PriceDetailsList th.HireTH {
    width: 145px;
}

#vehicleCatalog div.PriceDetailsList th.PerTH, #vehicleChargeDetails div.PriceDetailsList th.PerTH  {
    width: 140px;
}

#vehicleCatalog div.PriceDetailsList th.TotalTH, #vehicleChargeDetails div.PriceDetailsList th.TotalTH {
    width: 80px;
}

#vehicleCatalog div.PriceDetailsList td, #vehicleCatalog div.PriceDetailsList td {
    font-size : 11px;    
}

#vehicleCatalogContainer .VehicleItem div.Limited .Top a.Quest{
 background : #fff url(../../images/x/icons/questMark.gif) no-repeat  0 0 !important;} 



#vehicleSelectionContainer #disclaimer, #vehicleConfigureContainer #disclaimer {
    font-size : 11px;   
}

#vehicleChargeDetails div.PriceDetailsList {
    float : left;   
    color: #7A7A7A;
    background-color : #e9f3df;    
    margin : 0 18px 0 18px;
    clear : both;
    width : 704px;
}

/* configurePanel */

#vehicleChargeDetails div.PriceDetailsList th {
    font-size : 10px;
    font-weight: bold;
    padding : 2px 2px 2px 5px; 
}

#vehicleCatalog div.PriceDetailsList td, #vehicleChargeDetails div.PriceDetailsList td {
    padding : 2px 0px 2px 0px;
}

#vehicleChargeDetails div.PriceDetailsList td {
    font-size : 10px;
}

/* Vehicle Row Branded */

#vehicleCatalog .VehicleItem span.BrandThumb  {
    display : block;
    float : left;
    text-decoration : none;
    margin-left:5px;                  
}

#vehicleCatalog li.Branded .VehicleItem div.PriceDescription span {
     font-size : 9px;
}

#vehicleCatalog li.Branded .VehicleItem div.PriceDescription {
    width: 180px; 
}

#vehicleCatalog div.VehicleItem {
    padding:12px 0;
}


/* Configure Page */
#vehicleConfigureContainer .CofR, #vehicleConfigureContainer .Radios, #vehicleConfigureContainer .Model, #vehicleConfigureContainer .Passengers {
    display : none;
}
#vehicleConfigureContainer #bookingControl #rightCol #bottomRight a {
    margin-top: 10px;
}
#vehicleConfigureContainer #bookingControl {
    height: 45px !important;
}

#vehicleConfigureContainer #ctrlValidationMsg {
    margin-top : 0;
} 

#vehicleConfigureContainer #bottomRight span {
    display : inline;
}

#vehicleConfigureContainer #stepsDisplayer #ConfigureStep {
    background-position:-129px 0 !important;
}

#vehicleConfigureContainer #promptTextArea, #quoteDisclaimer  {
    float : left;
    width: 705px;
    height : 56px;
    background : #E9F3DF url(../../images/icons/exMark.png) no-repeat  0 0;
    overflow : hidden;    
    margin:  5px 0 0 20px;
    border : solid 1px #598527;
    font-size : 11px;
    color: #000; 
}

#vehicleConfigureContainer #promptTextArea span {
    margin: 10px 20px 0 50px;
    display :block;
}

#vehicleConfigureContainer #configurePanel {
    float:left;
    margin-left:14px;
    width:720px;
}

#configurePanel {   
    
}

#vehicleConfigureContainer #topHeader {
    width: 730px !important;
    height : 34px;
    float : left;
    background-color : #fff;    
}

#vehicleConfigureContainer #vehicleTopPanel {
    float : left;
    width: 740px;
    
}

#vehicleConfigureContainer #topHeader h3 {
    float : left;
    display :block;
    margin : 38px 0 0 14px; 
	font-family:Trebuchet MS;
}

#vehicleConfigureContainer #topHeader span {
    float : right;
    display : block;
    margin : 5px 4px 5px 0;
}

#vehicleConfigureContainer #topHeader small, #vehicleConfigureContainer #topHeader select, #resultsHeader small, #resultsHeader select {
    font-size: 11px;
}


#vehicleConfigureContainer #configurePanel div.VehicleHeader {
    width: 330px;
    float : left;
}

#vehicleConfigureContainer #configurePanel div.VehicleHeader a {
    color:#598527;
    text-decoration: none;
}

#vehicleConfigureContainer #configurePanel div.VehicleHeader a:hover {
    text-decoration: underline;
}

#vehicleConfigureContainer #configurePanel div.VehicleHeader div {
    float : left;
    clear: both;
    width: 100%;
	
    padding-bottom : 15px;
}

#vehicleConfigureContainer #configurePanel div.VehicleHeader h3 {
    font-size: 20px;
    margin-left:12px;
	font-family:Trebuchet MS;
}

#vehicleConfigureContainer #configurePanel div.VehicleHeader h3, #vehicleConfigureContainer #configurePanel div.VehicleHeader h4, #vehicleChargeDetails h4, #insurancePanel h4, #hireItemsPanel h4, #ferryPanel h4 {
    color : #598527;    
    padding-bottom : 10px;  
}

#vehicleConfigureContainer #configurePanel div.VehicleHeader span {
    display : block;
    font-size : 11px;
    margin: 5px 0 0 10px;  
    float:left;
    width: 500px;       
}

#vehicleConfigureContainer #configurePanel div.VehicleImages {
    width: 375px;
    float : right;
}

#vehicleConfigureContainer #configurePanel div.VehicleImages .Left {
    float : left;
    width: 210px;
}

#vehicleConfigureContainer #configurePanel div.VehicleImages .Left img {
    float : right;
    clear : both;
}

#vehicleConfigureContainer #configurePanel div.VehicleImages .Right {
    float : right;
    margin-right:10px;
}

#vehicleChargeDetails {
    float: left;
    padding-top: 20px;   
    background : #fff url(../../images/x/tiles/divline.gif) no-repeat  5px 0; 
}

#configurePanel .Hide{   
    display:none;
}

#configurePanel em {
    font-style:normal;
}

#configurePanel h4, ferryPanel h4{
    float :left;
    clear: both;
    font-size:14px;
    font-weight:bold;
    margin-left: 10px;
}

#vehicleConfigureContainer a.Quest {
    display : block;
    width: 16px;
    height: 16px;
    background : #fff url(../../images/x/icons/questMark.gif) no-repeat  0 0 !important;
    float: left;
    overflow: hidden;
    text-indent: -1000px;
}

#vehicleChargeDetails a.PopUp {
    float: left;
}

#vehicleChargeDetails #ChargeHeader {
    float : left ;
    display : block;
    clear : both;
    width:100%;
}

#vehicleChargeDetails a.ShowPriceList {
    width : 80px;
    margin: 0 0 0 10px;
    float: left;
    display: block;
}

#vehicleChargeDetails a.ShowPriceList:focus {
    -moz-outline-style: none;
}

#vehicleChargeDetails a.ShowPriceList:active {
    outline: none;
}

#vehicleChargeDetails.Collapse div.PriceDetailsList {/* on collapse */
    display : none;
}

#vehicleChargeDetails #ChargeHeader small {
    font-size : 11px;
    float: left;
    display: block; 
    margin-left: 75px;
}

#vehicleChargeDetails #ChargeHeader span.Title {
    width: 360px;
    height: 20px;
    display:block;
    float: left;
}

#vehicleChargeDetails #ChargeHeader span.Total {
   display:block;
    float: right;
    margin-right:38px;
    font-size: 13px; 
}

#allInclusivePanel{
    width : 704px;
    margin: 0 18px;
    float : left;
    clear: both ;   
}

#allInclusivePanel small, #insurancePanel td, #hireItemsPanel td {
    font-size:11px;
}

#allInclusivePanel td.cb, #insurancePanel td.cb, #hireItemsPanel td.cb, #ferryPanel td.cb {
    width:50px;
}

#allInclusivePanel td.desc, #insurancePanel td.desc, #hireItemsPanel td.desc {
    width:248px;
}

#allInclusivePanel td.desc small {
    display:block;
    float:left;
}
#allInclusivePanel td.days, #insurancePanel td.days, #hireItemsPanel td.days {
    width: 115px;
}

#insurancePanel td.price, #hireItemsPanel td.price {
    width: 160px;
}


#allInclusivePanel td.pr {
    width: 145px;    
}

#insurancePanel {
    width:100%;    
    float: left;
    padding-bottom: 20px;
    background : #fff url(../../images/x/tiles/divline.gif) no-repeat  5px 0;  
    padding-top: 20px;   
}

#ferryPanel select, #hireItemsPanel select {
    font-size: 11px;
}

#insurancePanel table, #hireItemsPanel table, #ferryPanel table {
    margin: 0 0 0 19px;
    clear: both;
}

#insurancePanel table small, #hireItemsPanel small, #hireItemsPanel label{
    display:block;
    margin-bottom:4px;
    font-size: 11px;
}

#insurancePanel span {
    display: block;
    float: left;
    color: #8B8B8B;
    font-size: 10px;
    margin-left: 20px;
    width: 680px;
    clear: both;
}

#insuranceAgeSelector {
    clear: none !important;
    width: 140px !important;
}


#insOptionsTable.Under21 tr.Over21 {
    display : none;
}

#insOptionsTable.Over21 tr.Under21 {
    display : none;
}

#hireItemsPanel, #ferryPanel {
    margin-top: 10px;       
    padding-top: 20px;
    width: 100%; 
    float: left;
    clear: both;
    padding-bottom: 10px;
    background : #fff url(../../images/x/tiles/divline.gif) no-repeat  5px 0;     
}

#ferryPanel table {
    background-color: #e9f3df;
    width: 704px;
    font-size: 11px;
	padding: 2px;
}

#ferryPanel table td.desc {
    width : 366px;
}

#ferryPanel table td.price {
    width : 153px;
}


#ferryPanel table td.desc small {
    margin-left: 5px;
}

#ferryPanel table.Hide {
    display : none;
}

#ferryPanel td small { 
    font-size: 11px;
}

/*
#ferryPanel td.desc small {
     width:360px;
     font-size: 11px;
     display : block;
     margin-bottom: 10px; 
}
*/
#configureUpdatePanel span {
    display : block;
    float: left;
    clear: both;
    margin-left: 20px;
}

#configureUpdatePanel .Total {
    width: 702px;
    line-height: 23px;
    background-color:#e9f3df;
    color:#598527;
    font-size:17px;
    font-weight:bold;
    margin-top:15px;
}

#configureUpdatePanel .Total label {
    float : left; 
	margin-left:4px;   
}

#configureUpdatePanel .Total span.Price {
    float : right;    
    clear : none; 
	color : #000;
	margin-right:4px;
}

#configurePanel .Total #totalAmount, #configurePanel .Total #alternateCurrency {
    float : right;
    margin-left: 10px;
}

#configurePanel .Total #alternateCurrency {
	color:#7c7c7c;
}

#configureUpdatePanel .TaxMsg {
    margin: 5px 0 15px 20px;
    font-size: 11px;
    width: 100%; 
}

#configureUpdatePanel .Submit {
    display: block;
    width:702px;
    height:40px;
}

.Submit .BackBtn, .Buttons a {
    float: left;
    display: block;
    background : #fff url(../../images/x/btn/btn_matrix.png) no-repeat  0 -397px;
    height: 24px;
    width: 77px;
    overflow:hidden;
    text-indent:-1000px;
}

#configureUpdatePanel .Submit input {
    float: right;
    background : #fff url(../../images/x/btn/btn_matrix.png) no-repeat  -397px -159px;
    border: 0px;
    height: 32px;
    overflow: hidden;
    text-indent:-1000px;
    text-transform: capitalize;/*ie ;o(*/
    width:134px;      
}

#tooltip {
    background: #6A7300;
    border: solid 2px #fbe700; 
}

.bubbleBody  {
    font-size: 9px;
    color: #F9FFA3;     
}

.bubbleBody h3, .bubbleBody .total td {
    font-size: 11px;
    color: #fff;
}

.bubbleBody .note {
    float : left;
    clear : both;
    color: #F9FFA3;   
}

/* Payment Page Statrs Here */

#paymentContainer  #stepsDisplayer #PaymentStep {
    background-position:-256px 0;
}

#paymentPanel {
    /*background : #fff url(../../images/x/tiles/divline.gif) no-repeat  5px 0;    */
    float: left;
    width: 740px;    
    font-size: 11px;
    margin-left: 10px;     
}

#paymentPanel div {
    float: left;
    width: 716px;    
}

#paymentPanel #topHeader span {
    margin: 5px 10px 5px 0;
    float: right;
}

#paymentContainer #stepsDisplayer {
    width:280px;
} 

#paymentPanel #rentalSummary, #paymentPanel #depositPanel {
	margin: 5px 0 0 20px;
}

#paymentPanel #depositPanel {
	background-color:#e9f3df;
}

#paymentPanel h3 {
color:#598527;
font-family:Trebuchet MS;
font-size:18px;
font-weight:bold;
    
}

#paymentPanel big {
    float: left;
    width: 720px;
    margin: 10px 0 10px 0;
    color:#598527;
    font-family:Verdana;
    font-size:13px;
    font-weight:bold;
    padding-top:10px;
}

#paymentPanel small {
    font-size: 11px;
}

#paymentPanel #rentalSummary big.ChargeSum {
    background:#FFFFFF url(../../images/x/tiles/divline.gif) no-repeat scroll 5px 0;
}

#paymentPanel #rentalSummary table {
    float: left;
}

#paymentPanel #rentalSummary #travelDetails {
    float: left;
    width:500px;
    margin: 0;
}

#paymentPanel #rentalSummary #travelDetails big  {
    color:#598527;
    font-family:Verdana,Helvetica,sans-serif;
    font-size:13px;
    font-weight:bold;
    margin: 20px 0 10px 0;
}

#paymentPanel #rentalSummary #travelDetails td {
    vertical-align: top;
}

#paymentPanel #rentalSummary #travelDetails .lbl {
    width: 85px;
}

#paymentPanel #rentalSummary #travelDetails .date {
    width: 235px;
}

#paymentPanel #rentalSummary table.ChargeTable {
    width: 720px;
    border-bottom:#FFFFFF url(../../images/x/tiles/divline.gif) no-repeat scroll 5px 0;
}

#paymentPanel #rentalSummary .ChargeTable tr.CCSurchargeRow {
	/*display: none;*/
}

#paymentPanel #rentalSummary .ChargeTable tr.Totals td small {
    margin: 10px 0 10px 0;
    font-size:13px;
    font-weight:bold;
    color:#000000;
    font-family:Verdana,Helvetica,sans-serif;
    display: block;
}

#paymentPanel #rentalSummary .ChargeTable .title {
    width: 350px;
}

#paymentPanel #rentalSummary div.Disclaimer {
    padding-top: 5px; 
    background-color: #fff; 
}

#paymentPanel #rentalSummary .ChargeTable .desc {
    width: 215px;
}

#paymentPanel #rentalSummary .ChargeTable .cur {
    width: 60px;
}

#paymentPanel #rentalSummary #vehicleSpecs {
    float: right;
    width: 210px;
}

#paymentPanel #rentalSummary #travelDetails table.TravelTable, #paymentPanel #rentalSummary #travelDetails big {
    float : left;
    width: 520px;    
}

#paymentPanel #creditCardDetails {
    margin:5px 0 0 20px;
    background:#FFFFFF url(../../images/x/tiles/divline.gif) no-repeat scroll 5px 0;
    padding-bottom: 20px;  
}

#paymentPanel #creditCardDetails h3 {
    margin-top: 20px;
	font-family:Trebuchet MS;
}

#paymentPanel #creditCardDetails big {
    margin : 0;
}

#paymentPanel #creditCardDetails #creditFormPanel {
    width: 480px;
    float: left;
}

#paymentPanel #creditCardDetails #creditFormPanel label, #paymentPanel #personalDetails label {
    width : 145px;
    display: block;
    float: left;
}

#paymentPanel #personalDetails {
    margin:5px 0 0 20px;
    background:#FFFFFF url(../../images/x/tiles/divline.gif) no-repeat scroll 5px 0;
    padding-bottom: 20px; 
}

#paymentPanel #personalDetails p, #paymentPanel #creditCardDetails p {
    float: left;
    clear: both;
    margin-top: 5px;    
}

/* Payment Form */
#paymentPanel #cardTypeDD {
    width: 268px;
}

#paymentPanel #cardNumberTxt {
    width: 264px;
}

#paymentPanel #cardHolderName {
    width: 265px;
}

#confirmEmailAddressTxt, #customerFirstName, #customerLastName, #emailAddressTxt {
    width: 265px;
}

#telephoneTxt3 {
    width: 130px;
}

#paymentPanel #personalDetails .number {
    display: block;
    float: left;
    margin-right: 10px;    
}

#paymentPanel #personalDetails .number small {
    font-size: 11px;
}

#paymentPanel #personalDetails .PhoneNumber {
    display: block;
    width: 400px;
    float: left;
}

#otherTravellers table th {
    font-weight: normal;
}

#paymentPanel #personalDetails .number small, #paymentPanel #personalDetails .number input {
    float: left;
    clear: both;
}

#paymentPanel #otherTravellers, #paymentPanel #termsAndConditions, #paymentPanel #footerPanel {
    margin:5px 0 0 20px;
}

#paymentPanel #otherTravellers, #paymentPanel #termsAndConditions{
    margin:5px 0 0 20px;
	background:#FFFFFF url(../../images/x/tiles/divline.gif) no-repeat scroll 5px 0;
}

#paymentPanel #otherTravellers td.lbl {
    width : 145px;    
}

#paymentPanel #otherTravellers table {
    clear: both;
}

#paymentPanel #termsAndConditions input{
    float : left;
    display: block;    
}

#paymentPanel #termsAndConditions span {
    display: block;
    width : 650px;
    float : left;
    margin-left: 3px;
}

#paymentPanel #termsAndConditions a {
	color:#598527;
}

#payTotalPanel {
    margin: 20px 0 0 0;
    width: 716px !important;
}

#payTotalPanel span, #payTotalPanel input {
    float: right;
}

#payTotalPanel span {
    color:#598527;    
    font-size:12px;
    font-weight:bold;
    margin-right: 5px; 
}

#paymentPanel #depositPanel .left {
    margin: 0 0 0 6px;
    display: block;
    float: left;
    width: 240px;
}

#paymentPanel #depositPanel .left big, #paymentPanel #depositPanel .left small {
    padding : 0;
    margin: 10px 0 0 0;
    float :left;
}

#paymentPanel #depositPanel .right {
    margin: 0;
    display: block;
    float: right;
    width: 240px;
    text-align:right;
    margin: 4px 20px 0 0;
    padding : 0;
}

#paymentPanel #depositPanel .right small {
    float: right;
    margin: 0 0 10px 0;
}

#paymentPanel #depositPanel .right big {
    float: right;    
    margin: 5px 0 10px 0;
    padding : 0;
    font-size : 18px;
	color:#000000;
    
}

#paymentPanel #footerPanel span {
    display: block;
    float: left;
    clear: both;
    width: 715px;
    padding: 5px;
}

#footerPanel input {
    float: right;
    background : #fff url(../../images/x/btn/btn_matrix.png) no-repeat  -605px -161px;
    border: 0px;
    height: 29px;
    overflow: hidden;
    text-indent:-1000px;
    text-transform: capitalize;/*ie ;o(*/
    width:163px;      
}

#paymentContainer #disclaimer {
    font-size: 11px;    
}

#paymentContainer #disclaimer span {
	margin-left: 20px;
}

#totalPricesPanel big, #totalPricesPanel small {
	width: 200px !important;/*IE*/
	clear: both;
}

#depositPanel .left big, #depositPanel .left small {
	width: 480px !important;
}

big.PayFull, small.PayFull {
	display: none;
}

.PayFull big.PayDeposit, .PayFull small.PayDeposit {
	display: none;
}

.PayFull big.PayFull, .PayFull small.PayFull {
	display: block;
	clear: both;
	width: 100px !important;
}

.PayFull  tr.PayDeposit {
	display: none;
}

#paymentForm label.error {	
	width:20px !important;
}

label.error {
	color:red;
	float:none;
	padding-left:0.5em;
	vertical-align:top;
}

#paymentPanel p input {
	display: block;
	float: left;	
}

#paymentPanel .Submitting .Buttons {
	-moz-background-clip:border;
	-moz-background-inline-policy:continuous;
	-moz-background-origin:padding;
	background:#FFFFFF url(../../images/tiles/ajax-loader.gif) no-repeat scroll 228px 9px;
}


/* EmailForm */
#paymentPanel #infoPanel p {
	margin-bottom: 20px;	
}

#paymentPanel #infoPanel img {
	float: right;
	margin: 10px;
}

#paymentPanel div.FormSection {
    border-bottom:1px solid #588527;
    width: 720px;
    margin-left: 20px;
    padding-bottom:20px;
    padding-top:20px;
}

#paymentPanel div.FormSection label {
    display:block;
    float:left;
    width:138px;
}

#personalDetailsForm  p {
    clear:both;
    float:left;
    margin-top:5px;
}

#personalDetailsForm  p .number small, #personalDetailsForm  p .number input {
    clear:both;
    float:left;
}

#personalDetailsForm  p .number {
    display:block;
    float:left;
    margin-right:10px;
}

#personalDetailsForm  p .PhoneNumber {
    display:block;
    float:left;
    width:550px;
}

#personalDetailsForm  p #countryOfResidenceDD, #personalDetailsForm  p #customerTitleDD {
    width: 270px;
}

#personalDetailsForm  #contactSelector label.title, #personalDetailsForm  #contactSelector input {
    float: left;
    width: auto;
    margin-left: 10px; 
}

#bottomPanel, #rentalsDetailsForm {
    border-bottom: none !important;
}

#rentalsDetailsForm span, textarea {
    margin-top: 20px;
    float: left;
    clear: both;
}

#rentalsDetailsForm span {
    display:block;
    width:700px;
}

#rentalsDetailsForm td label {
    margin-bottom: 4px;
}

#bottomPanel input , #bottomPanel a, #bottomPanel label {
    float: right;
}

#bottomPanel input {
    background:#FFFFFF url(../../images/x/btn/send.gif) no-repeat scroll 0 0;
    border:0 none;
    height:32px;
    overflow:hidden;
    text-indent:-1000px;
    text-transform:capitalize;
    width:143px;
}

#bottomPanel a {
    background:#FFFFFF url(../../images/x/btn/cancel.gif) no-repeat scroll 0 0;
    border:0 none;
    height:32px;
    overflow:hidden;
    text-indent:-1000px;
    text-transform:capitalize;
    width:82px;
    margin-right: 20px;
}

#bottomPanel label {
    clear:none !important;
    color:Red;
    display:none;
    float:left;
    font-size:11px;
    width:300px;
}

/* confirmation */
.Confirmation h2 {
    background: none !important;
	border-bottom:1px solid #C3C980;
    height:20px !important;
    width:698px !important;
	font-size:14px !important;
    margin: 20px 0 2px 2px !important;
	padding-left:0px !important;
	color:#598527 !important;
}

#confirmationPanel #ConfText p big {
color:#598527 !important;
}

#printLinkDiv a{
	background:#FFFFFF url(../../images/x/btn/btn_matrix.png) no-repeat scroll -600px -400px !important;
	height:32px !important;
}


#rentalSum tr.total td, #paymentDet tr.total td {
    color:#000;
    font-size:12px !important;
    font-weight:bold;    
}


#vehicleCatalogContainer #paymentPanel #yourDetails,#vehicleCatalogContainer #paymentPanel.Confirmation #travelDetails, #vehicleCatalogContainer #paymentPanel #rentalSum, #vehicleCatalogContainer #paymentPanel #paymentDet {
	background-color:#e9f3df;
	width:700px !important;
	margin-left:20px !important;
}

#vehicleCatalogContainer #paymentPanel #contactUs, #vehicleCatalogContainer #paymentPanel #feedBack{
	width:700px;
	margin-left:20px;
}

#vehicleCatalogContainer #paymentPanel #rentalSum table, #vehicleCatalogContainer #paymentPanel #paymentDet table, #vehicleCatalogContainer #paymentPanel #travelDetails table, #vehicleCatalogContainer #paymentPanel #yourDetails table {
margin-left:0px !important;
width:700px !important;
}

#vehicleCatalogContainer #paymentPanel H2{
	font-size:14px !important;
}

#vehicleCatalogContainer #paymentPanel table{
	font-size:11px !important;
}

.contactUsLink{
	color:#598527;
}

#feedBack p {
width:700px !important;
	
}

 #feedbackForm  #sendBtn {
    float: right;
    background : #fff url(../../images/x/btn/send.gif) no-repeat  0 0;
    border: 0px;
    height: 32px;
    overflow: hidden;
    text-indent:-1000px;
    text-transform: capitalize;/*ie ;o(*/
    width:140px;
    margin: 20px;      
}

#completedMessage span {
    font-size: 13px;
    display:block;
    height: 200px;
}

#completedMessage big {
    color:#598527;
    font-size:15px;
    font-weight:bold;
} 

#vehicleCatalogContainer #emptySelectionMsg span {
	font-weight:bold;
	color:#000;
	width:700px;
	margin-left:20px;
}

/* save Quote */
#configureUpdatePanel #saveQuoteLnk {
    background : #fff url(../../images/x/btn/btn_matrix.png) no-repeat  -200px -160px;
    width: 118px;
    height: 29px; 
}
/*
#configureUpdatePanel #saveQuoteLnk:hover {
    background-position: -200px -242px !important;
}
*/
.quote #footerPanel input {
    background : #fff url(../../images/x/btn/btn_matrix.png) no-repeat  -200px -160px;
    width: 118px;
    height: 29px;
}

#printQuoteDiv a{
	background:#FFFFFF url(../../images/x/btn/btn_matrix.png) no-repeat scroll -600px 0 !important;
    height: 30px !important;
    width: 167px !important;	
}

#printQuoteDiv #searchAgainLnk { 
    margin-top: 10px;
    background-position: -400px 0 !important;
}

a.priceMatch {
	background: transparent url(../../images/x/tiles/price-match.gif) no-repeat 0 0 ;
    	visibility:visible !important;	
	width:140px !important;
	height: 62px;
	margin-top:20px;
	text-indent:-1000em;
	overflow:hidden;	
}

/* Save Quote */

.quote #vehicleChargeDetails {
    width:730px;
}

.quote #saveQuoteLnk {
    background: transparent url(../../images/x/btn/btn_sprites.png) no-repeat -199px -720px !important ; 
    height: 50px !important;    
}

.quote #saveQuoteLnk:hover {
     background-position: -200px -720px;
}

.quote #confirmQuoteSubmit,  .quote #promptContainer input {
   background: transparent url(../../images/x/btn/btn_sprites.png) no-repeat 0 -640px !important ; 
   height: 50px !important ;
   width: 134px !important ;
   cursor: pointer;
}

.quote 

.quote #confirmQuoteSubmit:hover, .quote #promptContainer input:hover {
     background-position: 0 -720px !important ;
}


.quote #configureUpdatePanel .Submit {
    height: 50px;
}

.quote #promptContainer input {    
    border: 0px;
    height: 25px;
    overflow: hidden;
    text-indent:-1000px;
    text-transform: capitalize;/*ie ;o(*/
    width:135px;
    margin: 5px 0 0 5px;
}

.quote #promptContainer {
    width:757px;
}

.quote #promptTextArea {
    margin-left: 8px !important;
}


.quote .PayementTotal td.price, .quote .ChargeTable td.price {
    text-align: right;  
}

.quote #paymentContainer input.SubmitBtn  {
    background: transparent url(../../images/x/btn/btn_sprites.png) no-repeat -600px -160px;
    height: 30px;
    width: 164px;
    
} 

.quote #paymentContainer input.SubmitBtn:hover {
    background-position:  -600px -240px;
}


#submitExpiredQuote a{
    background: transparent url(../../images/x/btn/btn_sprites.png) no-repeat;
	height: 45px;
    width: 135px;
}

#submitExpiredQuote #searchAllVehicles {     
     background-position: -200px -718px;
}

#submitExpiredQuote #searchAllVehicles:hover {
    background-position: -200px -640px;
}

#submitExpiredQuote #searchVehicle {
     background-position: -400px -718px;
}

#submitExpiredQuote #searchVehicle:hover {    
    background-position: -400px -640px;
}
/* Save Quote Ends*/

/* Alt Avail Starts */


#staticLoader {
    -moz-background-clip: border;
    -moz-background-origin: padding;
    -moz-background-size: auto auto;
    background-attachment: scroll;
    background-color: transparent;
    background-image: url("../../images/b/tiles/tear.gif");
    background-position: 0 0;
    background-repeat: repeat-y;
    color: #333333;
    display: none;
    float: left;
    font-size: 16px;
    font-weight: bold;
    margin-left: 2px;
    padding-bottom: 20px;
    padding-left: 18px;
    padding-top: 20px;
    text-align: center;
    width: 780px;
}

#catalogAAHeader {
     background: url("../../images/x/tiles/header_bg_1024.png") no-repeat #588527 -24px 0;
}

#catalogAAHeader span { display:none !important; }

/* Alt Avail */

#vehicleCatalogContainer .VehicleItem div.Limited .CallLink a {
	color:#F58220;
	display: block;
	background:transparent url(../../images/x/btn/btn_matrix.png) no-repeat  0 -559px;
    text-indent: -9999px;
    overflow: hidden;
	height: 37px;
    width: 108px;
	margin-left: 45px;
}

#vehicleCatalogContainer .VehicleItem div.Limited .CallLink a:hover {
     background-position: 0 -639px;
}


#vehicleCatalogContainer .VehicleItem div.Limited .AALink a {
	color:#F58220;
	display: block;
	background:transparent url(../../images/x/btn/btn_matrix.png) no-repeat  0 -1039px;
    text-indent: -9999px;
    overflow: hidden;
	height: 48px;
    width: 157px;
	margin-left: 55px;
}


#vehicleCatalogContainer .VehicleItem div.Limited .AALink a {
	color:#F58220;
	display: block;
	background:transparent url(../../images/x/btn/btn_matrix.png) no-repeat  0 -1039px;
    text-indent: -9999px;
    overflow: hidden;
	height: 48px;
    width: 157px;
    margin-left: 0px; 
	
}

#vehicleCatalogContainer .VehicleItem div.Limited { 
    margin-left: 0px;
}

#vehicleCatalogContainer .VehicleItem div.Limited .AALink a:hover {
     background-position: 0 -1117px;
	color:#F58220 !important; /* REMOVE FROM BASE.CSS */
	text-decoration:underline;     
}
div.AltRow .AltPrice {
    width: 170px;
    height: 100px;
    float: left;
}


div.AltRow div.noAvailability {
    background: url("../../images/b/icons/altx.png") no-repeat 0px 6px;    
    float: left;
    height: 60px;
    margin-top: 20px;
    width: 270px;
}

div.AltRow div.noAvailability span {
    clear: both;
    display: block;
    float: left;
    font-size: 10px;
    font-weight: bold;
    line-height: 15px;
    margin-left: 50px; 
}

div.AltRow .AltPrice li span {
    color: #000;
    font-size: 11px;
    font-weight: bold;
    display:block;
    height: 20px; 
    background: url("../../images/b/icons/altCB.png") no-repeat 0 0 transparent !important;
    padding-left: 50px;
    margin-top: 26px;  
}

div.AltRow .AltPrice li.Fp span {
    color: #8B8B8B;
    font-size: 11px;
    font-weight: normal;
}

div.AltRow .AltPrice li.Hide {
    display: none;
}



#selectedVehiclePanel {
    float: left;
    clear: both;
    width: 978px; 
    height: 130px;
    background: url("../../images/x/tiles/aaVLabel.png") no-repeat scroll 0 -4px transparent !important;
    border-top: 1px solid #588527; 
}


#selectedVehiclePanel h3,#selectedVehiclePanel img {
    float: left;
    display:block;
    margin-top: 5px;     
}
#selectedVehiclePanel #selectedVImage
{
    margin-left:40px;
}
#selectedVehiclePanel #selectedVIncs {
    margin-left: 36px;
    margin-top:17px;
}

#selectedVehiclePanel span.reel {
    float: right;
    margin-right:15px;
}


#selectedVehiclePanel h3 {
    color: #000;
    font-size: 13px; 
    margin: 17px 0px 0px 17px;
    width:180px;
    overflow: hidden;
}

#alternativeMessagePanel, #alternateContactPanel {
    float: left;
    clear: both;
    width: 900px;
    height: 40px;
    width: 977px; 
    background: url("../../images/x/tiles/aaArrow.png") no-repeat 10px 10px #FFEE20;
    border-bottom: 1px solid #fff; 
}

#alternativeMessagePanel span, #alternateContactPanel span {
    color: #000;
    font-size: 12px;
    float: left;
    margin: 14px 10px 0 40px;
    font-weight: bold;
     
}

#alternativeMessagePanel small, #alternateContactPanel small {
    float: left;
    display: block;
    margin: 14px 0 0 20px;
    font-size: 9px;
    font-weight: bold; 
    color: #7E550F;
}

div.AltRow {
    background: url("../../images/b/tiles/altRowBG.png") repeat-x scroll 0 0 transparent !important;    
    width: 976px;
    height: 88px; 
    float: left;
    clear: both;
}                        

div.AltRow .AltType {
    float: left;/* base */
    height: 87px;/* base */
    width: 155px; /* base */
    background: url("../../images/x/tiles/aa-arrow.png") no-repeat scroll transparent;
}

div.SwitchLocation .AltType {  
    background-color: #AAC38E;
    background-position: 147px 0;
}

div.OneWaySwitchLocation .AltType {  
    background-color: #84A560;
    background-position: 147px 0;
}


div.MoveForward .AltType {
    background-color: #84A560;
    background-position: 147px -84px;
}

div.OriginalSearch .AltType 
{
    background-color: #588527;
    width:145px;
    margin-right:10px;
    background-image:none;
}


div.PickUpBased .AltType {
    background-color: #AAC38E;
    background-position: 147px -168px;
}

div.MoveBackwards .AltType {
    background-color: #84A560;
    background-position: 147px -254px;
}

div.DropOffBased .AltType {
    background-color: #AAC38E;
    background-position: 147px -340px;
}

/* add all avail types here..*/ 

div.AltRow .AltType span {
    font-size: 11px;
    font-weight: bold; 
    display: block;
    width:80px;                             
    color: #fff;  
    margin: 20px 0 0 16px;
}

div.AltRow div.AltTime {
    float: left;
    width: 538px;
    height: 86px;
}


div.AltRow .TimeSpan {
    height:10px;
    width:400px;
    float: left;
    border: solid 1px #aaa;
    margin: 0 0 0 74px;
    background-color: #fff;                            
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

div.AltRow .TimeSpan span {
    display: block;
    float: left;
    height: 10px;                            
}

div.AltRow .TimeSpan span.Avail {
    background-color: #588527;
}

div.AltRow .TimeSpan span.noAvail {
    background-color: #A10000;
}

div.AltRow .TimeSpan span.hireDates {
    /*background-color: #4EA143;*/                            
}

div.AltRow .TimeLabels {
    float: left;
    display: block;                            
    width:462;    
    margin-left: 72px;                              
}

div.AltRow .TimeLabels span {    
    font-size: 11px;
    float: left;
    display:block; 
    text-align: center;                            
}
div.AltRow .TimeLabels.period .hireORDates small
{
    white-space:nowrap;
}
div.AltRow .TimeLabels .hireORDates small {

}              

.hireORDates small {
    text-align: center;
}          

div.AltRow .TimeLabels .postORDates small {
    width: 40px;
}

div.AltRow .dates {                             
    height: 30px;
}

div.AltRow .period {
    margin-top: 13px;
    height:15px;
}

div.OptionRow ul.Prices {
    margin-top:22px;
}

div.OptionRow .ShowPriceList {
    color: #588527;
    text-decoration: underline; 
    font-size: 9px;
    cursor: pointer;
    margin-top: 5px;  
    display: block;
    margin-left: 50px; 
}

div.OptionRow .PriceDetailsList { /* base */
    display:none;
}

div.Expand .PriceDetailsList {/* base */
    display: block;
    float:left;
    margin-left: 80px;
    font-size: 11px; 
}

div.AltRow .AltSelect {
    display: block;/* base*/
    float: right;   /* base*/
    background: url("../../images/x/btn/btn_matrix.png") no-repeat 0 -159px transparent;                           
    height: 26px;                           
    text-decoration: none;/* base*/
    text-indent: -9999px; /* base*/
    width: 87px;
    margin: 22px 15px 0px 0px; 
    overflow: hidden;
}

div.AltRow .AltSelect:hover {
    background-position: 0 -239px;
}


div.AltRow chargeTable {
    float: left
}
div.OptionRow .NoAlt
{
    float:left;
    padding: 0px 15px 0px 75px;
    width:731px;
}
div.OptionRow .NoAlt span, div.OptionRow .NoAlt a {
    display: block;
    float: left;
    margin-top: 28px;    
}

div.OptionRow .NoAlt span {   
    height: 20px;    
    line-height: 18px; 
    font-size: 11px;
    font-weight: bold;    
}

div.OptionRow .NoAlt small{
    background: url("../../images/b/icons/altx.png") no-repeat 0 0 transparent;
    height: 20px;
    width: 20px;
    display: block;
    float: left; 
    margin-top:35px;  
    overflow: hidden;
    text-indent: -1000em 
}

div.OptionRow .NoAlt a.details {
    color:  #7C2424;
    text-decoration: underline;
    font-size: 9px;
    line-height: 18px;
    margin-left: 10px;
    margin-right: 358px;     
}

div.OptionRow .NoAlt a.call{
    width: 106px;
    height: 36px;
    background: url("../../images/x/btn/btn_matrix.png") no-repeat 0 -559px transparent;
    overflow: hidden;
    text-indent: -1000em; 
    float: right;
}

div.OptionRow .NoAlt a.call:hover {
    background-position:  0 -639px;
}

#alternate {    
    background-color: #000; 
    min-width:977px;    
}

#vehicleAAContainer
{
    width:977px;
    margin-left:auto;
    margin-right:auto;
    text-align:left;
    border: solid 0px #fff;    
}

#vehicleAAContainer div
{
    font-family:Tahoma;
}
/* AA - New Header*/
#catalogAAHeader
{
    width:977px;
    height:114px;
    float:left;
}

#catalogAAHeader span.Image {
    float: left;
    width: 200px;
    height : 87px; 
	margin:6px 0 0 7px;
}
#catalogAAHeader a.ContactUs
{
    float:right;    
    margin:0px 10px 0 0px; 
    border:none;
}
#catalogAAHeader a.ContactUs img
{
    border:none;
}
/* AA - New breadcrumb*/
#b2c-steps{
    
    width:997px;
    height:34px;
    float:left;
    margin-left:-10px;
    overflow:hidden;
}
#b2c-steps .steps
{
    width:977px;
    height:34px;
    margin-left:10px;
    display:block;
}
#b2c-steps #step-1 {
     background:url(../../images/x/btn/Sprites-Breadcrumbs.png) #E4E4E4 no-repeat 0px -228px;
     
}
#vechileCatalogAAContainer {
    background-color: #fff;
    float : left;
    width: 977px;
       
}
#vechileCatalogAAContainer h2 {
    float:left;
    font-size:18px;
    font-weight:bold;
    color:#588527;
    padding: 34px 0px 0px 15px;
}
#vechileCatalogAAContainer #resultsHeader {
    background-color: #fff;
    width:500px;
    height:30px;
    font-size:12px;
    margin-right:16px;
    color:#000;
    float:right;
    padding: 34px 0px 0px 0px;    
}

#alternativeCatalogContainer a.freephone
{
    background:url('../../images/x/btn/btn_matrix.png') no-repeat;
    width: 106px;
    height:34px;
    display:block;
    text-indent:-9999px;
    background-position: 0 -641px;
}

#alternativeCatalogContainer a.freephone:hover {
    background-position: 0 -561px;
}


#alternativeCatalogContainer .rightHandBanner
{
    display:none;
}
#alternativeCatalogContainer.unavailable {
    float:left;
    width:977px;
    background:url('../../images/x/aa-contact-us.jpg') no-repeat right 259px;
}


#alternativeCatalogContainer.unavailable .rightHandBanner
{
    display:block;
}
#alternativeCatalogContainer.unavailable .OptionRow
{
    float:left;
}

#alternativeCatalogContainer.unavailable .OptionRow .AltRow
{
    width:706px;
}
#alternativeCatalogContainer.unavailable .OptionRow .AltRow.OriginalSearch
{
    width:977px;
}
#alternativeCatalogContainer.unavailable .OptionRow .AltRow.OriginalSearch .noAvailability
{
    margin-left:20px;
    width:250px;
}
#alternativeCatalogContainer.unavailable .rightHandBanner
{
    width:270px;    
    overflow:hidden;
    display:block;    
    float: right;
}
#alternativeCatalogContainer.unavailable .rightHandBanner a.freephone {
    margin-left: 26px;
    margin-top: 252px;
}
#alternativeCatalogContainer.unavailable .rightHandBanner img
{
   display:none;
}
#alternativeCatalogContainer.unavailable .OptionRow .NoAlt
{
    width:461px;
}
#alternativeCatalogContainer.unavailable .OptionRow .NoAlt a.details
{
    margin-right:30px;
}
#alternativeCatalogContainer.unavailable .OptionRow .NoAlt small
{
    margin-top:30px;   
}
#alternativeCatalogContainer.unavailable  .OptionRow .NoAlt a.call 
{
    display:none;
}


#footerContainer {    
    float:left;
    display:block;
    height:165px;
    width:997px;
    margin-left:-10px;
}

#footerContainer #footerWrapper
{
    background:url('../../images/x/tiles/footer-24-7-image.jpg') no-repeat left top #588528;
    display:block;
    height:165px;
    width:577px;
    padding-left:400px;
    margin-left:10px;
    float:left;
    text-indent:-9999px;
}
#footerContainer.unavailable #footerWrapper
{
    background-image: none;
    padding-left: 30px;
    width: 947px;
}
#footerContainer .resText
{
    background:url('../../images/x/tiles/footer-24-7-reservations-title.gif') no-repeat;
    width:305px;
    height:40px;
    float:left;
    display:block;
    margin-top: 20px;
}

#footerContainer.unavailable .resText
{
    display:none;
}
#footerContainer a
{
    display:block;
    float:left;
    width:1px;
    height:1px;
    background:url('../../images/x/btn/btn_matrix.png') no-repeat;

}
#footerContainer a.freephone
{
    width: 110px;
    height:38px;
    background-position: -400px -1040px;
    margin-top:20px;
    margin-left:20px;
    display: none;
}
#footerContainer a.freephone:hover
{
    background-position: -400px -1120px;
}
#footerContainer span.searchall
{
    clear:both;
    display:block;
    background:none;
    width:290px;
    height:51px;
}
#footerContainer.unavailable span.searchall
{
    display:none;
}
#footerContainer a.returntosearch
{
    width: 180px;
    height:25px;
    background-position: 0px -1200px;
    margin-top:10px;
    clear:left;
}
#footerContainer a.returntosearch:hover
{
   background-position: 0px -1280px;
}
#footerContainer.unavailable a.returntosearch
{
    margin-top:30px;
}
#footerContainer a.otherbrands
{
    width: 180px;
    height:25px;
    background-position: -200px -1200px; 
    margin-top:10px;
    margin-left:20px;    
    display:none;
}
#footerContainer a.otherbrands:hover
{
    background-position: -200px -1280px; 
}

#vehicleAAContainer #disclaimer
{
    background:transparent url('../../images/x/tiles/bottom-footer-1024.png') no-repeat -34px 4px;
    background-color: #fff; 
    float : left;
    width: 960px;
    padding-top: 10px;    
	padding-left:17px;
    height : 60px;	
    font-size : 11px;
    color:#999;
    
}
#footerLinksBottom 
{
    clear:both;
    padding-top: 25px;
    width:800px;
    height:35px;
    text-align: center;
    width:100%;
}

#footerLinksBottom #footerLinksLogos {
    width:700px;
    margin-left:auto;
}

#footerLinksBottom #footerLinksLogos li#logos {
    background: url("../../images/logo-lockup.png") no-repeat scroll 0 0 transparent;
}

#footerLinksBottom #footerLinksLogos li {
    font-size:9px;
    color:#999;
    float: left;
    line-height: 15px;
    padding: 0;
    text-align: left;
    vertical-align: top;
}
#footerLinksBottom #footerLinksLogos li#logos a {
    display: block;
    float: left;
    height: 40px;
    outline: medium none;
    text-indent: -9999px;
    width: 50px;
}
#footerLinksBottom #footerLinksLogos li#copyright
{
    margin-left:20px;
}
#footerLinksBottom #footerLinksLogos li#logos #THLLogo {
    width: 80px;
}
#footerLinksBottom #footerLinksLogos li#logos a#MauiLogo {
    width: 60px;
}
#alternate #tooltip
{
    opacity:1;
}

#tooltip .SmallContainer
{
    background-color: #fff;
    border: 2px solid #588527;
    color:#000;
    padding: 5px 10px 15px;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    float: left;
    max-width:500px;
    opacity: 0.95;
}
#tooltip .LargeContainer
{
    font-family:Tahoma !important;
    background-color: #588527;
    border: 2px solid #588527;
    color: #7E1F03;
    padding: 5px 10px 15px;
    float: left;
    width:610px;
    position:relative;
    /*css3*/
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;                  
    border-radius: 5px;
    z-index:2;
}
#tooltip .LargeContainer .ads
{
    float:right;
    max-height:44px;
}
#tooltip .LargeContainer h3
{
    line-height: 20px;
	font-size:16px;
    float: left;            
    margin-top: 22px;
    vertical-align: bottom;
    padding-bottom:10px;
}

#tooltip .LargeContainer .chargesTable
{
    width:100%;
    border-collapse:collapse;
    clear:both;
    text-align:left;
    font-size:11px;             
}

#tooltip .LargeContainer .chargesTable th
{
    color:#333;
    text-align:left;            
    padding:10px 0px 10px 5px;
    background:#AAC38E;            
}
#tooltip .LargeContainer .chargesTable td
{
    padding:5px 0px 5px 5px;
    background:#fff;
    color:#333;
    text-align:left;            
}

#tooltip .LargeContainer .chargesTable th.PerTH,
#tooltip .LargeContainer .chargesTable td.pth
{
    width:60px;
}
#tooltip .LargeContainer .chargesTable th.DiscTH,
#tooltip .LargeContainer .chargesTable td.dth
{
    width:80px;
}
        
#tooltip .LargeContainer .chargesTable tfoot td
{
    background:#FFE3BC;
}
        
#alternate .steps a {
    display: block;
    overflow: hidden;
    width: 300px;
    height: 30px; 
    overflow: hidden;
    text-indent: -1000em 
}

#alternate div.AltRow .AltPrice li.Fp span  {
    margin-top: 0 !important;
    background-image: none !important; 
}


.availPopUp {
    width:280px;
    line-height:18px;
    color:#fff;
    background-color:#fff;
    padding: 5px 10px 15px;
    max-width:500px;
    border: 2px solid #588527;    
    background-color:#588527;
	font-size:11px;
}
.preloaderIframe
{
    position:absolute;
    top:0px;
    left:0px;
    width:100%;
    height:100%;
    visibility:hidden;
}
#staticLoader {
	background:url(../../images/x/tiles/topFooter.gif) repeat-y;
    float : left;
    width: 780px;       
    padding-left:18px;
    padding-bottom: 6px;
    padding-top:20px;
    padding-bottom:20px;
    display:none;
    text-align:center;
    font-size:16px;
    font-weight:bold;
    color:#333;
    margin-left: 0px; 
}
#carousel { position: relative; height: 308px; margin: 0; padding: 0; }
#carousel li { float: left; cursor: pointer; cursor: hand; list-style: none; margin: 0px; padding: 0px; width: 224px; height:308px;}
#carousel li img { height: 100%; width: 100%;}
.preloader  #configurePanel .progressIndicator {
        float: left;
        clear:both;                 
        font-size: 13px;  
        text-align: center;    
        width: 100%;
        height: 400px; 
        padding-top: 50px;                      
}
.preloader  #configurePanel .progressIndicator img {
           
}  
/* Alternate Availability Ends */

#thlCrossSellBanner {
	display:none;
}


#preLoaderPanel {	
	width: 1000px;
	height: 768px;
	margin-left:auto;
	margin-right:auto;	
}

#preLoaderPanel span {
	display: block;
	margin-top: 105px;
	margin-left: 480px;
	width: 40px;
	height: 40px;
	background: url(../../images/b/icons/ajax-loader.gif) no-repeat;
}

.CSell_AU {
background: url(../../images/crosssell/cs_preload_au.png) no-repeat;
}

.CSell_NZ {
background:url(../../images/crosssell/cs_preload_nz.png) no-repeat;
}
 
#bookingControl #leftCol
{
    width:150px;
}
#bookingControl #centreCol
{
    width:200px;
}

#bookingControl span.CSellLbl {
	display:none;
	  float: left;
    font-weight: bold;
    line-height: 17px;
    padding-left: 20px;
    width: 102px;
}

#vehicleSelectionContainer #bookingControl span.CSellLbl
{
    display:block;
}
#bookingControl #centreCol span.CofR
{
    display:block;
    margin-right:0px;
    white-space:nowrap;  
    margin-top:2px;
}     
#bookingControl #centreCol span.CofR input
{
    width:13px;
}
#bookingControl input
{
    height:14px;
}
#bookingControl select
{
    height:18px;
}
#bookingControl *
{
    vertical-align:top;
}
 #bookingControl #leftCol span 
 {
     margin-bottom:8px;
 }
 
 .returntoseachBreadCrumb
{
    float:left;
    width:100%;
    clear:both;
}
.returntoseachBreadCrumb a
{
    padding: 5px 0px 5px 16px;
    font-size:9px;
    color:#598527;
    display:block;
    text-decoration:underline;
    border-bottom: 1px solid #e7e7e7;
	background: url("../../images/b/tiles/altRowBG.png") repeat-x scroll 0 0 transparent !important;
}


 /* cross sell new */
 
#bookingControl span.Radios
{
    font-size: 10px;
    padding-bottom: 5px;
}

#bookingControl span.Model, #bookingControl span.RightPass
{
    padding-bottom:5px;
}
#bookingControl span .select{
	height: 17px;
}

#bookingControl #leftCol span  {
	text-align: right;
	width:100%;
}
#bookingControl #leftCol span.required{
font-weight: bold;
}

#bookingControl .botCol a.searchBtn {
    background : transparent url(../../images/x/btn/btn_matrix.png) no-repeat  0 0;
    width: 91px;
    height : 25px;
    display:block;
    overflow:hidden;
    text-indent:-100px;
    float:right;
}

#bookingControl .crossSell .crossSellBrand
{
    width:40px;
    background-position:39px 0px;
}
#bookingControl .botCol
{
    margin-top:10px;
}
#bookingControl span.Model, #bookingControl span.RightPass
{
    padding-bottom:5px;
}

#bookingControl .crossSell, #vehicleSelectionContainer #bookingControl.cars .crossSell
{
    display: none;
}

#vehicleSelectionContainer #bookingControl .crossSell
{
    display: block;
}

#bookingControl #leftCol
{
    height: 72px;
    width: 138px;
}
#bookingControl span.CSellLbl
{
    float: left;
    line-height:17px;
}

#ctrlValidationMsg
{
    position: absolute;
    bottom: 0px;
    right: 0px;
}

#bookingControl .botCol
{
    float: left;
    clear: left;
    width: 100%;
    display:block;
}

#bookingControl .crossSell
{
    float: left;
    background: url('http://images.thl.com/images/crosssell/cs-background.png') repeat-x scroll 0pt 0pt transparent;
    margin-left: 16px;
    padding: 10px;
}

#bookingControl .crossSell .CSellOpt
{
    float: left;
    margin-right: 10px;
    margin-left: 8px;
}


#vehicleSelectionContainer #bookingControlContainer {
    height: 188px;
}

#vehicleConfigureContainer #bookingControlContainer
{
  	height:140px;
	background: url("../../images/x/booking_bg_sml.gif") no-repeat scroll 150px 0 #588527;
}

 /* cross sell new ends*/