﻿body {
    background-color : #000;
}

#vehicleSelectionContainer, #vehicleConfigureContainer, #paymentContainer {
    margin-left:auto;
    margin-right:auto;
    text-align:left;
    width: 760px;    
}

/* Header */
#catalogHeader {
    float : left;
    width: 760px;
    background: #FDF1D2 url(../../images/x/header.gif) no-repeat  0 0;
}

#catalogHeader span.Image {
    float: left;
    width: 200px;
    margin : 45px 0 0 33px;
}

#catalogHeader span.ContactInfo {
    margin: 40px 0 0 55px;
    float: left;
    display : block;
    width : 460px;
    height : 40px;
    color: #879100;
    font-family: Verdana,Arial;
    font-size:11px;
    text-decoration: none;        
}

#catalogHeader span.ContactInfo a {
    text-decoration: none;
}

#catalogHeader span a{
    margin: 40px 0 0 20px;
	 color:#879100;
	text-decoration:underline !important;
}

/* Booking Control */
#bookingControlContainer {
    float: left;
    width: 760px;
    height : 120px;
    background : #FDF1D2 url(../../images/x/booking_bg.gif) no-repeat 150px 0;    
}

#bookingControl {    
    margin-left : 26px;
    margin-top: 35px;
}

* html #bookingControl {    
    margin-left : 10px;
    margin-top:35px;    
}


/* crumbs panel */
#breadCrumbs {    
    float : left;
    width: 760px;
    height : 45px;
    background-color : #FDF1D2;
}

#breadCrumbs span.Crumbs {
    float : left;
    font-size : 11px;
    margin: 14px 0 0 20px;
}
#breadCrumbs span.Crumbs a {
    color: #7B7C7E;
    text-decoration: none; 
}

#breadCrumbs ul {
    float : right;
    display : block;
    margin : 14px 20px 0 0;
    width: 380px;
    height: 45px;
    font-size:9px;
} 

#stepsDisplayer li {
    padding :0;
    margin : 0;
    float : right; 
    height : 32px;
    width : 63px;       
}

#stepsDisplayer span {
    display: block;
    float : right;
    height : 32px;
    width : 63px;
    background:transparent url(../../images/x/icons/wizard_stages.gif) no-repeat  0 0;
    padding-top: 19px;     
}

#stepsDisplayer #PaymentStep {
    background-position : -189px 0;    
}

#stepsDisplayer #ConfigureStep {
    background-position : -63px 0;    
}

#paymentContainer #stepsDisplayer #ConfigureStep {
    background-position : -126px 0 !important;    
}


#stepsDisplayer #SelectStep {
    background-position : 0 0;    
}

/* Catalog container */
#vehicleCatalogContainer {
    background: #FDF1D2 url(../../images/x/tiles/horizontal.gif) repeat-y  0 0;
    float : left;
    width: 760px;    
    padding-bottom: 6px;
}

* html #vehicleCatalogContainer {
    margin-left: 0px;
}

#vehicleCatalogContainer h2 {
    background:transparent url(../../images/x/tiles/PageHeaderBg.gif) no-repeat  0 0;
    color: #fff;
    font-size:18px;
    font-weight:bold;
    display : block;    
    height:34px;
    padding-left:40px;
    padding-top:10px;
    
}

#vehicleCatalog .Step1A {
    float: left;
    width: 700px;
    background-color: #fff;
    font-size: 11px; 
    padding: 10px 0 10px 20px;
    margin-left: 20px;   
}

#vehicleCatalogContainer .VehicleItem div.Limited .Top a {
	color:#879100 !important; /* REMOVE FROM BASE.CSS */
}

#vehicleCatalogContainer .VehicleItem div.Limited .Top a:hover {
	color:#879100; 
	text-decoration:underline;
}

#vehicleCatalogContainer .VehicleItem div.Limited .EmailLink a {
	color:#879100;
}

#vehicleCatalogContainer .VehicleItem div.Limited .EmailLink a:hover {
	color:#879100 !important; /* REMOVE FROM BASE.CSS */
	text-decoration:underline;
}

#resultsHeader {
    background-color: #fff;
    width: 744px;
    height:30px;
    font-size : 12px;
    color : #000;
    margin-left: 10px;
    
}

#resultsHeader h3 {
    font-size : 11px;
    color : #000;
    font-weight : normal;
    float : left;
    width : 380px;
    margin : 8px;
}

#resultsHeader span {
    float : right;
    background-color: #fff;
    display : block;
    text-align: right; 
    margin:4px;   
}

#resultsHeader span small {
    color : #879100;
}



#vehicleCatalog {
    display : block;
    width : 760px;
}

/* Vehicle Row */
#vehicleCatalog .VehicleItem {
    
     
}

#vehicleCatalog div.VehicleItem {
    float : left;  
    width : 744px;
    background-color: #fff;   
    margin-left:10px; 
    float : left;
    border-top: solid 1px #c3c980;   
}


* html #vehicleCatalog div.VehicleItem {
    margin-left : 5px;
}

#vehicleCatalog .VehicleItem a.VehicleThumb {
    display : block;
    float : left;
    text-decoration : none;
    margin-left:5px;
    width: 75px;                  
}

#vehicleCatalog .VehicleItem a.VehicleThumb img {
    border : none;
}

#vehicleCatalog .VehicleItem div {
    float : left;
}

#vehicleCatalog .VehicleItem div.VehicleFeatures {
    width: 210px;
    margin-left:3px;    
}

#vehicleCatalog .VehicleItem div.VehicleFeatures a {
    color: #879100;
    font-size:18px;
    text-decoration : none;
    display : block;
}

#vehicleCatalog .VehicleItem div.VehicleFeatures a:hover {
    text-decoration : underline;
}

#vehicleCatalog .VehicleItem div.PriceDescription {
    width: 220px;
    margin-left : 10px; 
}

#vehicleCatalog .Branded .VehicleItem div.PriceDescription {
    width: 160px !important;
    margin-left : 10px; 
}

#vehicleCatalog .VehicleItem div.PriceDescription a.Avail {
    color: #879100;
    font-size:13px;
    text-decoration : none;
    margin : 3px 0 3px 0;
    display : block;
}
#vehicleCatalog .VehicleItem div.PriceDescription a.Avail:hover {
    text-decoration: underline;
}

#vehicleCatalogContainer .VehicleItem div.Err {
    width: 400px !important;
}

#vehicleCatalog .VehicleItem .ShowPriceList,  #vehicleChargeDetails  .ShowPriceList {
    display : block;
    float : left;
    height : 15px;
    width: 170px;
    color : #879200;
    font-size: 10px;
    margin : 8px 0 3px 0;
    padding-left: 20px;
    background:transparent url(../../images/x/icons/price_list_expand.gif) no-repeat  0 0;
    text-decoration : none; 
    cursor : pointer;
}



#vehicleCatalog .Collapse .ShowPriceList, #configurePanel .Collapse .ShowPriceList {
   background-position : 0 -15px;
}

#vehicleCatalog .VehicleItem div.PriceDescription li {
    float: left;
    margin: 0;
    padding : 0; 
}

#vehicleCatalog .VehicleItem div.PriceDescription span {
    color:#8B8B8B;
    font-size:10px;
    display : block;
    float: left;
    clear: both;      
}

#vehicleCatalog .VehicleItem div.PriceDescription span.SavePrice {
    background:transparent url(../../images/x/tiles/saveBG.gif) no-repeat  0 0;
    height: 45px;
    width: 110px;
    color: #fff;    
}

#vehicleCatalog .VehicleItem div.PriceDescription span.SavePrice small {
    margin: 26px 0 0 10px;
    height:10px;
    width: 100px;
    float: left;
    clear: both;
}

#vehicleCatalog .VehicleItem div.TotalPrice {
    width: 118px;   
}

#vehicleCatalog .VehicleItem div.TotalPrice li span {
    color:#222;
    font-size:13px;   
	font-weight:bold; 
}

#vehicleCatalog .VehicleItem div.TotalPrice li.Fp span {
    color:#8B8B8B;
    font-family:Verdana;
    font-size:10px;
}

#vehicleCatalog .VehicleItem div.TotalPrice li.Hide {
    display :none;
}

#vehicleCatalog .VehicleItem a.SelectBtn {
    display : block;
    float : left;
    width: 90px;
    height: 24px;
    margin-top: 5px;
    background:transparent url(../../images/x/continue.gif) no-repeat  0 0;
    text-indent: -1000px;
    overflow: hidden;
    text-decoration: none;
}

#vehicleSelectionContainer #disclaimer, #vehicleConfigureContainer #disclaimer, #paymentForm #disclaimer {
    background: #FDF1D2 url(../../images/x/tiles/bottomFooter.gif) no-repeat  0 0;    
    font-size : 11px;
    height : 52px;
    width : 760px;
    float : left;
}

#vehicleSelectionContainer #disclaimer span{
    float:left;
    font-size:9px;
    margin:19px 0 0 12px;
}

 #vehicleConfigureContainer #disclaimer span {
    float:left;
    font-size:9px;
    margin:0 0 0 20px;
 }

/* details list */
#vehicleCatalog .Collapse div.PriceDetailsList {
    display : none;
}

#vehicleCatalog div.PriceDetailsList {
    float : left;   
    color: #7A7A7A;
    background-color : #fff;
    width : 662px;
    margin-left : 15px;
    padding-left: 77px;
}

#vehicleCatalog div.PriceDetailsList table {
    background-color: #F9FAF2;
    margin-bottom: 5px;
    width: 648px !important;
}

#configurePanel div.PriceDetailsList table {
    width: 705px;
}


div.PriceDetailsList table tr.total {
    background-color: #DDE0C8;
}

div.PriceDetailsList th {
    font-size : 11px;
    font-weight: bold;
    background-color : #dde0c8;
    
    height: 34px;
    color: #585e00;  
}

.popup {
    color: #FBE700;
    line-height: 0;
    cursor: pointer; 
}

#vehicleCatalog div.PriceDetailsList td {
    padding : 2px 2px 2px 5px;
}

#vehicleCatalog div.PriceDetailsList td.TotalTD, #vehicleChargeDetails div.PriceDetailsList td.TotalTD {
    font-weight : bold;
}

#vehicleCatalog div.PriceDetailsList th.RateTH {
    width: 220px;
}

 #vehicleChargeDetails div.PriceDetailsList th.RateTH, #vehicleChargeDetails div.PriceDetailsList td.rt, #vehicleChargeDetails div.PriceDetailsList td.TotalTD {
    /*padding-left:54px;*/ 
 }

#vehicleCatalog div.PriceDetailsList th.FreeTH {
    width: 90px;
}

div.NoFreeDays th.FreeTH, div.NoFreeDays td.fd {
    display: none;
}

#vehicleChargeDetails div.PriceDetailsList th.FreeTH {
    width:82px;
    margin:0;
    padding:0;
}

#vehicleCatalog div.PriceDetailsList th.HireTH {
    width: 90px;
}

#vehicleChargeDetails div.PriceDetailsList th.HireTH {
    width: 145px;
}

#vehicleCatalog div.PriceDetailsList th.PerTH, #vehicleChargeDetails div.PriceDetailsList th.PerTH  {
    width: 140px;
}

#vehicleCatalog div.PriceDetailsList th.TotalTH, #vehicleChargeDetails div.PriceDetailsList th.TotalTH {
    width: 80px;
}

#vehicleCatalog div.PriceDetailsList td, #vehicleCatalog div.PriceDetailsList td {
    font-size : 11px;    
}

#vehicleCatalogContainer .VehicleItem div.Limited .Top a.Quest{
 background : #fff url(../../images/x/icons/questMark.gif) no-repeat  0 0 !important;} 



#vehicleSelectionContainer #disclaimer, #vehicleConfigureContainer #disclaimer {
    font-size : 11px;   
}

#vehicleChargeDetails div.PriceDetailsList {
    float : left;   
    color: #7A7A7A;
    background-color : #F9FAF2;    
    margin : 0 18px 0 18px;
    clear : both;
    width : 704px;
}

/* configurePanel */

#vehicleChargeDetails div.PriceDetailsList th {
    font-size : 10px;
    font-weight: bold;
    padding : 2px 2px 2px 5px; 
}

#vehicleCatalog div.PriceDetailsList td, #vehicleChargeDetails div.PriceDetailsList td {
    padding : 2px 0px 2px 0px;
}

#vehicleChargeDetails div.PriceDetailsList td {
    font-size : 10px;
}

/* Vehicle Row Branded */

#vehicleCatalog .VehicleItem span.BrandThumb  {
    display : block;
    float : left;
    text-decoration : none;
    margin-left:5px;                  
}

#vehicleCatalog li.Branded .VehicleItem div.PriceDescription span {
     font-size : 9px;
}

#vehicleCatalog li.Branded .VehicleItem div.PriceDescription {
    width: 180px; 
}

#vehicleCatalog div.VehicleItem {
    padding:12px 0;
}


/* Configure Page */
#vehicleConfigureContainer .CofR, #vehicleConfigureContainer .Radios, #vehicleConfigureContainer .Model, #vehicleConfigureContainer .Passengers {
    display : none;
}
#vehicleConfigureContainer #bookingControl #rightCol #bottomRight a {
    margin-top: 10px;
}
#vehicleConfigureContainer #bookingControl {
    height: 45px !important;
}

#vehicleConfigureContainer #ctrlValidationMsg {
    margin-top : 0;
} 

#vehicleConfigureContainer #bottomRight span {
    display : inline;
}

#vehicleConfigureContainer #stepsDisplayer #ConfigureStep {
    background-position:-129px 0 !important;
}

#vehicleConfigureContainer #promptTextArea {
    float : left;
    width: 720px;
    height : 56px;
    background : #fff1a3 url(../../images/icons/exMark.png) no-repeat  0 0;
    overflow : hidden;    
    margin:  5px 0 0 8px;
    border : solid 1px #2EB3D2;
    font-size : 11px;
    color: #00008B; 
}

#vehicleConfigureContainer #promptTextArea span {
    margin: 10px 20px 0 30px;
    display :block;
}

#vehicleConfigureContainer #configurePanel {
    float:left;
    margin-left:14px;
    width:720px;
}

#configurePanel {   
    
}

#vehicleConfigureContainer #topHeader {
    width: 730px !important;
    height : 34px;
    float : left;
    background-color : #fff;    
}

#vehicleConfigureContainer #vehicleTopPanel {
    float : left;
    width: 740px;
    
}

#vehicleConfigureContainer #topHeader h3 {
    float : left;
    display :block;
    margin : 38px 0 0 14px; 
}

#vehicleConfigureContainer #topHeader span {
    float : right;
    display : block;
    margin : 5px 4px 5px 0;
}

#vehicleConfigureContainer #topHeader small, #vehicleConfigureContainer #topHeader select, #resultsHeader small, #resultsHeader select {
    font-size: 11px;
}


#vehicleConfigureContainer #configurePanel div.VehicleHeader {
    width: 330px;
    float : left;
}

#vehicleConfigureContainer #configurePanel div.VehicleHeader a {
    color:#879100;
    text-decoration: none;
}

#vehicleConfigureContainer #configurePanel div.VehicleHeader a:hover {
    text-decoration: underline;
}

#vehicleConfigureContainer #configurePanel div.VehicleHeader div {
    float : left;
    clear: both;
    width: 100%;
	
    padding-bottom : 15px;
}

#vehicleConfigureContainer #configurePanel div.VehicleHeader h3 {
    font-size: 20px;
    margin-left:12px;
}

#vehicleConfigureContainer #configurePanel div.VehicleHeader h3, #vehicleConfigureContainer #configurePanel div.VehicleHeader h4, #vehicleChargeDetails h4, #insurancePanel h4, #hireItemsPanel h4, #ferryPanel h4 {
    color : #879100;    
    padding-bottom : 10px;  
}

#vehicleConfigureContainer #configurePanel div.VehicleHeader span {
    display : block;
    font-size : 11px;
    margin: 5px 0 0 10px;  
    float:left;
    width: 500px;       
}

#vehicleConfigureContainer #configurePanel div.VehicleImages {
    width: 375px;
    float : right;
}

#vehicleConfigureContainer #configurePanel div.VehicleImages .Left {
    float : left;
    width: 210px;
}

#vehicleConfigureContainer #configurePanel div.VehicleImages .Left img {
    float : right;
    clear : both;
}

#vehicleConfigureContainer #configurePanel div.VehicleImages .Right {
    float : right;
    margin-right:10px;
}

#vehicleChargeDetails {
    float: left;
    padding-top: 20px;   
    background : #fff url(../../images/x/tiles/divline.gif) no-repeat  5px 0; 
}

#configurePanel .Hide{   
    display:none;
}

#configurePanel em {
    font-style:normal;
}

#configurePanel h4, ferryPanel h4{
    float :left;
    clear: both;
    font-size:14px;
    font-weight:bold;
    margin-left: 10px;
}

#vehicleConfigureContainer a.Quest {
    display : block;
    width: 16px;
    height: 16px;
    background : #fff url(../../images/x/icons/questMark.gif) no-repeat  0 0 !important;
    float: left;
    overflow: hidden;
    text-indent: -1000px;
}

#vehicleChargeDetails a.PopUp {
    float: left;
}

#vehicleChargeDetails #ChargeHeader {
    float : left ;
    display : block;
    clear : both;
    width:100%;
}

#vehicleChargeDetails a.ShowPriceList {
    width : 80px;
    margin: 0 0 0 10px;
    float: left;
    display: block;
}

#vehicleChargeDetails a.ShowPriceList:focus {
    -moz-outline-style: none;
}

#vehicleChargeDetails a.ShowPriceList:active {
    outline: none;
}

#vehicleChargeDetails.Collapse div.PriceDetailsList {/* on collapse */
    display : none;
}

#vehicleChargeDetails #ChargeHeader small {
    font-size : 11px;
    float: left;
    display: block; 
    margin-left: 75px;
}

#vehicleChargeDetails #ChargeHeader span.Title {
    width: 360px;
    height: 20px;
    display:block;
    float: left;
}

#vehicleChargeDetails #ChargeHeader span.Total {
   display:block;
    float: right;
    margin-right:38px;
    font-size: 13px; 
}

#allInclusivePanel{
    width : 704px;
    margin: 0 18px;
    float : left;
    clear: both ;   
}

#allInclusivePanel small, #insurancePanel td, #hireItemsPanel td {
    font-size:11px;
}

#allInclusivePanel td.cb, #insurancePanel td.cb, #hireItemsPanel td.cb, #ferryPanel td.cb {
    width:50px;
}

#allInclusivePanel td.desc, #insurancePanel td.desc, #hireItemsPanel td.desc {
    width:248px;
}

#allInclusivePanel td.desc small {
    display:block;
    float:left;
}
#allInclusivePanel td.days, #insurancePanel td.days, #hireItemsPanel td.days {
    width: 115px;
}

#insurancePanel td.price, #hireItemsPanel td.price {
    width: 160px;
}


#allInclusivePanel td.pr {
    width: 145px;    
}

#insurancePanel {
    width:100%;    
    float: left;
    padding-bottom: 20px;
    background : #fff url(../../images/x/tiles/divline.gif) no-repeat  5px 0;  
    padding-top: 20px;   
}

#ferryPanel select, #hireItemsPanel select {
    font-size: 11px;
}

#insurancePanel table, #hireItemsPanel table, #ferryPanel table {
    margin: 0 0 0 19px;
    clear: both;
}

#insurancePanel table small, #hireItemsPanel small, #hireItemsPanel label{
    display:block;
    margin-bottom:4px;
    font-size: 11px;
}

#insurancePanel span {
    display: block;
    float: left;
    color: #8B8B8B;
    font-size: 10px;
    margin-left: 20px;
    width: 680px;
    clear: both;
}

#insuranceAgeSelector {
    clear: none !important;
    width: 140px !important;
}


#insOptionsTable.Under21 tr.Over21 {
    display : none;
}

#insOptionsTable.Over21 tr.Under21 {
    display : none;
}

#hireItemsPanel, #ferryPanel {
    margin-top: 10px;       
    padding-top: 20px;
    width: 100%; 
    float: left;
    clear: both;
    padding-bottom: 10px;
    background : #fff url(../../images/x/tiles/divline.gif) no-repeat  5px 0;     
}

#ferryPanel table {
    background-color: #f9faf2;
    width: 704px;
    font-size: 11px;
}

#ferryPanel table td.desc {
    width : 407px;
}

#ferryPanel table td.desc small {
    margin-left: 5px;
}

#ferryPanel table.Hide {
    display : none;
}

#ferryPanel td small { 
    font-size: 11px;
}

/*
#ferryPanel td.desc small {
     width:360px;
     font-size: 11px;
     display : block;
     margin-bottom: 10px; 
}
*/
#configureUpdatePanel span {
    display : block;
    float: left;
    clear: both;
    margin-left: 20px;
}

#configureUpdatePanel .Total {
    width: 702px;
    line-height: 23px;
    background-color:#f9faf2;
    color:#879100;
    font-size:17px;
    font-weight:bold;
    margin-top:15px;
}

#configureUpdatePanel .Total label {
    float : left;    
}

#configureUpdatePanel .Total span.Price {
    float : right;    
    clear : none; 
	color : #000;
}

#configurePanel .Total #totalAmount, #configurePanel .Total #alternateCurrency {
    float : right;
    margin-left: 10px;
}

#configureUpdatePanel .TaxMsg {
    margin: 5px 0 15px 20px;
    font-size: 11px;
    width: 100%; 
}

#configureUpdatePanel .Submit {
    display: block;
    width:702px;
    height:40px;
}

.Submit .BackBtn, .Buttons a {
    float: left;
    display: block;
    background : #fff url(../../images/x/btn/backSelectBtn.gif) no-repeat  0 0;
    height: 24px;
    width: 77px;
    overflow:hidden;
    text-indent:-1000px;
}

#configureUpdatePanel .Submit input {
    float: right;
    background : #fff url(../../images/x/btn/continueSelect.gif) no-repeat  0 0;
    border: 0px;
    height: 32px;
    overflow: hidden;
    text-indent:-1000px;
    text-transform: capitalize;/*ie ;o(*/
    width:134px;      
}

#tooltip {
    background: #6A7300;
    border: solid 2px #fbe700; 
}

.bubbleBody  {
    font-size: 9px;
    color: #F9FFA3;     
}

.bubbleBody h3, .bubbleBody .total td {
    font-size: 11px;
    color: #fff;
}

.bubbleBody .note {
    float : left;
    clear : both;
    color: #F9FFA3;   
}

/* Payment Page Statrs Here */

#paymentContainer  #stepsDisplayer #PaymentStep {
    background-position:-256px 0;
}

#paymentPanel {
    /*background : #fff url(../../images/x/tiles/divline.gif) no-repeat  5px 0;    */
    float: left;
    width: 740px;    
    font-size: 11px;
    margin-left: 10px;     
}

#paymentPanel div {
    float: left;
    width: 716px;    
}

#paymentPanel #topHeader span {
    margin: 5px 10px 5px 0;
    float: right;
}

#paymentContainer #stepsDisplayer {
    width:280px;
} 

#paymentPanel #rentalSummary, #paymentPanel #depositPanel {
	margin: 5px 0 0 20px;
}

#paymentPanel #depositPanel {
	background-color:#F9FAF2;
}

#paymentPanel h3 {
color:#879100;
font-family:Verdana;
font-size:18px;
font-weight:bold;
    
}

#paymentPanel big {
    float: left;
    width: 720px;
    margin: 10px 0 10px 0;
    color:#879100;
    font-family:Verdana;
    font-size:13px;
    font-weight:bold;
    padding-top:10px;
}

#paymentPanel small {
    font-size: 11px;
}

#paymentPanel #rentalSummary big.ChargeSum {
    background:#FFFFFF url(../../images/x/tiles/divline.gif) no-repeat scroll 5px 0;
}

#paymentPanel #rentalSummary table {
    float: left;
}

#paymentPanel #rentalSummary #travelDetails {
    float: left;
    width:500px;
    margin: 0;
}

#paymentPanel #rentalSummary #travelDetails big  {
    color:#879100;
    font-family:Verdana,Helvetica,sans-serif;
    font-size:13px;
    font-weight:bold;
    margin: 20px 0 10px 0;
}

#paymentPanel #rentalSummary #travelDetails td {
    vertical-align: top;
}

#paymentPanel #rentalSummary #travelDetails .lbl {
    width: 85px;
}

#paymentPanel #rentalSummary #travelDetails .date {
    width: 235px;
}

#paymentPanel #rentalSummary table.ChargeTable {
    width: 720px;
    border-bottom:#FFFFFF url(../../images/x/tiles/divline.gif) no-repeat scroll 5px 0;
}

#paymentPanel #rentalSummary .ChargeTable tr.CCSurchargeRow {
	/*display: none;*/
}

#paymentPanel #rentalSummary .ChargeTable tr.Totals td small {
    margin: 10px 0 10px 0;
    font-size:13px;
    font-weight:bold;
    color:#000000;
    font-family:Verdana,Helvetica,sans-serif;
    display: block;
}

#paymentPanel #rentalSummary .ChargeTable .title {
    width: 350px;
}

#paymentPanel #rentalSummary div.Disclaimer {
    padding-top: 5px; 
    background-color: #fff; 
}

#paymentPanel #rentalSummary .ChargeTable .desc {
    width: 215px;
}

#paymentPanel #rentalSummary .ChargeTable .cur {
    width: 60px;
}

#paymentPanel #rentalSummary #vehicleSpecs {
    float: right;
    width: 210px;
}

#paymentPanel #rentalSummary #travelDetails table.TravelTable, #paymentPanel #rentalSummary #travelDetails big {
    float : left;
    width: 520px;    
}

#paymentPanel #creditCardDetails {
    margin:5px 0 0 20px;
    background:#FFFFFF url(../../images/x/tiles/divline.gif) no-repeat scroll 5px 0;
    padding-bottom: 20px;  
}

#paymentPanel #creditCardDetails h3 {
    margin-top: 20px;
}

#paymentPanel #creditCardDetails big {
    margin : 0;
}

#paymentPanel #creditCardDetails #creditFormPanel {
    width: 480px;
    float: left;
}

#paymentPanel #creditCardDetails #creditFormPanel label, #paymentPanel #personalDetails label {
    width : 145px;
    display: block;
    float: left;
}

#paymentPanel #creditCardDetails #sealPanel {
    float: right;
	background :url(../../images/icons/go_daddy_holdingimage.gif) no-repeat  0 0;
    display : block;
	width:140px;
	height:87px;
}

#paymentPanel #personalDetails {
    margin:5px 0 0 20px;
    background:#FFFFFF url(../../images/x/tiles/divline.gif) no-repeat scroll 5px 0;
    padding-bottom: 20px; 
}

#paymentPanel #personalDetails p, #paymentPanel #creditCardDetails p {
    float: left;
    clear: both;
    margin-top: 5px;    
}

/* Payment Form */
#paymentPanel #cardTypeDD {
    width: 268px;
}

#paymentPanel #cardNumberTxt {
    width: 264px;
}

#paymentPanel #cardHolderName {
    width: 265px;
}

#confirmEmailAddressTxt, #customerFirstName, #customerLastName, #emailAddressTxt {
    width: 265px;
}

#telephoneTxt3 {
    width: 130px;
}

#paymentPanel #personalDetails .number {
    display: block;
    float: left;
    margin-right: 10px;    
}

#paymentPanel #personalDetails .number small {
    font-size: 11px;
}

#paymentPanel #personalDetails .PhoneNumber {
    display: block;
    width: 400px;
    float: left;
}

#otherTravellers table th {
    font-weight: normal;
}

#paymentPanel #personalDetails .number small, #paymentPanel #personalDetails .number input {
    float: left;
    clear: both;
}

#paymentPanel #otherTravellers, #paymentPanel #termsAndConditions, #paymentPanel #footerPanel {
    margin:5px 0 0 20px;
}

#paymentPanel #otherTravellers, #paymentPanel #termsAndConditions{
    margin:5px 0 0 20px;
	background:#FFFFFF url(../../images/x/tiles/divline.gif) no-repeat scroll 5px 0;
}

#paymentPanel #otherTravellers td.lbl {
    width : 145px;    
}

#paymentPanel #otherTravellers table {
    clear: both;
}

#paymentPanel #termsAndConditions input{
    float : left;
    display: block;    
}

#paymentPanel #termsAndConditions span {
    display: block;
    width : 650px;
    float : left;
    margin-left: 3px;
}

#payTotalPanel {
    margin: 20px 0 0 0;
    width: 716px !important;
}

#payTotalPanel span, #payTotalPanel input {
    float: right;
}

#payTotalPanel span {
    color:#879100;    
    font-size:12px;
    font-weight:bold;
    margin-right: 5px; 
}

#paymentPanel #depositPanel .left {
    margin: 0;
    display: block;
    float: left;
    width: 240px;
}

#paymentPanel #depositPanel .left big, #paymentPanel #depositPanel .left small {
    padding : 0;
    margin: 10px 0 0 0;
    float :left;
}

#paymentPanel #depositPanel .right {
    margin: 0;
    display: block;
    float: right;
    width: 240px;
    text-align:right;
    margin: 0;
    padding : 0;
}

#paymentPanel #depositPanel .right small {
    float: right;
    margin: 0 0 10px 0;
}

#paymentPanel #depositPanel .right big {
    float: right;    
    margin: 5px 0 10px 0;
    padding : 0;
    font-size : 18px;
	color:#000000;
    
}

#paymentPanel #footerPanel span {
    display: block;
    float: left;
    clear: both;
    width: 715px;
    padding: 5px;
}

#footerPanel input {
    float: right;
    background : #fff url(../../images/x/btn/confirmBooking.gif) no-repeat  0 0;
    border: 0px;
    height: 25px;
    overflow: hidden;
    text-indent:-1000px;
    text-transform: capitalize;/*ie ;o(*/
    width:163px;      
}

#paymentContainer #disclaimer {
    font-size: 11px;    
}

#paymentContainer #disclaimer span {
	margin-left: 20px;
}

#totalPricesPanel big, #totalPricesPanel small {
	width: 200px !important;/*IE*/
	clear: both;
}

#depositPanel .left big, #depositPanel .left small {
	width: 480px !important;
}

big.PayFull, small.PayFull {
	display: none;
}

.PayFull big.PayDeposit, .PayFull small.PayDeposit {
	display: none;
}

.PayFull big.PayFull, .PayFull small.PayFull {
	display: block;
	clear: both;
	width: 100px !important;
}

.PayFull  tr.PayDeposit {
	display: none;
}

#paymentForm label.error {	
	width:20px !important;
}

label.error {
	color:red;
	float:none;
	padding-left:0.5em;
	vertical-align:top;
}

#paymentPanel p input {
	display: block;
	float: left;	
}

#paymentPanel .Submitting .Buttons {
	-moz-background-clip:border;
	-moz-background-inline-policy:continuous;
	-moz-background-origin:padding;
	background:#FFFFFF url(../../images/tiles/ajax-loader.gif) no-repeat scroll 228px 9px;
}


/* EmailForm */
#paymentPanel #infoPanel p {
	margin-bottom: 20px;	
}

#paymentPanel #infoPanel img {
	float: right;
	margin: 10px;
}

#paymentPanel div.FormSection {
    border-bottom:1px solid #5892A1;
    width: 720px;
    margin-left: 20px;
    padding-bottom:20px;
    padding-top:20px;
}

#paymentPanel div.FormSection label {
    display:block;
    float:left;
    width:138px;
}

#personalDetailsForm  p {
    clear:both;
    float:left;
    margin-top:5px;
}

#personalDetailsForm  p .number small, #personalDetailsForm  p .number input {
    clear:both;
    float:left;
}

#personalDetailsForm  p .number {
    display:block;
    float:left;
    margin-right:10px;
}

#personalDetailsForm  p .PhoneNumber {
    display:block;
    float:left;
    width:550px;
}

#personalDetailsForm  p #countryOfResidenceDD, #personalDetailsForm  p #customerTitleDD {
    width: 270px;
}

#personalDetailsForm  #contactSelector label.title, #personalDetailsForm  #contactSelector input {
    float: left;
    width: auto;
    margin-left: 10px; 
}

#bottomPanel, #rentalsDetailsForm {
    border-bottom: none !important;
}

#rentalsDetailsForm span, textarea {
    margin-top: 20px;
    float: left;
    clear: both;
}

#rentalsDetailsForm span {
    display:block;
    width:700px;
}

#rentalsDetailsForm td label {
    margin-bottom: 4px;
}

#bottomPanel input , #bottomPanel a, #bottomPanel label {
    float: right;
}

#bottomPanel input {
    background:#FFFFFF url(../../images/x/btn/send.gif) no-repeat scroll 0 0;
    border:0 none;
    height:32px;
    overflow:hidden;
    text-indent:-1000px;
    text-transform:capitalize;
    width:143px;
}

#bottomPanel a {
    background:#FFFFFF url(../../images/x/btn/cancel.gif) no-repeat scroll 0 0;
    border:0 none;
    height:32px;
    overflow:hidden;
    text-indent:-1000px;
    text-transform:capitalize;
    width:82px;
    margin-right: 20px;
}

#bottomPanel label {
    clear:none !important;
    color:Red;
    display:none;
    float:left;
    font-size:11px;
    width:300px;
}

/* confirmation */
.Confirmation h2 {
    background: none !important;
	border-bottom:1px solid #C3C980;
    height:20px !important;
    width:698px !important;
	font-size:14px !important;
    margin: 20px 0 2px 2px !important;
	padding-left:0px !important;
	color:#879100 !important;
}

#confirmationPanel #ConfText p big {
color:#879100 !important;
}

#printLinkDiv a{
	background:#FFFFFF url(../../images/x/btn/print.gif) no-repeat scroll 0 0 !important;
	height:32px !important;
}


#rentalSum tr.total td, #paymentDet tr.total td {
    color:#000;
    font-size:12px !important;
    font-weight:bold;    
}


#vehicleCatalogContainer #paymentPanel #yourDetails,#vehicleCatalogContainer #paymentPanel.Confirmation #travelDetails, #vehicleCatalogContainer #paymentPanel #rentalSum, #vehicleCatalogContainer #paymentPanel #paymentDet {
	background-color:#F9FAF2;
	width:700px !important;
	margin-left:20px !important;
}

#vehicleCatalogContainer #paymentPanel #contactUs, #vehicleCatalogContainer #paymentPanel #feedBack{
	width:700px;
	margin-left:20px;
}

#vehicleCatalogContainer #paymentPanel #rentalSum table, #vehicleCatalogContainer #paymentPanel #paymentDet table, #vehicleCatalogContainer #paymentPanel #travelDetails table, #vehicleCatalogContainer #paymentPanel #yourDetails table {
margin-left:0px !important;
width:700px !important;
}

#vehicleCatalogContainer #paymentPanel H2{
	font-size:14px !important;
}

#vehicleCatalogContainer #paymentPanel table{
	font-size:11px !important;
}

#feedBack p {
width:700px !important;
	
}

 #feedbackForm  #sendBtn {
    float: right;
    background : #fff url(../../images/x/btn/send.gif) no-repeat  0 0;
    border: 0px;
    height: 32px;
    overflow: hidden;
    text-indent:-1000px;
    text-transform: capitalize;/*ie ;o(*/
    width:140px;
    margin: 20px;      
}

#completedMessage span {
    font-size: 13px;
    display:block;
    height: 200px;
}

#completedMessage big {
    color:#879100;
    font-size:15px;
    font-weight:bold;
} 

#vehicleCatalogContainer #emptySelectionMsg span {
	font-weight:bold;
	color:#505700;
	width:740px;
}