﻿#flowtabs {
	/* dimensions */
	width:760px;
	height:31px !important;
	margin:0 !important; 
	padding:0;	
	/* IE6 specific branch (prefixed with "_") */
	_margin-bottom:-2px;
}

#flowtabs li { 
	float:left; 
	margin:0; 
	padding:0; 
	text-indent:0; 
	list-style-type:none;
}

#flowtabs li a {
	background-color: #aaa;
	display:block;
	height: 31px;   
	width: 112px; 	
	padding:0px;
	margin:0px;
	/* font decoration */
	color:#000;
	font-size:12px;
	line-height:33px;
	text-align:center;
	text-decoration:none;
}

#flowtabs #t1 			{ background-position: 0 0; }
#flowtabs #t2 			{ background-position: -189px 0; }
#flowtabs #t3 			{ background-position: -378px 0; }
#flowtabs #t4 			{ background-position: -567px 0; width:192px;}
 
#flowtabs a:hover 		{ color:#fff;	 }
#flowtabs #t1:hover 	{ background-position:      0 -33px; }
#flowtabs #t2:hover 	{ background-position: -189px -33px; }
#flowtabs #t3:hover 	{ background-position: -378px -33px; }
#flowtabs #t4:hover 	{ background-position: -567px -33px; }

#flowtabs a.current		{ cursor:default; color:#fff; line-height:34px; }
#flowtabs #t1.current { background-position:      0 -66px; }
#flowtabs #t2.current { background-position: -189px -66px; }
#flowtabs #t3.current { background-position: -378px -66px; }
#flowtabs #t4.current { background-position: -567px -66px; }

#flowpanes {		
	width:220px;
	height:280px;	
}

#flowpanes div {
	display:none;	
	margin-right: 20px;
}

.ui-datepicker .ui-datepicker-title {
    margin-right: 2.3em !important;
}

#flowpanes div h2 {
	font-weight:normal;
	color:#ddd;
	letter-spacing:1px;
	margin:10px 0 0 0;
	font-size:22px;	
}


#ui-datepicker-div {
    display:none;
}

#flowpanes a {
	color:#cc9;		
	font-size:14px;
}

#flowpanes p, #flowpanes samp {
	color:#ccc;		
}

#flowpanes .narrow {
	padding-right:160px;		
}

#flowpanes {
    position:relative;
    overflow:hidden;
    clear:both;
}

#flowpanes div {
    float:left;
    display:block;
    width:200px;
    font-size:14px;
    
}

#flowpanes .items {
    width:20000em;
    position:absolute;
    clear:both;
    margin:0;
    padding:0;
}

#flowpanes .less, #flowpanes .less a {
    color:#999 !important;
    font-size:11px;
}


#locationPanel select {
    clear : both;
    float: left;
    display: block;
    margin-bottom: 20px;
}

#pdPanel {
    height: 140px;
    /*background: #FFFFFF url('../images/booknow.png') no-repeat scroll 52px -1px;*/
}

#ddPanel {
    height: 140px;
   /* background: #FFFFFF url('../images/booknow.png') no-repeat scroll -197px -1px;*/
}
/* possible branded bg */
#locationPanel {
    height: 140px;
   /* background: #FFFFFF url('../images/booknow.png') no-repeat scroll -534px 13px;*/
}


#flowpanes .locSelector , #flowpanes input {
    float: left;
    clear: both;
    display: block;
    
}

#flowpanes .locSelector {
    width: 169px;
} 

#flowpanes input {
    width: 165px;
}


#bookNow {
    height: 140px;
    background: #FFFFFF url('../images/booknow.png') no-repeat scroll -810px 13px;
}

#bookNow img {
    margin: 42px 0 0 51px;
}
	    
#bookNowConfirm button, #bookNowConfirm span 
{   
    float: left;
    color: #666666;
    clear: both; 
    margin-top: 20px;  
    font-family: Arial; 
    margin-left: 48px;  
}


#bookNowConfirm span {
    display: block;
    width: 147px;
    text-align: center; 
    margin-top: 20px;
}

#bookNowConfirm button {
    margin-left: 69px;
}