ul,li,p,select {
    padding:0;
    margin:0;
}

li {
    list-style-image:none;
    list-style-position:outside;
    list-style-type:none;    
}

#bookingcontrol li.CountryOfTravel {
    display : none;
}

div.Splash #bookingcontrol li.CountryOfTravel {
    display : block;
}


#bookingcontrol li.VehicleModel p.On {
    /*
    background-color: #fff;
    clear: both;
    padding: 4px;
    TODO: selected Type On */    
}

#ctrlSearchBox_up1 {
	
}

/* SEARCH BOX*/
.SearchBox_Wrapper {
	/*width: 220px;*/
}

.SearchBox_Content {
	text-align: left;	
	clear:both;
	float: left;			
}

/* ff2 */
.SearchBox_Content li {
    clear: both;
}

.SearchBox_Content li.VehicleModel p { 
    clear: both;
}
/* ff2 */

.Splash .SearchBox_Content li.VehicleModel p { 
    display : none;
}

.Splash .SearchBox_Content li.VehicleModel {
    display: none;
}

.SearchBox_TableWrapper {
    text-align:left;
    background-color:#1E6DAE;
    width: 153px;
    padding-left: 8px;
    border-right: solid 1px #fff;
    border-left: solid 1px #fff;
}


.SearchBox_TableWrapper li.Title {
    display : none;
}


.SearchBox_Line {
	display:block;
    float:left;
    height:1px;
    width:154px;
	color: #B0E6F2;
	background-color: #B0E6F2;
	border: none;
}

* html .SearchBox_Line {
    width:152px;
}

.SearchBox_Spacer
{
	height: 6px;
}
.SearchBox_Title {
    display : none;	
}

.SearchBox_Subtitle, .SearchBox_TableWrapper li p label {
    color:#000000;
    display:block;
    float:left;
    font-family:Verdana,Arial;
    font-size:12px;
    font-weight:bold;
}

#ctrlSearchBox_lblSubtitle {
    display: none;
}

.SearchBox_TableWrapper li p label {	
    margin:3px 0 4px;
    color : #fff;
    font-family: Arial;
    font-size : 10px;   
}

.SearchBoxLabel
{
	color: #000000;
	font-family: Verdana, Arial;
	font-size: 11px;
	white-space: nowrap;
	font-weight: bold;
}
.SearchBoxLabelSmall
{
	color: #000000;
	font-family: Verdana, Arial;
	font-size: 10px;
}
.ErrorLabel
{
	font-family: Verdana, Arial;
	font-size: 10px;
}
.SearchBox_TimeListBox {
	font-family: Verdana, Arial;
	font-size: 11px;
	width: 58px;
}
.SearchBox_AdultsListBox {
	font-family: Verdana, Arial;
	font-size: 11px;
	width: 63px;
}

#ctrlSearchBox_dropChildren {
	width: 74px;
}

.SearchBox_FullListBox {
	font-family: Verdana, Arial;
	font-size: 11px;
	width: 142px;
	margin-bottom: 3px;
	clear : both;
	float : left;
}

.LocationDD {
    width: 143px;
}

.SearchBox_CalTextBox {
	font-family: Verdana, Arial;
	font-size: 11px;
	width: 75px;
	margin:0;
	padding:0;
}

.SearchBox_BottomDiv {
    float: left;
    margin:0px;
    padding:0px;    
    background-color: Transparent;
    height:5px;
    width: 158px;
}

* html .SearchBox_BottomDiv {
    height: 0px;
    background-color : #fff;
    float : left;      
}
* html .SearchBox_BottomDiv img {
    float : left;
     padding : 0;
     margin : 0;
}

.SearchBox_BottomDiv img {
	border: 0;		
}

#ctrlSearchBox_btnNext {
    margin-top: 3px;
}

/* tabs */
#vehicleTabs {
    float: left;
    border-left:1px solid #FFF;      
    border-right:1px solid #FFF;
}

#vehicleTabs li {
    float: left;
}

#vehicleTabs a {
    float:left;
    clear: none;
    display: block;
    /*width: 105px;
    height: 86px;*/        
}

#campersTab {
    background: url(../../images/m/tabs.gif) no-repeat 0 -40px;
    width: 82px;
    height : 30px;   
}
#campersTab.on {
    background-position: 0 0;
}

#carsTab {
    background: url(../../images/m/tabs.gif) no-repeat -80px -40px;
    width: 79px;
    height : 30px;
}
#carsTab.on {
    background-position: -80px 0;
}
/* tabs ends */

/*validation*/
input.required, select.required {
    background-color: #FDEE00;
}

div.requiredMsg 
{   
    position:absolute;
    width: 200px;
}

.requiredMsg span {
    float:left;
    display: block;
}

.requiredMsg .arrow {
    background: url(../../images/m/arrow.gif) no-repeat 0 0;
}

.requiredMsg .text {
    background-color : #FDEE00;
    border: solid 1px #000;
    border-left-width : 0;
    font-size: 10px;
    font-family : Verdana;
    line-height : 15px;
}
/*validation ends*/

#searchButton {
	display: block;
	height: 25px;
    width: 140px;	
	background: url(../../images/m/btn/vertical_submit.png) no-repeat 0 0;
	text-indent : -1000px;
    overflow : hidden; 	
}

#searchButton:hover {
    /* TODO : hover state
    background-position :0 0;	
	*/
}
