﻿/* Booking Control */

.calendar .title, .calendar .nav,.calendar .button,.calendar thead .name,.calendar thead .hilite,.calendar tbody .rowhilite td{
    background-color : #eef6bd !important;
	color:#7a8f00 !important;
}

.calendar .combo .label{
    background-color : #eef6bd !important;
}


.calendar .combo .hilite{
    background-color : #7a8f00 !important;
	color:#FFFFFF;
}

#bookingControl {
    margin-left:30px;
	background: #62c5e0 url(../../images/p/booking-bg.png) no-repeat 0 0; 
	padding-top:34px;
	border:1px solid #00b6de;
	height:80px;
}

#bookingControl #rightCol #bottomRight a {
    display : none;
    /*background : transparent url(../../images/p/btn/btn_matrix.png) no-repeat 0 0;*/
    text-indent : -100px;
    overflow : hidden;
    width: 92px;
    height : 23px;
    margin-top:40px;      
}

#ctrlValidationMsg {
    display:block;    
    font-size:9px;
    overflow:hidden;
    visibility:hidden;
    background:  transparent url(../../images/p/icons/yellowBlock.gif) no-repeat 4px 0px;
    padding-left: 18px;    
    float : left; 
     height : 30px;
    width: 70px;
    line-height : 12px;
}

#bookingControl .TimeSpan input.required {
   background-color : #feff90;
}

#bookingControl select.required {
   background-color : #feff90;
} 

#bookingControl span.Company {
    display: none;
}

#ctrlValidationMsg.required {
    visibility : visible;
    color: #000;
}

#bookingControl #ctrlSearchBox_dropPickUpTime, #bookingControl #ctrlSearchBox_dropDropOffTime {
    width:88px;
    float : right;
}

#bookingControl #ctrlSearchBox_calPickUp_DateText, #bookingControl #ctrlSearchBox_calDropOff_DateText {
    width:82px;
    float:left;
}

* html #centreCol {
    overflow :hidden;
    height : 83px;
}

#bookingControl span {
    color : #000;
}


#bookingControl span.required {
   /*background:  transparent url(../../images/b/icons/britz_control_arrow.gif) no-repeat 159px 0;*/   
}
